[2017-03-09 18:41] felipesanches opened #1240 "Investigate why some git_repos fail to run fbakery on container-engine"
I've setup the dispatcher to queue 34 git repos for processing by the worker container.

When the workers run, some of these font projects fail to be properly checked by fontbakery. From 34 projects, only 21 show up in the dashboard UI.

- [x] list which are the specific families for which this happens
- [x] inspect the worker container logs to try to identify the root cause
- [x] fix it :-)

[2017-03-09 18:47] felipesanches opened #1241 "Dashboard: Document the list of all font project git repos that need to be automatically checked."
After fixing #1240, I'd like to increase the list of font projects git repos being checked by the dashboard's worker container.

It seems to me that the canonical list of font projects to check against should be whatever we currently have at prod. I know it is 800-something families, but I don't know where to find an official list of them all other than automatically querying Google Fonts itself.

[2017-03-10 04:23] felipesanches commented on #1158
done

[2017-03-10 04:23] #1158 closed

[2017-03-10 04:25] felipesanches commented on #1232
I contacted Nyshadh and he said he did not yet publish his script on google/fonts but that he'll let me know when he does that, so that I can port it / integrate it into fontbakery.

[2017-03-10 04:27] felipesanches commented on #1230
Now that the dockerized dashboard is running on GKE, I think the natural next step is to port the drag and drop feature into that and then deprecate the App Engine instance.

[2017-03-10 04:30] felipesanches opened #1246 "Dashboard: Setup DNS on GKE to externally expose the web container under a fontbakery.com domain name"
It is accessible only via direct public IP address. I looked up how to setup the domain name, but couldn't get it. I'll have to try again later. Dave said we can use fontbakery.com (which he owns)

[2017-03-10 04:33] felipesanches commented on #1246
I have a hunch that setting this up involves some setting in the kubernetes web-panel, or via some kubectl command. I think Kubernetes is probably responsible for updating the DNS when a new service is brought up in a node (especially when the externally accessible IP address changes). But I may be wrong. I'm new to this thing.

[2017-03-10 04:35] felipesanches commented on #724
This is a completely outdate issue related to a deprecated codebase!

[2017-03-10 04:35] #724 closed

[2017-03-10 04:41] felipesanches commented on #1204
@davelab6 and @m4rc1e I think that with the consolidation of the containerized version of the fontbakery dashboard (and soon merging the drag-n-drop feature into container-engine as well) well soon not have to worry so much about the underlying code being single-scripts for easily passing around to designers. That's because I think most designers will prefer to use the web dashboard and/or drag-n-

[2017-03-10 04:45] felipesanches commented on #1060
A quick though: Can ftxvalidator run on a docker container ?

[2017-03-10 05:00] felipesanches commented on #1060
@davelab6

Based on what I learned so far, it seems docker is tightly attached to very specific Linux calls. Unless someone come up with either a native-OSX docker... Which maybe what's stated in this article https://www.theregister.co.uk/2016/06/20/docker_os_x_windows_beta_orchestration/ when it says "The OS X client uses Apple's builtin hypervisor framework – yeah, Apple quietly embedded a hyper

[2017-03-10 05:09] felipesanches commented on #1143
there we go:
https://github.com/googlefonts/fontbakery/releases/tag/old_web_ui

[2017-03-10 05:15] felipesanches commented on #1143
I've just removed (2-simple angular app) to clean up the repo root dir.

Tagging current master won't keep track of (1) which is on gh-pages branch though. But code there does not change at all nowadays. For the record this is the tip of the commit tree on gh-pages branch today: https://github.com/googlefonts/fontbakery/commit/34857fedbf5e416ee7f62046d27074d86786bf38

Then, (3-AppEngine) will prob

[2017-03-10 05:37] #1143 closed

[2017-03-10 19:33] felipesanches opened #1248 "dashboard: serve static css/js files"
Right now CSS is hardcoded into html templates because the current container setup does not serve static files.

Doing it will allow us to split out CSS. And also will be important for loading javascript libraries such as a table-sorting one as needed on #1195

[2017-03-10 22:16] davelab6 commented on #1248
Why not use rawgit or whatever to load assets directly from this repo?

On Mar 10, 2017 2:33 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-03-10 22:20] felipesanches commented on #1248
That could work, yeah. But using "python -m SimpleHTTPServer" seems much much better. And it is not hard.

[2017-03-10 22:23] davelab6 commented on #1060
Yep forget ftx for now.

On Mar 10, 2017 12:00 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-03-10 22:27] davelab6 commented on #1232
Thank you nyshadh!

On Mar 9, 2017 11:25 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-03-10 22:28] davelab6 commented on #1230
Agree

On Mar 9, 2017 11:27 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-03-10 22:32] davelab6 commented on #1238
There should be 1,000s of workers.

On Mar 9, 2017 1:29 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-03-10 22:32] davelab6 commented on #1237
Agreed

On Mar 9, 2017 1:22 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-03-10 22:33] davelab6 commented on #1235
Agreed

On Mar 9, 2017 1:15 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-03-10 22:33] davelab6 commented on #1236
Agreed

On Mar 9, 2017 1:18 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-03-10 22:36] davelab6 commented on #1241
They are scattered around github. Many don't have upstream repos set up yet
but I have SRC data in the old hg repo or my emails archive lol

A CSV or json or .py or whatever list of them needs to be maintained

On Mar 9, 2017 1:48 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-03-10 22:46] felipesanches commented on #1241
Sure! This kind of info is crucialy important. We definitely need to compile this list somewhere.

[2017-03-10 22:56] felipesanches commented on #1238
Yes, thousands of worker container instances, but all of them of the same kind. Or perhaps a handful of kinds of containers for each specific task.

[2017-03-11 00:01] felipesanches commented on #1248
oh well...

[2017-03-11 02:05] felipesanches commented on #1248
hmm... it seems that it is much simple than I thought! I'll try something else now. Let's see...

[2017-03-11 02:16] felipesanches commented on #1248
OK, it works indeed. I'll simply serve the files from flask itself using the send_from_directory method!

It is cleaner and nicer. Surely won't scale well, but we're not currently dealing with a giant userbase (:-D), so scaling up is not really important right now.

[2017-03-11 02:16] HinTak commented on #1060
Since Mac OS X runs under kvm, I have always wonder whether it is

[2017-03-11 02:55] felipesanches opened #1250 "dashboard ui: round display of percentages to 2 digits precision"
* This is ugly: (76.9230769231 %)
* This looks better: (76.92 %)

[2017-03-11 02:58] felipesanches commented on #1248
Alright !!

[2017-03-11 02:58] #1248 closed

[2017-03-11 03:44] #1195 closed

[2017-03-11 16:02] davelab6 commented on #1238
Keep it very simple

On Mar 10, 2017 5:56 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-03-11 16:02] davelab6 commented on #1241
CSV should be fine

On Mar 10, 2017 5:46 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-03-13 23:48] felipesanches commented on #1232
Sure! As soon as Nyshadh publishes his scripts, I'll port them into FB.

[2017-03-13 23:49] davelab6 commented on #183
@m4rc1e does your 'upstream' GlyphsApp preflight script check this?

[2017-03-13 23:50] davelab6 commented on #754
@m4rc1e please check off the items at the top that your glyphs script tool already handles :)

[2017-03-13 23:52] davelab6 commented on #1204
The GF eng team have an active request on this so I'm moving this to the 0.2.0 milestone

[2017-03-13 23:52] #621 closed

[2017-03-13 23:53] davelab6 commented on #621
I believe this OTS now running on the docker fleet, so closing

[2017-03-13 23:53] davelab6 commented on #719
@felipesanches do you remember if you made the PR to EditableGrid ?

[2017-03-13 23:54] davelab6 commented on #1003
#1155 was merged... This seems like a big effort!

[2017-03-13 23:56] davelab6 commented on #1189
This should be done soon so moved to 0.2.0

If this is to be be done with pyfontaine, that means updating pyfontaine to use the stuff @graphicore is doing on the glyph set definitions in the /google/fonts repo...

[2017-03-14 00:13] davelab6 commented on #291
Over on the GFD list today I asked Marc to start tracking project upstream URLs... and this issue is a related note to track project downstream packaging targets... so I update it to the general issue and move it to the web dashboard milestone :)

[2017-03-14 00:13] davelab6 commented on #291
Let's use this issue to list other project metadata that we may display on the dashboard

[2017-03-14 00:14] davelab6 commented on #481
Closing as the Angular app is no longer maintained.

[2017-03-14 00:14] #481 closed

[2017-03-14 00:26] felipesanches commented on #1219
done

[2017-03-14 00:26] #1219 closed

[2017-03-14 00:28] felipesanches commented on #1219
The check id numbers are saved on the check-results log and will be available on the database. We can later use that new database field for displaying the check id numbers to the users on the webapp.

The numbers are already visible on the command line if you use the -vv flag (VERBOSE level = 2)

[2017-03-14 01:16] felipesanches commented on #719
No I haven't.

[2017-03-14 01:23] felipesanches commented on #1204
OK, I'll do it then.

[2017-03-14 21:34] m4rc1e commented on #183
It will check if it meets the following structure:
`Copyright YYYY the {{ font.familyName }} Project Authors (git url)`

I still need it to check that the git url is valid and the master source :-)

[2017-03-14 23:19] davelab6 commented on #183
Should be

    Copyright YYYY The {{ font.familyName }} Project Authors ({{ git url }})

:)

[2017-03-14 23:21] davelab6 commented on #183
It occurs to me that the 3 things listed above specify a 'dashboard' milestone check, comparing source to live binaries, and therefore a check across the push life cycle.

Therefore when you've fixed your source checker, I'll assign Felipe and move it to that milestone.

[2017-03-15 04:44] #801 closed

[2017-03-15 04:44] davelab6 commented on #801
Seems all done

[2017-03-15 04:45] davelab6 commented on #1159
@felipesanches please check if this still occurs

[2017-03-15 04:45] davelab6 commented on #971
@felipesanches is there anything more to do here?

[2017-03-15 04:46] davelab6 commented on #1108
@felipesanches is there anything more to do here?

[2017-03-15 04:48] davelab6 commented on #1096
I am pretty sure this can be closed; Glyphsapp was generating name tables we didn't like, and it was updated to generate name tables we do like.

[2017-03-15 04:48] #1096 closed

[2017-03-15 04:49] davelab6 commented on #555
@m4rc1e please take a look at this when you return to FB :)

[2017-03-15 11:02] #1204 closed

[2017-03-16 22:11] davelab6 commented on #838
@felipesanches I made this your top item in the 0.2.0 milestone ;)

[2017-03-17 18:42] felipesanches commented on #838
I did run pylint on the fontbakery-check-ttf.py script and noticed that it complains about the 2 spaces indentation style I use. That's something I won't change at all. At least not now, as I truly prefer 2-space indentation over 4, or even 8. So, in order to ignore those, I figure one can run this:

pylint --disable=bad-indentation fontbakery-check-ttf.py

And the result is just a minimal set of

[2017-03-17 18:44] felipesanches commented on #838
OK. By also ignoring invalid-name convention warnings, this is what I (supposedly) really gotta do for the check-ttf script:

[code]

[2017-03-17 22:04] felipesanches commented on #838
OK. I removed flake8 and replaced it by pylint with a whole bunch of ignore statements. I've updated the description of this issue above to list each of the ignores and then gradually remove the ignores and fix them.

[2017-03-18 21:12] davelab6 commented on #838
@behdad do you have preferences for this?

[2017-03-20 22:47] felipesanches commented on #838
@vmesel (or really anyone else interested in helping with small/quick chunks of code) There's plenty of low-hanging-fruit style work do be done here, if you feel like contributing. Take a look at the previous commits and you'll see a pattern:

* remove (on .travis.yml) a single pylint check from the list of ignored ones
* run it locally to see where that check fails with the current code (which sc

[2017-03-20 22:54] felipesanches commented on #838
'''Note:''' The Travis automated checks will only run if you have an open pull request. So, you'll need to do open a pull request after the first commit you push. And then you can continue pushing to the same feature_branch until I decide to merge your contributions. Then a new pull request will be needed in case you feel like continue sending more contributions.

Travis automated checks show up a

[2017-03-21 00:10] felipesanches commented on #1159
BOOM!
We're clear! :-)
https://www.youtube.com/watch?v=4AVWZwZq_QU

[2017-03-21 00:10] #1159 closed

[2017-03-21 01:58] felipesanches commented on #838
alright :-)

[2017-03-21 02:46] felipesanches commented on #838
OK. I'll work a bit more today on this one before moving on to other issues.

[2017-03-21 02:50] behdad commented on #838
I couldn't care any less.

[2017-03-21 02:50] behdad commented on #838
I suggest others not waste their time on this either.

[2017-03-21 03:26] felipesanches commented on #838
Thanks for pointing that out, @behdad I'll move on then.

I gotta point out, though, that at least one bug was detected and fixed last Friday due to the above code changes guided by pylint warnings. So it is not really wasted time if some external contributors may want to put the effort. For that reason, I'll restrain from dealing with this issue now, but I'll keep it open.

Does it sound good, @d

[2017-03-21 03:43] felipesanches commented on #1232
@davelab6 can you ask Nyshadh for this script again soon, please?

[2017-03-21 03:56] felipesanches commented on #1108
@davelab6 I'm looking at it again now.

[2017-03-21 05:39] davelab6 commented on #838
Sounds good.

[2017-03-21 22:53] felipesanches commented on #1108
Even though the issue is described as properly dealing with strings in python version 2, what really struck me as a more important question this morning was: "Why are we stuck on python version 2 at all? Why can't we move to python 3?". I could not easily remember exactly why we decided to stick to v2 in the past, so I investigated the issue and it seems the bad boy was Google Protobuffers, which

[2017-03-21 23:45] felipesanches commented on #1108
I'm not exactly sure what's going on with this one in particular:

[code]

[2017-03-21 23:46] davelab6 commented on #1108
I think we need Python 2 for Google, and possible integration with font editors

[2017-03-21 23:48] felipesanches commented on #1108
Ouch!! Seriously ?! Or are you just guessing?

Mixed signals: https://github.com/googlefonts/fontbakery/issues/789

[2017-03-21 23:49] felipesanches commented on #1108
Fontbakery is pretty much stand-alone. I don't have any kind of integration with font editors in my radar. I only forsee command-line interface plus dockerized web dashboard.

[2017-03-21 23:50] davelab6 commented on #1108
Could you work with the style of python 2 that is compatible with 3?

[2017-03-21 23:52] davelab6 commented on #1108
Having said that, TruFont is the editor I would most want to integrate with, and that is python3 :)

[2017-03-21 23:53] felipesanches commented on #1108
@davelab6 That's surely a bit harder than simply moving on.
Do we *really* need that kind of additional constraint. The font editors integration did not sound compeling and "Google needs it" sounds a bit vague.

[2017-03-21 23:59] felipesanches commented on #1108
I'd like to move on fast not really caring much about python 2, if possible.

[2017-03-22 00:00] felipesanches commented on #1108
...unless people can point out solid use-cases that require backwards compatibility, of course.

[2017-03-22 22:06] behdad commented on #838
I never said lint is not useful.  Linting to detect bugs is very good practice. Changing existing code for the sake of conforming to a stylesheet is waste of resources, in particular when there's so much font-related code that needs to be written...

[2017-03-22 22:17] davelab6 commented on #838
The intent is for the code here to be used in google3

[2017-03-22 22:22] felipesanches commented on #838
Yep! I agree with both @davelab6's and @behdad's respective last comments here :-)

[2017-03-22 22:27] felipesanches commented on #838
Actually, an idea similar to that one was also expressed by myself on a google-fonts mailing list message a few days ago, where I said:

"It is not a matter of simply shutting down warnings and errors, but instead an exercise on understanding why the lint-check exists at all and how to effectively improve the code quality by adhering in non-hacky manners."

[2017-03-22 22:33] behdad commented on #838
Still. Not a requirement. Third-party code doesn't have to comply with Google coding style.

[2017-03-22 23:35] felipesanches commented on #1189
In this issue description, where you say "(and discussion here) " the link seems broken:

https://groups.google.com/forum/#!msgid/googlefonts-discuss/CADUrt2EuXciPtRvxV4HojXCYeym7gpthHBKVdLoueVyaL6-wng%2540mail.gmail.com

@davelab6 can you please check that URL and possibly provide a good one so that I can read the referenced discussion?

[2017-03-22 23:40] felipesanches commented on #1189
The closest I could find by searching Alexei's postings to the google-fonts-discuss mailing list was his "Font Quality Improvement Project — Alexei's Worklog" but that's hundreds of messages...

@davelab6 could you perhaps pinpoint exactly where is the relevant discussion in the mailing list?

[2017-03-22 23:41] felipesanches commented on #1189
(or maybe @alexeiva himself could help here as well :-D)

[2017-03-23 07:35] alexeiva commented on #1189
The latest discussion on glyphsets is here:

https://github.com/google/fonts/pull/685#discussion_r105740288

Lasse has updated the documentation and unified filter list vs nam files
consistency.

On Mar 23, 2017 02:41, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-03-23 10:45] graphicore commented on #1189
@felipesanches  to read the `*.nam` files you should use [`def codepointsInNamelist`](https://github.com/google/fonts/blob/master/tools/util/google_fonts.py#L722) which returns a set of all unicode codepoints (as integers) in the Namelist and its includes (dont use `unique_glyphs = False`

To get all unicodes from a font you can have a look at [`def namelist_from_font`](https://github.com/google/f

[2017-03-24 00:51] felipesanches commented on #1189
I have ported the Google Fonts Glyphsets definitions from https://github.com/google/fonts/tree/master/tools/encodings/GF%20Glyph%20Sets into pyfontaine so that it can be used to check glyph coverage status on fontbakery checks.

This is the pull request with the port:
https://github.com/davelab6/pyfontaine/pull/93

While doing so, I removed the old gwf_* glyphsets since I presume they are now depr

[2017-03-27 21:06] felipesanches commented on #1241
if by HG you mean Mercurial on Google Code, that's not readable anymore: https://code.google.com/archive/p/googlefontdirectory/source/default/source (I get a 404, actually!)

I also looked up this: https://github.com/blipvert/googlefontdirectory-hg
But I could not find the info in there as well.

@davelab6 Can you clarify where this kind of info could be found online? Or maybe it is only available

[2017-03-27 22:09] felipesanches commented on #1240
These are the families (from our initial selection of 34 font repos) that are failing to run fontbakery on the worker container:

* https://github.com/10four/Bhavuka.git
* https://github.com/anexasajoop/cambay.git
* https://github.com/cyrealtype/Adamina.git
* https://github.com/cyrealtype/Alike.git
* https://github.com/cyrealtype/Federant.git
* https://github.com/cyrealtype/Sumana.git
* https://gi

[2017-03-27 22:14] felipesanches commented on #1240
OK. I just noticed a pattern! These are the families that place the font files right in the root dir. The issue must be related to the way I extract the font-files directory path. I'll surely find a bug in there and fix it :-)

[2017-03-27 22:21] felipesanches commented on #1240
yes, indeed!

[2017-03-27 23:31] davelab6 commented on #1240
:D

[2017-03-28 03:59] #1240 closed

[2017-04-03 16:07] davelab6 commented on #1241
@m4rc1e has made a Google Docs spreadsheet to collaborative live-edit this data, and there is a public CSV export URL to fetch the data here:

https://docs.google.com/spreadsheets/d/1ampzD9veEdrwUMkOAJkMNkftqtv1jEygiPR0wZ6eNl8/pub?gid=0&single=true&output=csv

I suggest setting up FB to pull from that URL :)

[2017-04-03 18:06] felipesanches commented on #1241
Sure! I've been chatting with @m4rc1e aobut that earlier today and that's our plan :-)

[2017-04-03 18:45] davelab6 commented on #1241
Regarding the hg repo, yes that's what I meant; lasse has a copy on his
bitbucket.org/graphicore account iirc

On Apr 3, 2017 2:06 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-04-03 18:48] graphicore commented on #1241
it's here: https://bitbucket.org/lassefister/old-googlefontdirectory

[2017-04-03 19:39] graphicore commented on #1241
I don't know.

[2017-04-03 19:41] felipesanches commented on #1241
After a quick glance, I had the impression it does not have that kind of info in there. At least not consistently throughout the family folders. And it may also be outdated info, if any.

But thanks for pointing out the existence of the repo anyway! :-)

[2017-04-05 06:34] felipesanches opened #1263 "Add ot-sanitise to the worker container"

[2017-04-05 06:36] felipesanches commented on #808
This is deprecated. We wont do it this way anymore since now everything goes in the container engine.

[2017-04-05 06:36] #808 closed

[2017-04-05 06:37] felipesanches opened #1264 "Dashboard: Add pyfontaine to the worker container"

[2017-04-05 06:41] felipesanches opened #1265 "Dashboard: Test-suite overview has "gaps" in progressbars"
There are incomplete progressbars at the testsuite overview panel as can be seen in the attached image. These should be diagnosed and fixed so that we can get full progressbars in the whole panel.

http://104.197.228.34/testsuite

![selecao_761](https://cloud.githubusercontent.com/assets/213676/24692970/c0c80eb4-19b1-11e7-980c-6ba20e7631ce.png)

[2017-04-05 06:46] felipesanches commented on #1265
The full list of checks that have this kind of problem and need review is below:

- [ ] "Checking with ot-sanitise"
- [ ] "Is there kerning info for non-ligated sequences?"
- [ ] "Font has **proper** whitespace glyph names?"
- [ ] "Check for points out of bounds"
- [ ] "Whitespace glyphs have coherent widths?"
- [ ] "Is there a caret position declared for every ligature?"
- [ ] "Checking with pyfo

[2017-04-05 06:49] felipesanches opened #1266 "Sort family-names alphabetically on dashboard front-page"
Right now the list of families is not ordered. It should be sorted in alphabetical order by default.

[2017-04-05 06:51] felipesanches opened #1267 "Dashboard: Add UI element for sorting families by project progress on the frontpage"
Even though family-names should be ordered alphabetically by default ( #1266 ), it would be useful to allow the user to sort the list by progress status as well.

[2017-04-05 06:54] felipesanches opened #1268 "Not all families are displayed on the dashboard front-page"
I noticed today that even though we're running fontbakery on a set of 158 families, only 120 of them show up on the front page of the dashboard.

We should:
- [ ] list here which are the ones that are not showing up.
- [ ] inspect their container logs to see if fontbakery failed to run on them serverside.
- [ ] figure out what's causing the problem
- [ ] and fix it.

[2017-04-05 07:37] davelab6 commented on #1268
Shouldn't this be accessible from the dashboard?

I'd like to develop the system to make it more self service

On Apr 5, 2017 8:54 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-04-05 20:23] felipesanches commented on #1246
This seems to be a good way to do it:
https://github.com/kubernetes-incubator/external-dns

[2017-04-06 12:31] davelab6 commented on #1239
Yes, I think so

Also yes

[2017-04-06 13:35] davelab6 opened #1269 "Dashboard URLs should be more resilient"
This should work with a slash :) A minor thing

[2017-04-06 13:37] felipesanches commented on #1269
thanks, Dave!

[2017-04-06 13:41] davelab6 opened #1270 "Minor things to improve robustness of Binary Checks"
http://35.184.229.186/details/ABeeZee has some errors, skips and warnings that should be resolved ASAP:

<img width="1872" alt="screen shot 2017-04-06 at 14 49 59" src="https://cloud.githubusercontent.com/assets/261579/24754865/642777b2-1ad8-11e7-843e-11842ae83921.png">
<img width="1869" alt="screen shot 2017-04-06 at 14 50 23" src="https://cloud.githubusercontent.com/assets/261579/24754866/642c8c

[2017-04-06 13:41] davelab6 commented on #1232
Nyshadh is out of the office for a few weeks

[2017-04-06 20:28] felipesanches commented on #1166
yup! It seems it started showing up again :-P

https://github.com/googlefonts/fontbakery/issues/1270

[2017-04-06 20:40] felipesanches opened #1271 "Review a few name table check results"
Are these check-results correct, @davelab6? Or are these false-errors ?

If these are bad results, I can add the expected  correct values to our whitelist.

* ERROR: [FONT_FAMILY_NAME(1):MACINTOSH(1)] entry: expected 'Encode Sans Semi Expanded' but got 'Encode Sans SemiExpanded'
* ERROR: [FULL_FONT_NAME(4):MACINTOSH(1)] entry: expected 'Encode Sans Semi Expanded Bold' but got 'Encode Sans SemiExpa

[2017-04-06 20:43] felipesanches commented on #1271
Same question here:

[code]

[2017-04-06 20:52] felipesanches commented on #1271
Also this one:

[code]

[2017-04-07 08:22] m4rc1e commented on #1271
@felipe, I'll review this.

[2017-04-07 09:34] davelab6 commented on #1271
Thanks marc!!

On Apr 7, 2017 10:22 AM, "Marc Foley" <notifications@github.com> wrote:

[2017-04-08 00:15] davelab6 commented on #971
@felipesanches ping

[2017-04-08 00:38] felipesanches commented on #971
The only remaining task here is:

[2017-04-08 05:01] felipesanches opened #1273 "Dashboard: Checks 001 through 015 do not show up"
## Expected behaviour

These checks from 001 until 015 are "cross family" ones. For that reason, they are not stored on the individual font file report json outputs. Instead, they're saved in a file called CrossFamilyChecks.json

## Observed behaviour

There should be a tab for those cross family checks. But it doesn't show up on the dashboard family details page.

[2017-04-08 05:08] felipesanches opened #1274 "In-memory objects add complexity to the codebase and are not strictly needed for the dockerized dashboard"
We do have special cases and additional code for handling file-like in-memory objects. This code was created when we first drafted the drag-n-drop webapp that is hosted on Google App Engine, because server-side filesystem operations were forbidden and also because certain tools were not available on GAE.

These restrictions do not apply to Gooogle Container Engine. Thus, I believe that we would gr

[2017-04-08 05:09] felipesanches commented on #1274
This is directly related to issue #1230

[2017-04-09 23:46] davelab6 commented on #1273
Agree

On Apr 8, 2017 7:01 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-04-09 23:49] davelab6 commented on #1274
I don't think this is too important, and I would like you to consider and
test for the possibility of going back to disk based access will slow
things down a lot :)

On Apr 8, 2017 7:09 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-04-10 13:53] m4rc1e commented on #1271
I remember I wrote about this a while back, #1211.

Family names should not be camelCase.

family names, and a single camel case word best for style names

@felipesanches no changes are needed. The upstream repo needs to be updated, I've already done this. The version pushed to GF is ahead and has the names fixed.

[2017-04-10 14:09] felipesanches commented on #1271
cool, thanks!

[2017-04-10 14:09] #1271 closed

[2017-04-10 14:19] felipesanches commented on #1274
In my opinion it is important, even though it is not top-priority indeed.

Slowdown from disk I/O is only critical when we're performing a whole bunch of tasks in automated/bulk fashion, because the tiny extra delays add-up. For users on-demand upload of files on a low-volume webapp (such as this drag-n-drop solution), the performance hit is negligible. The user's mouse-clicks are probably slower

[2017-04-10 14:23] felipesanches commented on #1274
Having said that, the benefit of less cruft on the codebase is much more significant then any perceivable performance hit of disk I/O for the handful of font files a user may upload at once when using the drag-n-drop fontbakery checker interface.

[2017-04-11 21:15] #1263 closed

[2017-04-12 17:59] davelab6 opened #1276 "Checks for whatever Firefox 54.0a2 (2017-04-04) Dev Ed cares about"
\- https://twitter.com/mikhey786/status/849368617389096963

We should have checks for whatever Firefox 54.0a2 (2017-04-04) Dev Ed is failing our fonts on, and urgently prioritize shipping those fixes :)

[2017-04-12 19:01] felipesanches commented on #1276
OK. I asked for further user feedback about the issue there:
* https://twitter.com/juca_gnu/status/852233351167606786
* https://twitter.com/juca_gnu/status/852233987271663616

[2017-04-13 21:33] #1269 closed

[2017-04-13 22:34] davelab6 commented on #1276
https://twitter.com/thisisclayton/status/852523836994146305 related

[2017-04-13 23:09] mikhey commented on #1276
Here's how the site looks when I load it up:

https://twitter.com/mikhey786/status/852509976593608704

![screen shot 2017-04-13 at 9 12 07 am](https://cloud.githubusercontent.com/assets/449275/25027687/9f3cec34-207c-11e7-8dfc-1e7648f8dcfb.png)

[2017-04-18 00:39] #1238 closed

[2017-04-18 00:44] felipesanches commented on #1239
The idea at the moment is that for each check that diverges between prod and upstream I'll place an icon (in an additional column of the check results table) meaning either "fixed upstream" or "broken upstream / regression"

Then, globally, I'll add to the page header a up/down arrows with the percentages of upstream fixes and of upstream regressions.

[2017-04-18 01:00] felipesanches commented on #1239
well... simple strings "broken/regression" per check result would be enough actually. And maybe even more efficient at communicating their meaning, perhaps. I think I'll only use icons for the up/down percentage arrows.

[2017-04-18 02:21] #1266 closed

[2017-04-18 03:51] davelab6 commented on #1239
That's fine - these kinds of "UX" decisions don't matter at the moment, just anything that 'works' is fine for me at this time :)

[2017-04-18 04:26] #1250 closed

[2017-04-18 04:28] felipesanches commented on #1268
families are showing up nicely on the front page now and this issue (especialy @davelab6 last comment) made me implement storage of container logs on the database. These logs are now accessible on the family details page.

[2017-04-18 04:28] #1268 closed

[2017-04-18 05:13] felipesanches commented on #1276
@davelab6 I have the impression that FontBakery already has got code for detecting this issue, since we have a  ot-sanitiser checker. I downloaded the font and tested it with ots manually (on the command line) and I could reproduce the exact same error message.

[2017-04-18 05:34] felipesanches opened #1282 "Dashboard: Add pagination to the family list on the frontpage"
We're now dealing with almost a thousand font families. This is too much to show at once at the dashboard front page, so it would be good to add a pagination system to show just a few families per page. Maybe 50 or so...

[2017-04-18 13:43] davelab6 commented on #1282
The webapp still available from http://fontbakery.com dealt with this already, with some nice lazy-loading code. I hope you can use it :)

[2017-04-18 13:49] felipesanches commented on #1189
Work on this issue is currently blocked by a pending pull request on the upstream pyfontaine repo: davelab6/pyfontaine#93 Who can merge that? It that only you, @davelab6 ?

[2017-04-18 14:06] davelab6 commented on #1189
Merged

[2017-04-21 12:53] m4rc1e opened #1286 "Dashboard: Enable setting it up to run checks on other collections of font families"
Since we can now see the health of the whole collection, how about we allow the dashboard to look at different forks? This will give us the ability to see if a pr will improve the collection before we merge.

I'm working on a collection wide hotfix, https://github.com/google/fonts/issues/641. This would be incredibly useful.

[2017-04-21 13:51] felipesanches commented on #1286
Yes, I agree.

There are some challenges to achieve that, though.

The current implementation of the worker container involves checking out the last N commits of the full git repo of an upstream project and it expects to have a single family per repo. Multiple families in a single repo are handled by having multiple entries on the fontprojects.csv for the same repo, with differing font_prefix valu

[2017-04-21 14:36] m4rc1e commented on #1286
I understand this is no small task.

so the current [implementation](http://35.184.229.186) currently runs on upstream repos or downloadable families from fonts.google.com?

[2017-04-21 15:12] davelab6 commented on #1286
We probably should have more persistent containers, so that the cloned git
repo isn't lost on each run

[2017-04-24 11:35] m4rc1e opened #1287 "Dashboard: Specify and implement an API for accessing views of the database of check results"
I'd like to have the dashboard built on top of api views.

I can then query the api directly in my hot fix scripts.

[2017-04-24 17:29] m4rc1e opened #1288 "FB module namespaces"
This is an interesting one.

When you install FB with `python setup.py install`, the modules are going lead to bad namespace pollution.

for instance, to currently import checks.py, you only need the following:

`import checks`

Ideally, everything should be moduled under **fontbakery** so:

`from fontbakery import checks`

[2017-04-24 21:35] felipesanches opened #1289 "Dashboard: improve worker container log formatting to avoid duplicated lines"
The bad formatting we get currently looks like this:

http://35.184.229.186/details/Miltonian/errorlog/

[code]

[2017-04-24 21:42] felipesanches opened #1290 "Dashboard: empty "family details" page"
* http://35.184.229.186/details/Zeyada/
* http://35.184.229.186/details/Diplomata/

![selecao_764](https://cloud.githubusercontent.com/assets/213676/25360014/cf62d500-291d-11e7-902d-ae36e343bbc9.png)

[2017-04-25 03:36] davelab6 commented on #1288
Agreed. Also I suspect the Google python fire library can be used to cut
out a lot of arg parse boilerplate and there seems plenty of duplicate code
in the view/fix scripts that set up stuff. As the code became more complex,
more boilerplate has become necessary. And many of those standalone script
files have duplicate code with what is now some check method.

So not only does​ the code base names

[2017-04-25 10:52] m4rc1e opened #1291 "Refactor name checks"
Our name checks should match the name tables generated from the following family https://github.com/davelab6/glyphs-export.

FB currently checks nameIDs 1, 2, 4, 6, 16, 17, 18 exist. It only needs to check 1, 2, 4, and 6.

the glyphs-export family produces the following name table.

[code]

nameIDS 16, 17, 18 should be ignored

[2017-04-25 12:00] m4rc1e opened #1292 "Checks should be independent from one another"
Several checks rely on each other to produce the right result. This means the order of them is critical. Every check should be isolatable.

I've noticed this for the following tests: https://github.com/googlefonts/fontbakery/blob/779b31c5cb363e38d581c6dc6dd435ad09fc3176/fontbakery-check-ttf.py#L217-L224

for the fsSelection checks, I'd consolidate them into a single check. The same could be applie

[2017-04-25 14:04] davelab6 commented on #1291
I disagree. In that output I see 16/17

On Apr 25, 2017 6:52 AM, "Marc Foley" <notifications@github.com> wrote:

[2017-04-25 14:24] m4rc1e commented on #1291
ah that passed me by.

16 & 17 for win nameIDS.

[2017-04-25 14:24] #1291 closed

[2017-04-26 16:44] graphicore commented on #1288
I could do this basically now. I was reading into fb these days. This would help me to get an even better overview.

I don't know how well google fire is for this task though. The control over the resulting CLI is still limited and we'd definitely change the interfaces a lot. Also, the interface for [boolean-arguments](https://github.com/google/python-fire/blob/master/doc/guide.md#boolean-argument

[2017-04-26 16:53] felipesanches commented on #1288
@graphicore
Thanks, Lasse!

[2017-04-26 16:54] m4rc1e commented on #1288
I've attempted to make use of some FB modules and they need refinement imo. In general, the tests work ok.

It is very difficult to overhaul the objects, whilst committing to the master branch. We should do these interface/decoupling tasks on a separate branch.

I'd like some functional tests in place to make sure we don't further break the working tests.

[2017-04-26 16:57] felipesanches commented on #1288
@graphicore Indeed, many people (myself included) have expressed interest in having tests to avoid regressions. I'll be glad to review any pull request you may send, either for adding tests or for proposing improvements to the modulatiry of the codebase.

[2017-04-26 21:32] felipesanches commented on #1292
Do you want to keep this opened as a general principle of eliminating all and every instance of coupled checks? In some places we do things like "check if license files exist and error in case they don't". Later another check is skipped unless the license files are there. Re-checking (just for the sake of making the checks fully self-contained) would end up being a bit redundant. I'm not sure if I

[2017-04-26 21:34] felipesanches commented on #1292
I'm refering to this:

https://github.com/googlefonts/fontbakery/blob/17ad3512f894414b65a343dded9c108279d670cf/fontbakery-check-ttf.py#L224-L226

[code]

[2017-04-26 22:06] graphicore commented on #1292
I'm thinking it could be modeled using a dependency graph approach. But, that could also be overkill for this example.
The thought is, that `check_copyright_entries_match_license` and `check_font_has_a_valid_license_url` would state explicitly that they depend on the result of `checks.check_font_has_a_license` being positiv, i.e. that the check passes or maybe they require result/return value of t

[2017-04-26 22:14] graphicore commented on #1292
Keep it open, it's at least an issue we should solve in some way or another :-).

[2017-04-26 22:17] felipesanches commented on #1292
Yes, I had the same thoughts about using a dependency-graph to implement this. But then I also ended up quickly concluding it would be too fancy and overkill.

[2017-04-26 22:20] graphicore commented on #1292
Well, if you think about making this a useful tool for other parties as well, who will probably need to test against their own custom spec. It may become a nice feature to model your own spec, without having to call each test explicitly.

[2017-04-26 22:22] felipesanches opened #1296 "Dashboard: Move all kubernetes/docker code into a separate git repo"
Both @m4rc1e and I have agreed that the FontBakery Dashboard deserves to be hosted in a separate code tree.

This will likely require issue #1288 to be fixed first, though.

[2017-04-26 22:28] felipesanches commented on #291
This issue looks similar to #1262

[2017-04-26 22:33] felipesanches commented on #1286
A general mechanism for configuring the dashboard is the CSV file on the dispatcher container. If someone needs to setup the dashboard to monitor a different set of families, that can be achieved by providing a different CSV file. But for that, each family must be hosted in its own git repo.

[2017-04-27 00:16] davelab6 commented on #1292
I worry you are reimplementing existing thorough testing frameworks. Maybe
one of you should do a review of popular ones and pick one and migrate to
it.

I don't want anyone here writing a dependency graph engine. Yak.

On Apr 26, 2017 6:20 PM, "Lasse Fister" <notifications@github.com> wrote:

[2017-04-27 00:17] davelab6 commented on #1296
I agree with this effort but I request lasse deal with it since he will
take on ownership of the dashboard

On Apr 26, 2017 6:22 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-04-27 08:10] graphicore commented on #1296
NP, it's a nice fit with #1288 anyways.

[2017-04-28 15:27] felipesanches opened #1297 "Dashboard: Enable HinTak's MS FontVal"
MS-FontVal is not currently running on the worker container.

#1270

[2017-04-28 15:29] #1270 closed

[2017-04-28 15:30] felipesanches opened #1298 "Dashboard: Enable fontforge checks"
Fontforge checks are not currently running on the worker container.

#1270

[2017-04-28 15:31] felipesanches commented on #1298
Fontforge instalation commands were added to the worker container image (via Dockerfile apt-get install statements) but the fontforge python module is not found at runtime.

[2017-04-28 15:35] felipesanches commented on #1276
Do we have any further info about this one?

If the bundled otsanitise on Firefox is the source of the error messages, then fontbakery already detects the exact same issues with our otsanitise check. Unless I missed something, I think it is safe to close this issue, as we already detect such problems in the fonts being tested by fontbakery.

[2017-04-28 15:35] #1276 closed

[2017-04-28 17:01] felipesanches commented on #1237
It costs too much to run FB on the full commit history of projects, so nowadays we are only checking against the repo HEAD commit.

In order to make it acceptable to keep the full history, we would need to detect whether re-running the checks on a specific commit is really necessary. The criteria for deciding that would be: (a) the specific commit was never checked previously or (b) it was checked

[2017-04-28 17:27] felipesanches commented on #1151
We won't deploy anything to Google App Engine anymore as the next version of the drag-n-drop app will be a page of the dashboard hosted on Google Container Engine, as specified at #1230

[2017-04-28 17:27] #1151 closed

[2017-04-28 17:50] #694 closed

[2017-04-28 20:47] felipesanches commented on #1292
We should also consider here this other request from @davelab6 on #971 :

I think it is closely related. It may be good to think about both issues at once, in order to find a good solution to both.

[2017-04-28 20:50] felipesanches commented on #1292
What I mean is that one possible approach to implement #971 is by running the full set of checks performing hotfixes and then re-run everything again on the resulting hotfixed TTF.

The actual hotfixes performed, though, would potentially depend on the order in which the checks are invoked.

[2017-04-28 20:57] felipesanches opened #1299 "Ensure all checks produce some result (either OK or ERROR/WARNING/etc)"
It is important for us to make sure all checks in the testsuite result in database entries with the corresponding computed check results. Even if the result is a mere "SKIPPED" status.

This is important because, otherwise, we would not be able to distinguish a SKIP from a fontbakery crash.

Also, @m4rc1e told me that having results for all checks in all families is a prerequisite for generating a

[2017-04-28 22:43] #1299 closed

[2017-04-29 00:37] #1274 closed

[2017-04-29 02:21] #1265 closed

[2017-04-29 02:35] felipesanches commented on #1290
Got it!

That was bad handling of dev_font=None when a corresponding upstream repo is not registered in the fontprojects.csv config file.

[2017-04-29 02:40] #1290 closed

[2017-05-02 04:08] davelab6 commented on #1239
I'm re-opening this for @graphite to consider the UI aspects later :)

[2017-05-02 11:49] felipesanches commented on #1239
OK, cool. But did you mean @graphicore ?

[2017-05-02 12:08] graphicore commented on #1239
I felt addressed :-)

[2017-05-02 14:31] m4rc1e opened #1305 "Virtualenv friendly and review dependencies"
Currently, I'm not able to install FB inside a virtualenv. I'd like this so FB doesn't use my system wide dependencies. By using virtualenvs we can lock the dependencies in place for certain milestones.

The biggest problem is the headless FontForge.

I thought I'd bring this up because it is kind of linked to #1304

[2017-05-02 14:58] graphicore commented on #1305
In the meantime you can do `$ virtualenv --system-site-packages venv`

then `$ pip install -I -r requirements` to reinstall all requirements, and thus make sure they are up to date. You'll still need a global fontforge.

[2017-05-02 20:28] felipesanches opened #1306 "Dashboard: Setup Minikube for local development"
I'm trying to setup Minikube in order to run Kubernetes locally in a VM for the purpose of faster iterations on the development of the FontBakery dashboard.

* I made sure my BIOS setup utility has Virtualization enabled.
* I also verified that my CPU has support for virtualization (vmx flag is present on /proc/cpuinfo)
* I installed kvm/qemu packages and follow all instructions at: https://github

[2017-05-02 20:49] felipesanches commented on #1306
Hmm... maybe what's missing is performing the docker-machine-kvm install instructions available here:
https://github.com/dhiltgen/docker-machine-kvm/releases

I'll try that now.

[2017-05-02 21:00] felipesanches commented on #1306
Cool! I've got minikube setup on my computer. I'll create a deploy script for an extremely reduced subset of the full collection (with a selection of just 3 or 4 families, which I think is pretty much enough for evaluating most features of the dashboard) and then I'll write a small contributors first steps guide on how to set it up for local development.

[2017-05-02 21:05] graphicore commented on #1306
Awesome, thanks!

[2017-05-03 01:24] felipesanches opened #1307 "Dashboard: Update container invokation of fontbakery commands"
@graphicore has updated the fontbakery codebase (on #1304) to avoid namespace pollution and I will take care of updating the invokations in the dashboard containers to match the new command-line syntax.

[2017-05-03 03:58] davelab6 commented on #1306
Here's a suggestion of a shortlist

Roboto, roboto condensed, Ubuntu, merriweather, lobster, exo

On May 2, 2017 5:05 PM, "Lasse Fister" <notifications@github.com> wrote:

[2017-05-03 10:50] graphicore commented on #1306
I also got minikube running.

[2017-05-03 17:44] #1307 closed

[2017-05-04 21:18] felipesanches commented on #1306
@graphicore & @davelab6

Running minikube locally we should be able to deploy the dashboard, but pushing/pulling images from/to the remote Google Container Registry is too cumbersome. In order to enable an efficient local develpment environment it would be advised to run a local container registry as well. It is not really clear how to acchieve that, by I found this blogpost which seems to deal wi

[2017-05-04 22:12] davelab6 commented on #1306
Sounds good

[2017-05-05 06:22] graphicore commented on #1306
I'm trying to figure these things out as well. It's a good learning experience :-), good to get into Kubernetes and good to get an understanding how Docker and Kubernetes interact.

Here's a similar post: https://thenewstack.io/tutorial-configuring-ultimate-development-environment-kubernetes/

[2017-05-05 07:23] graphicore commented on #1306
Here's a not so obvious one:

Running in the shell:
[code]
opens for me the local web frontend in the browser.

even though:

[code]

reports `EXTERNAL-IP` as `<pending>`

Similarly:

[code]

opens the Kubernetes Dashboard in the browser, very helpful thing.

[2017-05-06 00:40] davelab6 opened #1311 "Review 'font central' plans"
Note to self: I should review the 'font central' plans and see what could make sense in the FB Dashboard at some point

[2017-05-08 17:38] davelab6 commented on #681
reassigning to @m4rc1e and moving to 0.4.x because this relates to sources; the main thing is to go over all check strings and make sure that they will make sense for our designers to fix issues themselves :)

[2017-05-08 17:51] davelab6 commented on #1292
Moving to 0.2.0 and marking as important :)

[2017-05-08 17:56] davelab6 commented on #1108
I'm fine to move to python3 asap :) Thanks for discussing :)

[2017-05-08 18:02] felipesanches commented on #1108
Alright! :-)

[2017-05-08 18:03] davelab6 commented on #1232
Nyshadh may be able to share this end of this week / early next week

[2017-05-08 18:03] davelab6 commented on #1108
How big an effort is this?

[2017-05-08 18:04] felipesanches commented on #1232
Great, thanks!

[2017-05-08 18:04] davelab6 commented on #971
Does that task still make sense with the new modularity?

[2017-05-08 18:05] felipesanches commented on #1108
I can spent 15 minutes on it and then report back how long I think it will take.

[2017-05-08 18:29] davelab6 commented on #971
After discussing offline, I'm reassigning to @m4rc1e since he has dealt with hotfixing recently

[2017-05-08 18:34] felipesanches commented on #971
The feature as described in your original request means that it would re-check the font binaries after applying hotfixes. There's not a lot of hotfix routines in FB since, in the past, we decided to focus on making it a good quality reporting tool for the Google Fonts collection. And we achieved that with the collection-wide web dashboard.

I'm strongly supportive of the idea of trying to push the

[2017-05-08 20:51] felipesanches opened #1312 "Check #003: long halt while trying to validate a DESCRIPTION file hyperlink"
Something is bad when running "Check #003: Does DESCRIPTION file contain broken links ?".
This may be a connectivity issue specifically related to my own local network. I get a very long halt (actually seems to hang indefinitely) at this point when trying to validate the "www.droidfonts.com" hyperlink:

[code]

I wonder if there's a way to setup a timeout there and log that as a FB warning.

[2017-05-08 20:53] felipesanches commented on #1312
Yes, we can do it!

http://docs.python-requests.org/en/master/user/quickstart/#timeouts

[2017-05-08 20:54] davelab6 commented on #1312
It loads fast for me :)

[2017-05-08 20:56] felipesanches commented on #1312
I'll setup an arbitrary 10 seconds delay with a fontbakery warning result in case it times out. This seems to be a local connectivity issue in my network, but this should definitely not block the whole thing running successfully.

[2017-05-08 22:49] felipesanches opened #1314 "Fix the script to check whole collection locally"
Today I tried to use the check-collection script but I noticed it fails to properly report crashes (as it was expected to do). I've been improving it this afternoon and I'll commit an improved/fixed version soon.

[2017-05-08 22:51] felipesanches commented on #1314
This will help us identify families that trigger FB bugs (and fix such issues) that were previously hidden by this bug :-D

Yay!

[2017-05-08 22:56] felipesanches opened #1315 "update travis rules to accomodate recent Travis environment update to Ubuntu Precise on May 4th"
Travis has updated their build environment to run Ubuntu Precise last week (on May the 4th).

https://blog.travis-ci.com/2017-05-04-precise-image-updates

 Our builds are failing with:

[code]

[2017-05-08 23:05] #1315 closed

[2017-05-08 23:05] #1312 closed

[2017-05-08 23:16] felipesanches opened #1317 "Bad behaviour: check-ttf with Arimo-*.ttf checks the same Arimo-BoldItalic.ttf file 4 times"
## Expected behaviour
[code]

should run the checker against each of these:
[code]

## Observed behaviour

Instead, we get:
[code]

[2017-05-08 23:21] #1314 closed

[2017-05-08 23:32] felipesanches opened #1318 "ot-satinise was renamed to ots-sanitize"
The binary of the upstream tool "ot-sanitise" is now called "ots-sanitize".

[2017-05-08 23:45] #1318 closed

[2017-05-09 01:01] #1317 closed

[2017-05-09 01:23] felipesanches opened #1321 "crash: Droid Serif Bold Italic"
[code]

[2017-05-09 01:26] felipesanches opened #1322 "crash: Mountains of Christmas: KeyError: 'fpgm'"
[code]

[2017-05-09 01:28] felipesanches opened #1323 "crash: OpenSans-SemiboldItalic.ttf: TypeError: 'NoneType' object has no attribute '__getitem__'"
[code]

[2017-05-09 02:42] #1322 closed

[2017-05-09 02:57] felipesanches commented on #1321
@m4rc1e This one crashes because it tries to split '-' on 'DroidSans.ttf' (expecting to extract a style from a filename with a 'DroidSans-Regular.ttf' naming scheme)...

[2017-05-09 03:09] #1321 closed

[2017-05-09 03:56] #1323 closed

[2017-05-09 04:06] felipesanches opened #1327 "crash: CherryCreamSoda.ttf: Check #001 failed to produce any output."
[code]

[2017-05-09 12:00] #1296 closed

[2017-05-09 12:06] felipesanches opened #1329 "Update README.md (reference external dashboard repo and check-collection usage)"
- [x] Reference the web dashboard (providing a short description and a link to the other repository, maintained by Lasse, at https://github.com/googlefonts/fontbakery-dashboard)
- [x] Remove check-collection subcommand (it currently does not get invoked as a sub-command, but rather as a standalone shell-script called bin/fontbakery-check-collection.sh)
- [x] Review the description of "test_all_gfo

[2017-05-09 12:58] #1327 closed

[2017-05-09 14:54] felipesanches opened #1331 "crash: Amiri: TypeError: 'NoneType' object has no attribute '__getitem__' (check_files_are_named_canonically)"
[code]

[2017-05-09 16:01] davelab6 opened #1332 "unicode-org/text-rendering-tests could be useful?"
Rod suggested unicode-org/text-rendering-tests (eg https://rawgit.com/unicode-org/text-rendering-tests/master/reports/fontkit.html) could be relevant to font-onboarding. Any suggestions @graphicore @m4rc1e ? :)

[2017-05-09 16:09] felipesanches commented on #1332
I found it weird that all expected/observed SVGs in that page seem to be flipped upside-down...

[2017-05-09 16:10] felipesanches commented on #1332
The link that @davelab6 posted is the generated results page. The actual testsuite project is available at https://github.com/unicode-org/text-rendering-tests

[2017-05-09 16:16] felipesanches opened #1333 "crash: cagliostro: "check_font_version_fields" AttributeError: 'NoneType' object has no attribute 'group'"
[code]

[2017-05-09 18:14] #1331 closed

[2017-05-09 19:37] davelab6 opened #1335 "New test for prep endless loops"
In Mogra today the hinting bytecode is completely broken; there is an endless loop in the `prep' table. It would be great to have a test for this, but writing a test via freetype might be a bit hardcore... However, when running

    ftstring 72 Mogra-Regular.ttf

then nothing shows up in the window, so perhaps some other ft tool that outputs an image (if blank) can be used to test that the font hi

[2017-05-09 20:21] felipesanches opened #1336 "Search for MS FontValidator.exe in the system path"
We have a binary of MS FontVal available at the prebuilt/fval directory in our repository (I built it from sources a while ago because I could not find any other way of installing it on my system and on the kubernetes cluster).

The code invokes it with the explicit path of the prebuilt/fval directory (thus assuming incorrectly that the code will always be running from the root of the git tree). T

[2017-05-09 20:32] felipesanches commented on #1336
OK. I tried to setup this on my system by adding the **prebuilt/fval** directory to the system path:
[code]

...but got this error:

[code]

[2017-05-09 20:37] felipesanches commented on #1336
...but that's not a PATH issue. I must be missing some extra mono-runtime package (I reinstalled my distro last week. Great opportunity for documenting the dependencies :-D)

[2017-05-09 20:39] felipesanches commented on #1336
Probably this will do:

[code]

But I dislike installing everything! There must be a cleaner way of installing only what is needed in our case.

[2017-05-09 20:45] felipesanches commented on #1336
I had a hunch that maybe this would be a cleaner solution for satisfying this dependency:

[code]

But it didn't. I'll resort to installing mono-complete for now. If someone has a hint of a smaller install footprint I'll be glad to update the docs.

[2017-05-09 20:47] felipesanches commented on #1336
hey! I just figured it out!

This is a good one:
[code]

Installed and running! Yay!

[2017-05-09 21:01] #1336 closed

[2017-05-09 21:34] #1333 closed

[2017-05-09 21:48] rsheeter commented on #1332
(posting some comments I made internally here too)

We have some degree of testing for things like "fsSelection is wrong" but less on the rendering front. I might imagine a set of tests made up of things to render + indication of what the expected result is / what to look out for in a broken font. Bonus points for training a model to recognize violations automatically :D

To try to spitball an act

[2017-05-09 22:20] davelab6 commented on #1336
Sweet :)

[2017-05-09 22:30] #1329 closed

[2017-05-10 11:41] drott commented on #1225
CC @kojiishi - could you comment? I understood you said MS Word is using `LigatureCaretLists`, or do you know software that uses them?

[2017-05-10 11:42] m4rc1e opened #1340 "Do not generate reports into same folder"
It's a little annoying when you run check-ttf.py which then dumps the Ms Validator reports in your shiny google/fonts family dir.

![screen shot 2017-05-10 at 12 39 37](https://cloud.githubusercontent.com/assets/7525512/25896873/c5c7f09a-357d-11e7-909a-969f3a9deba4.png)
*before*

![screen shot 2017-05-10 at 12 41 45](https://cloud.githubusercontent.com/assets/7525512/25896965/0e9b2076-357e-11e7-97

[2017-05-10 12:02] felipesanches commented on #1340
ok, cool. Let's avoid that!

[2017-05-10 12:14] felipesanches commented on #23
This does not apply anymore to this repo. If ever implemented, this should now be filled as a FontBakery-Dashboard issue. https://github.com/googlefonts/fontbakery-dashboard

[2017-05-10 12:14] #23 closed

[2017-05-10 12:30] felipesanches commented on #395
This was already done ages ago!

[2017-05-10 12:30] #395 closed

[2017-05-10 12:35] felipesanches commented on #212
I consider this out of scope for FontBakery-core.

[2017-05-10 12:35] #212 closed

[2017-05-10 16:12] m4rc1e opened #1342 "check-ttf.py: Canonical font checks"
I'm confused why we have two of these in the same script.

https://github.com/googlefonts/fontbakery/blob/master/Lib/fontbakery/checks.py#L101-L121

https://github.com/googlefonts/fontbakery/blob/master/Lib/fontbakery/checks.py#L2957-L2979

The first one seems to be a condition that needs to be met in order for the test suite to run. The second is just a test.

[2017-05-10 17:40] felipesanches commented on #1342
@m4rc1e This is indeed confusing! Thanks for pointing out.

One checks the TTF filenames. The other one checks the METADATA.pb file.

I agree with you that this is not clear and that there may be problems with this. For instance, I think that the METADATA.pb check could simply verify that the name declared in its metadata fields match the available TTF files, while the actual rules for the names s

[2017-05-10 21:45] #1340 closed

[2017-05-10 22:22] felipesanches commented on #1342
I also noticed that a single non-canonical TTF filename inhibits the execution of the rest of the checks on the whole family. Maybe a better approach would be to report the issue and drop the non-canonically named TTF files from the list of TTF files to be checked, but proceed with the other ones.

[2017-05-10 22:29] m4rc1e commented on #1340
Thanks man!

[2017-05-10 23:31] davelab6 commented on #1340
It may also be nice to put all output in $pwd/FB/* so that we can add that
to gitignore files

On May 10, 2017 6:29 PM, "Marc Foley" <notifications@github.com> wrote:

[2017-05-11 02:22] #1189 closed

[2017-05-11 06:47] kojiishi commented on #1225
Core Text has an API for this: [`CTFontGetLigatureCaretPositions`](https://developer.apple.com/reference/coretext/1508820-ctfontgetligaturecaretpositions?language=objc). Given the API is available for a long time, I suspect there are apps that use this API, but the document does not state whether it only reads [`lcar`](https://developer.apple.com/fonts/TrueType-Reference-Manual/RM06/Chap6lcar.html

[2017-05-12 01:00] felipesanches opened #1345 "PyFontaine checks takes too long to run. Provide a means to disable them."
In some cases we (such as on automated Travis builds) we may want to skip the PyFontaine checks.

[2017-05-12 01:20] #1345 closed

[2017-05-12 01:25] davelab6 commented on #1345
I suppose this could be started at the very beginning of the total process
and run in parallel

On May 11, 2017 9:20 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-05-12 02:35] felipesanches opened #1347 "Figure out and implement optimizations for the pyfontaine checks"
@davelab6 suggested at #1345 that we could run pyfontaine subprocesses in parallel, starting them very early in the testsuite. This is not simple to achieve with the current architecture, but perhaps can be addressed by @graphicore 's proposal of a new architecture for FontBakery, described at:
https://gist.github.com/graphicore/9456bdbdaf1276b52e56fc817a175058

[2017-05-12 03:53] davelab6 opened #1348 "Rename old subsets"
Rename these

    gwf_arabic         Google arabic
    gwf_extras         Google extras
    gwf_vietnamese     Google vietnamese

to
    google_arabic
    google_extras
    google_vietnamese

[2017-05-12 03:56] davelab6 commented on #1348
Wrong repo, doh

[2017-05-12 03:56] #1348 closed

[2017-05-12 04:04] felipesanches opened #1349 "Add glyph coverage checks for google_arabic/extras/vietnamese"
After https://github.com/davelab6/pyfontaine/issues/95 is fixed and merged into pyfontaine's master, add corresponding glyph coverage checks.

[2017-05-12 05:09] #1349 closed

[2017-05-12 10:30] graphicore commented on #1306
Closing this, continue here: googlefonts/fontbakery-dashboard#3

[2017-05-12 10:30] #1306 closed

[2017-05-13 17:32] felipesanches opened #1351 "Remove TargetFont class"
TargetFont class is vestigial from the time when we had an abstraction layer for managing both font objects in memory and on disk. This is not needed any more and the lists of target fonts to be checked can be managed as simple lists of strings indicating the full filepaths of each target.

[2017-05-15 17:24] #1351 closed

[2017-05-15 21:08] #1342 closed

[2017-05-16 01:52] felipesanches commented on #1226
Back in February, @behdad said that we should avoid inspecting GSUB entries to infer which glyphs are ligatures and that we should instead look at the glyph classifications on the GDEF table.

On the other hand, I noticed that not all fonts have a GDEF table, which seems pretty much optional. Regarding that, I think I undertood that Behdad told us the data in GDEF is only needed when it is not eas

[2017-05-16 02:07] felipesanches commented on #1226
Also, there's a comment by @khaledhosny (also from last February) which I found quite interesting:

He mentioned that there are certain cases when one:

I feel that such use of **GSUB** ligature substitutions to handle stacked combining marks is pretty much a hack and should also be considered an issue to be fixed in an Arabic font. I'm not sure yet whether we have such kind of thing happening on

[2017-05-16 04:13] davelab6 commented on #1226
I think so, yes, since we get bug reports from users upset that there are ligatures that lack GDEF caret positioning.

Arabic is gnarly, full of hacks to make it work at all, because OpenType was not designed to handle Arabic well (I believe it was designed for Indic scripts, initially.)

I think the simplest thing to do is have this a error class check and have enough context in the info string t

[2017-05-16 06:36] khaledhosny commented on #1226
It is a very valid use of ligatures, nothing hacky about it. It even the only sane way to handle Unicode canonical ordering of combining marks, since certain `<mark a><mark b>` and `<mark b><mark a>` are canonically equivalent and normalizing the text will produce the second combination while for mark positioning to work correctly you need the first one. With ligatures it does not matter, you will

[2017-05-16 06:39] khaledhosny commented on #1226
These users are mislead then, since no applications use GDEF caret positioning as far as I know and no one was able to find such an application either 😄.

[2017-05-16 06:45] khaledhosny commented on #1226
A better way to handle caret positioning that is likely to actually work on caret applications is to not use ligatures across grapheme clusters at all and use contextual alternates instead, like Brill fonts are doing f-ligatures for instance.

[2017-05-16 22:24] felipesanches commented on #1226
***Note:*** For the purpose of testing the issues at hand, the Lato font files in github.com/google/fonts introduced in google/fonts#479 have the problems (lack of caret positioning data) that the check is meant to detect and alert.

[2017-05-16 22:40] khaledhosny commented on #1226
Thinking again, I think there is away to handle this without issuing bogus warnings for Arabic or Indic fonts. After generating a list of ligatures and their characters components (e.g. “<f_f_i> → f f i”), check for the **grapheme clusters** in the component characters and warn about missing caret positions based on that.

For example, “f f i” is three grapheme clusters, so three should be two car

[2017-05-16 22:43] khaledhosny commented on #1226
That being said, I highly doubt that adding GDEF ligature carets will make any practical difference. Whatever software that was having trouble with Lato ligatures is unlikely to be fixed by such a change.

[2017-05-16 22:50] felipesanches commented on #1226
And, for that matter, those Lato font files indeed lack a **GDEF** table while declaring ligatures such as **ffi** on **GSUB**.

I installed those files in my computer and confirmed that the caret is misplaced on **ffi** when using Inkscape, while OpenOffice does some sort of "magic" (hardcoded infered rules for the commonly used ffi, perhaps?!) and properly places the caret within the ligature -

[2017-05-16 22:54] felipesanches commented on #1226
@khaledhosny, is this a yet unsolved issue on most applications that render OpenType fonts ? Or do we have a best practice to suggest to the designers that would convey actual good results?

Or should we instead be filling bug reports on text-handling applications and libraries?

[2017-05-16 23:00] felipesanches commented on #1226
Oops! I ended up skipping your "Thinking again" message above. I just read that now and it makes sense. Thanks!

[2017-05-16 23:01] felipesanches commented on #1226
...sounds a bit scary, though :-P

[2017-05-16 23:02] khaledhosny commented on #1226
Inkscape is just broken, I tested it with a font that has ligature carets and it didn’t work either.

What applications usually do is distribute the width of the ligature glyph over the number of grapheme clusters it contains and use that for caret positioning, no hard-coded magic.

[2017-05-16 23:07] khaledhosny commented on #1226
If depending on ICU is not a problem, then I think PyICU should provide solid and up to date grapheme segmentation.

[2017-05-16 23:07] felipesanches commented on #1226
@khaledhosny Do you think (or maybe actually know that) OpenOffice, or its underlying text-handling infrastructure, interpolates caret positioning within a given ligature by advancing percentages of the ligature glyph width corresponding to each of its components advance widths?

[2017-05-16 23:10] felipesanches commented on #1226
And would that kind of interpolation convey bad results in some cases I'm maybe not yet aware of ?

[2017-05-16 23:11] khaledhosny commented on #1226
I’m positive this is what LibreOffice do since it handles any arbitrary ligature just fine. I’m not 100% sure (I don’t know what part of the code handles this for sure) but I’m sure it does not use GDEF ligature carets. OpenOffice should be the same.

[2017-05-16 23:12] felipesanches commented on #1226
Good to know, because I may end up fixing that at some point in the future. I've been working a bit on that portion of Inkscape code recently.

[2017-05-16 23:16] felipesanches commented on #1226
In the long term, then it sounds to me like explicit declaration of caret positioning data may never really catch among type designers and that automated inference of approximate interpolations may be the definitive answer to the problem, except on very specific cases where the designer may tweak certain caret positions here and there. Do you disagree with my current perception?

[2017-05-16 23:17] khaledhosny commented on #1226
GDEF ligature carets can help in theory when the width of each component in the ligature differ greatly e.g. a theoretical “wi” ligatures, since distributing the width evenly will result in misplaced caret. But in practice nearly no applications reads the GDEF ligature carets so whatever you put there will make no difference.

Don't get me wrong, I've been putting ligature carets for nearly 10 yea

[2017-05-16 23:21] khaledhosny commented on #1226
Ideally application should use ligature carets when present and fallback to what they do now, perhaps we can even fix the FOSS application to do this, and having the data in the fonts does not hurt. My original objection was about flagging any ligature glyph as needing ligature caret blindly which is not always true.

[2017-05-16 23:21] felipesanches commented on #1226
How good would be the result for Arabic text if carets were automatically positioned taking into consideration the proportions of each component in a ligature, instead of being evenly spaced ? I feel that it probably works fine for Latin script, based on the **ffi** case, but I have no idea about Arabic or other scripts.

[2017-05-16 23:26] khaledhosny commented on #1226
In Arabic there is no way to know this with designer input, since unligated glyphs width is completely unrelated to their ligated width most of time. But even distribution is good enough most of time.

[2017-05-17 21:53] behdad commented on #1226
I don't have time to study the full thread and reply, but whatever Khaled has to say is correct.

[2017-05-17 21:59] felipesanches commented on #1226
Thanks, Behdad! Khaled has helped a lot indeed :-D

[2017-05-17 22:36] davelab6 commented on #1226
Adobe CS uses CaretPositions.

[2017-05-18 19:03] graphicore opened #1355 "OS/2 usWeightClass vs. CSS font-weight"
I'm checking right now Roboto Slab Thin.

Metadata.pb has `weight=100`
The font itself has `openTypeOS2WeightClass=250`

Font Bakery suggests to change the value within the font to match Metadata.pb i.e. `100`.

We usually use `250` for Thin, the CSS-weight value is however `100` in that case. I'm not sure what to do but it feels like FB is wrong and the font is OK. This is, if the Metadata.pb `we

[2017-05-18 19:14] m4rc1e commented on #1355
@graphicore FB is wrong in this instance. The font's OS/2 weight value should be 250, whilst the METADATA.pb should be 100. Fonts need 250 because of [issues in older browsers](https://www.adobe.com/devnet/opentype/afdko/topic_font_wt_win.html)

[2017-05-18 19:19] graphicore commented on #1355
Thanks @m4rc1e for confirming.

[2017-05-18 19:22] m4rc1e commented on #1355
fyi, the METADATA.pb weight value is inferred from the [filename](https://github.com/google/fonts/blob/master/tools/util/google_fonts.py#L62-L73), not the font metadata.

[2017-05-18 19:40] felipesanches commented on #1355
Thanks, @m4rc1e and @graphicore

I'll take a look at this and open a pull request with a fix.

[2017-05-18 21:34] felipesanches commented on #1355
FontBakery check number 020 ("Checking OS/2 usWeightClass") seems good since it takes into consideration the Windows GDI issues and makes sure the font **usWeightClass** entry on the **OS/2** table follows the rule described in its doc-string:

[code]

On the other hand, Fontbakery check number 112 ("Checking OS/2 usWeightClass matches weight specified at METADATA.pb") expect both **OS/2** table a

[2017-05-18 21:39] felipesanches commented on #1355
Also, this is a good opportunity to address this apparent inconsistency in the constants.py file:

[code]

[2017-05-18 21:40] graphicore commented on #1355
Yes, Metadata.pb is, at least in this case, about the CSS `font-weight` which will be used by the google fonts users to select the fonts. The mapping there is:

[code]

At least, that's my understanding of it.

[2017-05-18 21:42] felipesanches commented on #1355
If there's any good reason for us to be using diverging weight-name-to-value mapping criteria, then this should be explicit in the source code doc-strings as well as perhaps in the user error/warning messages.

@m4rc1e and/or @davelab6 : Could you please clarify if there are supposed to be, indeed, diverging criteria between METADATA.pb and OS/2 table weight entries ?

[2017-05-18 21:47] felipesanches commented on #1355
thanks, @graphicore !

So would it make sense to rename the dicts above this way?

* **WEIGHT_VALUE_TO_NAME** => **CSS_WEIGHT_VALUE_TO_NAME**
* **WEIGHTS** => **WEIGHT_CLASS_VALUE_TO_NAME** (and also invert the key-value association of this dict so that the more uniform dict naming-scheme makes sense)

[2017-05-18 21:49] felipesanches commented on #1355
And then check number 112 could be deprecated (as the values are not meant to be identical) or, even better, could be fixed to use these 2 dict for checking the coherence of the values with each of the critera.

[2017-05-19 00:45] felipesanches commented on #1355
OK. New check implementation results, for Roboto Slab, in the following message:

[code]

[2017-05-19 00:51] #1355 closed

[2017-05-19 03:06] davelab6 commented on #1355
Yeah I think you fixed it. There are 2 values to the filename key, one for
os/2 and one for css, and they are the same for 300 to 900 but the first
two diverge

On May 18, 2017 8:51 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-05-19 20:31] felipesanches opened #1357 "Add command-line switch to optionally disable the progressbar"
It is not really useful. In the move towards cleaner code, I'll simply delete it.

[2017-05-19 21:00] felipesanches commented on #1226
@khaledhosny I have pushed a commit with an incomplete attempt to address this, but faced a few roadblocks. I described the issues in-line with some comments at https://github.com/felipesanches/fontbakery/commit/6cc8395a8ccd433e79723e3d73562904368ae951 referencing @behdad , but since he seemed busy earlier this week, perhaps you would be willing to take a look at that as well. Please, let me know

[2017-05-19 21:10] felipesanches commented on #1226
@khaledhosny also, I looked up PyICU (which is, by the way already used by one of FontBakery optional dependencies, pyfontaine) and it is still not clear to me if it would be able to provide a differentiation between glyphs such as 'É' (Eacute) and 'fi' (the <f_i> ligature) in terms of determining which is a diacritics ligature (E + acute) and which is the proper ligatures we're interested here (s

[2017-05-19 23:42] davelab6 commented on #1357
If the goal is cleaner code,

[2017-05-19 23:42] khaledhosny commented on #1226
Interesting. Did you test it yourself?

[2017-05-19 23:43] davelab6 commented on #1226
YEs

[2017-05-19 23:54] felipesanches commented on #1357
OK. The progressbar code is not really that bad. It is not really a lot of code. Reality is that I had implemented it in the past by impulse and I thought nobody else really liked it (I didn't like it a lot myself, by the way, especially because stderr messages end up breaking the progressbars apart at some occasions, which looks ugly).

If you think it is really useful, I'm happy to bring it back

[2017-05-20 00:00] davelab6 commented on #1357
I suggest turning it off by default and having a `--progress` arg :)

[2017-05-20 00:01] felipesanches commented on #1357
Then we'll be burying a useful feature and likely no one will be using it so often :-)

[2017-05-20 00:01] felipesanches commented on #1357
...but I can do it, of course !

[2017-05-20 00:02] davelab6 commented on #1357
Right... So, maybe better to have it on my default and then be able to hide if the output needs to be 'clean'? :)

[2017-05-20 00:03] felipesanches commented on #1357
sure! That's much much better, I think

[2017-05-20 00:13] khaledhosny commented on #1226
Assuming you already know what characters constitute the ligature, you can then use  ICU breakiterators to iterate over grapheme clusters in the string:

[code]

[2017-05-22 19:04] #1357 closed

[2017-05-22 21:04] felipesanches commented on #1226
On the current implementation of check number 064, we have this comment:
[code]

@khaledhosny you mentioned that you've been adding caret position on your font projects during the last several years. Could you perhaps point me to one of these so that I can have a reference of a font with GDEF caret positioning data considered to be good ?

[2017-05-22 21:07] felipesanches commented on #1226
For now I'll give up on this, by closing the pending pull request (https://github.com/googlefonts/fontbakery/pull/1359) and moving on to other issues. I may revisit this issue in the future when we have more conclusive info on what to really expect from fonts in terms of caret positioning data.

[2017-05-22 21:13] felipesanches commented on #1232
@davelab6 Any further info on this?

Maybe a description of what needs to be done? Or a reference implementation. Otherwise, I'll re-categorize this a "MISC"/"maybe-someday" and revisit someday in the future.

Presumably there is an implementation by Nyshadh somewhere, so I should not spend time on this issue right now.

[2017-05-22 21:35] felipesanches commented on #146
Ok. I'm going to do this. At a first glance, I see (here: https://pypi.python.org/pypi/fontbakery/0.0.13) that the fontbakery "package index owners" are hash3g and davelab6. I guess it means only these users can trigger a deploy with their username/password credentials.

I think I'll have to be added as a package owner. Can you add me, @davelab6 ?

[2017-05-22 21:40] felipesanches commented on #146
Also, I noticed that the author field on setup.py is a bit too generic "Font Bakery Authors". I'd like to have my name (as well as yours and Vitaly) in there. There's an interesting discussion about multiple authors in the author field here: http://bugs.python.org/issue6992

A good point is that the contact email should ideally point to a project mailing-list to make it easier for the community to

[2017-05-22 21:54] davelab6 commented on #146
Yes - what is your username?

[2017-05-22 21:59] davelab6 commented on #1232
@felipesanches yep - I agree, I moved it to 0.5.0 :)

[2017-05-22 22:00] felipesanches commented on #1232
thanks!

[2017-05-22 22:01] felipesanches commented on #146
fsanches

[2017-05-22 22:05] davelab6 commented on #146
Done

[2017-05-22 22:07] davelab6 commented on #146
The generic name is used to prevent the complications mentioned in the thread :) If you want to spend time dealing with those, that's fine, but I don't care to :)

I think it would only be annoying to have googlefonts-discuss@googlegroups.com listed in there if it got a lot of email; I doubt that's the case, so go ahead.

[2017-05-23 01:12] felipesanches commented on #146
I also doubt that fontbakery would get a large amount of email from users. So we'll stick to using the googlefonts-discuss mailing list for this v0.2.0 release. If we start getting annoyed by this, it may justify setting up a project mailing list in the future (again, I doubt it will produce any significant amount of messages).

[2017-05-23 03:04] felipesanches commented on #146
We're almost there!

I was able to automate the build and pypi upload on travis, but I'm having serious trouble to get a successful auth:

[code]
https://travis-ci.org/googlefonts/fontbakery/builds/235070739

[2017-05-23 03:06] felipesanches commented on #146
Both here (https://docs.travis-ci.com/user/encryption-keys/) and here (https://github.com/pypa/twine/issues/233#issuecomment-282561808) I got hints that I should escape special characteres on the pypi login password when encrypting it to store in the .travis.yaml file.

I tried that, but it still fails.

[2017-05-23 03:08] felipesanches commented on #146
Also, a previous issue that I debugged earlier was that the build/upload jobs was not even triggering because of the safelisting we already had on our Travis rules:

https://docs.travis-ci.com/user/customizing-the-build#Safelisting-or-blocklisting-branches

After adding a white-list regex for version tags, I got it at least to run the build. But now I have to figure out what's still wrong on the a

[2017-05-23 03:42] felipesanches commented on #146
I tried adding a "server" key with value "https://upload.pypi.org/legacy/" but that also fails, but differently:

[code]

[2017-05-23 04:33] davelab6 commented on #146
Hmm. Do you know any local (etc) package maintainers who could have
experience with this? :)

On May 22, 2017 11:42 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-05-23 09:07] khaledhosny commented on #1226
There is Amiri and Libertinus for Latin ligatures, and there is KACST One for Arabic ligatures.

[2017-05-23 11:49] felipesanches commented on #146
Maybe Luciano Ramalho (@ramgarlic)...

[2017-05-23 17:34] felipesanches opened #1363 "fix fsSelection Bold bit fixer on fontbakery-nametable-from-filename.py"
https://github.com/EkType/Mukta/issues/26#issuecomment-303473428

[2017-05-23 17:45] #1363 closed

[2017-05-23 18:30] felipesanches commented on #146
I've just released fontbakery 0.2.0 on pypi by running locally:

[code]

https://pypi.python.org/pypi/fontbakery/0.2.0

[2017-05-23 18:35] felipesanches commented on #146
I'll get back to this issue on the next release to make it work automatically on a Travis deploy hook.

I've seen a website stating that "The first upload of your package has to be done manually." (https://web.archive.org/web/20170523183448/https://openedx.atlassian.net/wiki/display/OpenOPS/Publishing+a+Package+to+PyPI+using+Travis)
I'm not sure that statement is accurate, but if that's the case,

[2017-05-24 02:35] davelab6 commented on #146
Haha would be funny if that's why authentication didn't work

Since we make releases infrequently then a well documented manual process
is ok for me for a while

On May 23, 2017 2:35 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-05-24 10:29] m4rc1e opened #1365 "auto-detect pyfontaine glyph coverage support (and auto-skip if glyphset is not supported)"
I can't use check-ttf.py because the log loops for a long time on the codepages. Here's what my terminal now looks like

[code]

I'm using one of my older branches for the time being.

[2017-05-24 10:58] m4rc1e commented on #1365
@graphicore told me about the magic flag --no-coverage :-)

This will do it for the time being.

[2017-05-24 12:13] felipesanches commented on #1365
A-ha! I knew it would be useful for other people as well. I had implemented that flag a while ago exactly because I did not want these additional delays on my daily workflow.

This is also related to https://github.com/googlefonts/fontbakery/issues/1347

[2017-05-24 12:16] felipesanches commented on #1365
Having said that, I should also explain why you get this long scrolling of codepages. This is because the pyfontaine checks in fontbakery rely on the new glyph sets that were added to a more recent version of pyfontaine and you are using an older version that does not support that yet.

If at some point in the future you actually need to run the glyph coverage checks, you'll need to upgrade your p

[2017-05-24 12:17] felipesanches commented on #1365
We could, though, try to auto-detect whether pyfontaine supports these new glyphsets and if it doesnt we could auto-skip with a message inviting the user to upgrade it if desired.

[2017-05-24 12:23] felipesanches opened #1366 "fix fsSelection is still not accurate"
See: https://github.com/googlefonts/fontbakery/commit/6d81821dfedf2d23e53ccaeff651d8c8f2e0a16a#commitcomment-22261067

[2017-05-24 12:24] graphicore commented on #1365
So where does it come from? I can't find a `pyfontaine` command on my system, though in the virtualenv of fontbakery it is present. Does fontbakery install an old version of pyfontaine?

[2017-05-24 12:31] felipesanches commented on #1365
I install it directly from https://github.com/davelab6/pyfontaine

[2017-05-24 12:33] felipesanches commented on #1365
README.md:
[code]

[2017-05-24 12:47] graphicore commented on #1365
OK, IC. Our installation process also needs some love...

setup.py requires the `fontaine` package, which is getting us https://pypi.python.org/pypi/fontaine/1.3.10

Ideally we should install the correct dependencies automatically, not via the human-shell and README.md. But, we also have so many other "hard to get by dependencies" that I guess this will be a bigger job to make it just right.

[2017-05-24 12:58] felipesanches commented on #1365
OK. I can work on packaging a newer release of pyfontaine then. I think a reasonable schedule would be to do so within a couple weeks or so.

[2017-05-24 13:12] davelab6 commented on #1365
For sure installation needs love :)

On May 24, 2017 8:58 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-05-24 13:27] felipesanches commented on #1365
I'll take care of it.

[2017-05-26 17:53] graphicore opened #1367 "clean up dependencies"
We still have "fontbakery-dashboard" dependencies in `requirements.txt` (`python-dateutil`?, `pika`, `rethinkdb`)

`fontTools` is not installed with `pip install git+https://github.com/googlefonts/fontbakery`

So, we should remove all dependencies that are dashboard only.

I'd also like to see only one place for dependencies, which is `setup.py`. `requirements.txt` can be removed. To install from

[2017-05-26 20:30] felipesanches commented on #1367
sounds good :-)

[2017-05-26 20:51] anthrotype commented on #1367
https://caremad.io/posts/2013/07/setup-vs-requirement/

[2017-05-26 20:56] felipesanches commented on #1367
Hey! Thanks, @anthrotype for referencing that article. It seem to be very informative. I'll read it carefully as it seems to address exactly the kind of problems we have to deal here.

Cheers!

[2017-05-30 10:51] #1366 closed

[2017-05-31 15:09] davelab6 opened #1369 "Integrate Render Lizard?"
@graphicore while you are pondering the dashboard, I hope you can take a look at @mcdurdin 's https://github.com/mcdurdin/render-lizard seems nice, a possible candidate for integration with the regression testing thing.

[2017-06-01 09:39] m4rc1e opened #1370 "check-ttf.py: ERROR:root:No family found in GWF in http://fonts.googleapis.com/css?family=<family>"
This error should be a warning instead, otherwise all new fonts won't pass this test.

[2017-06-01 09:43] m4rc1e opened #1371 "check-ttf.py: ERROR:root:METADATA.pb: '%s' is a CamelCased name. To solve this, simply use spaces instead in the font name."
Firstly, '%s' should probably be the family name. Secondly, is this really necessary? this test will fail for families which break this rule, e.g VT323, PT Sans, Amatic SC.

[2017-06-02 02:18] graphicore opened #1372 "Metadata.pb: don't try to open nonexistent fonts"
If I have a directory `/tmp/tmpqXJOLn/`, with the files

[code]

(The contents of `METADATA.pb` are at the bottom of this report.)

But `METADATA.pb` references more files than there are in the directory, I get an error and early exit like this (`stderr`):

[code]

*NOTE* Fontbakery fails to open `RobotoSlab-Light.ttf` but there's only  `RobotoSlab-Thin.ttf`in the directory.

---
## METADATA.pb
[c

[2017-06-02 02:22] felipesanches commented on #1372
oh! I see! Makes sense. I can fix it :-)

[2017-06-02 03:12] #1372 closed

[2017-06-02 04:47] davelab6 commented on #1372
It shouldn't crash, but it should be making VERY LOUD COMPLAINTS.

If I check in a METADATA file and forget to check in a font file that it references, I want FB to tell me very clearly I am doing something extremely unusual and probably very bad.

[2017-06-02 05:04] felipesanches commented on #1372
My commit includes warning messages about that.

Maybe a good way to stress (more loudly) the message could be by creating a new check that errors if any of the METADATA.pb-referenced TTFs are missing.

[2017-06-02 13:01] davelab6 commented on #1372
Yes please:)

On Jun 2, 2017 1:04 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-06-02 13:07] felipesanches opened #1374 "New check: "All TTF references on METADATA.pb are valid ?""
Based on a request initially at issue #1372

Create a new check that errors if any of the METADATA.pb-referenced TTFs are missing.

[2017-06-02 16:23] #1374 closed

[2017-06-05 18:41] davelab6 opened #1376 "Minor suggestion for status bar"
## Observed behaviour

Running FB from the command line, I see a progression indication, but the Progress Bar is missing context of where the end of the bar is. I see:

`........E..E.E.....`

then

`........E..E.E.....WW.E.E..E.................E.W....EEEEEEEE`

and so on, until finally
  `.......E..E.E.....WW.E.E..E.................E.W....EEEEEEEEEEEEEE.E.EEE..IEI.....E.EW......W......S..EW.......

[2017-06-05 20:08] felipesanches commented on #1376
With the current implementation, the check-ttf script has no knowledge of the total number of checks before actually running them, so providing this context, while desirable, it not trivial. I'm not sure if @graphicore new architecture proposal may provide means to compute that total before running the checks, but that would be a good thing to take into consideration. Otherwise, the total number w

[2017-06-05 20:32] davelab6 commented on #1376
I agree; but given the checks are numbered, I'm confused about why fb can not `len()` them

[2017-06-05 21:04] graphicore commented on #1376
Will be totally possible :-)

[2017-06-05 21:07] graphicore commented on #1376
Because `fontbakry-check-ttf.py` calls each checks explicitly. That's why we need a test-runner.

[2017-06-05 21:28] felipesanches commented on #1376
We can't len() them because they're not a list. The checks are currently invoked in a procedural manner, which is at the core of what Lasse is currently addressing.

I'm happy to postpone this until we review and merge Lasse's refactor.

[2017-06-05 22:02] davelab6 commented on #1376
Okay great :)

[2017-06-06 09:37] m4rc1e opened #1378 "pip installing FB does not include all scripts"
Hey folks,

Christoph Koeberlin pointed out that pip installing FB does not include all of the scripts.

![screen shot 2017-06-06 at 10 37 24](https://cloud.githubusercontent.com/assets/7525512/26823073/2a591d32-4aa4-11e7-8170-dcd52f093c9b.png)

There's no fix-fsselection.py etc

[2017-06-06 11:13] graphicore commented on #1378
it must  be mentioned in setup.py. https://github.com/googlefonts/fontbakery/blob/master/setup.py#L66
We should probably write a function that collects all these scripts and registers them, simmilar to https://github.com/googlefonts/fontbakery/blob/master/bin/fontbakery#L9 (maybe we should reuse this, so there's no difference ever)

[2017-06-06 16:29] m4rc1e opened #1379 "check-ttf.py: ERROR More than a single license file found. Please review."
Got this error with this folder structure:
![screen shot 2017-06-06 at 17 27 53](https://user-images.githubusercontent.com/7525512/26840299-95e30b92-4add-11e7-8e54-9ecb60cc1393.png)

I haven't had time to look at the implementation but I reckon its counting other .txt files as license files, possibly the FONTLOG.txt.

[2017-06-09 18:02] davelab6 opened #1380 "TTFs must not have RFNs unless they are on a whitelist."
We must have a test for `Reserved Font Name` in the name table strings, and unless its on a whitelist, we must error, not warn.

[2017-06-13 10:16] m4rc1e opened #1381 "check-ttf.py: check_METADATA_Ensure_all_TTF_references_are_valid implementation error"
Seems an error was introduced in the check added to 1378e2f48a26271ff938666f90780529aae725a1

traceback on all families:
[code]

[2017-06-13 12:13] felipesanches commented on #1381
Hmmm... Try re-installing FontBakery with:

[code]

That should fix the problem for you, I think.

[2017-06-13 13:05] m4rc1e commented on #1381
Thanks, my bad. Closing

[2017-06-13 13:05] #1381 closed

[2017-06-13 18:23] davelab6 opened #1382 "Small UX tweaks"
In https://groups.google.com/d/msg/googlefonts-discuss/x2oRYyP4gMQ/Ests8XivAQAJ @graphicore describes his latest progress with hooking up fontbakery in docker containers on Google Cloud Platform. Over the summer he says there will be,

Rather than doing nothing, and rather than doing more intense UX work, I would just a few small tweaks, while the refactoring is happening :)

- [x] The huge divs u

[2017-06-13 18:34] graphicore commented on #1382
Thanks, I googled for something like this without luck :-)

Yeah, I was caring to get all the info we produce into a usable form, not to make it look nice :-)

[2017-06-14 00:50] davelab6 commented on #1382
All good! This is already good and I know you can make it awesome! :D

[2017-06-14 08:26] graphicore commented on #1382
@davelab6 we should use https://github.com/googlefonts/fontbakery-dashboard for issues.

[2017-06-14 09:28] graphicore commented on #1382
Buttons:

![selection_144](https://user-images.githubusercontent.com/393132/27125351-4e595304-50f4-11e7-9447-e12e53f2ce98.png)

ansi_up:

![selection_145](https://user-images.githubusercontent.com/393132/27125416-754ea360-50f4-11e7-9d78-c5121c71d8b7.png)

[2017-06-14 13:09] davelab6 commented on #1382
Thanks! I mean the buttons on the first page (where you drop the fonts)

On Jun 14, 2017 5:28 AM, "Lasse Fister" <notifications@github.com> wrote:

[2017-06-14 21:32] felipesanches opened #1383 "Migrate dashboard issues to fontbakery-dashboard repo"
As mentioned by @graphicore at #1382 , we should ideally have all dashboard-related issues now hosted at the Fontbakery-dashboard repo (https://github.com/googlefonts/fontbakery-dashboard/issues)

[2017-06-15 02:19] davelab6 opened #1384 "Check for OpenType Features that help languages work"
## Observed behavior

OpenType features we should always have, if a script is supported, are not checked for.

## Expected behavior

The features listed in https://github.com/google/fonts/issues/1038#issuecomment-308521425 (and others) should be checked for :)

## Resources and exact process needed to replicate

GSUB/GPOS parsing required; I guess we need positive examples of fonts with the featur

[2017-06-15 02:22] davelab6 commented on #1378
Sounds good, @felipesanches could you take care of this?

[2017-06-15 02:23] davelab6 commented on #1379
Sounds good, @felipesanches please fix :)

[2017-06-15 02:24] davelab6 commented on #1370
@felipesanches this should be very quick :)

[2017-06-15 09:24] m4rc1e opened #1385 "check-ttf.py: Version string check"
We have a check which produces the following error:
[code]

I don't mind a family being < 1.000. I understand we don't want version number like 1.230001. Can we make the range of this test go from 0.001–9.999?

[2017-06-15 12:21] davelab6 commented on #1385
No. I believe some systems have a problem with majorVersion numbers less than 1. However, I am not able to tell you what exactly the problem is, only that somewhere I heard users complaining about it.

[2017-06-15 12:22] davelab6 commented on #1385
I believe that would be rounded down, to 1.123

[2017-06-15 12:24] graphicore commented on #1385
We need this kind of information attached to the tests. The rules we have are sometimes very obscure :-D

[2017-06-15 13:47] felipesanches commented on #1385
I agree that we must gradually collect and document these descriptions of the rationale behind each of the tests.

[2017-06-16 11:53] graphicore commented on #1382
:joy: Here you go:

![selection_146](https://user-images.githubusercontent.com/393132/27225452-7bf43282-529a-11e7-97bb-60a29ddbe8a0.png)

It's not at a big size, but it is spinning:

![selection_147](https://user-images.githubusercontent.com/393132/27225489-bca69acc-529a-11e7-9065-edacc333af67.png)

And then it's DONE!:

![selection_148](https://user-images.githubusercontent.com/393132/27225544-0d

[2017-06-16 15:49] davelab6 commented on #1382
Love it

On Jun 16, 2017 7:53 AM, "Lasse Fister" <notifications@github.com> wrote:

[2017-06-21 00:16] felipesanches commented on #1384
@alexeiva any suggestions ?

[2017-06-21 00:52] felipesanches commented on #1379
The check only looks for OFL.txt or LICENSE.txt, so there's absolutely no change of it mistakenly interpreting FONTLOG.txt as a license file.

I think that the reason for this bad behaviour is the change introduced at https://github.com/googlefonts/fontbakery/commit/956122dccb949b70204887019b8783838077303c to address the following request from Dave on issue #1270:

[code]

So, it may be finding a

[2017-06-21 00:55] felipesanches commented on #1379
I'm refering to this code snippet:

[code]

[2017-06-21 01:40] felipesanches commented on #1379
By the way... I did not like adding this, back then. Exactly because it can lead to this kind of situation in which the behaviour is not obvious to the user.

We may fix this reverting that change. But then it would be good to have an alternative solution to the case @davelab6 originally wanted to address. That is, to make the check a bit more flexible in order to not fail when evaluating font pro

[2017-06-21 02:03] davelab6 commented on #1379
If found is multiple, warn instead of error

On Jun 20, 2017 9:40 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-06-21 02:10] felipesanches commented on #1379
ok, cool! That sounds reasonable. I'll change it to a warning, then.

[2017-06-21 03:06] felipesanches commented on #1379
@m4rc1e I changed the errors into warnings. But also tried to make the user aware of what the problem is. Can you please verify whether that works better for you or if you'd have any other suggestion?

Otherwise, consider closing the issue whenever you're happy about it.

cheers!

[2017-06-21 23:20] #1298 closed

[2017-06-21 23:21] felipesanches commented on #1298
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:22] felipesanches commented on #1297
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:22] #1297 closed

[2017-06-21 23:23] felipesanches commented on #1289
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:29] felipesanches commented on #1287
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:29] #1287 closed

[2017-06-21 23:31] felipesanches commented on #1286
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:31] #1286 closed

[2017-06-21 23:32] felipesanches commented on #1282
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:32] #1282 closed

[2017-06-21 23:33] felipesanches commented on #1273
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:33] #1273 closed

[2017-06-21 23:34] felipesanches commented on #1267
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:34] #1267 closed

[2017-06-21 23:34] felipesanches commented on #1264
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:34] #1264 closed

[2017-06-21 23:35] felipesanches commented on #1246
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:35] #1246 closed

[2017-06-21 23:37] felipesanches commented on #1241
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:37] #1241 closed

[2017-06-21 23:39] felipesanches commented on #1237
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:39] #1237 closed

[2017-06-21 23:45] felipesanches commented on #1236
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:45] #1236 closed

[2017-06-21 23:47] felipesanches commented on #1235
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:47] #1235 closed

[2017-06-21 23:48] felipesanches commented on #1233
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:48] #1233 closed

[2017-06-21 23:50] felipesanches commented on #1231
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:50] #1231 closed

[2017-06-21 23:52] felipesanches commented on #1230
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:52] #1230 closed

[2017-06-21 23:54] felipesanches commented on #1228
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:54] #1228 closed

[2017-06-21 23:56] felipesanches commented on #1123
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-21 23:56] #1123 closed

[2017-06-22 12:22] #1383 closed

[2017-06-22 12:26] felipesanches commented on #1239
Migrating to fontbakery-dashboard issue tracker per #1383

[2017-06-22 12:26] #1239 closed

[2017-06-23 13:09] davelab6 commented on #1297
How is this a dashboard issue?

On Jun 21, 2017 7:22 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

Migrating to fontbakery-dashboard issue tracker per #1383
<https://github.com/googlefonts/fontbakery/issues/1383>

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/googlefonts/fontbakery/

[2017-06-23 13:09] davelab6 commented on #1298
How is this a dashboard ui issue?

On Jun 21, 2017 7:21 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-06-23 15:05] felipesanches commented on #1298
Not UI indeed. But that's docker setup for the dashboard infrastructure, so not really FB-core.

@graphicore are you OK with tracking these docker-related issues here?

[2017-06-23 15:08] felipesanches commented on #1297
Docker infrastructure is much closer related to FB-dashboard then to FB-core.

[2017-06-23 15:09] graphicore commented on #1298
Sure, needs to be done there.

[2017-06-23 15:36] felipesanches opened #1388 "[new-arch] Port FB checks to Lasse's new proposed architecture"
Me and @graphicore  have just had an awesome 2-hour technical videochat session in which he showcased the new FontBakery infrastructure he designed and implemented. It's pretty great! :-D

Lasse pushed his code into this git branch:
https://github.com/googlefonts/fontbakery/tree/refactor-architecture

And he gave me all the initial guidance on how to port our test-suite into that new framework. I'

[2017-06-23 15:44] felipesanches opened #1389 "ImportError: No module named reporters.terminal"
@graphicore,

After **sudo python setup.py install** on the **refactor-architecture** branch, I get this ImportError when trying to invoke fb-check-gfonts:

[code]

This is possibly an issue with our current setup.py

[2017-06-23 15:51] graphicore commented on #1389
Hmm, I don't know what it is, but this is how I set it up:

[code]

[2017-06-23 16:03] felipesanches commented on #1389
OK. I just did that and now it is missing fonttools...

[code]

[2017-06-23 16:07] graphicore commented on #1389
maybe, in your virtualenv, you also need to do:

[code]

[2017-06-23 16:08] graphicore commented on #1389
(I would try this next) and I remember i complained somewhere ... #1367

[2017-06-23 16:24] felipesanches commented on #1389
Wunderbar !

It works :-) Thanks

[2017-06-23 16:24] #1389 closed

[2017-06-26 14:26] felipesanches opened #1392 "Can we already specify a single check-id to be performed ?"
On the new architecture designed & implemented by @graphicore, can we specify a single check (from a given specification) to be performed? This would be pretty useful for debugging during development.

I would love to be able to do something like:

[code]

And run only the check number 031 from the google fonts specification ("Description strings in the name table must not contain copyright info."

[2017-06-26 14:29] felipesanches commented on #1392
The syntax I suggested above could be something else, of course. (I seems we would need at least a subcommand name in there, for instance)

[2017-06-26 14:33] graphicore commented on #1392
I'll add this.

[2017-06-26 14:36] felipesanches commented on #1392
cool, thanks!

[2017-06-26 14:40] graphicore commented on #1392
Until then, temporarily for now, I suggest you change the spec definition directly to something like this:

[code]

[2017-06-26 14:42] felipesanches commented on #1392
ok, thanks

[2017-06-26 19:44] #1392 closed

[2017-06-27 14:20] davelab6 opened #1397 "Github API script for tracking issue progress"
I need a standalone script that can tell me, for a given time range, how many github issues were opened and closed, and of those closed, how many by pull requests.

This could be simple command line python (or even bash) script to start, although I expect in long future it will be JS to graph results on a webpage direct from the Github API. For now I just need the numbers for management, eg

This

[2017-06-27 14:51] davelab6 opened #1398 "Script to check status of Noto + Early Access"
I'd like to have a script that can help us ensure we reach and don't regress too far from 100% of released Noto fonts (inc. Noto Serif CJK) being available on Early Access

[code]

This is related to #1397 and again could be python or js, as all the data is coming over http

Bonus round will be to automatically create the needed PRs using the Github API ;)

[2017-06-27 15:27] felipesanches opened #1399 "new-architecture: On the cmd-line, which font failed a given check?"
In the screenshot below, I can see that the check 030 failed for all 4 TTF files being checked. But if only one of the TTF files failed, one would have no means to know which of the four was it because all we see are font indexes ranging from 0 to 3. I think that the **with ((u'font', 2),)** portion is not informative enough. Could we print the actual font file path there instead?

![screenshot at

[2017-06-27 17:41] #1399 closed

[2017-06-27 23:09] felipesanches opened #1404 "[new-arch] com.google.fonts/test/003: Should we accept "mailto:" URLs on Description files ?"
![screenshot at 2017-06-27 20 07 44](https://user-images.githubusercontent.com/213676/27613875-6c20ad30-5b74-11e7-947e-956b317a93ce.png)

[2017-06-27 23:18] felipesanches commented on #1404
I think it is likely OK to accept mailto entries. But I'd like to hear your opinion @davelab6

[2017-06-28 02:27] davelab6 commented on #1404
Yes but we need a collection wide level check to list them out, to confirm
they are valid

On Jun 27, 2017 7:18 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-06-28 12:37] m4rc1e commented on #1397
`curl https://api.github.com/repos/google/fonts/issues | more`

Github's api uses [pagination](https://developer.github.com/v3/#pagination). Your approach will only return the last 30 entries. I'm writing it so the script will traverse all the pages it needs.

[2017-06-28 15:23] chrissimpkins opened #1406 "Deprecate fontbakery.appspot.com with redirect"
## Observed behaviour

I tested the four v.2.020 Hack ttf typeface sets (regular, italic, bold, bold italic) on the Appspot application in Chrome 59.0.3071.115 and Firefox 55.0b2 (64-bit) on OS X 10.12.5 and receive test results for all of the sets except the italic set.

The problematic font file is properly detected when DnD on to the browser:

![font_select](https://user-images.githubuserconten

[2017-06-28 23:39] davelab6 commented on #1406
@chrissimpkins the appspot page is stale. @felipesanches can you put up a redirect on that URL to the new one

[2017-06-29 00:02] chrissimpkins commented on #1406
thanks! will wait for latest release and give it another try

[2017-06-29 00:05] davelab6 commented on #1406
Oh, actually https://github.com/googlefonts/fontbakery/commits/master should be good fo ryou

[2017-06-29 00:12] graphicore commented on #1406
current,  but not very mature: http://104.197.213.179/

Feel free to test and report issues here: https://github.com/googlefonts/fontbakery-dashboard/issues

[2017-06-29 00:48] chrissimpkins commented on #1406
Ok, thanks Dave.

👍  thank you!

[2017-06-29 01:01] chrissimpkins commented on #1406
@graphicore the application release in the URL that you linked fixed the issue with our italic build.  The application works great.  I like the stdout and stderr displays on the new page.

![fontbakery](https://user-images.githubusercontent.com/4249591/27666845-a3a10978-5c44-11e7-8481-b7dbc848dc26.png)

Will leave this open for Dave's request to include a URL redirect in https://github.com/googlef

[2017-06-29 01:29] chrissimpkins opened #1409 "OS X command line install error in Homebrew webfonttools cask"
Attempted to install Font Bakery from the command line on OS X 10.12.5 using previously installed Homebrew and the instructions included on the README.

[code]

At the first step of the ots install that includes the tap of the webfonttools cask, I received the following error:

[code]

It sounds like `Formula.sha1` is deprecated and the ruby scripts need to be updated to `Formula.sha256` in:

- `d

[2017-06-29 22:54] felipesanches opened #1411 "[new-arch] merge @register_condition and @condition into a single decorator ?"
Could we replace this with a single **@condition** decorator that does the job of both?
[code]

[2017-06-29 23:23] graphicore commented on #1411
It's possible, but it also hides a lot of the actual action. I'm not sure yet.

Also, we'd need to make sure that the arguments for the two tasks don't clash, which may become a bit fiddly in the long run. Now,  `@register_condition` has an optional `name` as a keyword argument (default is `condition.name`) and `FontBakeryCondition` also has an optional `name` argument (default is `func.__name__`)

[2017-06-30 22:24] felipesanches opened #1413 "[new-arch] A testsuite for the testsuite!"
While porting fontbakery checks to the new architecture (#1388) I dealt with a bunch of crash bugs (introduced by a few silly mistakes by myself during the port). I think it would be wise to write a testsuite for the checks themselves and doing this while implementing the checks can be good.

@graphicore do you have any suggestion on how to approach that?

[2017-06-30 22:31] felipesanches commented on #1413
Here's one example of a check implementation and the code-paths I think a TDD approach should cover:

[code]

We should have one check for each of these fb ok/error calls:
* **Test A:** At the first **fb.error**: validate codepath is reached with a font project that has a license file, but does not have a LICENSE DESCRIPTION properly set in the name table.
* **Test B:** The second **fb.error** sho

[2017-06-30 22:47] felipesanches commented on #1413
One concern that I have is that such a test suite could lead to a very large data folder size if it had one font file for each test case of each FB check. So a smarter strategy would be needed. Or, alternatively, a separate testdata repo should be setup as an optional git submodule.

One smarter strategy could involve using fonttools to craft bad fonts on purpose. But on the other hand we may also

[2017-07-01 02:32] graphicore commented on #1413
I like that, how awesome would it be to have the *"one perfect font"* and then cripple it on purpose to fail specific tests :-D I now, it's sadistic, but hey, we're talking fonts, right?

[2017-07-01 03:05] felipesanches commented on #1413
A-ha!!! I love this concept! Let's do it! :-D

Which family could we use for that purpose ?

[2017-07-01 03:27] davelab6 commented on #1413
Encode is the largest family so far, so I suggest to fork and rename them
to FontbakeryTest. Probably you can also make "one awful font" that has
many things wrong with it to keep down the clutter LOL

On Jun 30, 2017 11:05 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-07-01 04:20] felipesanches commented on #1413
I'd probably stick to "the perfect family" only, because I want to increase trust on FontBakery. Dealing with a very broken family does not sound too reliable.

PS: Go rest and enjoy your vacations, dude! ;-)

[2017-07-01 10:14] graphicore commented on #1413
Hmm, Encode is huge but it lacks a monospaced cut. Maybe we need to use different sources to make it complete. We can still unite them as FontbakeryTest. But hey, if that's going to be the one perfect family, how do we keep people from using it :smiling_imp:

[2017-07-01 15:40] felipesanches commented on #1413
well... If we're going to put an effort to get a perfect family, I think it would be great to set it up as an actual real world example that people can use. So the strategy I have in mind would involve:

* selecting the top ten or so high-scoring families based on that fontbakery dashboard frontpage that lists all scores.
* from those ten or so we gotta select one (or 2) which **(a)** is very popu

[2017-07-01 15:42] felipesanches commented on #1413
With a bonus-point if the family has all of the 18 possible styles.

[2017-07-01 17:01] chrissimpkins commented on #1406
@davelab6 Is the `master` version of v0.2.0 current with reported documentation on README?  (Re-)Installed with pip from FontBakery Github repo (Ubuntu Linux 16.04.2) after identifying the following problem with:

`pip install --upgrade git+https://github.com/googlefonts/fontbakery.git`

Here is what I am seeing:

![fontbakery_error](https://user-images.githubusercontent.com/4249591/27763971-655a0

[2017-07-01 19:18] davelab6 commented on #1406
Felipe, could you check on this? I thought you and Lasse we're working on a
branch and master would remain usable/stable , close to the 0.2.0 release...

On Jul 1, 2017 1:01 PM, "Chris Simpkins" <notifications@github.com> wrote:

[2017-07-03 22:17] felipesanches opened #1414 "use argparse on the list-variable-source script and remove hardcoded directory"
@m4rc1e We need to use argparse on bin/fontbakery-list-variable-source.py and pass the following hardcoded directory as a command line argument:

[code]

[2017-07-04 00:00] felipesanches commented on #146
I tried uploading a new release (Fontbakery v0.2.1 today in order to address issues related to https://github.com/googlefonts/fontbakery/issues/1406#issuecomment-312443470)

This command did not work today because the legagy pypi API was just deprecated (exactly today, July 3rd, what a coincidence!). So I ended up uploading the new release using twine this way:

[code]

https://pypi.python.org/pyp

[2017-07-04 00:03] felipesanches commented on #1406
@chrissimpkins I have just released fontbakery v0.2.1 with a fixed setup.py script including the script that was missing in the previous release. Can you try installing again and tell me if that works for you?

https://pypi.python.org/pypi/fontbakery/0.2.1

[2017-07-04 01:03] chrissimpkins commented on #1406
Can confirm that I installed v0.2.1 from PyPI with `pip install --upgrade fonttools`, that the help menu is expanded with the subcommands that are included on the README file, and that fix-dsig, fix-nonhinting (only autofixes that I have tried so far...) both appear to execute without any issues.  Thanks Felipe!!

[2017-07-04 14:53] felipesanches opened #1416 "Add check-font-version.py usage to README.md"
One thing I forgot to mention while reviewing https://github.com/googlefonts/fontbakery/pull/1415 was that we should always update README.md with usage instructions whenever we add new scripts (or when we add/remove/modify the arguments list)

Can you do that for  check-font-version.py , @m4rc1e  ?

[2017-07-04 15:10] m4rc1e commented on #1416
Good incentive. I will add them from now on.

Apologies for forgetting this in past prs.

[2017-07-04 15:12] #1416 closed

[2017-07-04 15:13] felipesanches commented on #1416
:-)

[2017-07-04 15:13] felipesanches commented on #1414
This looks similar to #1416

[2017-07-04 15:14] felipesanches commented on #1414
I actually stumbled upon this one when I was updating README.md with usage instructions and noticed that it even lacks argparse.

[2017-07-04 15:35] m4rc1e commented on #1398
Closing.

Implemented in #1415

[2017-07-04 15:35] #1398 closed

[2017-07-05 15:24] davelab6 commented on #1416
Felipe, could you add a simple unit test to grep readme for each script's
filename, such that we always get a simple reminder about this on each pr
that adds a new script? :)

On Jul 4, 2017 11:13 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-07-05 15:24] davelab6 commented on #1406
Thanks Felipe!!

On Jul 3, 2017 9:03 PM, "Chris Simpkins" <notifications@github.com> wrote:

[2017-07-06 21:59] felipesanches opened #1420 "[new-arch] ttfautohint availability check should be split out of check 054"
@graphicore said at https://github.com/googlefonts/fontbakery/pull/1419:

[2017-07-06 22:02] felipesanches opened #1421 "[new-arch] avoid try/catch on ttfautohint_stats condition implementation"
@graphicore suggested at https://github.com/googlefonts/fontbakery/pull/1419/files/f706952d2c7c5cd74d5d2249e17757927a5dc3e7#r125860799 that it can be better (more informative) to let a condition crash instead of using a too broad try/catch block around it.

He was refering to the ttfautohint_stats condition, but we may have this as a general rule for all conditions (not to use too broad try/catch

[2017-07-06 22:04] felipesanches opened #1422 "[new-arch] How to specify explicit skip messages due to unmet conditions ?"
See: https://github.com/googlefonts/fontbakery/pull/1419/files/f706952d2c7c5cd74d5d2249e17757927a5dc3e7#r126024754

There I said:

Let's continue this discussion here.

[2017-07-08 00:19] felipesanches opened #1424 "[new-arch] Progressbar misbehaves when too long"
@graphicore If you run fontbakery on a family with enough fonts that can cause the number of checks to exceed a single-line progressbar, then the whole output is messed up by the gradual redrawing of the progressbar.

Please try to see the output of:

[code]

It is ugly during execution and the end-result is unreadable because the actual log result messages are chopped in the terminal buffer by sn

[2017-07-09 15:06] felipesanches commented on #1378
I reviewed and fixed this earlier this week and released FontBakery v0.2.1 on pypi. See https://github.com/googlefonts/fontbakery/issues/1406#issuecomment-312751979

[2017-07-09 15:06] #1378 closed

[2017-07-09 15:08] felipesanches commented on #1379
Alternatively... reopen if unhappy ;-)

[2017-07-09 15:08] #1379 closed

[2017-07-09 17:22] davelab6 commented on #1378
Please automate the process so we don't regress on this

On Jul 9, 2017 11:06 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-07-11 16:28] graphicore commented on #1422
yes, everything that is falsy in python is also falsy as a condition.

e.g.:

[code]

I don't understand, how do we implicitly skip? We have output like this for a test skipped because of unmet conditions:

[code]

We could easily print the `description` of the condition if available, the decorator is able to take one:

[code]
(BTW, that one would be nice to have a doc-string as well, I didn't und

[2017-07-11 16:31] graphicore commented on #1424
I'll look into this soon. Thanks for reporting.

[2017-07-11 16:34] graphicore commented on #1421
I'll actually try this and see how the runner behaves if we let exceptions in conditions pass, but I'm pretty sure I thought about this already.

[2017-07-11 23:59] graphicore opened #1428 "xAvgCharWidth: different calculation in common tools. Revisiting rounding issues."
## Observed behaviour

Fontbakery *occasionally* expects a different value than ufo2ft (used by fontmake) produces.

## Expected behaviour

Both implementations should use the same method and produce the same values for `xAvgCharWidth`, as this is our common tool chain;

## Resources and exact process needed to replicate

`xAvgCharWidth` is found in many closed issues [by searc](https://github.com

[2017-07-12 00:17] felipesanches commented on #1428
Thanks, @graphicore ! That's insightful. But how would we decide which should be correct? Unless we have stronger evidence for a normative definition of the correct calculation, I think we may have to resort to arbitrarily choosing one. And in that case I'd choose the most commonly seen "in the wild". Which seems to be the fontmake way.

[2017-07-12 00:29] graphicore commented on #1428
Thanks Felipe, I also just ran a test and can confirm that the positioning of our `round` in

[code]

produces different results to

[code]

which is why we have to change anything anyways.

[2017-07-12 00:34] graphicore commented on #1428
I agree. Though, we can't observe the closed source code, like GlyphsApp, just its behavior.

I think that, without the `division` module, this would be my choice:

[code]

[2017-07-12 00:59] davelab6 commented on #1428
Do you both agree the ot spec is ambiguous on how to implement this aspect
of it?

On Jul 11, 2017 8:29 PM, "Lasse Fister" <notifications@github.com> wrote:

[2017-07-12 00:59] davelab6 commented on #1428
Do you both agree the ot spec is ambiguous on how to implement this aspect
of it?

On Jul 11, 2017 8:29 PM, "Lasse Fister" <notifications@github.com> wrote:

Thanks Felipe, I also just ran a test and can confirm that the positioning
of our round in

 int(round(width_sum) / count)

produces different results to

 int(float(width_sum) / count)

which is why we have to change anything anyways.

—
You

[2017-07-12 01:05] felipesanches commented on #1428
Yes, I agree that the spec is not fully clear on the correct method for computing it.

[2017-07-12 01:05] graphicore commented on #1428
Hmm, well it could be more specific on how to produce the int from the division, but I'd expect a floating point divison from the term **arithmetic average**. I'd also expect rounding to get to the integer value, but it could also be the other thing, so yes that's ambiguous and that gist that mentions integer divison doesn't make it better.

[2017-07-12 02:00] kenlunde commented on #1428
[Apple](https://developer.apple.com/fonts/TrueType-Reference-Manual/RM06/Chap6OS2.html): _average weighted advance width of lower case letters and space_.

Another question that has not yet been asked is about the practical usefulness of this particular value.

[2017-07-12 02:24] schriftgestalt commented on #1428
Glyphs does not compute the value itself but uses makeOTF this:
[code]
I extracted the relevant bits, the full code is at `FDK/Tools/Programs/makeotf/makeotf_lib/source/hotconv/hot.c:867`

[2017-07-12 02:25] graphicore commented on #1428
Right, though that quote is from [version 2](https://www.microsoft.com/typography/otspec/os2ver2.htm#acw) of OS/2  [version 3](https://www.microsoft.com/typography/otspec/os2ver3.htm#acw) says:

Which is *much* more useful :rofl:

[2017-07-12 02:41] graphicore commented on #1428
Thanks @schriftgestalt!

So makeOTF is in the integer division camp (unless I get this wrong).

A use of this value could be to detect (sometimes) if makeOTF or fontmake was used to compile the font :wink:

[2017-07-12 04:02] HinTak commented on #1428
How Microsoft calculates it is somewhere in the file `OTFontFileVal/val_OS2.cs` of Font Validator.

Note I am just the messager - I'd prefer not to engage in this discussion.

[2017-07-12 11:32] graphicore opened #1430 "[new-arch] Better reporting for Microsoft Font Validator"
Our current [old-arch] output for MFV is not useful:

[code]
But the generated report xml file from `Complete: fonts/LibreBarcode39-Regular.ttf.report.xml` has the info we want! A longer document is posted at the bottom of this page.

It seems the `ErrorType`s map nicely to our `STATUS` types. so it would be easy to just read the file and yield all `<Report>` elements mapped to our statuses.

To m

[2017-07-12 11:52] felipesanches commented on #1430
The new-arch port already deals with that:

[code]

[2017-07-12 11:55] graphicore commented on #1430
Awesome! I didn't notice :-) I'll look at it later.

[2017-07-12 11:58] felipesanches commented on #1430
![screenshot at 2017-07-12 08 57 55](https://user-images.githubusercontent.com/213676/28116626-3daba802-66e0-11e7-8bb3-e61c3e04ef34.png)

[2017-07-12 12:05] graphicore commented on #1430
One comment right away:

[code]

should be a set, because that doesn't need a linear search, it's elements should be tuples (of strings), because they are hashable and immutable by default.

[code]

Personally I prefer this style:

[code]

[2017-07-12 20:55] felipesanches commented on #1413
@graphicore While I'm working on porting the remaining checks, would you be able to allocate some of your time to help me bootstrap the code infrastructure for running a testsuite on our testsuite ?

[2017-07-12 22:43] graphicore commented on #1413
So what are the goto unittest frameworks? I could already live with the unittest module, but maybe there's something better. Suggestions?

[2017-07-12 23:09] graphicore commented on #1428
[got it](https://github.com/Microsoft/Font-Validator/blob/cd1ee1a575c256a1b9497e5e84848650c6e4226f/OTFontFileVal/val_OS2.cs#L124)

relevant bits:

[code]
Same as makeOTF.

Maybe, for our purpose, we could create multiple values for the known implementations and just check if we find one of these in the font.
And the day which one is the "correct" way, we warn or info instead of fail for known but

[2017-07-13 02:31] davelab6 commented on #1428
Perfect

On Jul 12, 2017 7:09 PM, "Lasse Fister" <notifications@github.com> wrote:

[2017-07-13 02:31] davelab6 commented on #1413
Nose?

On Jul 12, 2017 6:43 PM, "Lasse Fister" <notifications@github.com> wrote:

[2017-07-13 04:48] HinTak commented on #1430
You seems to be running upstream or somewhat old version. The unimplemented dsig message should not be seen since perhaps 18 months ago...

[2017-07-13 07:57] graphicore commented on #1430
Good news! And very attentive, thanks!

I fetched it from here: git@github.com:Microsoft/Font-Validator.git seemed genuine ;-)

My version is indeed cd1ee1a575 from Tue Dec 1 11:32:38 2015.

I guess the real deal is here: https://github.com/HinTak/Font-Validator heh?

[2017-07-13 08:03] m4rc1e commented on #1413
@graphicore in #1400 I used the standard unittest frame work with nose. PR is still open though (I'm working on it)

[2017-07-13 09:10] graphicore commented on #1413
awesome, I'll look into it!

[2017-07-13 23:11] HinTak commented on #1430
I can't speak for Microsoft :-). Only thing I can say is that more interesting things are happening in my fork. v2.1 is due in a few weeks' time.

[2017-07-14 00:35] davelab6 commented on #494
Basically we need to check names are not already used, and today the best place to check that is https://namecheck.fontdata.com

[2017-07-14 00:53] davelab6 commented on #1430
lol @ 'genuine' and 'real deal' versions... I would love to see Hin-Tak's
fork go upstream but such is life

[2017-07-14 06:17] HinTak commented on #1430
It looks like Aaron has 'moved on to better pasture' and upstream is a no-man's land at the moment, and/or the foreseeable future.

[2017-07-14 13:47] HinTak commented on #1430
Besides the dsig thing, the OS/2 version support was bumped up to v5 from v3, again more than a year ago, so the entire OS/2 section above is revised and probably will pass now... another reason to switch :-) .

[2017-07-14 13:51] HinTak commented on #1335
Why is writing a test via freetype a bit hardcore? This is included in the upcoming FontVal 2.1, and been sitting in my hard disc for a while... In fact I think it was added to 2.0 + quite a long time ago...

[2017-07-14 13:59] alexeiva commented on #1384
A sample of `locl` can be tested on [Yanone Kaffesatz](https://github.com/alexeiva/yanone-kaffeesatz), [Vollkorn](https://github.com/FAlthausen/Vollkorn-Typeface)

Try switching the locale between Russian, Bulgarian, and Serbian using `бульдог` as a test string.

The `locl` feature works in Chrome(left) but not in Safari(right) as tested on http://www.cyreal.org/Font-Testing-Page/index-cyrillic.ph

[2017-07-14 14:00] HinTak commented on #1335
I am away my computer at the moment, but it is actually already documented in public in the python interface error codes - https://github.com/HinTak/freetype-py/blob/fontval-diag/freetype/ft_enums/fv_diag.py - see line 128 - 131, error code E6070, and E6071:

[code]

[2017-07-14 14:07] graphicore commented on #1430
I already had enough! :-D Tanks a lot!

[2017-07-17 11:43] graphicore opened #1436 "FULL_FONT_NAME false positive when style map style name is "regular""
## Observed behaviour

I got this error, please ignore the space issue between  `Barcode` and `39` this is about the expected **`Regular`** word.

* ERROR: [FULL_FONT_NAME(4):WINDOWS(3)] entry: expected 'Libre Barcode39 Regular' but got 'Libre Barcode 39'

## Expected behaviour

## Resources and exact process needed to replicate

ufo2ft is responsible for this, so I looked into the source code ove

[2017-07-17 11:52] graphicore commented on #1430
Allright, I updated the MS Fontvalidator on my machine, it's looking good. Though. I'm still getting an error for that fake `dsig` table that we use by default:

[code]

Anyways, I love the new *html" reports, works very well here :-)

[2017-07-17 12:39] davelab6 commented on #1436
Maybe we should only warn in this case. Marc?

On Jul 17, 2017 7:43 AM, "Lasse Fister" <notifications@github.com> wrote:

[2017-07-17 14:02] HinTak commented on #1430
Well, that's what it says, I'd say your fake dsig table is broken... there should also be a command-line tool called DSIGInfo, which takes one or more "-v" 's and may give you more info. Anyway, the bulk of the DSIG related code is in https://github.com/HinTak/Font-Validator/blob/master/DSIGInfo/DSIGInfo.cs , and please free to play with it and see which part of your dsig table it does not like :)

[2017-07-17 14:06] graphicore opened #1437 "[fontbakery fix-dsig] fake dsig table is broken."
## Observed behaviour

Microsoft FontValidator:

first reported in https://github.com/googlefonts/fontbakery/issues/1430#issuecomment-315734410

With a response of @HinTak:

## Expected behaviour

A none broken fake DSIG table created by `fontbakery fix-dsig`

[2017-07-17 14:12] HinTak commented on #1430
The rest of the dsig code is in:
https://github.com/HinTak/Font-Validator/blob/master/OTFontFileVal/val_DSIG.cs
which wraps around the other file. Your file seems to have fallen into the block around line 119 to 123, which is the catch-all "shit happens" clause that your dsig table is doing something entirely unexpected...

[2017-07-17 14:13] graphicore commented on #1430
Thanks a lot @HinTak ! I filed #1437 to track this.

[2017-07-17 14:14] graphicore commented on #1437
https://github.com/googlefonts/fontbakery/issues/1430#issuecomment-315767549:

https://github.com/HinTak/Font-Validator/blob/master/OTFontFileVal/val_DSIG.cs
which wraps around the other file. Your file seems to have fallen into the block around line 119 to 123, which is the catch-all "shit happens" clause that your dsig table is doing something entirely unexpected...

[2017-07-17 14:46] graphicore commented on #1437
Looks like our implementation goes back to this typedrawers post by Ben Kiel http://typedrawers.com/discussion/comment/9651/#Comment_9651

getting this ttx dump:

[code]

[2017-07-17 15:51] HinTak commented on #1437
I think for an dummy dsig table, you want numSigs=0, not 1, at least!

[2017-07-17 17:56] HinTak commented on #1437
If you want a dummy but valid NumSigs = 0 example, the amiri-*.ttf from http://www.amirifont.org (I am just looking at the Fedora shipped version of those fonts and where they are from according to the rpm database) do it correctly. They are not the only one - I am just looking at all the fonts with a DSIG table on fedora, as I did test the code with all such in fedora 24(?) over a year ago, and r

[2017-07-18 12:48] graphicore commented on #1437
To create this `DSIG` table the fontTools code looks like this:

[code]

And I can confirm that it passes `FontValidator.exe`. Though, I don't know about compatibility with i.e. directwrite or what else is looking at `DSIG`. I remember though that @carrois mentioned at TypoLabs 2017 that his DSIGs are just empty. Checking [FiraSans-Regular.ttf](https://github.com/carrois/Fira/blob/master/Fira_Sans

[2017-07-18 23:53] felipesanches commented on #1424
This is better, but I still see some glitches from time to time. But the output does not get corrupted and the glitches I see are really minimal, so they are not a major concern anymore. I think I'm ok to close this issue now. Feel free to reopen the issue if you think the minor aesthetical problem is unbearable.

[2017-07-18 23:53] #1424 closed

[2017-07-19 11:53] graphicore commented on #1424
The glitches are because the TTY is not updating fast enough. I added some controls to throttle the output one time based, one input count based. But, it's not straight forward to print asynchronously in python, so we're always waiting for something that wants to print to then decide whether to flush the logs or not. Thus, to much can't be done with the throttles, because it often means we're wait

[2017-07-19 11:54] graphicore commented on #1424
The output corruption and the glitches are different things as well.

[2017-07-19 12:21] felipesanches commented on #1424
thanks for the clarification!

[2017-07-19 17:33] graphicore commented on #1413
I looked a bit around in the python testing world: Since we're on python 2.7.something we're using
`unittest2` by default as `unittest` (`unittest2` is a `unittest` backport for python 2.4-2.6).

[`nose`](https://nose.readthedocs.io/en/latest/) is not actively maintained, we shouldn't use it:

instead [`nose2`](https://github.com/nose-devs/nose2) or [`pytest`](https://docs.pytest.org/en/latest/) o

[2017-07-19 17:37] graphicore commented on #1437
Has anyone strong feelings about this or can I prepare an updated `fontbakery-fix-dsig.py`?

CC: @davelab6 @m4rc1e @felipesanches

[2017-07-20 11:32] m4rc1e opened #1440 "pifont.py: keep it or lose it?"
I'm converting #1387 so it will be usable on the new architecture but I face a conundrum.

We have a module called [pifont.py](https://github.com/googlefonts/fontbakery/blob/refactor-architecture/Lib/fontbakery/pifont.py), this seems to be an adapter that will unify all the different font interfaces ttFont, sfd, ufo etc. On paper this sounds like a noble mission. However, in order to make this wor

[2017-07-20 11:55] davelab6 opened #1441 "fastlane ideas"
https://krausefx.com/blog/scaling-open-source-communities describes some interesting ideas

- [ ] include github issue search results when we crash
- [ ] set up a gh issue bot to check for the right info being included

[2017-07-20 12:34] graphicore commented on #1440
I'm in favor of losing it, as you say it's a **lot** of work to make this really useful. It's more like a project of it's own, similar to robofab.

[2017-07-20 14:02] felipesanches commented on #1440
I agree. Ditch it.

I'd prefer to have single-use short routines kept inline in the checks themselves, while using fb.utils for routines shared throughout multiple checks. The rationale here is that making single-use code explicit helps to better convey the semantics of the check to the code-readers.

If it becomes too cumbersome to keep larger single-use routines inline, then move them to fb.util

[2017-07-20 14:02] HinTak commented on #1335
The bulk of FontVal 2.1 (which contains the diagnostics for this) will be pushed out today. Finished testing on all the 3200+ fonts on fedora 26 a few days ago, found and fixed a few last minute issues.

[2017-07-20 15:00] m4rc1e commented on #1440
Awesome, I'll get to it

[2017-07-20 15:16] m4rc1e commented on #1440
Okay, so the only place where pifont is still used in the refactor branch is for these [two functions](https://github.com/googlefonts/fontbakery/blob/refactor-architecture/Lib/fontbakery/checks.py#L49-L87) in checks.py. I'm also guessing they are going to be ported soon?

[code]

I see the checks.py module is getting smaller so I'm guessing it will soon be defunct since the functionality is being

[2017-07-20 15:24] felipesanches commented on #1440
yes, I'll port these very soon (probably today) and checks.py will be gone.

I don't remember exactly when these checks were originally implemented, sorry.

[2017-07-20 15:33] m4rc1e commented on #1440
@felipesanches thanks! I'll wait for you to get this done before I take the hammer to this.

[2017-07-20 23:53] davelab6 opened #1443 "Urgent: name and cmap table tools to remove mac platform data"
- [ ] https://github.com/googlefonts/fontbakery/blob/master/bin/fontbakery-update-nameids.py is cool but we've lost some functionality in the last ~12 months that I now need back again :)

From time to time, I need to remove from name tables all the nameIDs with "platformID=0 platEncID=3" - which can be removed in certain cases, but I want to have in the general case, because they are needed for s

[2017-07-21 01:12] davelab6 commented on #1440
Nice work

On Jul 20, 2017 11:33 AM, "Marc Foley" <notifications@github.com> wrote:

[2017-07-21 08:02] m4rc1e commented on #1443
I'll get to it, I'll put my other stuff on hold.

[2017-07-21 14:39] davelab6 opened #1447 "bin/fontbakery-family-html-snippet.py Improvements"
bin/fontbakery-family-html-snippet.py can be improved in a few ways.

Script:

- [ ] Add an arg to post to jsbin using https://jsbin.com/help/api

HTML:

- [ ] Add an input for testing with various subsets; allow free text entry since there are undocumented subsets that shouldn't be exposed in the code but can be entered
- [ ] Add a toggle for staging servers

I took a quick pass at this this morn

[2017-07-23 21:12] HinTak commented on #1430
I have tagged the 2.1 Release though I cannot gpg sign the tag or build any binaries, until further notice. Computer broke soon after I finished testing on all the fedora 26 shipped fonts.

[2017-07-23 21:19] HinTak commented on #1335
I have tagged the 2.1 Release though I cannot gpg sign the tag or build any binaries, until further notice. Computer broke soon after I finished testing on all the fedora 26 shipped fonts.

All three of the bundled / pushed backends ( win32/win64/mac os) are equipped to detect this. You are welcomed to use the C python freetype-py wrapper with it also, though I don't use it lately. I used a ironpy

[2017-07-24 12:39] #1411 closed

[2017-07-24 12:44] felipesanches commented on #1440
I ended up keeping PiFont there when I ported the few checks that use it. We may still get rid of it, of course. Or we can simply avoid working on it unnecessarily. I kind of get the usefulness of it as a façade to different font project formats. We could at least rename the class to FontProject or something...

[2017-07-24 14:53] davelab6 commented on #664
Apropos the discussion this morning about finding references/sources/citations for out tests, here's a good source for the glyph naming stuff: https://github.com/silnrsi/FDBP/commit/332db981cf81f0d710865149fc8196a82fd22756

[2017-07-24 14:58] felipesanches commented on #1440
After our video-call this morning we have decided that these upstream checks are not much useful and that we will deprecate them which, as a result, solves the PiFont conundrum as well.

[2017-07-24 15:28] #1440 closed

[2017-07-24 22:03] davelab6 commented on #1388
Amazing to see all the commits that went into this :D

[2017-07-24 22:03] #1388 closed

[2017-07-24 22:05] davelab6 commented on #1440
Good call

[2017-07-24 22:19] davelab6 commented on #1428
I think the next action on this is for @felipesanches  to port https://github.com/googlefonts/fontbakery/pull/1429 to the new architecture

[2017-07-24 22:25] #1382 closed

[2017-07-24 22:30] davelab6 commented on #1162
@m4rc1e could you explain what you think fontbakery should do here? I understand your email above describes taking action on the upstream source `.glyphs` file... is the action for FB to run the check on the binaries and, if they need fixing, log an error, with a suggestion to use your script?

[2017-07-24 23:18] davelab6 commented on #838
@graphicore @felipesanches @m4rc1e do any of you want to keep open or close this issue?

Behdad makes a compelling case that we can forget this, if you all agree :)

[2017-07-24 23:18] davelab6 commented on #1376
@felipesanches I guess this can be closed as the rewrite implements a fancy new status bar

[2017-07-24 23:29] felipesanches commented on #146
That's good enough for now, yes. But keep the issue open, please.

[2017-07-24 23:30] felipesanches commented on #838
yes, we can forget it!

[2017-07-24 23:30] #838 closed

[2017-07-24 23:30] felipesanches commented on #1376
Yep! :-D

[2017-07-24 23:30] #1376 closed

[2017-07-25 00:05] davelab6 commented on #1232
I pinged Nyshadh about this again; hopefully will be possible soon :)

[2017-07-25 00:06] davelab6 commented on #1166
@graphicore does the new version prevent this from happening, do you think? :)

[2017-07-25 00:07] davelab6 commented on #1060
@graphicore is this still working in the rewrite?

[2017-07-25 00:09] davelab6 commented on #1370
@felipesanches is this done in the rewrite?

[2017-07-25 00:10] davelab6 commented on #1422
@felipesanches can this be closed?

[2017-07-25 00:11] davelab6 commented on #1385
@m4rc1e I believe this can be closed as I answered your question.

[2017-07-25 00:11] #1385 closed

[2017-07-25 00:15] davelab6 commented on #1409
@chrissimpkins sorry my delay on this; I guess I said to tap me because I was ahead of Bram, but now his https://github.com/bramstein/homebrew-webfonttools is ahead of me, so use that and all should be well :)

[2017-07-25 00:16] #1409 closed

[2017-07-25 00:21] felipesanches commented on #1232
thanks

[2017-07-25 00:22] felipesanches commented on #1166
The new architecture does not allow a test crash to bring the whole system down. They may still happen, but they're now all isolated and won't prevent the execution of the rest of the testsuite.

[2017-07-25 00:23] #1166 closed

[2017-07-25 00:23] davelab6 commented on #1166
Winner

[2017-07-25 00:24] davelab6 commented on #146
I guess for now you could add info about how to make a release to README?

[2017-07-25 00:28] felipesanches commented on #1370
Done!

[2017-07-25 00:28] #1370 closed

[2017-07-25 00:30] felipesanches commented on #1422
yes!

[2017-07-25 00:30] #1422 closed

[2017-07-25 00:49] chrissimpkins commented on #1409
@davelab6 no worries Dave!  Will give it a try.  This was based upon instructions on the README and it appears that it is updated now.  Appreciate your help.

[2017-07-25 00:54] graphicore commented on #1166
Also, if something crashes a test run, it's a bug and we fix it. In the end these cases should all have an `ERROR` status, which means something needs to be fixed in the test implementation.

[2017-07-25 02:42] davelab6 commented on #971
@m4rc1e do you think this should be closed?

[2017-07-25 08:11] m4rc1e opened #1454 "UIs for fix/check scripts"
Thought of this yesterday whilst helping a 3rd party use our tools.

Since we've already started modularising the different scripts, we should have them web based imo.

Aim should be to drag n drop a collection of fonts, run any sequence of scripts, then download the modified fonts. A log file should be included so the steps are repeatable.

[2017-07-25 12:14] graphicore commented on #1454
Since it's web based, is this rather a feature request for https://github.com/googlefonts/fontbakery-dashboard?

[2017-07-25 12:25] felipesanches commented on #1454
I agree with @graphicore that this would be a good fit for the Fontbakery-Dashboard repo.

[2017-07-25 13:19] m4rc1e commented on #1454
Good points folks, I'll port this issue over

[2017-07-25 13:19] #1454 closed

[2017-07-25 13:27] graphicore opened #1457 "[checkrunner] Add user input value validation to specifications."
I found these TODOs in my Code somewhere. It's not incredible important but it may be nice to have.

The idea is that via the `values` argument of `CheckRunner` the external arguments (like paths to fontfiles) to run the checks are brought into the environment.

Since the spec uses these values and thus *implicitly* knows what they should be, it would be the right place to define validation/sanity

[2017-07-25 14:25] graphicore commented on #1437
I was just cleaning up my `git stash` and found this lying around. Before we merge, in the issue @HinTak writes:

So, what are these applications that need a (dummy) DSIG to be present and who can test this?

[2017-07-25 15:16] #1437 closed

[2017-07-25 15:20] davelab6 commented on #650
@felipesanches I'm assigning to you and clarifying this can be a TTF/OTF check

[2017-07-25 15:22] davelab6 commented on #183
@felipesanches do we have this in the TTF checker?

[2017-07-25 15:22] davelab6 commented on #1215
@m4rc1e To which milestone does this belong? Is it completed?

[2017-07-25 15:23] davelab6 commented on #700
@felipesanches can this be closed?

[2017-07-25 15:23] davelab6 commented on #555
@m4rc1e please schedule a 1/2 day next month to investigate this

[2017-07-25 16:36] felipesanches commented on #700
yes. These were UFO source file tests we had here:
https://github.com/googlefonts/fontbakery/blob/bde6a9a13da475dab7fd1ffccd33964fb6d3436c/bakery_lint/fonttests/test_ufo.py

[2017-07-25 16:36] #700 closed

[2017-07-25 19:58] felipesanches commented on #1380
We do have an RFN test for the copyright field of METADATA.pb at com.google.fonts/test/103

[code]

But we do not have one for the name table strings. So I'll create one now!

[2017-07-25 20:44] felipesanches commented on #1380
Done!

New test:
**com.google.fonts/test/152**
'''Name table strings must not contain 'Reserved Font Name'.'''

[2017-07-25 20:46] felipesanches opened #1461 "Review fontbakery ERRORs on Travis"
While working on #1380 I noticed that there are a few ERRORS in our Travis build. The build does not fail because the crashes are isolated.

I'll track those here, except the ones related to missing dependencies on travis like mono/ots/etc (which we can track with another issue)

[2017-07-25 20:47] felipesanches commented on #1461
Here's a reference of the current Travis output:
https://travis-ci.org/googlefonts/fontbakery/builds/257470255

[2017-07-25 20:51] felipesanches commented on #1461
Worth mentioning here that on FontBakery a **FAIL** result means a test did not pass the criteria while an **ERROR** result means it actually crashed.

[2017-07-25 22:54] #21 closed

[2017-07-25 22:54] #238 closed

[2017-07-25 22:54] #651 closed

[2017-07-25 22:54] #1311 closed

[2017-07-25 22:54] #1332 closed

[2017-07-25 22:54] #1369 closed

[2017-07-25 23:04] davelab6 commented on #719
@felipesanches will you be able to do this in August?

[2017-07-25 23:06] davelab6 commented on #342
Do we check upstream repos?

[2017-07-25 23:07] #245 closed

[2017-07-25 23:10] #277 closed

[2017-07-25 23:10] #276 closed

[2017-07-25 23:10] #322 closed

[2017-07-25 23:12] #1443 closed

[2017-07-25 23:13] davelab6 commented on #1443
@m4rc1e thanks again for this and thanks to @felipesanches for reviewing :)

[2017-07-26 03:08] graphicore commented on #1413
There are two examples in the PR #1463  `test_id_029_shorter` is the preferred one, for the case felipe asked for. Of course, each test could be split into more individual functions, I rather mean the style of importing and calling the test function directly.

The two helper functions are rather quick and dirty, but it triggers all three cases of the test, if all assertions pass.

[2017-07-26 15:31] felipesanches commented on #719
I'm not really much worried about doing this at all...

[2017-07-26 15:31] #719 closed

[2017-07-26 15:32] felipesanches commented on #342
we don't

[2017-07-26 16:40] davelab6 commented on #342
I'm reopening as this is on the roadmap... v2.0.0 is a fine milestone for it

[2017-07-26 16:40] davelab6 commented on #719
Cool :)

On Jul 26, 2017 11:31 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-07-26 17:13] felipesanches commented on #342
cool, thanks!

[2017-07-26 21:24] felipesanches commented on #1461
ok, I did cleanup the Travis build and now started implementing pytest-based tests for each of the fontbakery tests. As this task is already tracked by #1413, I'll close this one.

[2017-07-26 21:24] #1461 closed

[2017-07-26 22:15] davelab6 opened #1466 "New script: which characters in a TTF are not in any GF `.nam` subset?"
Please provide a script to tell us which characters in a TTF are not in any GF `.nam` subset.

[2017-07-26 22:38] davelab6 opened #1467 "Full name check is reliable?"
@m4rc1e Given that https://github.com/mozilla/zilla-slab/issues/15 happened I guess that the FB name table 'full name' check may not be reliable... Please investigate :)

[2017-07-26 22:49] graphicore commented on #1466
For this kind of task it would be **really** great to have the fonts/tools directory as a stand alone module. Because what you are asking for creates a dependency to the fonts repository and every other workaround is a bit of a hack.

Should I file this as an request issue in https://github.com/google/fonts? I'm sure there are some other stakeholders with an opinion and I think it should be tackle

[2017-07-26 23:00] graphicore commented on #1466
When I say module, I also really think it should be a stand alone github repository. Everything that needs to read these nam files basically needs code from there. We already have some copy and paste job somewhere in pyfontaine and there's also [graphicore/googleFontsTools](https://github.com/graphicore/googleFontsTools) which is a mess to keep in sync, but used for  [specimentTools](https://githu

[2017-07-26 23:02] felipesanches commented on #1466
I fully support Lasse's proposal.

[2017-07-26 23:07] felipesanches commented on #1467
@davelab6 you are probably talking about:

**com.google.fonts/test/068:**
"Does full font name begin with the font family name?"

Which validates the value of NAMEID_FULL_FONT_NAME entries.

[2017-07-26 23:09] felipesanches commented on #1467
I see that the bad value on zilla-slab was: "Zilla Slab Highlight Bold Bold".

That extra " Bold" in the end of the name would not be caught by the "begins with family name" check, indeed.

[2017-07-26 23:19] felipesanches commented on #1467
Other FULL_FONT_NAME related tests are:

* **com.google.fonts/test/071:** Among other things, it verifies whether the entry exceeds max length of 64 chars.
* **com.google.fonts/test/094:** METADATA.pb "fullname" value matches internal "fullname" ?
* **com.google.fonts/test/106**, **com.google.fonts/test/107** and **com.google.fonts/test/108**: Among other things, these infer expected METADATA.pb v

[2017-07-26 23:21] felipesanches commented on #1467
Finally, there's this rule that enforces the expected format on **com.google.fonts/test/017** - "Assure valid format for the main entries in the name table.":

[code]

[2017-07-26 23:23] felipesanches commented on #1467
I'll attempt writing a pytest for this one now to ensure it fails for "Zilla Slab Highlight Bold Bold" :-)

[2017-07-26 23:55] felipesanches commented on #1467
well... even before writing the test using pytest, I downloaded the Zilla-Slab TTF and I can confirm that the current implementation of test/017 properly emits a FAIL message indicating the bad entry: "Zilla Slab Highlight Bold Bold". So that answers the question: yes, it is reliable!

![screenshot at 2017-07-26 20 53 22](https://user-images.githubusercontent.com/213676/28648522-bd66bc52-7244-11e7

[2017-07-26 23:55] #1467 closed

[2017-07-27 09:08] m4rc1e commented on #1467
@felipesanches thanks for checking this.

[2017-07-27 11:21] felipesanches commented on #1467
Cool! I'm glad the issue was sorted out :-)

[2017-07-27 18:22] felipesanches commented on #1430
There's actually no pending work on this issue.

[2017-07-27 18:22] #1430 closed

[2017-07-27 19:14] #1404 closed

[2017-07-27 21:39] HinTak commented on #1430
Yes, the colorized console output screenshot looks like it has all the interesting information. One thing I 'll suggest is to include the info about current table (not sure according to the screenshot), and 2.1 . The main improvement for 2.1 is rather on some seriously broken fonts (see release notes at the top of the source tree) but presumably you don't have that many of those.

[2017-07-27 23:04] graphicore opened #1470 "[new arch] Update README to reflect new fontbakery check-googlefonts CLI"
Currently the readme just replaces `fontbakery check-ttf` by `fontbakery check-googlefonts`. But the command line interface changed.

This would also be a good moment to find out what options are missing from the new interface.

Also, new possibilities, like the following, should be documented:

Run one check for all fonts in the google/fonts repository

    $ fontbakery check-googlefonts -c com.g

[2017-07-28 12:37] m4rc1e opened #1471 "Update logger for collection wide checks"
Our current logger`FontBakeryCheckLogger` produces logs in the following manner

[code]

This is impractical for QAing hundreds of fonts. It would be better to group the fonts by checks instead

[code]

[2017-07-31 08:57] m4rc1e commented on #971
@davelab6 I think the logging is now rather beautiful.

![screen shot 2017-07-31 at 09 56 50](https://user-images.githubusercontent.com/7525512/28770325-9edb352a-75d6-11e7-8b93-313cf63c356a.png)

I'd still like us to add #1471 though. :-)

[2017-07-31 09:01] m4rc1e commented on #183
@davelab6 I have this in the gf-glyph-scripts check, https://github.com/googlefonts/gf-glyphs-scripts/blob/master/Google%20Fonts/qa.py#L172-L204

[2017-07-31 09:03] m4rc1e commented on #1215
In gf-glyph-script not in FB yet, will add it to FB.

[2017-07-31 10:13] felipesanches commented on #183
thanks, @m4rc1e

[2017-07-31 12:51] davelab6 commented on #1471
I think we need both styles, and the current style is likely the default

[2017-07-31 12:51] davelab6 commented on #971
Yep I agree :)

On Jul 31, 2017 4:57 AM, "Marc Foley" <notifications@github.com> wrote:

[2017-07-31 18:40] davelab6 commented on #1232
https://github.com/google/fonts/pull/1108

[2017-08-02 04:39] felipesanches commented on #818
I did change the test to emit an INFO result for fonts that lack an EPAR table. It was very weird to emit PASS in both cases. An INFO makes much more sense here.

See: https://github.com/googlefonts/fontbakery/pull/1476/commits/9a09133d910d5ef0d28cc92798144fcc81b4af64

[2017-08-02 04:49] davelab6 commented on #818
That's cool

[2017-08-02 11:41] felipesanches commented on #1292
This has been fixed on our new architecture (that is already available on master and will be released for the first time on 0.3.0)

[2017-08-02 11:41] #1292 closed

[2017-08-02 11:43] felipesanches commented on #1288
This has all been addressed in the new fontbakery architecture (already available on master and to be released on 0.3.0)

[2017-08-02 11:43] #1288 closed

[2017-08-03 00:12] rsheeter opened #1478 "Don't ask me to add things to PATH, tell me how to run subcommands directly"
## Observed behaviour

Instructions to use utilities are overly invasive: Fontbakery installs its own command fontbakery in your $PATH. The fontbakery command makes other subcommands accessible.

## Expected behaviour

I want to directly run a utility, e.g. fontbakery-metadata-vs-api.py

## Resources and exact process needed to replicate

Note that this can be bypassed by running python thefile.py

[2017-08-03 00:27] rsheeter opened #1479 "Avoid sys.exit(1); provide a message instead"
## Observed behaviour

When a utility like `fontbakery-metadata-vs-api.py` fails it may do so with no informative message because it terminates with sys.exit(1)

## Expected behaviour

For an error exit print something helpful. E.g. instead of sys.exit(1) sys.exit('my helpful message')

## Resources and exact process needed to replicate

Run `fontbakery-metadata-vs-api.py` with a bad API key. Sile

[2017-08-03 00:29] graphicore commented on #1478
I suggest to use a python virtual environment and install fontbakery within: https://virtualenv.pypa.io/en/stable/ at least that's what I do.

I don't install things like fonttools or fontmake globally as well (ever). What's your stance on these? Both add things to PATH.

[2017-08-03 00:30] rsheeter opened #1480 "fontbakery-metadata-vs-api.py fails with ValueError: u'200' is not in list"
## Observed behaviour

fontbakery-metadata-vs-api.py fails to complete

## Expected behaviour

fontbakery-metadata-vs-api.py runs to completion

## Resources and exact process needed to replicate

Run `fontbakery-metadata-vs-api.py`. Prints a bunch of messages then terminates with error:

[code]

[2017-08-03 03:38] davelab6 commented on #1480
I believe @felipesanches wrote this, so assigning to him to fix as P0 :)

[2017-08-03 03:39] davelab6 commented on #1479
@felipesanches would be good to remove all instances of `sys.exit(1)` before closing this; https://github.com/googlefonts/fontbakery/search?utf8=%E2%9C%93&q=sys.exit%281%29&type= currently reports 14 instances

[2017-08-03 13:39] felipesanches commented on #1478
The updated README provides instructions on how to run the scripts directly. The **fontbakery** script that calls subcommands is handy to have (for the people who like it), so we'll keep it. And there's also the virtualenv solution described by Lasse.

@rsheeter would you be ok with this issue being closed?

[2017-08-03 13:56] felipesanches commented on #1470
It seems to me that this command line for running the same test on all fonts in the google/fonts repository would only work for single-font tests. It would probably lead to bad results for family-tests because it would treat all thousands of font files as belonging to a single family.

Also, even for single-font tests this is a bit problematic since we are flooded by 2 thousand summaries like thes

[2017-08-03 16:06] graphicore commented on #1470
Yes, I suggest to use `-c` and only pick a handful of tests to rum for many fonts. Otherwise this is not very useful anyways. Running 150 test for 2000 fonts wont help you but just flood you with too much results.

This option is useful if you e.g. add a new test and want to explore how the whole library behaves.

That's right. Do we need a `--no-family-tests` switch? I rather suggest not to selec

[2017-08-03 21:29] felipesanches commented on #1480
Fixed.

I also took the opportunity to improve the code style of the script as a whole. And I also added script description metadata to the ArgumentParser and to the README.md.

[2017-08-03 21:29] #1480 closed

[2017-08-03 23:37] felipesanches commented on #1479
Dave, those 14 search results are misleading because they include sys.exit(0) which is OK.

There were only 2 instances of sys.exit(non-zero) on failure scenarios. I replaced one of them by sys.exit(error_message_string) in metadava-vs-api. And I'll do the same for the other one now.

[2017-08-03 23:45] davelab6 commented on #1479
Okay cool :) Sounds good!

[2017-08-04 00:08] #1479 closed

[2017-08-04 00:08] felipesanches commented on #1478
@rsheeter please reopen if needed.

[2017-08-04 00:09] #1478 closed

[2017-08-04 00:13] felipesanches opened #1485 "Review usage of INFO and WARN results"
I was talking to @graphicore about the log levels we have and we agreed on the semantics of INFO and WARN:

* **WARN** is informative stuff that requires user attention
* **INFO** would be harmless to hide if user is not looking for verbose output

Now we need to review the usage of those in the tests so that they follow the above description.

This affects what shows up in the default verbosity-l

[2017-08-04 00:16] davelab6 commented on #1485
Agreed

On Aug 3, 2017 8:13 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-08-04 00:23] felipesanches commented on #1485
We also decided that:
* the default verbosity level will only display FAIL, WARN and ERROR.
* ERROR always shows up because it means critically bad stuff going on.
* -l flag provides the maximum flexibility allowing the user to choose exactly what verbosity level is desired (-l DEBUG is the only way to see DEBUG messages)
* --verbose is redundant (because it is the same as -l PASS) but we'll have

[2017-08-04 11:57] m4rc1e commented on #681
@davelab6 I've added this to [gf-glyph-scripts](https://github.com/googlefonts/gf-glyphs-scripts). I'd far rather they were able to see and get it right in the source file.

As you know, I wrote a custom logger for them which has more detailed explanations of the issues.
![screen shot 2017-08-04 at 12 51 43](https://user-images.githubusercontent.com/7525512/28967583-b44ed5de-7913-11e7-8250-0f7f844

[2017-08-04 11:58] m4rc1e commented on #971
I think we should close this. The log is great.

[2017-08-04 12:00] m4rc1e commented on #754
@davelab6 [gf-glyphs-scripts](https://github.com/googlefonts/gf-glyphs-scripts) now QAs and fixes the selected bullet points automatically :-)

[2017-08-04 12:02] m4rc1e commented on #183
@davelab6 gf-glyph-scripts can now auto generate the copyright string for both the OFL.txt and font copyright, https://github.com/googlefonts/gf-glyphs-scripts/blob/master/Google%20Fonts/fixfonts.py#L30-L64.

The family needs to be included in the GF Upstream Repo doc in order for this to work. There is also a test to make sure the family is included in this document.

[2017-08-04 12:05] m4rc1e commented on #555
@davelab6 If the font was previously released on fonts.google.com. The fix script in gf-glyphs-scripts will visually make the metrics look the same and ensure it won't clip in MS apps. https://github.com/googlefonts/gf-glyphs-scripts/blob/master/Google%20Fonts/fixfonts.py#L67-L108

[2017-08-04 12:28] graphicore commented on #681
My plan for fontbakery so far is:

In the docstring of a test
* all text before the first empty line is a short description.
* all text after the first empty line is the documentation with details. I suggest to mardown-format this. Thus:

[code]

Another idea is to add an optional parameter to the decorator to store reference links:

[code]

And finally, I'd like to combine all this information an

[2017-08-04 12:56] davelab6 commented on #681
No one will read source code 😂

On Aug 4, 2017 8:28 AM, "Lasse Fister" <notifications@github.com> wrote:

[2017-08-04 13:03] graphicore commented on #681
So you like what I proposed?

[2017-08-04 13:42] m4rc1e commented on #1162
@davelab6 If the family has already been released on GF, the visual appearance of the vertical metrics should be the same, unless they are seriously screwed. This will stop document reflow. I have this implemented as a fix in gf-glyphs-scripts, https://github.com/googlefonts/gf-glyphs-scripts/blob/master/Google%20Fonts/fixfonts.py#L67-L108

[2017-08-04 13:47] m4rc1e commented on #897
Reopening this.

Had a request from Edd Harrington at Colophon. He used to use the autofix option, https://github.com/googlefonts/fontbakery/blob/master/bin/fontbakery-fix-vertical-metrics.py#L256-L257

[2017-08-04 14:40] davelab6 opened #1487 "Vertical metrics must be consistent in superfamilies"
The vertical metrics of these 2 families should be identical,

https://fonts.google.com/specimen/Archivo
https://fonts.google.com/specimen/Archivo+Narrow

But they aren't. This suggests to me that there is a class of font bakery checks missing for 'super families' to keep them consistent. We now have quite a few super families, typically with different widths, but also different optical sizes (eg

[2017-08-04 15:17] Omnibus-Type commented on #1487
Hi! About Archivo and Archivo Narrow vMetrics, please note that they must also match with Archivo Black vMetrics…

[2017-08-04 15:42] davelab6 opened #1488 "Check: Combined length of family and style name must not exceed 20 characters"
https://glyphsapp.com/tutorials/multiple-masters-part-3-setting-up-instances says

![screen shot 2017-08-04 at 11 41 33](https://user-images.githubusercontent.com/261579/28975951-fff66cae-7909-11e7-8d9e-5d47bbd0c74a.png)

[2017-08-04 15:54] anthrotype commented on #1488
somebody with access to Windows should make some tests and confirm that this is the case.

[2017-08-04 15:55] anthrotype commented on #1488
cc @moyogo

[2017-08-04 16:29] m4rc1e commented on #1487
@Omnibus-Type thanks for adding that info.

I'm in two minds about this. I agree that every super family should have consistent vertical metrics. However, this is not really possible if the fonts have already been released and have differing metrics. By trying to unify the metrics, we'll introduce a regression and may cause doc reflow problems.

I agree that all new super families which are not ye

[2017-08-04 16:32] davelab6 commented on #1487
However, asap and archivo's super family parts were just released this week, so there's not yet a lot of usage to break, and fontbakery can have a whitelist in cases where we don't want it to warn on discrepencies across families -- if we take your approach.

I am more of the mind that inconsistent line heights across styles within a family (or within a superfamily, indeed) is a nasty bug that is

[2017-08-04 16:32] graphicore commented on #1471
This executes `033` for all ofl fonts then `034` for all ofl fonts. `-n` to supress the progress bar.

[code]

Bonus: use `-g *test` to get summary reports per test, like this:
[code]

[2017-08-04 16:46] graphicore commented on #1470
see also #1471

[2017-08-04 18:13] Omnibus-Type commented on #1487
@m4rc1e If I had to establish a starting point in the matches, our priority would be to have Archivo vMetrics match those of Archivo Narrow. What do you think about this?

BTW: Regarding the next Asap update (now with 8 fonts), the same criteria apply: vMatrics should be matched between the standard version (Asap) and the condensed version (Asap Condensed):

![asapmatches-01](https://user-images.g

[2017-08-05 08:59] m4rc1e commented on #1487
@Omnibus-Type In this case, Asap condensed will inherit the vert metrics from Asap.

@davelab6 we'll roll with your proposal and see if any issues are filed.

[2017-08-06 05:34] davelab6 commented on #897
Thanks Marc. I haven't been checking this but yes, I want all the old tools
to be available. See any others missing?

On Aug 4, 2017 9:47 AM, "Marc Foley" <notifications@github.com> wrote:

[2017-08-06 05:39] davelab6 commented on #681
Yes! I don't like over stuffing the decorator though

On Aug 4, 2017 9:03 AM, "Lasse Fister" <notifications@github.com> wrote:

[2017-08-06 14:49] Omnibus-Type commented on #1487
@m4rc1e Please note that Asap latest version has now 8 styles (Regular, Medium, Semi Bold, Bold plus Italics). Can you update it, please? Thanks in advance.

[2017-08-06 16:08] m4rc1e commented on #1487
@Omnibus-Type https://github.com/google/fonts/pull/1119

[2017-08-07 10:11] graphicore commented on #681
Really, why?

[2017-08-07 13:47] davelab6 commented on #681
It looks ugly, and overly complicated. Docstrings looks good and are
simpler.

On Aug 7, 2017 6:11 AM, "Lasse Fister" <notifications@github.com> wrote:

[2017-08-07 23:00] #1470 closed

[2017-08-07 23:00] #1471 closed

[2017-08-07 23:19] felipesanches commented on #1371
OK. the %s was indeed wrong and should instead be {}. I'm fixing that now.

Regarding the supposed failures, that's not going to happen for names like VT323, PT Sans, Amatic SC because there's a plus in the regex requiring at least one lowercase letter in each word of a camelcase name:

[code]

[2017-08-07 23:20] felipesanches commented on #1371
There currently are no exceptions in this test implementation.

I will also write a self-test that assures us that these example good family names won't ever FAIL this test.

[2017-08-07 23:41] davelab6 opened #1489 "Failure to handle font family with 3 words in it"
https://github.com/google/fonts/commit/e31859c92b3cd90d86f6dfa591cbdb8d4e6babf0 should not have happened; this is a bug in some script, either

- one of @m4rc1e 's "gattling gun" scripts, or,

- a failure of fontbakery to detect that the METADATA.pb file was borked, because the `name` key values didn't match up

I didn't check the 2 TTF files, but if they are borked too, that's a problem :)

[2017-08-07 23:59] #1371 closed

[2017-08-08 00:10] felipesanches commented on #1489
Font Bakery properly detects it with **com.google.fonts/test/110**:

![screenshot at 2017-08-07 21 08 59](https://user-images.githubusercontent.com/213676/29050787-ad44f676-7bb4-11e7-8767-43a8bf8445f9.png)

[2017-08-08 00:12] felipesanches commented on #1489
To be honest, there was an issue with %s being used instead of {}.
That would print a badly formated FAIL message, **but still would be detecting a FAIL**.

All instances of **%s instead of {}** were fixed at https://github.com/googlefonts/fontbakery/pull/1491

[2017-08-08 00:13] felipesanches commented on #1489
@m4rc1e may still have to review his scripts because the source of the google/fonts@e31859c issue was not yet properly identified.

As Font Bakery is behaving correctly, I'll close this issue.

[2017-08-08 00:31] felipesanches commented on #1421
We still use try/catch blocks in the code where I consider it to be useful and generally safe. This is, of course, a subjective matter. I currently think we're good with the current state of the code in that regard.

[2017-08-08 00:31] #1421 closed

[2017-08-08 00:32] felipesanches commented on #1420
I'll postpone it to 0.3.1

[2017-08-08 00:54] felipesanches commented on #1436
We did not reach consensus here. So I'll downgrade this to a Warning message and postpone a definitive decision to 0.3.1 or later.

[2017-08-08 01:15] felipesanches opened #1494 "com.google.fonts/test/017 is too complex. Split it up into individual smaller tests."
I think test/017 is too complex evaluating the whole of the name table entries. It should instead be deprecated by replacing it with a series of smaller per-nameid tests.

[2017-08-08 02:20] felipesanches commented on #1406
We don't advertise the old webapp on README anymore. And the old app code has migrated into https://github.com/googlefonts/fontbakery-dashboard/

This issue does not belong here anymore.

[2017-08-08 02:20] #1406 closed

[2017-08-08 02:22] felipesanches commented on #1428
I am going to cut a 0.3.0 release right now. Changing the behaviour of this test right before a release is not wise. I'll do it on 0.3.1 (that means I'll include it in my TO-DO list for tomorrow).

[2017-08-08 02:52] davelab6 commented on #1406
Ok, but please file another one so this doesn't get forgotten :)

On Aug 7, 2017 10:20 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-08-08 03:36] felipesanches opened #1495 "Review all settings of the googlefonts org on github."
@davelab6 Can you please remove the URL "http://fontbakery.appspot.com" from the project description? I think you are the only one with administrative rights to edit the project description.

If possible, please also considering giving me admin rights to do so.

[2017-08-08 03:44] felipesanches commented on #146
Release guidelines and instructions have just been added to the README :-)

[2017-08-08 03:44] #146 closed

[2017-08-08 05:04] felipesanches opened #1496 "Can we better organize the fixer scripts ?"
Font Bakery 0.3.0 has jsut been released with a modular re-design. The tests all have UUIDs and are neatly organized. And we have a growing set of self-tests as well.

In comparison, the fixer scripts and other auxiliary stand-alone scripts provided by Font Bakery still look pretty much a mess in the project root-dir. Maybe something similar could be acchieved with the helper scripts as well.

Thi

[2017-08-08 08:36] m4rc1e commented on #1489
@davelab6, @felipesanches,

My scripts are ok. Here are the name tables from the fonts in [google/fonts/apache/mountainsofchristmas](https://github.com/google/fonts/tree/master/apache/mountainsofchristmas)

[code]

The problem is happening in [add_font.py](https://github.com/google/fonts/blob/master/tools/add_font.py). I'm assuming it has to do with a CamelCase split function, `MountainsofChristma

[2017-08-08 09:39] m4rc1e commented on #1447
This would be great but this only works for paid accounts, "Post data for pro user accounts (to be detailed)"

I'll have Niall look at the html features you've requested today.

[2017-08-08 09:56] anthrotype opened #1497 "keep a CHANGELOG file or summary of changes in release page?"
I noticed that [v0.3.0](https://github.com/googlefonts/fontbakery/releases/tag/v0.3.0) was published and was curious to see what the changes were.
It would be nice if you maintained a `CHANGELOG.md` file, or if you prefer write a brief summary of changes since the previous version in the message body of a release tag.

I don't want to add extra work on you guys, take it as a low-priority would-be-

[2017-08-08 11:56] felipesanches commented on #1489
I have just found evidence that this kind of bug also manifests itself on Font Bakery at **com.google.fonts/test/017**. It is not necessarily the source of this specific MountainsofChristmas bug at the **google/fonts** repo but it certainly is an instance of an issue that may naturally pop in the implementation of several tools due to the inherent ambiguity of splitting out the "of" term in that c

[2017-08-08 12:04] felipesanches commented on #1497
Thanks, Cosimo. I'll make an effort towards that :-)

[2017-08-08 18:29] davelab6 commented on #1495
Removed the URL; I'll leave this open as I need to review all the settings of the org

[2017-08-08 19:04] felipesanches commented on #1495
Cool, Thanks!

[2017-08-09 10:01] m4rc1e opened #1499 "Some fix scripts are broken"
When we moved over to the new architecture, we broke some fix scripts.

This was because we changed the names of some functions. I'd like @eniallator to track these down, fix them and also write a shell script which can be added to Travis to make sure they never break again.

[2017-08-09 13:02] felipesanches commented on #1447
I saw a tinyurl in the script and I dislike that. Additionally, when I decoded that into the actual google api url (which is what we should have explicitely in the script) I noticed it carries a hardcoded Google API key. This can lead to abuse of your API key.

So I'd like to request 2 changes here:
* replace the tinyurl by the actual plain URL
* get the user Google API key as a command-line attri

[2017-08-09 13:04] felipesanches commented on #1447
If multiple fontbakery scripts require an API key we might in the future think of ways of helping the user, but hardcoding keys is not an option (in my opinion).

[2017-08-09 13:31] felipesanches commented on #1499
Oh! That sounds pretty bad! Sorry about that. I'll add this to the 0.3.1 milestone since we'd want to cut another release once this (and any other issues brought by 0.3.0) are fixed.

[2017-08-09 13:33] felipesanches commented on #1499
Note: I only assigned this to @m4rc1e because I was unable to assign it to Niall.

[2017-08-09 13:47] felipesanches commented on #1447
hey! I'll take care of this tinyurl fix!

[2017-08-09 14:32] m4rc1e opened #1500 "cleanup dependencies and make installation simpler"
Currently, the installation process is too convoluted and prone to errors.

I can think of a few very problematic places:
- magic
- pyicu
- Headless font forge

I've spent a good two hours trying to deal with getting it to run on two users machines. I got mine to work by solving dependency errors as I went through them step by step. This isn't acceptable imo.

Installation should be create as simp

[2017-08-09 18:51] davelab6 commented on #1489
I think a solution can be wrangled out of the fact that we are using the
font filename as "the source of truth", but we do have other attestations
to the truth.

Whitelisting is also possible; this exception happened due to use of a
preposition, so we could have a simple list of prepositions and map/filter
them with endsWith() against the pieces that fall out of the camelcase
split...

[2017-08-09 19:19] davelab6 opened #1501 "Subcommands?"
Felipe wrote:

I wrote:

## Observed behavior

I see

[code]

## Expected behaviour

What I expect is that the commands' shared stems are actually subcommands... like this

[code]

[2017-08-09 19:41] felipesanches commented on #1501
That looks like just a bit of syntactic sugar. Would make a lot of sense, though, if we gathered the scripts by categories. Does these categories make sense or should we regroup them?

* fix
* list
* update
* check
* build

see #1496

[2017-08-09 19:44] felipesanches commented on #1499
Can you provide further detail on this issue?

I noticed today that the 0.3.0 is borked due to a silly setup.py misconfiguration. I'll very soon have to package a new release. If we could clarify what was the problem here we could add it to this rushed out 0.3.1 version.

[2017-08-09 19:54] felipesanches commented on #1489
One could call a family Proof Read and that would fool your proposed solution by expecting "Pro of Read".

I agree though that looking at other secondary sources of info (attestations of truth) could help in a better implementation here.

[2017-08-09 19:58] felipesanches opened #1502 "Move desired_glyph_data.json file to data folder"
Otherwise the Lib/fontbakery/glyphdata.py code won't find it. (It won't even be packaged at all)

[2017-08-09 20:10] felipesanches opened #1503 "Fix packaging post new-arch"
The 0.3.0 package is bad due to a silly setup.py misconfig. We'll have to make a new release to address that.

The new fontbakery modules called **reporters**, **testadapters** and **specifications** are missing in the packaged 0.3.0.

Also old code (like fbchecklogger.py and checks.py) were still included in this release, while they shoudn't.

[2017-08-09 20:26] davelab6 commented on #183
@felipesanches do we have this in the TTF checker?

We'll need that for https://github.com/google/fonts/issues/1134 - simple grep can take care of finding emails in DESC and METADATA files.

[2017-08-09 20:32] #1497 closed

[2017-08-09 20:58] felipesanches commented on #1503
Micah confirmed that he was able to install 0.3.1rc1 (using --pre for specifying a pre-release on the pip install command). And he was able to invoke check-googlefonts, so it seems the packaging fix was good.

[2017-08-09 20:58] #1503 closed

[2017-08-09 20:59] felipesanches commented on #1503
https://pypi.python.org/pypi/fontbakery/0.3.1rc1

[2017-08-09 21:38] felipesanches commented on #1499
@eniallator could you tell me more about these issues? I'd like to work on fixes for these in today/tomorrow, but I need more detailed info.

[2017-08-09 21:43] eniallator commented on #1499
I'm also a bit vague on these issues as well but when @m4rc1e  is online tomorrow he could explain what the issues are.

[2017-08-09 21:56] felipesanches commented on #1499
ok, cool!

[2017-08-10 01:13] felipesanches commented on #183
We do have a test for this but with diverging set of rules and only applying to METADATA.pb.
This is **com.google.fonts/test/102** ("METADATA.pb: Copyright notice matches canonical pattern ?") and it will:

* **PASS** for fonts with the string "Copyright 2016 Author Name (name@site.com)"
* **WARN** that the copyright notice is OK, but lacks an email, when finding the string "Copyright 2016 Author

[2017-08-10 01:19] felipesanches commented on #183
Maybe the correct place for copyright strings on the name table would be on NAMEID_COPYRIGHT_NOTICE. I think this is possibly the correct place to look for that info.

If you acknowledge that, then I think we need to only do 2 things:
* create a new test for making sure NAMEID_COPYRIGHT_NOTICE name entries match font.copyright on METADATA.pb
* Change the regex on the **test/102** validation of MET

[2017-08-10 09:39] eniallator opened #1505 "setup.py paths made for unix but gives an error for windows"
[setup.py](https://github.com/googlefonts/fontbakery/blob/master/setup.py#L69-L86) has paths joined with `/` . This doesn't work on windows since windows uses `\`.

I can try fixing this today since it's just a matter of using `os.path`.

[2017-08-10 11:51] felipesanches commented on #1505
Great! Thanks; Since this is a packaging issue, I'd like to include a fix for it on the Emergency 0.3.1 release this week.

[2017-08-10 13:05] felipesanches commented on #1505
Thanks, @eniallator

[2017-08-10 13:05] #1505 closed

[2017-08-10 16:24] m4rc1e opened #1507 "com.google.fonts/test/033 bad FAIL message"
[code]

Message displays %d instead of value

@eniallator could help us with these

[2017-08-10 16:38] m4rc1e opened #1508 "com.google.fonts/test/056 Font has old ttfautohint applied? Error"
traceback

[code]

Happened on these, https://github.com/google/fonts/tree/master/ofl/patrickhandsc

[2017-08-10 21:57] felipesanches commented on #183
I created a new test (**com.google.fonts/test/155**) to make sure NAMEID_COPYRIGHT_NOTICE is identical to METADATA.pb font.copyright entries

[2017-08-11 00:21] #1507 closed

[2017-08-11 03:22] davelab6 commented on #183
Yes, the regex marc's gf-glyphs-script checker uses is preferred, please
update

[2017-08-11 03:23] davelab6 commented on #183
No, test 031 is still required, we don't want copyright notices in font
description fields.

[2017-08-11 21:56] felipesanches commented on #1499
I haven't got any feedback here yet. I'm worried I may have to leave it as is on 0.3.1

@m4rc1e Please clarify this as soon as you have some time to look it up.

[2017-08-11 22:31] felipesanches commented on #183
![screenshot at 2017-08-11 19 23 16](https://user-images.githubusercontent.com/213676/29233992-8bd795d4-7eca-11e7-8e4d-d2b5de7ee401.png)

![screenshot at 2017-08-11 19 23 57](https://user-images.githubusercontent.com/213676/29234021-a877f86e-7eca-11e7-8277-31f58289d8ae.png)

![screenshot at 2017-08-11 19 30 35](https://user-images.githubusercontent.com/213676/29234177-95f54970-7ecb-11e7-8a98-5d439

[2017-08-12 04:59] #1508 closed

[2017-08-14 09:54] m4rc1e commented on #1500
Closing this. I already mentioned this in #1367

[2017-08-14 09:54] #1500 closed

[2017-08-14 10:41] m4rc1e commented on #1499
@eniallator is working on the fix scripts this week, they desperately need a fresh pair of eyes. Yes, leave this issue out for 0.3.1,

[2017-08-14 10:43] eniallator opened #1514 "bin/fontbakery-update-families.py refactor"
I want to change [fontbakery-update-families](https://github.com/googlefonts/fontbakery/blob/master/bin/fontbakery-update-families.py) so we can remove lib magic and also making the interface nicer. What I'm thinking of doing is using a before and after list of file names and comparing instead of assuming there's another file within the directory named the same but with "-old" at the end. Also jus

[2017-08-14 19:44] chrissimpkins opened #1515 "Modular approach to subcommand functionality (and associated dependencies)"
fontbakery is a true Swiss army knife for post build font issues and I love it.  You have put in a ton of work here and there is a great deal of useful functionality that our team has benefit from.  We would love to use this project for both scripted post build fixes and CI testing in our Hack project.  The issue for us is that there are numerous unnecessary (for our purposes) and reasonably time

[2017-08-14 20:32] davelab6 commented on #1447
All sounds good to me

[2017-08-14 20:32] davelab6 commented on #1500
The way that I solved this is to not have the deps as hard requirements but to FAIL tests that depend on those upstream packages being available with instructions about how to install them.

[2017-08-14 20:44] felipesanches commented on #1500
We're still very much following those principles. If we find places where things are imported globally I think we should have an explicit rule to embed the import statements into the individual tests to make sure we achieve that same end-result as what @davelab6 mentioned above.

[2017-08-14 20:45] felipesanches commented on #1447
yeah! That's one of my very net issues to deal with. I'll try to fix this one still today.

[2017-08-14 22:04] graphicore commented on #1515
Hi Chris, thanks for your feedback and this request. I'm glad you didn't ask this a few month ago, when the modular testrunner was not ready for me to point at :-) There are some good food for thought in this, so I rather use it for brain storming now.

I don't like this very much, because we'd get a lot of fragmentation to our sources, which (even worse) wouldn't be a semantic splitting e.g. one

[2017-08-15 01:24] chrissimpkins commented on #1515
I completely understand.  No worries.  Just a thought.

I tend to apply the triple `--verbose` flag in my writing style and tried to scale back to only double `--verbose` in the initial post :)   I'll attempt to explain this in a bit more detail and better.

Definitely nothing as extensive as a package manager.  You don't need to maintain, or even know about the extensions.  I am suggesting an app

[2017-08-15 02:28] graphicore commented on #1515
Ok, thanks for clarification, looks like we're talking about [PEP 420 - Implicit Namespace Packages](https://www.python.org/dev/peps/pep-0420/) see also [Packaging namespace packages](https://packaging.python.org/guides/packaging-namespace-packages/).

The APIs would need some thought but if python packaging tools can do the heavy lifting for us I think this is nice. Also, it looks like we could k

[2017-08-15 02:55] chrissimpkins commented on #1515
:+1:  be happy to create some test extensions or contribute in any way that is helpful to this effort if there is anything that I can do.

Thanks for considering!

[2017-08-15 06:11] davelab6 commented on #183
Mountains of C is a super fail because of the RFN...

[2017-08-15 06:13] davelab6 commented on #183
That is back to font; font.copyright in METADATA is originally extracted from NAMEID_COPYRIGHT_NOTICE, so we should check that the child METADATA values are matching the parent NAMEID_COPYRIGHT_NOTICE values.

Also test 031 is still required but your screenshot doesn't show that working

[2017-08-15 12:15] felipesanches commented on #183
Reopening to think about what you just said.

[2017-08-15 12:38] chrissimpkins commented on #1515
It struck me this morning that I totally missed an opportunity to follow your project theme.  The extensions would of course be called 'recipes' ;)

[2017-08-15 23:16] HinTak commented on #1335
Finally got round to build the binary - just get FontVal-2.1.0-py-bin-net4.zip from
https://sourceforge.net/projects/hp-pxl-jetready/files/Microsoft%20Font%20Validator/

If you are on Mac OS X, and feel brave enough, please feel free to use the C Python interface ( https://github.com/HinTak/freetype-py fontval-diag branch ). As you know the delay was due to computer broke and new computer, so plea

[2017-08-16 16:24] davelab6 opened #1517 "name id 4 (FULL_FONT_NAME) check nuance"
Recently we changed name id 4 from "Calligraffitti" to "Calligraffitti Regular". Some systems use name id 4 to match fonts, so this change makes those systems see the font as a separate family.

OT spec for name id 4 says,

Do our current checks ensure that `Regular` is only applied when the font is not actually a true regular?

[2017-08-16 16:39] anthrotype commented on #1517
wait... Glyphs.app always keeps "Regular" in the Full Name (name id 4) for the fonts that are "true" Regular (i.e. their preferred subfamily name is "Regular").

I recently changed ufo2ft to match that:
https://github.com/googlei18n/ufo2ft/pull/148/commits/bb6b92256c290861b15af328273a72683bf0e13d

I thought you wanted to match what Glyphs.app does?

[2017-08-16 16:43] anthrotype commented on #1517
See also https://github.com/googlei18n/fontmake/issues/209#issuecomment-321239770

[2017-08-16 17:06] davelab6 commented on #1517
We are saying the same thing, I think :)

[2017-08-16 17:26] anthrotype commented on #1517
ah ok then! 😅

[2017-08-16 18:00] felipesanches opened #1519 "Inform user when GF API key used is wrong."
We should detect when the user attempts to run fontbakery scripts with a bad Google Fonts API key and print an error message. Otherwise, the scripts fail to parse the data they would be expecting to see in a successful API auth/query scenario.

This is the JSON response one gets when using a bad API key:
[code]

[2017-08-16 18:01] felipesanches commented on #1519
The 2 fontbakery scripts that currently deal with API keys are:

* bin/fontbakery-family-html-snippet.py
* bin/fontbakery-metadata-vs-api.py

[2017-08-16 20:00] felipesanches commented on #1515
I like a lot the idea of having other people using Fontbakery for their own font projects and customizing the set of tests to run.

When we refactored the codebase prior to the 0.3.x release series, we introduced the concept of **uuid**s for the tests. All of the tests we currently have are using Google Fonts **uuid**s like **com.google.font/test/031**. Other organizations could add new custom tes

[2017-08-16 20:03] felipesanches commented on #1515
short version:

If we can get a good solution for the dependency-hell (assuring it is fault tolerant, never hanging/crashing due to missing import modules) then a upstream/downstream workflow could work well and make everyone happy.

Downstream is not obliged to send pull requests (even though there usually are synergy/collaboration benefits in doing so), they can simply run the custom collection

[2017-08-16 20:42] #1519 closed

[2017-08-16 21:46] chrissimpkins commented on #1515
I'm not certain that I follow what you mean here Felipe?  How does this differ from the approach that you document in your README:

[code]

Do you mean rather than individual test calls in the fashion above, you could group test "packages" under a single argument linked in some way to a regular expression that pulls all required "test package" uuid into a single command line argument?  This would

[2017-08-16 22:00] davelab6 commented on #1347
@graphicore can this be addressed now?

[2017-08-16 22:25] graphicore commented on #1515
Well, it runs `specifications/googlefonts`, nothing else.

I want to make a generic test runner command, where one can specify a custom python module, that exports a specification. That way you could create your organization specific tests in your own repo and run it with fontbakery vanilla. Also, if you want to re-use tests from `specifications/googlefonts`, just import them and register them in

[2017-08-16 22:33] graphicore commented on #1347
This consists of two parts:

1. run in paralell.
2. find a good separation of tests for the parallel processes.

Run in parallel, here means on a multicore processor, right? In Kubernetes we'll do this a bit differently,  via worker instances.

Also, can we rethink the Pyfontaine tests? Most of them fail by default, that's bad.

And, why is it so slow? I did something like this with the specimen t

[2017-08-16 22:34] graphicore commented on #1347
Uh, yeah, so run in parallel is not so hard to do, but still some work, but I think we have a good standing for this,

[2017-08-16 22:39] davelab6 commented on #1499
@eniallator hows it going?

[2017-08-16 22:58] davelab6 opened #1522 "Review DESIGN_CONSIDERATIONS.md"
@felipesanches last year you wrote https://github.com/googlefonts/fontbakery/blob/00d4eb625db99941ec7c5d84a5efc30f2d1169da/DESIGN_CONSIDERATIONS.md and I guess this now needs major revision after 0.3.1

[2017-08-16 23:00] davelab6 opened #1523 "Set up PyUp.io to keep requirements.txt updated"
Set up https://pyup.io to keep https://github.com/googlefonts/fontbakery/blob/master/requirements.txt updated

[2017-08-17 00:19] davelab6 commented on #1347
Well, if you run a k8s cluster locally, then I believe k8s will load-balance a pod of containers across your cores, I think.

...

So yeah:

and

Yeah, I was just discussing language support testing with the GF team, and currently its a mess. As you know, CLDR is the current state of the art, and this is packaged in pyfontaine, but, actually language support requires testing a font against 3 thing

[2017-08-17 00:52] davelab6 commented on #1515
Indeed, https://github.com/googlefonts/fontbakery/blob/master/BRIEF.md#v010-planning says

[2017-08-17 09:42] m4rc1e opened #1524 "Always run full FontVal rendering tests (its now a hard requirement for all future pushes)"
Due to issue https://github.com/google/fonts/issues/1137 we need to work on font rendering tests. MS Font Validator used to be able to run rendering tests, however the newest version produces the following errors when `+rendering-tests` argument is added.
![screen shot 2017-08-16 at 16 20 21](https://user-images.githubusercontent.com/7525512/29405177-229510dc-8335-11e7-80a9-65a2439a2e10.png)

This

[2017-08-17 14:33] felipesanches opened #1525 "rename download_family_from_GoogleFontDirectory on bin/fontbakery-check-font-version.py"
It was renamed to download_family_from_Google_Fonts on the fontbakery.utils module but I forgot to update the script that uses it, sorry!

[2017-08-17 15:07] #1525 closed

[2017-08-17 15:28] felipesanches commented on #1514
I think that's a perfect plan, @eniallator !
I noticed that the "-old" file is one of the reasons for the Travil build-failure on #1513 Pull Request.

Also, removing the libmagic dependency will be great.

[2017-08-17 15:31] felipesanches opened #1527 "Add glyphsLib as a dependency"
One of the reasons for the #1513 Pull Request is that it fails to import glyphsLib.

@eniallator Can you please add glyphsLib to requirements.txt in your PR branch ?

[2017-08-17 18:03] #1527 closed

[2017-08-17 21:06] davelab6 commented on #1514
When you do, please file an issue with the removed code so that I can propose a new way to achieve the same ends

[2017-08-18 00:08] HinTak commented on #1524
Hey, you could ping me on these issues, you know? The rasterization test depends on a fairly customized version of freetype. Pre-built ones for win32/win64 and Darwin  are here - https://github.com/HinTak/Font-Validator/tree/master/bin . On windows/wine, it should just find them. If you are on Mac OS X and running with mono, setting LD_LIBRARY_PATH to the Darwin directory should work too. linux bi

[2017-08-18 06:49] m4rc1e commented on #1524
@HinTak I was going to ping you once I understood the problem better. First, I need to compare your version against legacy Font Validator before I waste your time. Anyways, thank you for the explanation, this is very helpful.

[2017-08-18 13:17] HinTak commented on #1524
I haven't quite kept thoso branches in sync - the "hybrid*" branches uses the old legacy 1.0 backend, and give you a command line wrapper around it. I occasionally use it to compare results. As of v2.1, output should be superset of legacy 1.0 more or less, and I 'd interested to document notable differences.

The problem of running the legacy backend in stock wine (i.e. Wine-mono) is
https://githu

[2017-08-18 13:58] m4rc1e opened #1529 "Update bin/fontbakery-list-variable-source.py"
This script was used to quickly determine which .glyphs files on my local machine could be turned into variable fonts.

We can either remove this script or make it more general purpose. Ideally, it should look at [upstream repositories document](https://docs.google.com/spreadsheets/d/1ampzD9veEdrwUMkOAJkMNkftqtv1jEygiPR0wZ6eNl8/edit?usp=sharing) instead

[2017-08-18 23:00] davelab6 commented on #1515
@chrissimpkins thanks for all your thoughtful input here, really :)

In fact, I would like to consider what the max bounds of the problem space that FB is working in are... I wonder, would you be interested to write a small document that essays: *If you had unlimited resources to make a font update and release system like the world has never seen, what should we do?*

[2017-08-20 23:03] chrissimpkins commented on #1515
I am taking this as a not so subtle request to stfu.  Again, these are enhancement requests.  Take them for what they are worth.

On a note related to the dependency issue raised in the original post that does have significance to our capacity to build from source with Font Bakery, please see https://github.com/source-foundry/Hack/issues/227#issuecomment-323340871 re: a new Debian package build to

[2017-08-20 23:39] graphicore commented on #1515
I can assure you it's not that. We have been discussing this question. @davelab6 was only trying to get some new perspective on the matter.

[2017-08-21 10:45] m4rc1e opened #1530 ".com.google.fonts/test/094-101: METADATA.pb checks for font names incorrect"
Hey folks,

We added some METADATA.pb [name checks](https://github.com/googlefonts/fontbakery/blob/40c014111971738cae36a6226f1b4b6a12aaaf87/Lib/fontbakery/specifications/googlefonts.py#L3277-L3464) a while back and I feel they are incorrect.

To test my assumptions, I've used @davelab6's [glyphs-export](https://github.com/davelab6/glyphs-export) example family. This repo contains .glyphs sources w

[2017-08-21 11:37] davelab6 commented on #1530
Please fix

On Aug 21, 2017 6:45 AM, "Marc Foley" <notifications@github.com> wrote:

[2017-08-21 11:44] davelab6 commented on #1515
LOL indeed no, I am sincere in this request. We'll be publishing an update
to BRIEF.md soon and you can make a PR to that :)

On Aug 20, 2017 7:39 PM, "Lasse Fister" <notifications@github.com> wrote:

I am taking this as a not so subtle request to stfu.

I can assure you it's not that. We have been discussing this question.
@davelab6 <https://github.com/davelab6> was only trying to get some new
pe

[2017-08-21 17:13] davelab6 opened #1534 "Whitelist barcode fonts"
Per https://github.com/graphicore/librebarcode/issues/3

[2017-08-21 17:47] felipesanches opened #1535 "Some tests were disabled. Re-enable them and fix each of their issues."
We have a few tests implemented by @eniallator which are not passing. So I'm temporarily disabling them so that we can fix them one-by-one.

The tests that need to be fixed are:

* [x] test_list_subcommands_has_all_scripts (The list of subcommands is currently wrong. Review that!)
* [x] test_fix_glyphs and test_list_variable_source (Both are failing to import the glyphsLib python module)
* test_up