[2016-07-31 20:11] felipesanches commented on #892
The contents of LICENSE.txt in Jura's repo root describe OFL licensing, but fontbakery can potentialy think it is Apache because it currenly rely only on the file name. Perhaps we should indeed look at the license file contents, specially because "LICENSE.txt" is a pretty generic name.

[2016-07-31 20:16] alexeiva commented on #892
I copied the TTF files in the root folder to run the fb-checks. This is a confusion between UFR folder structure(fonts/*.ttf) and fb requirements. Should all TTFs be in the root by default?

Something else I noticed: Is there something wrong with version 3.001 — why is it changed to 3.00099?
[code]

[2016-07-31 20:18] alexeiva commented on #892
fontbakery-check-ttf.py

[2016-07-31 20:25] alexeiva commented on #892
Oh, wait! I had both OFL.txt and license.txt. Now it's working properly. I removed licence.txt

[code]

[2016-07-31 20:27] felipesanches commented on #892
aha! :-D

sounds great!

[2016-07-31 21:01] anthrotype commented on #890
I didn't mean you should drop the gasp; just that for unhinted fonts the flags `GASP_GRIDFIT` (`0x1` or '0b1') and `GASP_SYMMETRIC_GRIDFIT` (`0x4` or `0b100`) wouldn't make any difference if they are set or not, as these contain no glyf instructions required for gridfitting. The flags `GASP_DOGRAY` (`0x2` or `0b10`) and `GASP_SYMMETRIC_SMOOTHING` (`0x8` or `0b1000`) are enough for non hinted fonts

[2016-07-31 21:17] anthrotype commented on #890
the minimal `prep` code in the above linked script is to enable "dropout control" (`SCANCTRL[]` set to 511), and select the so-called "smart" dropout control including "stubs" (`SCANTYPE` with value `4`).
See http://www.microsoft.com/typography/otspec/ttinst.htm, "The TrueType Instruction Set, Part 1", pages 63-66.

[2016-07-31 22:03] alexeiva commented on #878
In regard to @khaledhosny comments, these hotfixes look questionable to me:

<img width="1645" alt="screen shot 2016-07-31 at 17 42 55" src="https://cloud.githubusercontent.com/assets/16634089/17279612/8ece9834-5746-11e6-9199-17323a5f48fe.png">

Shouldn't `nameid 17` be unchanged?

[code]

Not sure how to fix this error. It would be very helpful to have `nameid=` attributes in the error messages.

[2016-07-31 22:12] felipesanches commented on #878
@alexeiva please update your fontbakery repo to latest master because these messagees were already fixed to include nameid values recently.

[2016-07-31 23:24] alexeiva commented on #878
@felipesanches

Yes, I see the new names, that's better.
[FULL_FONT_NAME:MACHINTOSH]  typo: MACHINTOSH > MACINTOSH

Could you also include the name id numbers?, i.e [FULL_FONT_NAME:WINDOWS][nameid=2]

And then we need a documentation of nameids and what they correspond to in Glyphs App, i.e
FULL_FONT_NAME:WINDOWS > `postscriptFullName`

I did some fixes in Jura, and ran the tests again. Some final

[2016-07-31 23:31] davelab6 commented on #878
Sadly Font Bakery can not be trusted more than Glyphs. Do not set any
custom parameters for naming, just set the style name, weight, and
bold/italic check marks correctly.

[2016-07-31 23:35] felipesanches commented on #878
we've been getting lots of feedback from you guys, and we're fixing everything you point out, so fontbakery will gradually become more and more trustworthy.

[2016-07-31 23:39] alexeiva commented on #878
I couldn't make fb happy with any of the naming schemes's I tried.  But then I ran tests on published fonts like Merriweather, and WorkSans with similar errors.

So I followed the naming scheme of said fonts, and will leave it like this.

What I found helpful were the vertical metrics hotfixes. I simply copied the values from fixed ttf's to the source file.

And the copyright test was helpful. I u

[2016-07-31 23:48] felipesanches commented on #878
yeah... the naming scheme checks are still unreliable but I'm working on getting this right asap.

[2016-08-01 00:06] alexeiva commented on #878
Thanks for your work, @felipesanches. Great to see this moving.

You may want to use WorkSans/Cormorant as beacons — multiple style fonts with proper Glyphs naming. If their naming validates fb's tests, it would be reliable.

[2016-08-01 00:54] felipesanches commented on #878
@alexeiva Have you already renamed DemiBold to SemiBold ? I have the impression that that's one of the things you still need to change in order to conform to canonical naming rules.

[2016-08-01 01:07] felipesanches commented on #878
OK... I reviewed everything and concluded that the "StyleName recommendation" check as described here is basically redundant with another check we already have implemented in fontbakery, called "Assure valid format for the main entries in the name table."

I have tweaked it a bit ( based on this conversation and some feedback on notation as suggested by @alexeiva ) and tested it with Merriweather

[2016-08-01 01:07] #878 closed

[2016-08-01 01:40] alexeiva commented on #878
DemiBold and Book were legacy names, which are served on GF as SemiBold and Regular.

<img width="278" alt="screen shot 2016-07-31 at 21 36 57" src="https://cloud.githubusercontent.com/assets/16634089/17281065/f52690b2-5766-11e6-84ed-8bd9426c9417.png">

DemiBold and SemiBold are both 600 — it is a question of preference.

[2016-08-01 15:22] davelab6 commented on #892
I don't understand this; fontbakery-check-ttf runs on TTF files, and doesn't matter what directory they are in; the checker will look for a description and metadata file in the same directory, but that will be true in the google/fonts repo and not the source repo.

I think this is a bug so I'm re-opening the issue; 3.00099 and 3.001 are equivalent but fontTools represents 3.0001 as 3.00099 for com

[2016-08-01 20:00] felipesanches commented on #892
The checker also looks for the LICENSE.txt or OFL.txt files in the same directory of the TTF files and verifies if they match the name table licensing entries.

[2016-08-01 20:03] felipesanches opened #896 ""version 3.001" vs "version 3.0099""
On https://github.com/googlefonts/fontbakery/issues/892#issuecomment-236612925 @alexeiva and @davelab6 had this conversation:

[2016-08-01 20:03] felipesanches commented on #892
the version issue will be taken caro of in a separate issue at https://github.com/googlefonts/fontbakery/issues/896

[2016-08-01 20:09] felipesanches commented on #892
The original title of this issue is now a bit misleading:
"Hotfix changed SIL OFL License to Apache"

The unexpected hotfix was caused by the user (Alexei) placing an incorrect licensing file in his font project folder. The hotfix was consistent with the given file. Should we stop checking for coherence between licensing files and name table licensing entries?

[2016-08-01 20:16] davelab6 commented on #892
Right; so someone using fontbakery should know that the tool expects to find those files there, and they can either duplicate them in their repo's `/fonts` directory, or, we could have a special case for if `pwd` is `fonts` and there's a `../OFL.txt` or `../LICENSE.txt` file then use that, since its sure to be a common situation.

No, the way I see, the bug that alexei found is that if you have bo

[2016-08-01 20:26] felipesanches commented on #892
thanks, Dave. I can make the code take care of these cases as well. I'll do it now.

[2016-08-01 20:55] davelab6 opened #897 "Bring back --autofix argument on fontbakery-fix-vertical-metrics.py"
It seems there are tools from the last 0.0.15 release still missing :(

I needed to use `fontbakery-fix-vertical-metrics.py` and found it missing, but I'd like to ensure all tools are available.

https://github.com/googlefonts/fontbakery/blob/7145ce54594fb8b8de8f65e94bae5be76bdf07e3/tools/fontbakery-fix-vertical-metrics.py

[2016-08-01 21:12] felipesanches commented on #897
old script was here:

https://github.com/googlefonts/fontbakery/blob/v0.0.15/tools/fontbakery-fix-vertical-metrics.py

it gives you command line params for setting specific values explicitely. I can quickly bring it back to master as is.

Aditionally it has got an autofix block of code that depends on the VFixer class. I'll have to look at this class more carefully later.

[2016-08-01 21:14] felipesanches commented on #897
VMet and VMetFixer classes are here:

https://github.com/googlefonts/fontbakery/blob/v0.0.15/bakery_cli/fixers.py#L691-L739

[2016-08-01 21:15] m4rc1e commented on #897
Hey Felipe,

I'm currently in the middle of writing a vertical metrics checker for Glyphsapp. This is based on 2 new  schemes we discussed in [Kalapi's thread](https://groups.google.com/forum/#!topic/googlefonts-discuss/W4PHxnLk3JY). It should be loose enough to incoporate into FB. I'll let you know when I upload.

Cheers,
Marc

[2016-08-01 21:16] felipesanches commented on #897
nice :-)

[2016-08-01 21:32] davelab6 commented on #897
Sure, the logic is duplicated, but I still need the old tools that work
'surgically' on a few issues! :)

[2016-08-02 01:38] felipesanches commented on #892
Let me know if this still needs any further tweaks. I think we're good now.

[2016-08-02 01:38] #892 closed

[2016-08-02 20:49] felipesanches commented on #896
@alexeiva Can you tell me where to download a "Version 3.001" TTF of Jura so that I can replicate this issue and fix it ?

[2016-08-02 20:55] alexeiva commented on #896
Here you go:

This bug may be true for other numbers too

The version numbers were set in Glyphs app. They may have been adjusted by glyphs during export. (Glyphs behaviour).
Regular: v3.001
Medium: v3.010
SemiBold: v3.100
Bold: v3.0099

[Archive.zip](https://github.com/googlefonts/fontbakery/files/398112/Archive.zip)

[2016-08-02 21:12] felipesanches commented on #896
thanks

[2016-08-02 21:26] felipesanches commented on #896
I inspected Jura-Bold.ttf with ttx and noticed that there are "3.099" entries originaly in the font tables.

Such as:

[code]

and also:

[code]

and:

[code]

and also this:

[code]

and this:

[code]

[2016-08-02 21:27] felipesanches commented on #896
And I think this is a bug in some other tool used by @alexeiva prior to using fontbakery

[2016-08-02 21:28] felipesanches commented on #896
Please reopen the issue if I'm wrong :-)

[2016-08-02 23:20] davelab6 commented on #896
3.00099 != 3.099

The error Alexei posted was,

Did you reproduce this error?

[2016-08-02 23:21] davelab6 commented on #896
with the Regular (v3.001)?

[2016-08-03 03:28] felipesanches commented on #896
Yes, I did reproduce it with Jura-Regular.ttf as well:

[code]

And inspecting the same original Regular file with ttx I got:

[code]

and

[code]
and also

[code]

[2016-08-03 04:21] davelab6 commented on #896
Right. `    <fontRevision value="3.00099"/>` is the accuracy thing I mentioned; it should be 3.001 and it really is that, so the error is unwanted.

[2016-08-03 16:35] alexeiva commented on #896
Here are my steps on Marmelad.

1. Generate font in Glyphs with version 1.001
2. ttf > ttx
3. TTX [fontRevision](https://github.com/cyrealtype/Marmelad-Cyrillic/blob/master/Marmelad-Regular.ttx#L364)

[code]

4.
However, [namerecord table](https://github.com/cyrealtype/Marmelad-Cyrillic/blob/master/Marmelad-Regular.ttx#L16638-L16717):

[code]

So I confirm that the version change is Glyphs behavio

[2016-08-03 17:35] davelab6 commented on #896
I'm pretty sure all font editors appear to do this, and its a fonttools behaviour, not a bug.

https://docs.python.org/2/tutorial/floatingpoint.html

[2016-08-03 17:36] davelab6 commented on #896
Basically, if the fontRevision value doesn't match, try rounding it up, then seeking a match, and only then failing

[2016-08-03 18:16] felipesanches commented on #896
sounds good!

[2016-08-03 18:17] felipesanches commented on #896
I'll try the rounding before failing

[2016-08-03 20:45] felipesanches commented on #896
This was a bit tricky but I think it works as expected now :+1:

[2016-08-03 22:17] felipesanches commented on #890
I hope this is good now :-)

[2016-08-03 22:17] #890 closed

[2016-08-03 23:55] felipesanches commented on #877
I did change the criteria for the fsSelection REGULAR bit check so that only Regular and non-RIBBI fonts will have the REGULAR bit set and the rest (all RIBBI, except Regular) will have REGULAR bit unset.

Please close this issue if this is correct.

[2016-08-04 00:53] felipesanches commented on #608
We already cover all of the above-listed issues in the ttf checker.

We have these checks:
* "Font contains glyphs for whitespace characters?"
* "Font has **proper** whitespace glyph names?"
* "Whitespace glyphs have ink?" (also checks coherence of advanceWidth values)

I think that the only thing missing is the list of whitespace characters and making sure the tests are run on any of those.

[2016-08-04 01:49] felipesanches opened #905 "log messages don't need to explicitly mention filename anymore"
we keep track of which is the target of each test and later we can use this info to format the final report any way we want, so we don't really want to explicitely print target TTF filenames in the log method calls anymore.

[2016-08-04 02:11] #608 closed

[2016-08-04 02:21] #905 closed

[2016-08-04 02:35] khaledhosny commented on #877
This check still seems to be wrong:
[code]

But looking into the TTX dump, I see:
[code]

So bit 6 is actually set. The same happens with BOLD bit.

[2016-08-04 02:36] davelab6 commented on #877
No italic fonts should be marked as regular

[2016-08-04 02:37] felipesanches commented on #877
thanks, Dave

[2016-08-04 02:40] felipesanches commented on #877
[code]

Why is this wrong? Black is not RIBBI, so the fsSelection REGULAR but it should be set to 1. I'm saying this based on @khaledhosny description of the issue: "This seems wrong to me, the REGULAR bit should be set here since Mada Black is considered a family of its own"

[2016-08-04 02:41] felipesanches commented on #877
oh! I see! You're saying that the even though the expected value is right, the detection is getting it wrong, that's it?

[2016-08-04 02:44] khaledhosny commented on #877
Yes.

[2016-08-04 02:55] felipesanches commented on #877
a-ha! Got it!

It was a missing cast to bool that was making the bit check return a wrong result.

[2016-08-04 03:02] felipesanches commented on #877
Can you acknowledge it's good now, @khaledhosny ?

[2016-08-04 09:50] khaledhosny commented on #877
Looks good now.

[2016-08-04 11:56] felipesanches commented on #877
:-)

[2016-08-04 11:56] #877 closed

[2016-08-04 22:29] felipesanches commented on #896
Current code breaks with version strings such as "Version 4.5.1"

[2016-08-04 22:33] #896 closed

[2016-08-04 22:43] #594 closed

[2016-08-05 03:43] felipesanches commented on #790
@davelab6 I need your feedback here.

[2016-08-05 03:47] felipesanches opened #912 "expected subsets ordering on METADATA.pb"
This caught my attention today when running fb on Merriweather:

[code]

At first I thought that the criteria was to place "menu" as the first item and then all the rest in alphabetical order, but the error above was reported for Merriweather and it seems it is sorting all items and placing "menu" after "latin-ext" instead of as the first item.

Should we accept both ?

[2016-08-05 03:54] felipesanches commented on #555
@davelab6 @schriftgestalt any updates here on what's causing the issue ?

[2016-08-05 03:58] davelab6 commented on #912
The menu first thing was old; I'm not using whatever `add_font.py` outputs which is true alphabetical, so FB should reflect that:

[code]

[2016-08-05 03:58] davelab6 commented on #875
@khaledhosny anything else to do here?

[2016-08-05 03:59] davelab6 commented on #896
Yeah, that may be found in the wild but I only want to see X.Y versions

[2016-08-05 04:01] davelab6 commented on #413
You must not delete the single-purpose tools like `fontbakery-check-description.py` because I use these all the time, and don't want the hassle of dealing with all the other stuff the big tester deals with :)

[2016-08-05 04:03] davelab6 commented on #413
What I meant in this is that the stand-alone and big-check scripts should have the same logic for checking and autofixing, probably with copy and paste to keep it ultra simple, but they should both exist :)

[2016-08-05 04:03] felipesanches commented on #413
alright! I can bring that one back :-) I thought you meant to move functionality away from a standalone script, towards integration in the main tool. But if you like to have both, that's good also (even though there's some code duplication involved)

[2016-08-05 04:04] davelab6 commented on #555
No update from me yet

[2016-08-05 04:04] felipesanches commented on #413
alright!

I'll close the day now bringing that back. :-)

[2016-08-05 04:09] felipesanches commented on #413
I think we're good to close the issue now, @davelab6

[2016-08-05 04:13] davelab6 commented on #413
I understand why this is bad, but I prefer to keep things racially simple

[2016-08-05 04:13] #413 closed

[2016-08-05 04:14] davelab6 commented on #545
@felipesanches there is a branch open https://github.com/googlefonts/fontbakery/tree/issue_545 related to this issue; is this branch stale?

[2016-08-05 04:20] felipesanches commented on #545
I never delete old branches.

Maybe I could. But I don't.

[2016-08-05 04:21] davelab6 commented on #545
I do ;) https://github.com/googlefonts/fontbakery/branches/all

[2016-08-05 04:23] felipesanches commented on #545
oh! I see!

My personal fork has got them all in there. But I pushed this specific one to upstream instead of origin and so it was kept there forgotten. It can be safely deleted.

[2016-08-05 04:24] felipesanches commented on #545
I've jsut deleted it.

[2016-08-05 04:24] #545 closed

[2016-08-05 04:53] davelab6 commented on #545
Thanks!

[2016-08-05 09:20] khaledhosny commented on #875
Not exactly the kind of testing I had in mind, I was thinking more of units tests, also it seems that all it checks for is that the script does not crash not if there are any regressions.

[2016-08-05 19:01] davelab6 commented on #912
menu and latin should always be present, and if they aren't we should warn

[2016-08-08 22:29] felipesanches commented on #830
Alright! There we go!

https://github.com/googlefonts/fontbakery/commit/514d17de5de19f37eff2777e0066199b71bc8a0f
is an attempt at building the foundations of a command line arguments validator for fontbakery.

I have refactored most scripts so that they adere to a consistent coding style, but I haven't yet modified the set of arguments that each use.

There's also a test_args.py script that we'll

[2016-08-09 03:18] felipesanches opened #917 "fontbakery-build-metadata.py relies on old codebase"
we don't have the bakery_cli module anymore and it can be seen that it was just commented out in the latest code change I introduced while addressing issue #830 :

https://github.com/googlefonts/fontbakery/blob/514d17de5de19f37eff2777e0066199b71bc8a0f/fontbakery-build-metadata.py#L31-L33

[2016-08-09 03:38] davelab6 commented on #917
from bakery_cli.nameid_values import *

I think you can just inline these name ID values

    from bakery_cli.scripts import genmetadata

This is now https://github.com/googlefonts/fontbakery/blob/master/fontbakery-build-metadata.py

[2016-08-09 03:44] davelab6 commented on #917
Edit: oops I see my answer is nonsense. What I mean is:

This is now https://github.com/googlefonts/fontbakery/blob/master/fontbakery-build-metadata.py so the guts of genmetadata.py need to be taken and placed into there - OR, they need to be abandoned, and replaced with `add_font.py` which is the new replacement for this script in the /google/fonts repo

[2016-08-09 08:56] m4rc1e opened #918 "Check space matches No break space"
Hello,

We need a test and possibly a fix script to make sure the metrics for space (uni 0020) and no break space (uni 00A0) match.

[2016-08-09 17:51] felipesanches commented on #918
I think that the check "Whitespace glyphs have coherent widths?" already covers that kind of problem.

@m4rc1e Can you take a look at https://github.com/googlefonts/fontbakery/blob/514d17de5de19f37eff2777e0066199b71bc8a0f/fontbakery-check-ttf.py#L2095-L2124 to see if it provides what you're asking for?

[2016-08-09 18:10] davelab6 commented on #918
Agree w felipe

[2016-08-09 18:10] felipesanches opened #919 "Travis got broken due to upgrade to python 2.7.12"
[code]

[2016-08-09 18:15] m4rc1e commented on #918
Yep, it's covered.

Thanks

[2016-08-09 18:15] #918 closed

[2016-08-09 18:19] #919 closed

[2016-08-09 18:59] felipesanches commented on #917
if choosing the latter, should I simply drop  fontbakery-build-metadata.py deleting it from the repo and leave add_font.py hosted at /google/fonts ? Or would you want add_font.py to be redundantly hosted in fontbakery's repo as well?

[2016-08-09 20:21] davelab6 commented on #917
Yeah let's just drop it from here :)

[2016-08-09 20:55] #917 closed

[2016-08-09 21:18] felipesanches opened #922 "Scripts that still rely on old code"
Just like in issue #917, there's also this other script that still depends on the old codebase: fontbakery-build-fontmetadata.py

[code]

[2016-08-09 21:19] felipesanches commented on #922
This expects portions of fontbakery to be loaded from installed modules. I think we should hardcode everything so that the user does not have to deal with this kind of silly issue.

[2016-08-09 21:25] felipesanches opened #923 "fontbakery-build-fontmetadata.py fails if it can't find a pre-existing images directory"
We should check if the image folder exists and, if not, create it.

[code]

[2016-08-09 21:26] felipesanches commented on #923
https://github.com/googlefonts/fontbakery/issues/922 depends on fixing this.

[2016-08-09 21:40] davelab6 commented on #922
Agree

[2016-08-09 21:42] davelab6 commented on #923
fontbakery-build-fontmetadata.py is no longer actively needed; don't delete
it but don't work on it :)

[2016-08-09 21:46] felipesanches opened #924 "Move all inline "TODO" issues from source code to issue tracker"
so that we can better manage the tasks here.

[2016-08-09 21:47] felipesanches commented on #923
well... I just fixed it. I'll merge the fix and leave it alono then :-)

[2016-08-09 21:52] #923 closed

[2016-08-09 21:53] #922 closed

[2016-08-10 12:45] felipesanches opened #926 "does fonttools provide a "makeNameRecord" helper method?"
[code]

(issue #924)

[2016-08-10 12:48] felipesanches opened #927 "warn about font files being from separate directories (may be a user mistake)"
[code]

(issue #924)

[2016-08-10 12:52] felipesanches opened #928 "Font object hash may collide. Investigate and fix."
[code]

(issue #924)

[2016-08-10 12:54] felipesanches commented on #928
I think this is very unlikely to be a real problem.

[2016-08-10 12:58] moyogo commented on #926
Doesn’t setName() do this?
[https://github.com/behdad/fonttools/blob/master/Lib/fontTools/ttLib/tables/_n_a_m_e.py#L122](https://github.com/behdad/fonttools/blob/655fb4a856c31c6a0b102e8038acdb4751347989/Lib/fontTools/ttLib/tables/_n_a_m_e.py#L122)

[2016-08-10 13:02] felipesanches commented on #926
Maybe. I'll take a look. Thanks for the tip.

[2016-08-10 13:20] felipesanches opened #929 "Question: "check registered_vendor_ids[vid] against name table values" (which ones?)"
[code]

(issue #924)

[2016-08-10 13:22] felipesanches commented on #929
This is an inline comment in the "Checking OS/2 achVendID" check:

https://github.com/googlefonts/fontbakery/blob/a02a4f01cb6f4664b91fa6d7c695bddf1187bd32/fontbakery-check-ttf.py#L1117

[2016-08-10 13:39] felipesanches opened #930 "DC what happens with "Italic" styles, weight_name = "Italic"?"
This needs some thinking and and overview of the code that checks stylename rules:

[code]

https://github.com/googlefonts/fontbakery/blob/a02a4f01cb6f4664b91fa6d7c695bddf1187bd32/fontbakery-check-ttf.py#L1186-L1194

(issue #924)

[2016-08-10 13:59] felipesanches opened #931 "DC: all the italic style checks should be wrapped in this if statement?"
[code]

https://github.com/googlefonts/fontbakery/blob/a02a4f01cb6f4664b91fa6d7c695bddf1187bd32/fontbakery-check-ttf.py#L1271-L1288

(issue #924)

[2016-08-10 14:02] felipesanches opened #932 "DC: TODO: checker for proper italic names in name table"
[code]

this is probably tightly related to issue #930 and #931

(issue #924)

[2016-08-10 14:07] felipesanches opened #933 "strip glyphs named .notdef .null (etc) from unusually_spaced_glyphs list"
https://github.com/googlefonts/fontbakery/blob/a02a4f01cb6f4664b91fa6d7c695bddf1187bd32/fontbakery-check-ttf.py#L1638-L1639

(issue #924)

[2016-08-10 14:12] felipesanches opened #934 "log FontForge STDERR messages"
[code]

https://github.com/googlefonts/fontbakery/blob/a02a4f01cb6f4664b91fa6d7c695bddf1187bd32/fontbakery-check-ttf.py#L1750-L1770

(issue #924)

[2016-08-10 14:18] felipesanches opened #935 "commented-out head.unitsPerEm check needs review"
[code]

@davelab6 I need your input here, regarding the commented out assert on the expected value for unitsPerEm.

(issue #924)

[2016-08-10 14:20] felipesanches opened #936 ""Checking vertical metrics" needs review"
[code]

https://github.com/googlefonts/fontbakery/blob/a02a4f01cb6f4664b91fa6d7c695bddf1187bd32/fontbakery-check-ttf.py#L1908-L1919

[2016-08-10 14:26] felipesanches opened #937 "Autofix: rerun ttfautohint if the system available version is newer than the one applied on the font being checked."
[code]

https://github.com/googlefonts/fontbakery/blob/a02a4f01cb6f4664b91fa6d7c695bddf1187bd32/fontbakery-check-ttf.py#L2240-L2258

(issue #924)

[2016-08-10 14:28] felipesanches opened #938 "extend list of known_good_names (.notdef, .null, etc)"
[code]

https://github.com/googlefonts/fontbakery/blob/a02a4f01cb6f4664b91fa6d7c695bddf1187bd32/fontbakery-check-ttf.py#L2273-L2277

(issue #924)

[2016-08-10 14:32] felipesanches opened #939 "Question: compare name table entries even if they have different encodings ?"
[code]

https://github.com/googlefonts/fontbakery/blob/a02a4f01cb6f4664b91fa6d7c695bddf1187bd32/fontbakery-check-ttf.py#L2402-L2414

@davelab6 I think we should still compare entries even if they have different encodings. Am I right here?

(issue #924)

[2016-08-10 16:22] khaledhosny commented on #933
If the check is a bout a monospaced fonts, then the safest things is to make sure all glyphs unconditionally have the same width, otherwise setting isFixedPitch or bProportion can load to broken glyph widths on Windows at least.

[2016-08-10 19:56] davelab6 commented on #830
I reviewed that commit, looks fine; I think the tests should be added to travis and run via some typical python test runner like nose or whatever

[2016-08-10 20:03] davelab6 opened #940 "Ensure output has not regressed"
Please compare the output of the tools in `fontbakery-0.0.13.tar.gz` to the tools today, and update today's tools to output in a similar format.

Eg, fontbakery-fix-vertical-metrics.py in 0.0.13 outputs a table; the current script outputs a simple list, which makes it hard to compare values across fonts. Eg,

0.0.12:

[code]

Today:

[code]

If this is to be GHM, then use the table syntax

[2016-08-11 20:35] felipesanches commented on #940
I used GitHub Markdown table on the new output style

[2016-08-11 20:38] felipesanches commented on #940
@davelab6 please review.

[2016-08-11 21:34] felipesanches commented on #938
At https://www.microsoft.com/typography/otspec/recom.htm we have:

[code]

and at http://partners.adobe.com/public/developer/opentype/index_glyph2.html there's this:

[code]

[2016-08-11 21:35] felipesanches commented on #938
and currently we have:
[code]

So I think we simply have to remove '.null' from the list of known good names and then we're settled with the single one expection to the "no name starting with a period" naming rule.

[2016-08-11 21:36] felipesanches commented on #938
Unless someone can point me to a definitive list of exceptions to the rule, I'll assume that (as stated in the spec) '.notdef' is the only exception.

[2016-08-11 21:43] felipesanches commented on #938
@davelab6 please review and close

[2016-08-12 00:47] felipesanches commented on #927
I implemented it as a new check that runs right in the beginning just after validating the TTF files.
I decided to make it a simple warning, instead of an error, so that the full set of checks will run regardless of the result of this first check.

@davelab6 Please reopen this if you prefer to make it a hard error.

[2016-08-12 00:47] #927 closed

[2016-08-12 01:21] felipesanches opened #943 ""Checking font version fields" hotfix removes ttfautohint version comment"
[code]

This is bad. The autofix routine should preserve watever comments that were in the file.

This is especially bad in the case of the ttfautohint version comment, which is the source of info for another fontbakery check (as well as for the user and for other applications perhaps).

[2016-08-12 01:24] felipesanches commented on #938
I noticed that Jura-Regular.ttf does have the .null glyph. Should we accept it as valid even though (afaik) it is not mentioned in the spec ?

Or should Jura be fixed instead?

[2016-08-12 01:40] davelab6 commented on #938
See "First Four Glyphs in Fonts" section of https://www.microsoft.com/typography/otspec/recom.htm

Thus Jura should be fixed

[2016-08-12 01:40] davelab6 commented on #938
And we should have a test that they are there

[2016-08-12 01:45] felipesanches commented on #938
ok, great!

So I'll bring back .null to the list of known_good_glyphnames

And Jura is perfectly fine.

[2016-08-12 02:16] felipesanches commented on #938
@behdad Could you help me here? I don't know how to check for the presence of '.notdef' in a font using fonttools.

[2016-08-12 02:28] vmesel opened #946 "Can I use FontBakery on Windows?"
I'm trying to install all dependencies to install FontBakery but I cannot find it anywhere like python-fontforge?

Could someone help me?

The system is Windows 10, 16GB RAM, i5 processor

[2016-08-12 02:44] #933 closed

[2016-08-13 01:52] felipesanches commented on #937
ok. We now detect the version of ttfa used (if any) and the version available on the system (if any) and whether the system on is newer. With that info we currently warn the user if a newer version is available.

We could do it, as a hotfix routine, but I recall that @davelab6 regards autofixing as a secondary goal of fontbakery, so I'm merging the current set of patches and updating the priority

[2016-08-13 01:54] felipesanches commented on #937
@davelab6 please review this.

[2016-08-13 05:13] behdad commented on #938
Like, check that glyph0 is named '.notdef'?

font.getGlyphOrder()[0] == '.notdef'

[2016-08-13 14:28] felipesanches commented on #938
thanks, @behdad :+1:

[2016-08-15 17:48] vmesel commented on #932
@felipesanches what should be done? Want to help and got FontForge up and running on my macbook!

[2016-08-15 18:15] davelab6 commented on #932
Hi @vmesel :) This is a tricky one for a new contributor to tackle, it requires some understanding of context that would take longer to explain than for Felipe to fix directly :) If you'd like to contribute, I suggest https://github.com/googlefonts/fontbakery/issues/831 might be a good issue to work on

[2016-08-15 23:57] felipesanches opened #950 "ttfautohint version check crashes with "AttributeError: 'NoneType' object has no attribute 'group'""
[code]

[2016-08-16 00:00] #943 closed

[2016-08-16 00:37] #950 closed

[2016-08-16 00:50] felipesanches commented on #830
The tests are already running on Travis, but not with nose or any testing framework. The test_args.py script is simply invoked via .travis.yaml setup.

[2016-08-16 00:52] felipesanches commented on #830
Regarding testing, maybe fontbakery as a whole could benefit from a testing framework at some point, but that's not a top priority at the moment.

[2016-08-16 00:54] felipesanches commented on #830
@davelab6 do you want to change the set of command line attributes used in each of the tools? Or are you already familiar with the way the commands work thus preferring to keeping them with the current command "signature" ?

[2016-08-16 01:42] felipesanches commented on #946
Have you figured it out, already?

Do you have specific questions about the dependencies?

[2016-08-16 02:57] felipesanches commented on #494
@davelab6 It is not clear to me what "this namecheck tool" refers to. I looked at the repository at the state it was back in July 6th, 2016 as well as at a January 9th, 2015 and I could not locate the script that @vitalyvolkov mentioned in his comment above.

By looking at the fontbakery-crawl.py source code, I can only understand that it commands a web-crawler of some sort, but as the scrapy.cfg

[2016-08-16 17:36] vmesel commented on #932
@davelab6 it doesnt look like too creepy! I think you mean that the font file, in the header, has the name info, and if the name contains Italic, it should fill a new place in the table. Right?

[2016-08-16 17:36] vmesel commented on #946
I havent figured it out, I need to find a way to get FontForge with extra tools on Windows. This is the first step...

[2016-08-16 17:51] vmesel opened #954 "Too many values to unpack on a split(";")"
When trying to run the fontbakery in verbose mode with the Carlito Font(https://fontlibrary.org/en/font/carlito), there is an error output:

[code]

It should probably be corrected with a try: and except: argument

[2016-08-16 18:10] felipesanches commented on #954
thanks! I'll take a look at your code!

[2016-08-16 18:29] #954 closed

[2016-08-16 21:48] felipesanches commented on #934
I'm trying to figure our how to use fontforge in a headless manner to perform these checks. I'm not sure fontforge can do the same as the python module via a command-line invocation. Perhaps it really can't. The command line parameters listed on the --help output does not seem to indicate this kind of capability.

[2016-08-16 21:51] felipesanches commented on #934
It seems that there's no really useful data (for our purpose) in fontforge's console output:

[code]

[2016-08-16 21:59] felipesanches commented on #934
There's a -c option that sounds promising, but I can't make it work. These are the instructions from the website at https://fontforge.github.io/cliargs.html :

[code]

I thought I could perhaps do -c 'Open($1); Close($1)' but it fails to run:

[code]

[2016-08-16 22:03] felipesanches commented on #934
hey! I think I got it right now! :-D

Quite hacky :-P

[code]

[2016-08-16 22:04] felipesanches commented on #934
ok, so this last command I came up with generates the numerical value that can be tested with the bit_masks for each of the checks, but it did not produce any STDERR messages... hmmm...

[2016-08-16 22:12] vmesel opened #957 "ttfautohint version regex should not match line-breaks"
When running fontbakery with Carlito Font, the fontbakery-check-ttf.py is returning an error on the map split.

[code]

[2016-08-16 22:20] vmesel commented on #957
str(installed) is returning:
[code]
How the font file should return this information? Is this a local bug only?

[2016-08-16 22:41] vmesel commented on #694
@davelab6 I have one of this in one of my repositories, can I try to make some templates for the Fontbakery repo?

[2016-08-16 22:53] felipesanches commented on #694
@vmesel sounds good :-)

[2016-08-17 02:19] felipesanches commented on #957
this would be slightly better:

[code]

but there's still the issue that we're accepting this kind of format, which is kind of weird.
I think we should make this an error instead. What do you think, @davelab6 ? Should we have a check that detects this kind of bad entry? A test called something like: "Does version string contain copyright info?"

[2016-08-17 09:02] vmesel commented on #957
I think we should check if the installed.split("\n")[0] is really a version number not the copyright test or any null field.

[2016-08-17 09:14] vmesel commented on #838
@felipesanches and @davelab6 why we don't try to use Google Linter for Python called YAPF? This maybe the solution to this item!

[2016-08-17 09:15] vmesel commented on #928
@felipesanches how the collision occurs? when it happens? how should it be treated? going to handle this issue!

[2016-08-17 09:24] vmesel opened #960 "IF Font license file not found, it should be an error?"
I'm trying to figure out [what this function](https://github.com/googlefonts/fontbakery/blob/master/fontbakery-check-ttf.py#L1452-L1506) does for the system. I noticed that it doesn't check/doesn't give an exception if the license file or the OFL license file is missing. Should we return an error when this happens?

[2016-08-17 23:30] felipesanches commented on #960
@vmesel For bad fonts, the variable called "found" is False if no license file was found, or "multiple" if many were found.

Here's where we log an error related to the lack of font files:
https://github.com/googlefonts/fontbakery/blob/1a9537d2b9441784ba25c5fc8f0ab3ffe35013fc/fontbakery-check-ttf.py#L1359-L1361

[2016-08-17 23:30] #960 closed

[2016-08-17 23:49] felipesanches commented on #957
I have made it accept only the 1st line of the multiline version string. But I really think that we should consider this an error. The goal of fontbakery is to help in the quality assurance of a large set of font families. If only a couple fonts have this kind of malformed entries (or, in other words, entries with arbitrary formats) then these must really generate a warning or error that informs t

[2016-08-18 00:55] davelab6 commented on #957
The version string should not have any linebreaks; that may be allowed in the spec but we should make it a requirement.

It should also not have the copyright information. In the spec, any string can follow the version number itself, and there is a convention that a semicolon separates the version number from the following string. We can make that a requirement.

[2016-08-18 00:57] felipesanches commented on #957
yeah, makes sense!

[2016-08-18 00:58] felipesanches commented on #957
I think I'll tackle that with a check called "Name table antry continas line-break?" that errors if a line break is found in any entry.

[2016-08-18 01:00] davelab6 commented on #957
Since currently we get a traceback on a libre font, I'm bumping this to 0.1.0

[2016-08-18 01:04] felipesanches commented on #957
ok, good!

[2016-08-18 16:29] felipesanches commented on #957
This is actually a misunderstanding of the issue at hand.

The line-break and "Copyright" string after ttfautohint version number that leads to the crash described in the initial description of this issue actually comes from the "ttfautohint --version" subprocess output. It does not come from a name table entry!

So the issue here is in the subprocess output parsing regex which should not match mu

[2016-08-18 16:46] davelab6 commented on #838
@vmesel cool, I didn't know of that linter; how many errors does it report? :)

[2016-08-18 16:53] vmesel commented on #957
Im running it on Mac OS X Yosemite.

[2016-08-18 16:58] vmesel commented on #838
I read some more details and its not actually a linter, it is a pep8 formatter. It gets your code and format for pep8.

[2016-08-18 17:01] davelab6 commented on #838
Such tools are useful for passing flake8 (https://github.com/googlefonts/fontbakery/blob/e3378ebf8b327c7ac15be2c78844357ba549e538/.travis.yml#L30)

[2016-08-18 17:41] felipesanches commented on #957
Can you run it again with current master to see if the version is being correctly detected by the new regex, please?

[2016-08-18 17:47] felipesanches commented on #838
@davelab6 Those specific flake8 errors are being explicitely ignored not because we're unable to fix them, but because at some point I decided that my codestyle is better than what flake8 expects to see in those particular cases.

[2016-08-18 17:54] vmesel commented on #838
@felipesanches so why we dont create a new coding style, so we can get a pattern and a linter for checking the code?

[2016-08-18 17:59] felipesanches commented on #838
@vmesel For the current code style, flake8 with those few specific --ignores does the job already.

What this issue is really about is adapting our codebase to a Google Python coding style. Not sure if there's any real technical benefit in doing it by itself. But given that FontBakery is a useful tool for people working on the Google Fonts project, I think it can be reasonable to have a codestyle

[2016-08-18 18:06] felipesanches opened #962 "Travis broken due to lxml/etree: "undefined symbol: clock_gettime""
[code]

[2016-08-18 18:07] felipesanches commented on #962
This page seems to provide some clues on this issue:
https://community.webfaction.com/questions/17591/lxml-installation-problem

[2016-08-18 18:12] anthrotype commented on #962
What version of lxml are you using?
They uploaded just today new universal `manylinux1` wheels to PyPI:
https://pypi.python.org/pypi/lxml/3.6.2

[2016-08-18 19:00] davelab6 commented on #838
I would prefer no exceptions to pep8 but this is such a low priority thing I even wonder about just closing this issue :)

[2016-08-18 19:55] felipesanches opened #963 "Question: source of truth for font version ?"
I noticed this:

[code]

The hotfix is downgrading the font version by altering the version string in the name table because it is treating the font["head"].fontRevision entry as the source of truth.

I can see 3 possible approaches here:

* use font["head"].fontRevision as the source of truth (this is what the current implementation does)
* use NAMEID_VERSION_STRING as the source of truth
* use t

[2016-08-18 20:02] anthrotype commented on #963
nameID 5 is more important than head.fontRevision, IMO.

[2016-08-18 20:04] felipesanches commented on #838
@davelab6 I am not working on this, precisely because it is extremely low-priority, but this issue could be a good task for @vmesel if he's interested in submitting a pull request.

[2016-08-18 20:21] davelab6 commented on #963
I agree with Cosimo, the current approach is not ideal; I suggest to tell
both values and default fixer can use the max value of both of these
entries as the source of truth.

[2016-08-18 20:48] felipesanches commented on #932
@davelab6 I believe that the check called "Assure valid format for the main entries in the name table." already takes care of validating the correctness of all name table strings. The italic name entries are a specific case of that.

The "Assure valid format for the main entries in the name table." check starts at https://github.com/googlefonts/fontbakery/blob/7d284ab1777bc13bd48c500faacfa4f263c1a

[2016-08-18 20:56] felipesanches commented on #932
@davelab6 if you agree, please close this issue.

I just deleted that comment from the sources.

I consider this an invalid issue unless there's some special check for italics that we still do not perform and I may be not aware of.

[2016-08-18 21:07] vmesel commented on #957
Running on the current master, everything seems to be fine, output on [Pastebin](http://pastebin.com/kBk0hg26)

[2016-08-18 21:09] vmesel commented on #963
I agree with @davelab6 it should be an ideal step to get the max value between both and set it as the source of truth.

[2016-08-18 21:17] vmesel commented on #838
@felipesanches and @davelab6 do you know any linter for the Google Python Code Style?

[2016-08-19 03:32] davelab6 commented on #838
Nope

[2016-08-19 04:06] felipesanches commented on #963
@davelab6 I think this new implementation deals properly with the source of truth for font version. Please close the issue if you don't disagree.

[2016-08-19 04:07] felipesanches commented on #957
alright!

[2016-08-19 04:07] #957 closed

[2016-08-19 04:40] felipesanches commented on #962
It seems that the issue was fixed by TravisCI employees :-)

The build is green now.

[2016-08-19 04:40] #962 closed

[2016-08-23 23:10] felipesanches commented on #735
Not all checks in Mekkablue repo make sense for OpenType binaries, since they are originally targeting Glyphs project files instead:

* **checkForOpenPaths**: does not apply since all glyf table contour data are implicitly closed paths.
* **checkForPathDirections**: I did implement this by calculating the area of the glyphs (with fontTools AreaPen) and checking the numerical sign of the resulting

[2016-08-24 03:44] felipesanches commented on #735
In the "check glyphs have unique names" implementation (as commited at https://github.com/felipesanches/fontbakery/commit/f87eff78a35c747af64b82e734e5ff62fe873023 above), I have added a reasonable special case to ignore multiple codepoints mapped to the same name when the name is **'.notdef'**.

Interestingly, this check catches an error in Carlito-Regular:

[code]

[2016-08-24 04:01] felipesanches commented on #735
I consider this issue ready for being closed. The corresponding pull request was just merged into master. Could you please reopen it if you'd like to ask for any further tweaks, @davelab6 ?

[2016-08-24 04:01] #735 closed

[2016-08-25 13:04] felipesanches opened #967 "Closed issues that Dave might want to review/reopen"
These issues are considered fixed so I'll close them in good faith. But @davelab6 may want to take a look at them and eventualy reopen if something may not look quite right. So we're now using this single issue to track them all.
- [ ] https://github.com/googlefonts/fontbakery/issues/963
- [ ] https://github.com/googlefonts/fontbakery/issues/445
- [ ] https://github.com/googlefonts/fontbakery/issu

[2016-08-25 13:04] #963 closed

[2016-08-25 13:04] #445 closed

[2016-08-25 13:04] #940 closed

[2016-08-25 13:05] #937 closed

[2016-08-25 13:05] #932 closed

[2016-08-25 13:05] #830 closed

[2016-08-25 13:05] #938 closed

[2016-08-25 13:08] felipesanches commented on #946
@vmesel feel free to private message me if you need any further support.

[2016-08-25 13:08] #946 closed

[2016-08-25 19:07] #790 closed

[2016-08-25 19:13] felipesanches commented on #555
Unless I get some feedback no this one, lets move this to a future milestone.

[2016-08-25 19:14] davelab6 commented on #555
Sure

[2016-08-25 19:17] felipesanches commented on #95
@davelab6 Should we drop this one as deprecated? Or move it to a future milestone (waiting feedback) ?

[2016-08-25 19:22] felipesanches commented on #924
This sounds like a meta-issue. I see nothing really special about this collection of issues other than the fact that their origin were inline comments in the source. No need to keep it open. We can work directly on each individual issue tracker entry.

[2016-08-25 19:53] felipesanches commented on #939
I think that the real concern here is at:
https://github.com/googlefonts/fontbakery/blob/a02a4f01cb6f4664b91fa6d7c695bddf1187bd32/fontbakery-check-ttf.py#L438-L444

where the get_name_string function returns the first name entry with the nameid specified in its parameters.

So it seems that this function should return a list all entries with the specified nameid and then all code that relies on ch

[2016-08-25 19:53] davelab6 commented on #924
$ grep TODO fontbakery-check-ttf.py  | wc -l
      13
    $

[2016-08-25 19:55] davelab6 commented on #939
Per https://github.com/googlefonts/fontbakery/issues/926 aren't there built in method for getting and setting namerecords?

[2016-08-25 19:55] davelab6 commented on #939
Sounds right

[2016-08-25 19:56] felipesanches commented on #924
You still see them there because I did not delete the comments. I simply attached the specific issue-url together with the original lines of TODO comments.

[2016-08-25 20:01] davelab6 commented on #939
[code]

I think this `fullfontname.startswith(familyname)` is wrong, because the comparison is with

    familyname = get_name_string(font, NAMEID_FONT_FAMILY_NAME)

but should be

    familyname = get_name_string(font, NAMEID_TYPOGRAPHIC_FAMILY_NAME)

[2016-08-25 20:01] davelab6 commented on #939
But I'm just writing off the top of my head, I'm not totally sure

[2016-08-25 20:05] davelab6 commented on #924
Okay cool :)

[2016-08-25 20:05] #924 closed

[2016-08-25 20:06] davelab6 commented on #568
@felipesanches the argparse work you did a few weeks ago should make this easier :)

[2016-08-26 02:24] felipesanches commented on #652
* **test-glyphnumber.py**: "maxp" checks are already performed by fontforge
* **test-monospace.py**: isFixedPitch is already checked at "Checking if the font is truly monospaced"
* **test-monospace.py**: "advance width settings in [hmtx] table" are already checked at "Monospace font has hhea.advanceWidthMax equal to each glyph's advanceWidth ?"
* **test-version.py**: version strings are already ch

[2016-08-26 02:27] felipesanches commented on #652
Here are the values tested by "test-metrics.py" (the ones with checkmarks already have checks in fontbakery):

# [head] table
- [ ] unitsPerEm

# [hhea] table
- [ ] descent
- [ ] ascent
- [ ] lineGap

# [OS/2] table
- [ ] capHeight
- [ ] xHeight
- [ ] typoAscender
- [ ] typoDescender
- [ ] typoLineGap
- [ ] winAscent
- [ ] winDescent
- [ ] strikeoutPosition
- [ ] strikeoutSize
- [ ] averageWidth
-

[2016-08-26 02:55] felipesanches opened #968 "GASP table check: Provide useful explanation to the user"
When failing, explain to the user why there's a problem in the GASP table.

[2016-08-26 03:00] felipesanches opened #969 "Inverted logic in "Is there any unused data at the end of the glyf table?""
The skip conditional is inverted here:

https://github.com/googlefonts/fontbakery/blob/94e643311a7ef4715548899ae6e2ed5e5c8855ff/fontbakery-check-ttf.py#L2601-L2604

[2016-08-26 03:04] felipesanches opened #970 "advanceWidth: compute the percentage of outliers"
At "Monospace font has hhea.advanceWidthMax equal to each glyph's advanceWidth ?":

[code]

[2016-08-26 03:08] felipesanches opened #971 "Improvements to file logging behaviour"
@davelab6 suggested, at the very end of fb-check-ttf.py, the following expected behaviour for the file logging mechanism:

[code]

[2016-08-26 15:05] #969 closed

[2016-08-27 03:23] #970 closed

[2016-08-28 20:09] felipesanches commented on #652
Are there reasonable values we would expect to see in these fields? source-foundry/font-tests does check these against values provided by the user upon invokation, instead of expected values infered from other table entries:

# [OS/2] table
* capHeight
* xHeight
* strikeoutPosition
* strikeoutSize
* averageWidth
* superscriptXSize
* superscriptXOffset
* superscriptYSize
* superscriptYOffset
* subs

[2016-08-28 20:37] chrissimpkins commented on #652
I believe that most of those will be very typeface dependent.  It might be possible to establish checks against extreme values if your goal is as a general font testing tool.  As I recall our testing tool was built for font specific testing (i.e. our own fonts with known values for each of these parameters).  The goal was to provide us with a way to test each new build for unexpected changes to ex

[2016-08-28 23:36] #968 closed

[2016-08-29 03:59] felipesanches opened #975 "split code of "name record 10s (descriptions) are reasonable?""
The check "name record 10s (descriptions) are reasonable?" contains code for maximum entry length. This should be split into two indepentent checks.

[2016-08-29 04:28] #926 closed

[2016-08-29 04:55] #975 closed

[2016-08-29 04:58] felipesanches opened #978 "directly alter name entries instead of recreating the full table"
In a few checks we create a whole new name table from scratch by selectively picking good names and leaving out the ones the check consider bad. These routines could be made simpler (and probably less error prone) if we simply alter the name table directly by deleting entries (with the python del keyword) or altering/creating entries with the setName method.

[2016-08-30 00:41] #978 closed

[2016-08-30 01:57] felipesanches commented on #930
aha! Got it!

It was a hack. I've just changed it to something equivalent but much better in terms of legibility.

[2016-08-30 02:02] #930 closed

[2016-08-30 02:36] #931 closed

[2016-08-30 03:34] #936 closed

[2016-08-30 03:42] felipesanches commented on #652
Thanks for the feedback, @chrissimpkins !

Sounds like we've then covered all portions of these checks that make sense for FontBakery. These other ones seem really very dependent on the metrics of each specific typeface, so, there's not really a single reference to check against without explicit user input.

I'd rather not add checks for the extreme value ranges you suggest because we're ideally c

[2016-08-30 03:42] #652 closed

[2016-08-30 10:27] chrissimpkins commented on #652
my pleasure! let me know if there is anything else that I can do.

[2016-08-30 19:34] #935 closed

[2016-08-30 22:04] #939 closed

[2016-08-31 02:01] felipesanches commented on #929
The only other name able entry I can conceive of checking against in this case would be NAMEID_VENDOR_URL and it should likely match the URL provided in Microsoft's webpages at "https://www.microsoft.com/typography/links/vendor.aspx?VID={}".format(vendor_id)

Fetching all these hundreds of pages and chaching the URLs for checking against the VENDOR URL entry seems like a lot of effort for somethin

[2016-08-31 02:37] felipesanches commented on #929
I think it is not worth it. Reopen if you disagree, or if you have any other suggestion.

[2016-08-31 02:37] #929 closed

[2016-08-31 02:55] felipesanches commented on #893
Plain text output already is the same content that gets optionally redirected to json and/or markdown.
I'm not sure what you mean by "dropping" it. Should terminal output be completely silent during checks?

Maybe the output should be a progress-bar followed by a summary? And then details can be seen on the output files.

Hmmm... I think I can experiment with this idea...

[2016-08-31 04:56] #893 closed

[2016-08-31 16:12] felipesanches opened #987 "show usage if no output or verbose flags are used"
It would be good to inform the user In the specific case when none of the following flags are used in the command line:

* --verbose
* --json
* --ghm

Rationale is that the absense of --verbose results in check results not being printed on stdout, and not having --json or --ghm results in the same data not being written to an external file.

We could default --ghm to true in this case or we could

[2016-08-31 17:28] #987 closed

[2016-08-31 21:12] felipesanches opened #989 "reports are mistakenly overwritten for multiple TTF files check runs"
If fontbakery is invoked with multiple TTF file names, each new file overwrites the check results report of the previous one. We must immediately fix that.

[2016-08-31 22:26] #989 closed

[2016-09-01 04:11] felipesanches commented on #802
This has been working for a while now.

[2016-09-01 04:11] #802 closed

[2016-09-01 04:22] felipesanches commented on #801
https://github.com/googlefonts/fontbakery/issues/679 (Ensure all code passes Google-style pylint)

[2016-09-01 04:23] felipesanches commented on #801
https://github.com/googlefonts/fontbakery/issues/838 (Adopt Google Python Style)

[2016-09-01 04:24] felipesanches commented on #679
This is redundant with https://github.com/googlefonts/fontbakery/issues/838 and https://github.com/googlefonts/fontbakery/issues/801

[2016-09-01 04:24] #679 closed

[2016-09-02 00:41] felipesanches commented on #934
This afternoon I have tried to use the contextlib module to temporarily redirect the stderr stream of the imported fontforge module, as described at http://stackoverflow.com/questions/4675728/redirect-stdout-to-a-file-in-python/22434262#22434262

There were two major issues:

(1) The documentation of contextlib only lists a redirect_stdout method but not redirect_stderr (or even a more generic red

[2016-09-03 00:15] felipesanches commented on #934
oh yeah! I finally got it right without a hack! :-D

[2016-09-03 00:21] felipesanches commented on #934
oh, well... it seems that handling stderr this way messes up with Travis understanding of the build status. Even though it passed all of the checks, it is now reporting it as a failed build :-P

[2016-09-03 02:05] #934 closed

[2016-09-03 02:11] felipesanches commented on #681
I've been constantly improving the messages. It will still be good to have @davelab6 review and maybe further improve them. But that's definitely not as critical as it was before, so I'm leaving it assigned to 2.0.0 milestone.

[2016-09-03 02:13] felipesanches commented on #95
Moving to a future milestone.

[2016-09-03 02:14] felipesanches commented on #835
Moving it to a future milestone.

[2016-09-03 02:49] felipesanches commented on #834
done.

[2016-09-03 02:49] #834 closed

[2016-09-03 03:18] #928 closed

[2016-09-03 03:21] felipesanches opened #994 "In order to make Travis Builds faster, run flake8 before the other font checks."

[2016-09-03 03:22] felipesanches opened #995 "to increase coverage use --ghm and --json on travis"

[2016-09-03 03:40] #994 closed

[2016-09-03 03:49] #995 closed

[2016-09-03 03:57] felipesanches commented on #568
This is the last issue on milestone 0.1.0 and I'll be working on this one once I get back from the extended hollidays, on Sept. 8th.

[2016-09-05 19:11] graphicore commented on #705
Here's the reason: https://github.com/google/fonts/issues/132#issuecomment-244796023

We may add a check that looks if all TrueType instructions tables are present if one is present. I guess it's hard to determine the actual dependencies of a table like `prep`. So, `prep`,  `cvt` and `fpgm` would have to be there all together or none at all.

At least in https://www.freetype.org/ttfautohint/doc/tt

[2016-09-07 09:11] m4rc1e opened #998 "Easier setup"
Hey folks,

This ranks as one of the worst installations I've ever had to do (worse than a tileserver). I would like to make a Docker image for lazy people. Would everyone be in favour of this?

Cheers,
Marc

[2016-09-07 09:33] davelab6 commented on #998
The script has a few dependencies but these should be tools any font designer has available, nothing fancy. What were your issues?

[2016-09-07 09:41] davelab6 commented on #998
But, still,

    pip install -r requirements.txt

is what we should have

[2016-09-07 10:26] #818 closed

[2016-09-07 13:43] m4rc1e opened #1001 "fontbakery-fix-dsig.py"
Hello,

In [checklist.md](https://github.com/googlefonts/gf-docs/blob/master/ProjectChecklist.md) a dsig is required.

Is there a reason why this script was deleted?

Cheers,
Marc

[2016-09-07 13:48] m4rc1e commented on #998
Agreed, I'll add it later and amend the README

[2016-09-07 18:16] m4rc1e opened #1003 "Unit tests"
I'm getting concerned I may start breaking things whenever I do a pr.

I see we have functional tests which is cool. However, I'd love to have tests for complex functions. I just did some regex stuff so tests for these areas would be useful.

Cheers,
Marc

[2016-09-07 18:39] davelab6 commented on #1003
I'm supportive of this but I'm not sure its a hi priority for the next few
weeks.

On Sep 7, 2016 7:36 PM, "Marc Foley" <notifications@github.com> wrote:

[2016-09-08 13:23] m4rc1e opened #1005 "check-ttf.py: "Font contains magic code in PREP table?""
Hello,

We have `magiccode = "\xb8\x01\xff\x85\xb0\x04\x8d"`, I'm assuming this is something ttfautohint inserts or why is this needed?

My fonts which have been run through ttfautohint all fail this test.

Cheers,
Marc

[2016-09-08 15:49] felipesanches commented on #1005
This magiccode check was added to fontbakery prior to my involvement in the development. As it lacks inline documentation in the source, I have just put the effort to manually disassemble this tiny snippet of TrueType instructions bytecode in order to figure out what does it do. Here's what I figured out, based on the instruction set documentation available at https://www.microsoft.com/typography/

[2016-09-08 15:57] felipesanches commented on #1005
I used ttx to inspect the prep table of Merriweather-Black.ttf and the block of truetype instructions is a bit larger than this check expects to see. But I could find this in the middle of the Merriweather-Black routines:

[code]

which is effectively what the check is expecting to find (please not that 511 is the decimal representation of 0x1FF).

So instead of expecting it to be exactly equal, m

[2016-09-08 16:17] felipesanches commented on #1005
Regarding "why this is needed?" maybe @davelab6 could clarify that to us here. I can trace it back to commit c30b7981 by @vitalyvolkov on January 2015, but it could be a bit older.

[2016-09-08 16:18] felipesanches commented on #1005
@m4rc1e I have just fixed the check to detect the presence of the expected snippet inside a larger chunk of bytecode,

[2016-09-08 16:19] m4rc1e commented on #1005
Ah cool.

But still, what exactly is the purpose of this test. To check whether there is a prep table?

[2016-09-08 16:22] anthrotype commented on #1005
it's a minimal PREP table for enabling dropout control, useful to improving rendering for unhinted TTFs:

See @davelab6 comment at: https://github.com/googlefonts/fontbakery/issues/890#issuecomment-236450011

and my comment here:
https://github.com/googlefonts/fontbakery/issues/890#issuecomment-236457209

[2016-09-08 16:22] felipesanches commented on #1005
From the O'Reilly book "Fonts and Encodings" by Yannis Haralambous:

[code]

[2016-09-08 16:25] felipesanches commented on #1005
@m4rc1e I've just merged it into master now. Let me know if the check still fails for your font projects

[2016-09-08 16:27] m4rc1e commented on #1005
Thanks folks, that's much clearer.

The comment is great.

surely dropout_control is a much more suitable variable name than magiccode

[2016-09-08 16:31] felipesanches commented on #1005
well... it was a kind of magic when it was undocumented :-P

[2016-09-08 16:32] m4rc1e commented on #1005
Fabulous.

`INFO     OK: Font contains magic code in 'prep' table`

Thanks for this,
I've done some more fixes throughout today. I will send you a pr with those in a few hours.

Cheers,
Marc

[2016-09-08 16:32] #1005 closed

[2016-09-08 16:32] felipesanches commented on #1005
cool, thanks.

[2016-09-08 21:51] vmesel commented on #971
Is it easy to implement @felipesanches ? I want to give a try, but don't know if its inside my knowledge

[2016-09-09 02:01] felipesanches commented on #971
I don't think this is a trivial issue. The behaviour described in this feature request seems to require a large set of changes in the code.

I think that a good way to approach the problem would be to make each test become a proper function so that it can be invoked multiple times.

[2016-09-09 02:05] felipesanches commented on #998
fixed at https://github.com/googlefonts/fontbakery/pull/1004/commits/950694fe685e7f711bc89c4739b81d20e3be8d8c

[2016-09-09 02:05] #998 closed

[2016-09-09 03:35] felipesanches commented on #1001
The main script fontbakery-check-ttf.py handles the dsig checking and hotfixing.

[2016-09-09 03:35] felipesanches commented on #1001
I'm not sure we have ever had this as a standalone script.

[2016-09-09 11:47] m4rc1e commented on #820
Hey hey,

Yep, I still get this as well.

Do we even need this [check](https://github.com/googlefonts/fontbakery/blob/master/fontbakery-check-ttf.py#L2934)?

[2016-09-09 12:46] m4rc1e opened #1007 "check-ttf.py: Vertical Metrics check"
The implementation to check vertical metrics is out of date and imo incorrect.

`ERROR    Vertical metrics. Changes that must be applied to this font: hhea ascent from 950 to 1000 | OS/2 sTypoAscender from 811 to 1000 | OS/2 usWinDescent from 250 to 0 | OS/2 sTypoLineGap from 139 to 0`

We had a mega discussion in Kalapi's Google Font's Work [thread](https://groups.google.com/d/msg/googlefonts-dis

[2016-09-12 19:26] felipesanches opened #1009 "Make the "unitsPerEm==1000" check warning-only and google-fonts-specific"
According to the conversation at PR #1008 The check "Is font em size (ideally) equal to 1000?" should only result in a warning in the worst case. Also we'll make it a Google-Fonts specific check so that it can skipped with the -s/--skip cmdline argument.

[2016-09-12 19:42] #1009 closed

[2016-09-12 23:00] felipesanches commented on #820
@m4rc1e the issues for @khaledhosny seem to have been fixed by https://github.com/felipesanches/fontbakery/commit/d6d547d697745e7c13477f611d5c4f3dcab23002 (if not, let me know)

Can you point me to a specific font file that still triggers the problem?

[2016-09-13 09:04] m4rc1e commented on #820
Hey @felipesanches

Give this font a try:
[https://github.com/m4rc1e/The-Lobster-Font/tree/master/fonts/ttf](https://github.com/m4rc1e/The-Lobster-Font/tree/master/fonts/ttf)

I get this:
` Glyph name 'space' is attributed to more than a single codepoint: (0x9, 0x20, 0xd)`

Cheers,
Marc

[2016-09-13 12:50] m4rc1e commented on #1007
Well, I've submitted a pr, #1011, if you'd like to try this out.

Cheers,
Marc

[2016-09-13 14:41] felipesanches commented on #1007
#1011 was just merged into master.

[2016-09-13 14:41] #1007 closed

[2016-09-13 14:45] felipesanches commented on #820
I see...

that's TAB (0x9) SPACE (0x20) and CARRIAGE RETURN (0xD)
So I guess these are ok and shuld not be rteated as an error, right?

[2016-09-13 14:50] davelab6 commented on #820
No:)

[2016-09-13 14:55] felipesanches commented on #820
@davelab6 what do you mean?

[code]

or

[code]

[2016-09-13 15:28] davelab6 commented on #820
"It should not be treated as an error, no."

[2016-09-13 23:32] felipesanches commented on #820
yeah... it seems that the real solution here is to simply drop the "Check glyphs have unique names" check as pointed out by @m4rc1e

[2016-09-13 23:44] #820 closed

[2016-09-14 01:10] felipesanches opened #1013 "fb-build-fontmetadata crashes when all fonts are blacklisted"
[code]

[2016-09-14 01:12] #1013 closed

[2016-09-14 01:45] felipesanches commented on #705
Thanks, @graphicore !

[2016-09-14 01:45] #705 closed

[2016-09-14 02:02] felipesanches commented on #811
"Adobe Blank is a special-purpose OpenType font that maps all Unicode code points to non-spacing and non-marking glyphs"

I'll simply close this one as this is really a corner case weird font.

@davelab6 I'm curious to learn what is the practical purpose of such font.

[2016-09-14 02:02] #811 closed

[2016-09-14 06:09] davelab6 commented on #811
It is a great hack to prevent font fallback

On Sep 14, 2016 4:02 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2016-09-14 09:43] m4rc1e opened #1016 "postScriptName field ends with '-Regular'"
Hey,

I get the following error:
`ERROR    METADATA.pb postScriptName field ends with '-Regular'`

Our naming [spec](https://docs.google.com/spreadsheets/d/1ckHigO7kRxbm9ZGVQwJ6QJG_HjV_l_IRWJ_xeWnTSBg/edit#gid=0) has hyphens for the Postscript name.

Cheers,
Marc

[2016-09-14 10:03] m4rc1e opened #1017 "Copyright notices should match the folowing pattern: 'Copyright 2016 Author Name (name@site.com)'"
Hey,

I've based my copyright name/OFL on our [spec](https://github.com/googlefonts/gf-docs/blob/master/ProjectChecklist.md#ofltxt)

I have the following:
`Copyright 2012 The Trocchi Project Authors (vern@newtypography.co.uk)`

our spec has:
`Copyright 2016 The Acme Project Authors (info@foundry.com)`

I think FB has an incorrect check for this.

ps
apologies, my commits are going to slow down on

[2016-09-14 12:26] felipesanches commented on #1016
* Which font did you use to get this?
* What was the expected result? / Why?

[2016-09-14 18:16] felipesanches commented on #1016
@davelab6

The "METADATA.pb 'filename' matches 'postScriptName' ?" check  rejects a "-Regular" prefix in font filenames or in the postScriptName field of METADATA.pb files. I seem to recall that this check criteria was introduced after conversations about it here on the issue tracker.

On the other hand, the spreadsheet that @m4rc1e referenced to lists "Roboto-Regular" as a valid postScriptName. M

[2016-09-14 19:17] felipesanches commented on #1017
I just merged a fix. Let me know if that's enough or if it still fails for any corner case you may find. :-)

[2016-09-14 19:19] felipesanches commented on #1017
@m4rc1e feel free to reopen the issue in case it may still need further tweaks.

[2016-09-14 19:19] #1017 closed

[2016-09-14 19:21] felipesanches commented on #891
I think we would first need to have some refactoring as described at https://github.com/googlefonts/fontbakery/issues/971#issuecomment-245797089 in order to add docstring to each test function(or method).

[2016-09-14 20:05] m4rc1e commented on #891
Hey @felipesanches and @davelab6,

I would prefer FB didn't do hot fixes.

All errors should be fixed at the source imo.

My current workflow is to generate the fonts from Glyphsapp into an ofl repo structure, run FB and fix the errors in the source files until it clears FB (or as close as possible).

I've been working on a [script]((https://github.com/m4rc1e/mf-glyphs-scripts/blob/master/Fixes/fi

[2016-09-14 20:07] m4rc1e commented on #971
Just wrote a lengthy post about this in #891.

Basically, we should always try and fix in source files instead of hot fix.

[2016-09-14 21:11] davelab6 commented on #891
hotfixes are required for projects without sources and when there is no
time/resources for recreating sources.

[2016-09-14 22:28] davelab6 commented on #1017
Sounds good

[2016-09-14 23:52] felipesanches commented on #891
Yes, I agree that hotfixes are bad and that everything should be fixed in the source files. But @davelab6 has got a point here, that sometimes, in very specific situations, hotfixes are needed. So deleting them all may be throwing away useful code.

[2016-09-15 00:04] felipesanches commented on #971
thanks, @m4rc1e I agree. And I replied there as well.

[2016-09-15 07:12] davelab6 commented on #1016
@m4rc1e what does glyphapp currently generate for the ID6 namerecord for a regular font?

[2016-09-15 07:21] m4rc1e commented on #1016
@davelab6

id6 = Trocchi-Regular

[2016-09-15 07:22] m4rc1e commented on #891
Alright, the no time constraint is a valid concern ;)

[2016-09-15 07:28] davelab6 commented on #1016
If that's what the latest beta build makes, we should change the FB check. I remember there was some problems we uncovered with glyphs name scheme a while ago.

[2016-09-15 19:32] felipesanches commented on #1016
ok, then. I'll adapt the check to accept this naming rule.

[2016-09-15 20:56] felipesanches commented on #1016
@m4rc1e Please review and reopen if you notice any problem.

[2016-09-15 20:56] #1016 closed

[2016-09-16 01:13] felipesanches opened #1020 "crop generated image to bbox of letters to remove additional whitespace"
At the get_darkness function implementation on fontbakery-build-fontmetadata.py:

[code]

[2016-09-16 02:29] felipesanches opened #1021 "All blacklisted fonts have issues with hinting tables"
All blacklisted fonts on fontbakery-build-fontmetadata.py have issues with the OpenType hinting tables that trigger the check at https://github.com/felipesanches/fontbakery/blob/06945641497a642422a101d904420fda3eca9815/fontbakery-build-fontmetadata.py#L588-L607

See issue #704. I attempted to remove each of the blacklisted fonts in order to replicate the problem that originally caused them to be b

[2016-09-16 02:51] felipesanches commented on #1021
And indeed, if I disable the hinting tables check I end up getting a division by zero that results from a detected text_height value of zero !

Seems likely to be caused by the bad hinting tables perhaps?

[2016-09-16 02:57] felipesanches opened #1022 "can't run anymore fb-build-fontmetadata.py with more than a single TTF at once"
[code]

[2016-09-16 20:06] felipesanches opened #1024 "ValueError: invalid literal for int() with base 10: '00 February 6, 2013'"
[code]

[2016-09-16 20:08] felipesanches opened #1025 "AttributeError: 'Namespace' object has no attribute 'errors'"
[code]

[2016-09-16 20:27] #1025 closed

[2016-09-16 22:04] felipesanches opened #1027 "dave's check-bbox branch"
There's a one month old script authored by dave called fontbakery-check-bbox.py sitting is a branch here. It is very simple and I see no hard in merging it into master. May be useful for other people as well.

[2016-09-16 22:25] #1027 closed

[2016-09-16 23:02] #1024 closed

[2016-09-19 16:38] #1022 closed

[2016-09-19 17:15] m4rc1e opened #1031 "Generating CONTRIBUTORS.txt"
Hey folks,

I've written a script to look at git commits and make a CONTRIBUTORS.txt file. It works in the same manner as [add_font.py](https://github.com/google/fonts/blob/master/tools/add_font.py)

Shall I include this in FontBakery or GoogleFonts/tools?

@felipesanches @davelab6

[2016-09-19 17:46] felipesanches commented on #1031
Sounds like a generic tool that could have its own repo. But I would be OK with having a copy of it on Fontbakery repo as well.

[2016-09-19 18:31] davelab6 commented on #1031
Here is better, thanks!

[2016-09-19 18:32] davelab6 commented on #1001
There was for sure a `fontbakery-fix-dsig.py` because I have it from the pip install.

[2016-09-19 18:32] davelab6 commented on #1001
@felipesanches please bring it back :)

[2016-09-19 18:33] davelab6 commented on #568
@felipesanches what is the status of this?

[2016-09-19 18:34] davelab6 commented on #183
@m4rc1e does your 'upstream' GlyphsApp preflight script check this?

[2016-09-19 18:35] davelab6 commented on #754
@m4rc1e could you check off at the top which of the things your current GlyphsApp preflight tool already checks?

[2016-09-19 18:35] davelab6 commented on #766
Closing and merging into #754

[2016-09-19 18:35] #766 closed

[2016-09-19 18:39] felipesanches commented on #1001
ok, thanks.

[2016-09-19 18:39] m4rc1e commented on #754
@davelab6 I've been working on one for glyphsapp. [fix-gf-spec](https://github.com/m4rc1e/mf-glyphs-scripts/blob/master/Fixes/fix_gf_spec.py)

It is still really ghetto. I'm adding bits as I'm fixing repos and discovering new things.

It currently fixes the following:

• Names match spec
• CR, nbspace get added if they don't exist and their widths are the same as space
• NULL gets created if it do

[2016-09-19 19:26] #1001 closed

[2016-09-19 19:47] #1031 closed

[2016-09-19 19:57] davelab6 commented on #754
No, don't do that. We already have all 5 of those checks :)

I checked the 3 items in the list at the top that you already have.

[2016-09-19 20:33] #763 closed

[2016-09-19 23:04] rsheeter opened #1035 "Status of Google Fonts 'name' table"
Now that we have both a recommendation for correct `'name'` values and code to check it (hooray!), can you please run the name verification over the entire google fonts collection? - I'm eager to know how broken it is (or hopefully isn't).

Something like a csv of family, name field, # of problems (`Roboto, 1, 0` or `Roboto, fullname, 0` for Roboto with 0 fullname problems) would be ideal for my p

[2016-09-19 23:06] davelab6 commented on #1035
@felipesanches please do this asap :)

[2016-09-20 03:54] felipesanches commented on #1035
I'm running a custom script locally to automatically test the full set of Google Fonts.
I'll probably have a general summary tomorrow.

[2016-09-20 17:40] felipesanches commented on #1035
I've got around 80% of the TTF files from google fonts git repo checked. These have generated log files in both markdown and json format which may (likely) include font errors. The other ~20% have some osrt of issue with fontbakery and did not even save a report.

Today I'm investigating what are these issues and I may open new tickets in this issue tracker to address those with the goal of reachi

[2016-09-21 20:19] felipesanches opened #1036 "crash when failing to parse installed ttfautohint version"
I detected this as one of the failures described at https://github.com/googlefonts/fontbakery/issues/1035#issuecomment-248375443

[2016-09-21 20:35] #1036 closed

[2016-09-21 21:25] davelab6 commented on #934
@felipesanches what was the final status of this? :)

[2016-09-21 21:36] felipesanches commented on #934
All error messages output to stderr were temporarily redirected to an IOString buffer and then this was saved as messages in the fontbakery error log (results in both json and ghm output files).

After finishing the fontforge check, stderr redirection is undone so that all the rest of the program works as usual.

[2016-09-21 22:22] felipesanches opened #1038 "save log after finding a non-canonical filename"
Currently we instead have an early exit(-1) whenever a non-canonical filename is found.

[2016-09-21 22:47] davelab6 commented on #1035
@felipesanches what's the status of this? :)

[2016-09-21 22:54] felipesanches commented on #1035
I'm working on it.

For the few past hours I've been tweaking my setup locally and running and re-running the script.

it's not perfect but it's getting good. I'll provide an updated report here once I get a good summary of the aggregated check results.

[2016-09-21 23:22] felipesanches commented on #1038
fixed by PR #1039

[2016-09-21 23:22] #1038 closed

[2016-09-22 06:15] felipesanches commented on #1035
61 of 856 fonts (roughly 7% of them all) still have issues with Fontbakery. ;yesterday we had ~20% of fonts with issues. I estimate that most of these 13% (aproximately 110 fonts) have non-canonical names. Due to the fix of issue #1036 and a few other tweaks to the script they don't crash the automated check of the full font repo anymore.

All have to tackle the remaining 7% tomorrow. I do have a

[2016-09-22 06:25] felipesanches commented on #1035
A quick estimate:
[code]

And then we can get the full list of font files with non-canonical names this way:

[code]

[2016-09-22 06:27] felipesanches commented on #1035
@davelab6 @rsheeter It seems that the most common name issue is the lack of -Regular in the TTF filename.

Tomorrow I'll bring you further insight on the name-table related checks.

[2016-09-22 21:00] felipesanches opened #1041 "unicode decode error at "Copyright notice matches canonical pattern?""
[code]

[2016-09-22 21:05] felipesanches commented on #1035
Pull request #1042 fixed the check of 9 fonts reducing from 61 to 52 (~6%) the total number of fonts that still crash fontbakery.

[2016-09-22 21:06] #1041 closed

[2016-09-22 21:12] felipesanches opened #1043 "ZeroDivisionError: float division by zero (fb-check-ttf.py line 2355)"
[code]
[...]
[code]

[2016-09-22 21:12] felipesanches commented on #1043
Detected while working on #1035 by running test_all_fonts.sh and looking at check_results/issues.txt

[2016-09-22 21:35] felipesanches commented on #1043
Division by zero is caused by dehinted_size = statinfo.st_size being zero which is the result of ttfautohint refusing to generate a new file, so the temp file we created remains empty:

[code]

I'm not sure what ttfautohint means when it bails out the --dehint invokation with the message "This font has already been processed with ttfautohint."

[2016-09-22 21:58] felipesanches commented on #1043
I've logged the ttfautohing as a check-skip message (with a reference to this specific issue URL just in case) and this avoids the divide-by-zero crash gracefully.

[2016-09-22 21:58] #1043 closed

[2016-09-22 22:10] felipesanches commented on #1035
Pull request #1043 fixed the check of 27 fonts reducing from 52 to 25 (~3%) the total number of fonts that still crash fontbakery.

[2016-09-22 22:14] felipesanches opened #1045 "ttfautohint --dehint bails out with "This font has already been processed with ttfautohint.""
The message is logged by fontbakery, but it does not seem intuitive for the users. We need to figure out what it means and provide a better log message.

As of today, the issue affects 27 font files from the google fonts git repo.

See also:
* Issue #1043
* https://github.com/googlefonts/fontbakery/issues/1035#issuecomment-249042982

[2016-09-22 22:18] felipesanches opened #1046 "UnboundLocalError: local variable 'n1' referenced before assignment"
[code]

[2016-09-22 22:19] felipesanches commented on #1046
Detected while working on #1035 and running this:

[code]

[2016-09-22 22:21] davelab6 commented on #1045
Why is fontbakery running tttfa --dehint?

[2016-09-22 22:22] davelab6 commented on #1035
Cool. It must be 0! :)

[2016-09-22 22:24] felipesanches commented on #1045
It is used to infer the dehinted size and compare it with the hinted size

[2016-09-22 22:25] felipesanches commented on #1045
This is done on the "Show hinting filesize impact" check here:

https://github.com/googlefonts/fontbakery/blob/84742534b83ba06d5317ae1052ed62922c344db8/fontbakery-check-ttf.py#L2336

[2016-09-22 22:27] davelab6 commented on #1045
Ah yes, right, cool.

[2016-09-22 22:28] davelab6 commented on #1045
@lemzwerg please comment

[2016-09-22 22:31] felipesanches commented on #1045
In other words, why can't I dehint a previously hinted font? And why do I get instead a message telling me that it the font "has already been processed" ?

[2016-09-22 22:33] felipesanches commented on #1035
We'll soon reach full coverage. I'm working towards that goal :-)

[2016-09-22 22:42] #1046 closed

[2016-09-22 22:56] felipesanches commented on #1035
The issue fixed by Pull request #1047 affected a single font file. So we're at 24 fonts still crashing fontbakery now... :-(

[2016-09-22 23:01] felipesanches opened #1048 "UnicodeEncodeError on check: "Assure valid format for the main entries in the name table""
Working on #1035:

[code]
[...]

[code]

[2016-09-22 23:10] #1048 closed

[2016-09-22 23:41] felipesanches commented on #1035
The issue fixed by Pull request #1049 affected 16 fonts. So we now have only 8 fonts still crashing fontbakery :-D

[2016-09-22 23:54] felipesanches opened #1050 "UnicodeEncodeError on check "copyright namerecords match license file""
Working on #1035:

[code]
[...]
[code]

[2016-09-23 00:01] felipesanches opened #1052 "IndexError: out of range on check "Font has old ttfautohint applied?""
While working on #1035:

[code]
[...]
[code]

[2016-09-23 00:06] #1050 closed

[2016-09-23 03:19] #1052 closed

[2016-09-23 03:32] felipesanches opened #1054 "adobeblank errorlog does not get saved"
We skip running the fontforge check of AdobeBlank (because otherwise it would hang fontbakery). But something is causing it not to have its error log properly saved to json & github markdown.

[2016-09-23 03:46] #1054 closed

[2016-09-23 03:48] felipesanches commented on #1035
OK. No more crashers!
Now we've got full coverage of the Google Fonts collection! :-D

[2016-09-23 03:51] felipesanches commented on #1035
Next task: to generate a unified JSON (and/or Github Markdown) with the summary of which set of fonts triggered errors on each of fontbakery checks.

[2016-09-23 08:17] lemzwerg commented on #1045
It's a bug, now fixed in the git repository of ttfautohint.

[2016-09-23 11:01] felipesanches commented on #1045
great! thanks!

[2016-09-23 22:00] felipesanches commented on #1035
OK. I have created a script that summarizes the errors.
Here's an overview of how many files fail each of fontbakery checks:

[code]

[2016-09-23 22:01] felipesanches commented on #1035
The same script can also explicitely list all files that have problems for each of the checks, but such list would bee too large to post here.

[2016-09-23 22:03] felipesanches commented on #1035
The automatically generated markdown looks like this, but it is way longer:

## Is this a propper HTML snippet ?
3 files with errors:
/home/felipe/devel/github_google/fonts/ofl/gfsdidot/DESCRIPTION.en_us.html
/home/felipe/devel/github_google/fonts/ofl/gfsneohellenic/DESCRIPTION.en_us.html
/home/felipe/devel/github_google/fonts/ofl/tenorsans/DESCRIPTION.en_us.html

## METADATA.pb 'name' contains fo

[2016-09-23 22:08] felipesanches commented on #1035
I have just published the full summarized report at https://gist.github.com/felipesanches/d0a0c47fd95b102c1b9a8808a5977cb1

[2016-09-23 22:10] felipesanches commented on #1035
@rsheeter is this useful info? Do you need the data to be presented in some other format ?

[2016-09-23 22:51] davelab6 commented on #1035
@felipesanches good work :) Rod requested,

So, https://gist.github.com/felipesanches/d0a0c47fd95b102c1b9a8808a5977cb1#metadatapb-fullname-matches-postscriptname- shows 437 files with errors.

[2016-09-23 22:58] davelab6 commented on #1035
Sorting this list is helpful; please add a sort to the default output. Eg,

* [1474 errors] 'Checking font version fields'
* [1226 errors] 'Checking with pyfontaine'
* [1160 errors] 'fontforge validation outputs error messages?'
* [1048 errors] 'Font contains the first few mandatory glyphs (.null, CR, space)?'
* [1011 errors] 'Assure valid format for the main entries in the name table.'
* [ 882 er

[2016-09-23 23:00] felipesanches commented on #1035
What's the current plan to bring these thousands of errors to zero?
I hope you're not simply hotfixing TTFs on the repo, right?

[2016-09-23 23:15] felipesanches commented on #1035
FYI: If you want to generate this list yourself, you have to have a full checkout of the Google Fonts git repo, and then you can run:

[code]
(you'll probably have to edit the first 3 lines in the test_all_gfonts.sh script though, as for now the gfonts repo path is hardcoded in there. I may later make it into a command line parameter)

This will create a folder called check_results and it will run

[2016-09-23 23:16] felipesanches commented on #1035
These scripts are avaiable on the current master branch of fontbakery git repo:

* test_all_gfonts.sh
* fb_summary_report.py

[2016-09-23 23:18] felipesanches opened #1056 "document test_all_gfonts.sh and fb_summary_report.py"
A good reference is this comment:
https://github.com/googlefonts/fontbakery/issues/1035#issuecomment-249323550

[2016-09-25 16:55] felipesanches opened #1058 "fix flake8 issue"
At https://travis-ci.org/googlefonts/fontbakery/requests:

[code]

[2016-09-25 17:00] #1058 closed

[2016-09-25 19:03] graphicore opened #1060 "ftxvalidator availability"
I'm using usually GNU/Linux as my development machine. `ftxvalidator` is a Mac-only tool.

I wrote a small drop in replacement script for `ftxvalidator`, if there's a remote OSX available via `ssh` this can be used.

https://gist.github.com/graphicore/a83eeb8829ba64a628c8872092910515

So, if your roomate has a mac and you don't, you might convince him to give you ssh credentials ;-)

It's a start

[2016-09-27 18:23] graphicore opened #1061 "Message "ERROR Fonts have different numbers of glyphs" is self-contradicting"
Got this output:

[code]

Note how it reports 750 glyphs for each file.

[2016-09-28 01:46] #1061 closed

[2016-09-28 21:57] #1056 closed

[2016-09-28 21:58] #1035 closed

[2016-09-28 23:41] felipesanches commented on #568
A quick thought here:

* doxygen?
* manpages?
* a simple README.md section?

[2016-09-29 05:18] felipesanches opened #1066 "Implement -h/--help on fb-fix-nonhinting.py script"
[code]

(issue #568)

[2016-09-29 05:42] felipesanches opened #1067 "Implement -h/--help on fb-stats-deva-per-day.py script"
[code]

(issue #568)

[2016-09-29 05:49] felipesanches opened #1068 "Implement -h/--help on fb-build-contributors.py script"
[code]

(issue #568)

[2016-09-29 06:17] felipesanches opened #1069 "Implement -h/--help on fb-check-bbox.py script"
[code]

(issue #568)

[2016-09-29 06:35] felipesanches commented on #568
Pending sub-tasks:
- [ ] https://github.com/googlefonts/fontbakery/issues/1065
- [ ] https://github.com/googlefonts/fontbakery/issues/1067
- [ ] https://github.com/googlefonts/fontbakery/issues/1068
- [ ] https://github.com/googlefonts/fontbakery/issues/1069

[2016-09-29 13:07] davelab6 opened #1071 "Improving the output"
I want to follow up on @alexeiva 's comment on the gfd mailing list...

@alexeiva could you attach the file you tested to this issue, to reproduce?

If fsType is zero, then why does it ask to change fsType from 1 to 0? lol

The 2nd and 3rd errors are duplicative; I would make those 2 'INFO' level, because nothing is really wrong with NameIDs 13, and the real error is reported by itself.

Yeah, thi

[2016-09-29 17:18] graphicore opened #1072 "Fontbakery error: Designer {NAME} is not listed in profiles.csv"
This is for the font "VT323". I don't know if Mr. Hull has a G+ profile at all.

[code]

Maybe this should rather be a warning?

[2016-09-29 17:23] davelab6 opened #1073 "Updating name check"
Per https://github.com/googlefonts/gf-docs/issues/9 update the name check to only prevent the first char of a family name from being a digit

[2016-09-29 17:26] davelab6 commented on #1072
Hmm. Well, fonts.google.com doesn't link to G+ in the same way that google.com/fonts did, so this check can be commented out (as a similar check will be needed in future.)

[2016-09-29 17:31] davelab6 commented on #1072
Warning is good.

[2016-09-29 17:32] graphicore opened #1075 "CamelCase Name rule doesn't like "VT323""
Here is a stripped output of fontbakery for "VT323 Regular". Fontbakery doesn't like its CamelCase name:

[code]
This is a tough one ;-) We could allow consecutive uppercase letters to stick together, but that may lead to that we'd have more than one possible/expected form.

[2016-09-29 17:32] #1072 closed

[2016-09-29 17:34] davelab6 commented on #1071
I checked Alexei's email - https://groups.google.com/d/msg/googlefonts-discuss/OIBrUNekQlo/8xSE51MUBQAJ - and he is now in transit the rest of this week, so we won't hear from him until Monday.

The files for reproduction are at https://github.com/cyrealtype/Lora-Cyrillic/tree/master/fonts

[2016-09-29 17:35] davelab6 commented on #1075
Whitelist.

[2016-09-29 17:55] graphicore commented on #1075
I didn't find an explicit whitelist.

This is a minimal and a bit crude way, but it helps:

[code]

I inserted the three lines that contain `FAMILY_WITH_SPACES_EXCEPTIONS`.

That dict could be global.

It also could ne organized diferently, e.g. we could have something like:

[code]
Then come up with a decorator:

[code]

But maybe that's overengineering?

[2016-09-29 18:02] m4rc1e commented on #1071
This is a terrible bug we have in Glyphsapp. My script will set the font.customParameter['fsType'] = 0. However, it will export the font with 1 instead. I need to mention this on the glyhsapp forum. if you manually change this field by hand, it will be 0.

Glyphsapp exports this glyph with the name NULL. Both names are apparently fine.

FB needs to have the OFL.txt and the METADATA.pb in the same

[2016-09-29 18:15] graphicore commented on #713
I'm getting (in case of VT323):

[code]

This is a tough one to fix for me, as I can't give it a better VendorID than UKWN or (maybe?) an empty string.

Should this rather be a warning than an error?

[2016-09-29 18:41] m4rc1e commented on #713
Hey Lasse,

Look and see if the author has produced another font, if not, I treat this as a false positive.

We should possibly make this error a warning instead of an error.

Cheers,
Marc

[2016-09-29 19:02] felipesanches commented on #1071
I think the original meaning of the string was: "**check** if fsType is zero" / "**assert that** fsType is zero"

I can rephase it as "The value of fsType must be zero."

[2016-09-29 19:12] graphicore opened #1076 "Allow zero width glyphs in monospaced fonts"
The error is:

[code]
PR follows.

[2016-09-29 19:27] graphicore opened #1078 "monospaced fonts: ERROR GPOS table lacks kerning information"
With VT323, a proper monospaced design I get:

[code]

But for monospaced fonts, this should be not an error. Rather the invert would be true, if a monospaced font has kerning, something might be wrong.

[2016-09-29 19:34] davelab6 commented on #713
@phoikoi would you be willing to pick a vendorID? :)

[2016-09-29 19:42] m4rc1e commented on #1078
Yeah,

On Monospace fonts, I ignore this. Many fonts I've come across which are proportional, do not have kerning. I would make this a warning instead of an error.

[2016-09-29 19:43] davelab6 commented on #1071
Felipe wrote,

Yes, please do :)

Marc wrote,

lol

Done, https://forum.glyphsapp.com/t/fstype-ui-confusing/4524/2

@felipesanches please add this to the list of acceptable glyph names :)

@felipesanches The error message should say this.

@felipesanches please adjust this check to be a warning if the font is italic.

Cool

@felipesanches The error message should say this.

@felipesanches The erro

[2016-09-29 22:36] #1066 closed

[2016-09-30 01:23] davelab6 commented on #1071
@m4rc1e please use

    Font.customParameters['fsType'] = []

[2016-09-30 01:57] #1067 closed

[2016-09-30 01:59] felipesanches opened #1081 "deva-stats script is broken due to GWF website changes"
Google Web fonts website changed (probably a long time ago) and our implementation of the deva-stats script does not work anymore. We need to figure out where the info is made available within the website nowadays and use that info to fix the implementation of this script.

[2016-09-30 02:00] felipesanches commented on #1081
@davelab6 Is this script still important / useful / in use ?

There are two possible fixes:

* (1) drop it because it is not needed anymore
* (2) update/fix it because it is still needed & useful

[2016-09-30 02:53] #1068 closed

[2016-09-30 04:33] #1069 closed

[2016-09-30 04:48] felipesanches commented on #568
done!

[2016-09-30 04:48] #568 closed

[2016-09-30 06:11] felipesanches commented on #1075
yeah... at this point I think it is overengineering. I'll stick to the simple whitelist solution for now. If more similar issues pop up then we may consider other approaches, but for now I think that's pretty much enough for handling the issue.

[2016-09-30 06:18] #1075 closed

[2016-09-30 06:33] felipesanches commented on #1071
Well... fontbakery looks for the glyph by its codepoint value. The .null in the error message is merely cosmetic. I can print something like: "glyphs missing: .null or NULL (0x0000)" and it doesn't change the fact that a glyph for the 0x0000 codepoint was not found by the check.

[2016-09-30 07:18] felipesanches commented on #1073
@davelab6 I can't seem to find an check that validates family names based on the presence of digits at all. There's such kind of test for glyph names already.

Maybe I'm missing it. But then you're suggesting that we should add a new check for that kind of validation if there's still none?

[2016-09-30 10:06] khaledhosny commented on #1071
If what is missing is a glyph for a certain code point, then the error
should just mention the code point (preferably using U+XXXX syntax), the
glyph name is irrelevant and even misreading.

On Fri, Sep 30, 2016, 9:06 AM Felipe Corrêa da Silva Sanches <
notifications@github.com> wrote:

[2016-09-30 12:50] davelab6 commented on #1073
Yes; this should be checked for. I thought you went over the checklist doc and made checks for all those requirements. If you didn't, please do.

[2016-09-30 12:50] davelab6 commented on #1081
Drop it.

[2016-09-30 13:31] m4rc1e commented on #912
I'm still getting this error.

It is present in 100% of the repos I've come across. I'm using add_font.py to generate METADATA.pb files. I've been ignoring it so far

Does the order really matter?

If it ain't broke, don't fix it comes to mind.

As @davelab6 said, it would be nice to check if 'Menu' and 'Latin' were present.

[2016-09-30 13:34] m4rc1e opened #1086 ""GPOS table lacks kerning information" should be a mere Warning instead of ERROR."
Hey,

I'd like this to be a Warning instead of an error. Many legacy fonts have no kerning.

Cheers,
Marc

[2016-09-30 15:14] #1081 closed

[2016-10-03 16:16] m4rc1e opened #1088 "ERROR Fonts have different glyph names"
Hello,

I keep getting the error message in check-ttfs, when I run multiple fonts together.

Run FB on this repo. [https://github.com/m4rc1e/Maven-Pro](https://github.com/m4rc1e/Maven-Pro)

I have my own glyphsapp script to check if [fonts contain different names and glyph counts](https://github.com/m4rc1e/mf-glyphs-scripts/blob/master/QA/test_missing_glyphs_across_fonts.py)

I get the following o

[2016-10-03 16:19] felipesanches commented on #1088
@m4rc1e No worries. I'll take care of this. Thanks for reporting.

[2016-10-03 16:31] alexeiva commented on #1071
so,

[x] setting `fsType` via Marc's script on `version 2.4b (925)` — works
[x] `NULL` via  Marc's script on `version 2.4b (925)` — works

Generating a new `NULL` glyph in Glyphs App produces the same fb error because it does not have a `0000` unicode assigned.

Setting a custom `fstype` parameter manually in fontinfo to `installable` also doesn't pass fb because of a Glyphs bug.

[2016-10-03 17:01] davelab6 commented on #1071
I agree. @felipesanches please adjust

[2016-10-03 17:02] davelab6 commented on #1071
Then that's user error, if the user has to assign it.

Could you tell me more about that?

[2016-10-03 18:24] alexeiva commented on #1071
1. Add a new custom Parameter like this:

<img width="310" alt="screen shot 2016-10-03 at 14 11 36" src="https://cloud.githubusercontent.com/assets/16634089/19048205/575eb6e0-8973-11e6-8be1-ca319ff7c03b.png">

Produces this result `New Parameter`

<img width="1117" alt="screen shot 2016-10-03 at 14 15 38" src="https://cloud.githubusercontent.com/assets/16634089/19048331/e9be4eba-8973-11e6-8159-b43

[2016-10-03 19:42] graphicore opened #1089 "Some name table entries are supposed to be different between platforms."
[code]

This error could indicate problem but it is not an error. Some of the entries in the name table are expected to differ between platforms.

Maybe make it a warning?

[2016-10-03 19:45] graphicore opened #1090 "Problems parsing the version"
I get these errors, but in the name table I clearly have version entries.

[code]

[code]

[2016-10-03 19:56] khaledhosny commented on #1089
There shouldn't be any differences between platforms AFAIK, or better yet just include name entries for Windows platform and Unicode encoding, nothing else should be needed.

[2016-10-03 20:16] davelab6 commented on #1089
@graphicore the name table checks in FB should not be trusted, as they are pending my review of https://github.com/davelab6/glyphs-export/pull/1/files

[2016-10-03 20:16] graphicore commented on #1089
So how does it come that we can observe differences in files created by existing tools. In this case from Glyphs, which is used by many people.
These differences are also described here: https://docs.google.com/spreadsheets/d/1ckHigO7kRxbm9ZGVQwJ6QJG_HjV_l_IRWJ_xeWnTSBg/edit#gid=0 But I'm not sure if the sheet is up to date, just look at the name id 2. It describes what Glyphs exports.

My case, s

[2016-10-03 20:17] graphicore commented on #1089
@davelab6 I'm not trusting it, just pointing at an issue.

[2016-10-03 20:18] davelab6 commented on #1089
There should - the Mac platform IDs 1 and 2 are different, and 16 and 17 aren't needed (but 18 may be.)

This prevents the fonts from working for older but still widely used versions of Word for Mac.

[2016-10-03 20:19] davelab6 commented on #1089
Looks correct

[2016-10-03 20:25] felipesanches commented on #1088
@m4rc1e Fontbakery only runs this check when a METADATA.pb file is found. There's no METADATA.pb in the fonts folder at your repo. Do you keep a copy of this file into the fonts dir only on your local working copy ?

[2016-10-03 20:36] m4rc1e commented on #1088
There's a METADATA.pb file in this repo.

You have to create a temp folder which replicate the [fonts/ofl structure](https://github.com/google/fonts/tree/master/ofl/mavenpro) for each family.

[2016-10-03 20:37] felipesanches commented on #1088
sure!

I think I fixed the problem. I'll commit it and then ask for your feedback in 5 minutes

[2016-10-03 20:43] felipesanches commented on #1088
ok. I merged this since it fixes the issue at my local working copy.

[2016-10-03 20:43] #1088 closed

[2016-10-03 20:54] khaledhosny commented on #1089
OK, those versions of Word on Mac never supported Arabic (and I guess other complex scripts) so I’m happily ignoring them, but I see others might not have this luxury. Still I don’t see why name id 2 has to be different.

[2016-10-03 20:56] felipesanches commented on #1090
@graphicore so that I can test it, could you point me to a font file that results in this error, please?

[2016-10-03 21:00] felipesanches commented on #912
@davelab6 should the METADATA.pb of all old font projects be fixed to pass this check? Or should the check be dropped ?

[2016-10-03 21:09] graphicore commented on #1090
These files should trigger the message: https://github.com/graphicore/Montserrat/tree/mastering/fonts/ttf

[2016-10-03 21:12] felipesanches commented on #1090
thanks

[2016-10-03 22:09] felipesanches commented on #1090
I merged it since it fixes the issue at my local working copy.

[2016-10-03 22:09] #1090 closed

[2016-10-03 22:50] davelab6 commented on #1089
Windows GDI only supports 4 styles per family (RIBBI) but Mac supports many styles per family.

[2016-10-03 22:57] felipesanches commented on #1078
i'll treat this as a duplicate of #1086

[2016-10-03 22:57] #1078 closed

[2016-10-03 23:04] khaledhosny commented on #1089
This answers why you need name id 2 and name id 17 for Windows platform, but why not do the same for Mac platform even if not required, what harm would it cause, and are you sure those ancient Word versions don’t have the same limitation as GDI even on Mac?

[2016-10-03 23:06] felipesanches commented on #1076
@davelab6 said:

Full discussion happened at https://github.com/googlefonts/fontbakery/pull/1077

[2016-10-03 23:12] davelab6 commented on #912
Right - the old repos were made at a time when the menu and latin subsets were ordered first, but now that is not the case. They should be updated to be alphabetical.

[2016-10-03 23:13] davelab6 commented on #912
Yes, they should; but since it will be a bit of a pain, if you can write a specific fixer for this, I can schedule fixing in the future.

[2016-10-03 23:14] felipesanches commented on #912
ok, cool! Lets automate that fix .-)

[2016-10-03 23:17] davelab6 commented on #912
Yes, but later :)

@m4rc1e please update the METADATA files that you touch to resolve this

[2016-10-03 23:20] davelab6 commented on #1076
@felipesanches did you make a note in the output? When done then I suggest to close this

[2016-10-03 23:20] davelab6 commented on #1076
@felipesanches did you make a note in the output? When done then I suggest to close this

[2016-10-03 23:28] felipesanches commented on #912
ok

[2016-10-04 02:23] #1086 closed

[2016-10-04 02:44] #1076 closed

[2016-10-04 14:17] m4rc1e commented on #912
Ok

[2016-10-04 16:36] alexeiva opened #1096 "nameID edgecase"
https://github.com/alexeiva/Arsenal/issues/4

Arsenal is generating this error, although the naming is proper. @m4rc1e rechecked on his machine and confirmed the issue.

[code]

TTFs [here](https://github.com/alexeiva/Arsenal/tree/master/fonts/ttf)

[2016-10-04 16:51] davelab6 commented on #1096
No, the naming is wrong; for the RIBBI 4 styles, nameID  1 should be the family name only, and there should not be nameIDs 16 or 17

[2016-10-04 17:13] alexeiva commented on #1096
@davelab6 you are wrong, sir

https://gist.github.com/alexeiva/b3c5c063a3a9cc837d4ec17bf45b94e5

[2016-10-04 17:16] alexeiva commented on #1096
[Arsenal-Bold.TTX](https://gist.github.com/alexeiva/91cd9dcc9619d2aa7f347a195352b5ab)

[2016-10-04 17:29] davelab6 commented on #1089
Ideally users have more styles within less families

[2016-10-04 20:07] felipesanches commented on #1071
OK. I have just finished addressing all issues pointed out in this discussion.

[2016-10-04 20:07] #1071 closed

[2016-10-05 03:50] davelab6 commented on #1096
@felipesanches confirmed this

[2016-10-05 19:23] felipesanches commented on #1096
@davelab6 I don't get what you mean by "Felipe confirmed this." I did not confirm this. Also, I tested it in my computer and it works for me.

I can't reproduce this issue. Please reopen if any of you still get it, but then I'll need someone to provide a more detailed description of how to replicate the issue.

[2016-10-05 19:33] davelab6 commented on #1096
Sorry I meant that I confirmed this :)

[2016-10-05 19:33] davelab6 commented on #1096
@alexeiva are you using the very latest version?

[2016-10-05 21:17] felipesanches commented on #1096
oh! I got it:

[code]

I don't know why I didn't see it the first time.

So... what is the expected behaviour in this case, @davelab6 ?

[2016-10-05 21:18] felipesanches commented on #1096
Also, there are 2 error messages. Both of them are problematic?

[2016-10-05 21:27] felipesanches commented on #1073
Is there any font that fails this test? I guess not. Then this test is only a safety net just in case an invalid familyname shows up in the future, right?

[2016-10-05 21:31] m4rc1e opened #1099 "ERROR Glyph 'XXXX' coordinates (x,x) out of bounds!"
Hey,

Could we change this test to a WARNING message instead?

I'm dealing with handwritten fonts at the moment. It is nigh on impossible to get everything on extremes.

Cheers,
Marc

[2016-10-05 21:42] felipesanches commented on #1099
We made this into a Warning just when the style is Italic for a similar reason.
Should we make it a Warning unconditionally, @davelab6 ?

[2016-10-05 22:59] #1099 closed

[2016-10-05 23:59] #1073 closed

[2016-10-06 01:43] felipesanches commented on #1096
if I understood correctly, the commit above (https://github.com/googlefonts/fontbakery/pull/1101/commits/050da91fe8f9c845526b9492cac3a13594f819b7) fixes the detection of a RIBBI style consequently fixing the first error message, while the second message (expected 'Arsenal' but got 'Arsenal Bold') is actually correct and the font should be fixed in that case. (The reationale is based on Dave's comm

[2016-10-06 02:06] felipesanches opened #1102 "add mada and merriweather test data files to setup.py"

[2016-10-06 02:15] #1102 closed

[2016-10-06 03:00] davelab6 commented on #1096
I said,

The name table is

[2016-10-06 03:02] davelab6 commented on #1073
Yes

[2016-10-06 05:19] felipesanches commented on #1096
I'm sorry that I ended up git tagging fontbakery v0.1.0 and closing the milestone without really fixing this one.

Linux torvalds appologized for "the same" today: https://linux.slashdot.org/story/16/10/05/210227/linus-torvalds-says-buggy-crap-made-it-into-linux-48 :-P

I'll resume work on this issue tomorrow.

[2016-10-06 16:19] davelab6 opened #1104 "Update Out of Bounds info"
@m4rc1e mentioned face to face that the INFO about out of bounds points is safe to ignore for italic and script-y designs; generally 'how to fix' info should be in the font bakery output.

[2016-10-06 16:20] davelab6 opened #1105 "Remove --skip?"
Could the `--skip` switch be automatic? Eg if there isn't a METADATA file, then make an warning and skip the related checks; and if there isn't a OFL file, then make a warning and skip related checks?

(Reference https://groups.google.com/d/msg/googlefonts-discuss/OIBrUNekQlo/w7JnJrsrBQAJ)

[2016-10-06 20:33] felipesanches commented on #1104
The current warning message is:

[code]

[2016-10-06 21:35] davelab6 commented on #1104
How about:
[code]

[2016-10-06 21:38] felipesanches commented on #1104
looks good. I´ll make this change

[2016-10-06 21:49] #1104 closed

[2016-10-06 21:56] felipesanches opened #1108 "Move on to Python 3"
This issue was originally called "Unicode strings in python v2".

original description:
----
Review all strings with unicode in mind.

See: https://github.com/googlefonts/fontbakery/pull/1106

Python 3 port:
----
As of 2017 March 21, this is the place to track work on our Python 3 port as it should cleanup any bad handling of Unicode strings, byte strings, encoding/decoding operations etc. Python

[2016-10-06 21:56] felipesanches commented on #1108
https://github.com/googlefonts/fontbakery/commit/965bb96b55cf201d28e48887a72807bfd4797e0e#commitcomment-19299810

[2016-10-06 23:01] felipesanches commented on #1105
yes, it can.

The --skip switch skips all METADATA.pb checks but it also skips the "Is font em size (ideally) equal to 1000?" check, which does not deal with the protobuf file, but is GoogleFonts-specific.

[2016-10-06 23:57] #1105 closed

[2016-10-07 02:39] felipesanches commented on #1096
Running ttx on Arsenal-BoldItalic.ttf in my local checkout (on git commit 506a7434a411dc9886c50f7b1e863c0b932b8edb) results in this entry in the name table:

[code]

My understanding is that FontBakery correctly reports this as a naming error that should be fixed in the font file.

[2016-10-07 02:42] felipesanches commented on #1096
Do you agree, @alexeiva and @davelab6 ?

[2016-10-07 02:52] felipesanches commented on #1089
The check is pretty straightforward.

For each nameid, it expects that corresponding plat=Windows/lang=English_USA and plat=Mac/lang=Mac_english entries are all identical strings.

If that's not a reasonable thing to expect (as Lasse pointed out and Dave seem to have agreed), then this check should be dropped.

[2016-10-07 02:53] felipesanches commented on #1089
This is the check implementation:

https://github.com/googlefonts/fontbakery/blob/916659094da5b34d4535d532ed9efcd071352bbd/fontbakery-check-ttf.py#L2873-L2899

[2016-10-07 03:37] #1089 closed

[2016-10-07 03:59] felipesanches opened #1111 "all fonts in a family must have the same major/minor version numbers"
[code]

[2016-10-07 03:59] alexeiva commented on #1096
Hm, no. Here is what I get when I run ttx on `BoldItalic`

[code]

running f-b on Arsenal Bold Italic:
[code]

[2016-10-07 04:07] felipesanches commented on #1096
Here I get 2 nameID="1" entries. The good one for plat=MAC(1) **and** the bad one for plat=WIN(3):

[code]

[code]

[2016-10-07 04:40] felipesanches commented on #1096
@alexeiva could you please take a second look at your ttx output to make sure you're really missing that second nameID="1" entry? (the important entry is the one with platformID="3")

[2016-10-07 21:44] felipesanches commented on #1096
There's realy nothing I can do here unless someone can provide evidence of an actual bug. The error message clearly states that a bad nameID=1/plat=3 entry was found. Checking with TTX I can see the bad entry is indeed there. The supposedly good entry that @alexeiva said he's got from TTX is plat=1 instead, so perhaps the bad entry (plat=3) is also there further down the TTX file.

I'm pretty sure

[2016-10-07 22:02] felipesanches commented on #1060
Is this really an issue?

[2016-10-07 22:03] felipesanches commented on #1060
maybe a better issue description here could be "Mention this helper script in fontbakery README.md" or even "Add ftxvalidator-over-ssh helper script to FB repo".

[2016-10-07 22:04] felipesanches commented on #1060
@graphicore can you clarify what are your expectations regarding this issue?

[2016-10-08 01:25] #1045 closed

[2016-10-10 03:59] davelab6 commented on #694
Keeping thsi open for me to review later

[2016-10-10 23:02] #1111 closed

[2016-10-11 00:22] alexeiva opened #1115 "error: can't copy 'data/test/merriweather/Merriweather-Black.ttx': doesn't exist or not a regular file"
## Expected behaviour

I want to update fontbakery to latest

## Observed behaviour

[Full output](https://gist.github.com/alexeiva/6d394a4f220b723686fb2f2947654910)

[code]

[code]

## How to replicate

`sudo -H pip install --upgrade git+https://github.com/googlefonts/fontbakery.git`

[2016-10-11 00:28] felipesanches opened #1116 "Checks that are not specific to a single fontfile should be logged in a separate family-wide report"
## Expected behaviour

There are some checks that are performed to validate that all fonts in a family have coherent metadata among them.

Examples of such checks are:
- "version info differs among font files of the same font project"
- "All files are in the same directory"
## Observed behaviour

These checks are currently being saved to the first fontfile check results report. They should be save

[2016-10-11 00:29] alexeiva commented on #1115
It works if I just pull the git repo instead of `install --upgrade` command.

[2016-10-11 00:36] felipesanches commented on #1115
ok, I can fix that. It seems that I mistakenly placed a TTX file in the setup.py file. I'll fix it right now.

[2016-10-11 00:37] felipesanches commented on #1115
OK. I just did it.

@alexeiva Can you please confirm that it is fixed now?

[2016-10-11 00:53] #1115 closed

[2016-10-11 00:59] alexeiva commented on #1115
@felipesanches works now. Thank you!

[2016-10-11 01:16] felipesanches commented on #1115
you're welcome :-)

[2016-10-11 01:25] alexeiva opened #1118 "GASP table error - false positive"
## Expected behaviour

TTFs were exported from Glyphs Version 2.4b (926) with `ttfautohint` flag on.
GASP table should be fine.

## Observed behaviour

[code]

I ran fix-GASP script, with the same result.

## How to replicate

Run fontbakery-check.ttf on TTFs here:
https://github.com/cyrealtype/Lora-Cyrillic/commit/001df291f4659a4ef67d90016489b9e70585740b

[2016-10-11 02:22] felipesanches commented on #1118
@alexeiva Try exporting the font with autohinting enabled. :-)

There's another thread in the issue tracker where this was explained. I'll try to find it. But the quick way to fix it is to mark a checkbox in the Glyphs settings to enable autohinting and then exporting the font.

[2016-10-11 02:24] felipesanches commented on #1118
Here's the comment from @m4rc1e : https://github.com/googlefonts/fontbakery/issues/1071#issuecomment-250544300

[2016-10-11 02:32] alexeiva commented on #1118
exporting the font with autohinting enabled. :-)

TTFs were exported from Glyphs Version 2.4b (926) **with** ttfautohint flag on.

@m4rc1e is stating that checking the ✓ ttfautohint in Glyphs will solve this.

But is currently doesn't

[2016-10-11 14:41] felipesanches commented on #1118
hmmm... maybe @m4rc1e or @schriftgestalt could help with Glyphs

[2016-10-12 05:13] alexeiva commented on #1096
For the record, this error is related to a Glyphs update.
/cc @schriftgestalt

Previous versions:
[code]

Glyphs Version 2.4b (926):

[code]

[2016-10-12 06:12] davelab6 commented on #1096
YIKES! :(

[2016-10-12 18:36] schriftgestalt commented on #1096
This is not a bug in Glyphs but a misconfiguration. The `Bold Italic` instance has a `Bold` in the link to field. This field should be empty.

[2016-10-12 19:14] schriftgestalt commented on #1118
The autohinting is deliberately disabled in the instances. So the checkbox in the export dialog is overwritten by a custom parameter. But the font has a GASP table, if I export it.

[2016-10-12 21:33] alexeiva commented on #1096
Okay. This was an oversight on my part. My apologies.

Was:
![screen shot 2016-10-12 at 14 28 02](https://cloud.githubusercontent.com/assets/16634089/19328455/8696212a-9088-11e6-976f-923ddd00e70c.png)

Result:

[code]

Fixed:

![screen shot 2016-10-12 at 14 31 28](https://cloud.githubusercontent.com/assets/16634089/19328475/9cfe6cf6-9088-11e6-84fb-4fd660b5a743.png)

Result:

[code]

[2016-10-12 21:39] m4rc1e commented on #1096
Hey @alexeiva my [fix_gf_spec](https://github.com/m4rc1e/mf-glyphs-scripts/blob/master/Fixes/fix_gf_spec.py#L83-L84) has this implemented ;)

[2016-10-12 21:48] davelab6 commented on #1096
@schriftgestalt 👑

[2016-10-12 22:00] schriftgestalt commented on #1096
Please leave the field empty. `Regular` is inferred.

[2016-10-12 22:28] alexeiva commented on #1096
It's time to coin the term #fontbakeryhack : doing something random for the sake of passing fontbakery

[2016-10-12 22:29] felipesanches commented on #1118
@alexeiva I'm closing this based on your comment on the googlefonts-discuss mailing list:
https://groups.google.com/d/msg/googlefonts-discuss/OIBrUNekQlo/ds_HS6tcCQAJ

[2016-10-12 22:29] #1118 closed

[2016-10-12 22:37] alexeiva commented on #1118
That discussion isn't related to GASP.

But please do close this.
The error was on my part. I had this unchecked in instances, and kept thinking why does ttfautohinting does not work

![screen shot 2016-10-12 at 15 32 45](https://cloud.githubusercontent.com/assets/16634089/19330158/9a7c3342-9091-11e6-96c7-ce9f9680f4da.png)

[2016-10-12 22:42] felipesanches commented on #1096
There's no value in "passing fontbakery" other than conforming to the quality standards criteria that FB is built on top of. :-)

Also, it is not really ideal to do "random" tweaks if one does not understand the rationale behind the needed adjustments in the tools.

I understand that this specific issue has lead us to a better understanding of how Glyphs deals with these specific name table entrie

[2016-10-12 23:05] alexeiva commented on #1096
I just inspected the problematic Arsenal sources and regenerated them with Marc's fix gf specs script — it does a fine job, and passes fb.

Original error was related to a fault in my Italic naming. I had 'instance of Bold' instead if (blank). That is why the Roman file looked fine, and we couldn't figure out the problem.

Thanks everyone for a fun, and educational discussion.
Now, back to real wo

[2016-10-13 03:24] davelab6 commented on #891
This is still true :) This seems like it should be quick to do.

[2016-10-13 03:25] davelab6 commented on #912
So, to resolve this issue, FB should reorder the subsets if a METADATA exists with out-of-order subsets?

[2016-10-13 03:27] davelab6 commented on #726
@felipesanches do you think coveralls is useful?

[2016-10-13 03:28] felipesanches commented on #891
For the individual scripts, yes. For the main check-ttf script, no.

The problem with the check-ttf script is that it should (in my opinion) be restructured with one function per check and then (only then) each of these could have its own docstring.

[2016-10-13 03:32] felipesanches commented on #912
yep! That's what I intend to do. If FB detects an unordered list of subsets, then the METADATA.pb file should be rewritten by FB with the correct order.

[2016-10-13 03:33] felipesanches commented on #146
Let's plan to start doing it for every milestone starting with milestone 0.2.0 ?

[2016-10-13 03:34] felipesanches commented on #146
Any idea if there are ways to automate this? Ideally this should not be manual work. It should be the task of an automated release script. I guess. (I would hope :-D)

[2016-10-13 03:36] felipesanches commented on #726
By looking at https://coveralls.io/ I think I can see that this could be useful. But this is not currently in my typical development toolbox. What do you think?

[2016-10-13 03:38] davelab6 commented on #891
@m4rc1e what do you want?

[2016-10-13 03:38] davelab6 commented on #726
We don't have a test suite, do we?

[2016-10-13 03:39] felipesanches commented on #726
FB is a testsuite for font files. But yes, it lacks a testsuite for itself at the moment.

[2016-10-13 03:40] felipesanches commented on #726
We currently only run the flake8 linter on the codebase on every pullrequest, but we do not have proper test cases.

[2016-10-13 03:47] davelab6 commented on #146
I updated the main text, striking out many formats which now seem irrelevant, given we now only have hard dependencies on python packages. Thus I think all we should do here is follow https://docs.travis-ci.com/user/deployment/pypi/ build pypi packages for tagged commits

[2016-10-13 03:59] #726 closed

[2016-10-13 03:59] davelab6 commented on #726
Then - today - coveralls is irrelevant.

[2016-10-13 03:59] davelab6 commented on #912
@m4rc1e do you think we need a singleton tool for this?

[2016-10-13 04:09] felipesanches commented on #146
great! :-)

[2016-10-13 11:15] m4rc1e commented on #912
@davelab6 I thought about writing this.

Personally, I would prefer FB not to hot fix, unless you explicitly tell it to. Making this auto every time, feels incredibly dangerous.

If we do add this as a hot fix option, there's no need for a standalone script. I'm cool either way.

I'm thinking we need some collection wide fixes in the google/fonts repo. Running the new ttfauothint on all fonts and

[2016-10-13 11:17] m4rc1e commented on #146
Personally I think FB should be a webapp. There should be 1 version of FB and one only. We're dealing with font people, not developers.

Having a simple drag n drop page will encourage more people to use it.

[2016-10-13 11:27] m4rc1e commented on #891
It's fine not to have a doc string for check-ttf.py. Felipe's suggestion is good. However, this is a lot of work. Better logging is more appropriate for this script imo.

I would really like them on the fix scripts, e.g fontbakery-fix-gasp.py could have.
[code]

This pretty much summarises what the script is doing, without me having to read the code.

[2016-10-13 12:27] m4rc1e opened #1120 "check-ttf.py: ERROR [FONT_FAMILY_NAME(1):MACINTOSH(1)] entry: expected 'Amatic S C' but got 'Amatic SC'"
## Expected behaviour

FB output:
PASS    [FONT_FAMILY_NAME(1):MACINTOSH(1)] entry: got 'Amatic SC'

## Observed behaviour

FB output:
ERROR    [FONT_FAMILY_NAME(1):MACINTOSH(1)] entry: expected 'Amatic S C' but got 'Amatic SC'

## How to replicate

I ran fontbakery-check-ttf.py on fonts/ofl/amaticsc on my [custom](https://github.com/m4rc1e/fonts/tree/amaticsc) branch

**Amatic SC** is the correct

[2016-10-13 14:55] davelab6 commented on #912
All autofixing is hidden behind an `--autofix` arg, but I think it would indeed be better to have all singleton autofix tools and a BFG shell script that can apply them all, and then zero linter-arg-based hotfix functionality.

@felipesanches please make a singleton tool for this.

[2016-10-13 15:06] davelab6 opened #1121 "Simple Web App UI"
## Expected behaviour

Many font designers feel uncomfortable using a command line, and expect a drag and drop web app, similar to https://github.com/graphicore/nametableswapper

## Observed behaviour

Font Bakery has a command line interface.

## How to replicate

Using nametableswapper as a model, make an appengine web app UI for fontbakery, such that:

1. a user visits the page and drops the fi

[2016-10-13 16:27] felipesanches commented on #912
ok.

what is BFG?

[2016-10-13 19:25] felipesanches commented on #912
you're talking about this? https://rtyley.github.io/bfg-repo-cleaner/

[2016-10-13 20:07] davelab6 commented on #912
https://en.wikipedia.org/wiki/BFG_(weapon)

[2016-10-13 20:09] felipesanches commented on #912
Alrrrriiight !!1 :-)

[2016-10-14 05:49] alexeiva commented on #1096
So now for https://github.com/alexeiva/Merriweather I did the style linking as suggested by Dave in https://github.com/davelab6/glyphs-export.

It's a four weight family, and I get this warning for `Merriweather-Black.ttf`:

[code]

Am I doing something wrong, or should this be just ignored?

[2016-10-15 00:33] alexeiva opened #1122 "Numbers in font name"
Original issue on project git: https://github.com/codeman38/PressStart2P/issues/2

I know numbers are not good in font names, but Press Start 2P is an active GF font, and it validates fine in font book.

I think font-bakery has some bug in reading the name. Compare this output to the name table:

fontbakery-check-ttf.py error output:

[code]

name table:

[code]

[2016-10-15 00:34] alexeiva commented on #1122
or is  `PressStart2P-Regular`  > `Press Start2 P` perfectly logical?

How should I proceed with the original font naming?

[2016-10-15 10:37] m4rc1e commented on #1122
Hey Alexei,

I reported this the other day #1120. Same Issue.

[2016-10-15 14:10] graphicore commented on #1120
related: https://github.com/googlefonts/fontbakery/issues/1075

[2016-10-15 14:11] graphicore commented on #1122
also related: #1075

[2016-10-15 14:48] felipesanches commented on #1120
I would deal with it by adding exceptions for "Amatic SC" and "Press Start 2P" just like we did for "VT323".

[2016-10-16 17:02] vmesel commented on #1122
@m4rc1e and @graphicore is this a duplicated issue?

[2016-10-16 17:47] graphicore commented on #1122
@vmesel as long the policy is to add exceptions into fontbakery, I would argue that this is not a duplicate. The solution is probably to add an exception for `Press Start 2P`as well. See #1075 and the PR #1084

For the record, I'm not too happy with the exception thing, but it seems to be hard to define a universal scheme for allowed names.

[2016-10-16 17:57] felipesanches commented on #1122
I'm not too happy about it as well. As a programmer I'd expect a clear-cut algorithmic definition of what's allowed and what's unacceptable. But this universal rule seems a bit hard to come up with, as @graphicore pointed out, so that's how we're working at the moment, adding exceptions. Maybe after we gather a slightly larger set of exceptions we'll gradually grasp a reasonable algorithmic expres

[2016-10-19 04:52] davelab6 commented on #1121
Felipe wrote me,

Great!

Sounds good

That's fine, I think: lets plan to set up a container based version of the web app with everything (except ftxval which is os x only)

Cool - that's not a very important check :)

[2016-10-19 12:01] m4rc1e opened #1123 "Dashboard: Integrate Marc Foley's gfregression app into a new dashboard page"
Hey Felipe and Dave,

I think we should merge my [gfregression](https://github.com/m4rc1e/gfregression) app into Font Bakery. Instead of having lots of seperate repos/apps/libraries, we should focus on consolidating them.

It also fits FB's brief nicely

I use it for cross platform testing a collection of fonts vertical metrics, against the same fonts which are hosted on fonts.google.com.

![scree

[2016-10-19 14:27] graphicore commented on #1121
What's with the "App Engine Flexible Environment" https://cloud.google.com/appengine/docs/flexible/ It seems to me it can do all those thing, as they say you can somehow supply your own docker image.

[2016-10-20 11:16] davelab6 commented on #1123
Agree, but I would like Felipe to focus on getting the checker working
first and then build this comparison feature in

[2016-10-25 02:25] felipesanches commented on #1120
No. This was not a good fix, sorry.

[2016-10-25 02:25] felipesanches commented on #1122
No. This was not a good fix, sorry.

[2016-10-25 03:40] felipesanches commented on #1120
alright! :)

[2016-10-25 03:40] #1120 closed

[2016-10-25 03:41] felipesanches commented on #1122
alright :-)

[2016-10-25 03:41] #1122 closed

[2016-10-25 12:35] felipesanches opened #1127 "webapp: auto-scrolldown after loading check-results"
## Expected behaviour

After the app triggers fontbakery execution server-side and receives back the summary report back, it should scroll down automatically so that the user gets feedback that the results are available.

## Observed behaviour

It simply updates the webpage contents, but out of the user-visible area, so the user may continue waiting unecessarily.

## How to replicate

* run the we

[2016-10-25 12:48] felipesanches opened #1128 "webapp: hotfixing option"
## Expected behaviour

"Step 2: hotfixing" should display a checkbox for the user to indicate whether or not server-side hotfixing of issues is desired. If it is enabled, then the resulting TTF files should be zipped and provided to the user as a blob download.
## Observed behaviour

Current webapp implementation has "step 2: hotfixing" but it does not work

[2016-10-25 12:57] felipesanches opened #1129 "webapp: Display check-results in individual per-TTF-file tabs"
## Expected behaviour

The check results of each font file should be place in its own individual container ui element in the webpage so that the suer can select which one to read by clicking on the corresponding container tabs.

## Observed behaviour

when testing multiple font files, all results are displayed sequentially, which makes the web-page potentially very long and hard for the user to fi

[2016-10-26 00:41] felipesanches commented on #1129
implemented on branch issue_1121 will be merge with the rest of the webapp code tracked by issue #1121

[2016-10-26 00:41] #1129 closed

[2016-10-26 03:47] felipesanches opened #1130 "webapp: some fonts show up more than once in tabs"
Among the check results tabs, there are sometimes a few repetitions of font filenames. We should forbid that making the tabs unique (a single one per font file).

![Example](https://cloud.githubusercontent.com/assets/213676/19712629/3d6c5622-9b1e-11e6-847b-240ff071f9cb.png)

[2016-10-26 04:17] felipesanches opened #1131 "webapp: we need a loading spinner"
## Expected behaviour

Display a "waiting for check results ..." with a spinner image so that the user knows something is going on.

## Observed behaviour

Webapp feels frozen while waiting for server-side fontbakery run, due to the lack of a visual indicator of the ongoing activity.

[2016-10-26 04:44] felipesanches commented on #1127
implemented on branch issue_1121 will be merged with the rest of the webapp code tracked by issue #1121

[2016-10-26 04:44] #1127 closed

[2016-10-26 04:51] felipesanches opened #1132 "webapp: Display FontBakery logo"
It can be nice to display the FontBakery at the top of the webapp page.

[2016-10-26 18:09] felipesanches commented on #1131
FontBakery logo animated with SVG SMIL attributes to be used as a "spinner" on the webapp while waiting for the server-side check results:

https://github.com/felipesanches/fontbakery/blob/de8bc725ee8b8ed316361d2504b6b652edbccde1/data/animated_logo.svg

Isn't that cool ? :-D

[2016-10-26 20:50] felipesanches opened #1133 "webapp: individual ttf check results are getting mixed together in the tabs"
## Expected behaviour

Each TTF-specific tab should display only the error messages related to that single file

## Observed behaviour

The first tab looks good. The second tab displays the correct content but also displays all of the results from the previous tab. And so on, until the last tab which displays all log messages of all tested files. It seems that we're gradualy concatenating the chec

[2016-10-26 20:51] felipesanches commented on #1133
I'll fix this by reseting the check results logger object after outputing each individual report, so that it avoinds accumulating the previous messages.

[2016-10-26 21:03] felipesanches commented on #1133
implemented on branch issue_1121 will be merged with the rest of the webapp code tracked by issue #1121

[2016-10-26 21:03] #1133 closed

[2016-10-26 21:13] felipesanches opened #1134 "webapp: reset webapp so that it can be used another time"
Easy way is to reload the page. But perhaps we should reset the ttf file list after we display the results so that by clicking on Step 1 the user can start from scratch instead of adding the file to the ones that were already tested.

[2016-10-26 22:03] felipesanches opened #1135 "empty check result: "fontforge validation outputs error messages""
## Expected behaviour

Either display error messages or do not display it at all

## Observed behaviour

I can see "fontforge validation outputs error messages" in the check results via webapp, but it has no corresponding log message.

[2016-10-27 01:36] felipesanches commented on #1132
implemented on branch issue_1121 will be merged with the rest of the webapp code tracked by issue #1121

[2016-10-27 01:36] #1132 closed

[2016-10-27 01:52] felipesanches opened #1136 "webapp: use colouring to emphasize the type of log-message"
## Expected behaviour

Use coloured text to indicate which messages are errors, which are warnings and which are skipped tests.

## Observed behaviour

Current implementation prints all text in black.

[2016-10-27 02:15] felipesanches commented on #1136
implemented on branch issue_1121 will be merged with the rest of the webapp code tracked by issue #1121

[2016-10-27 02:15] #1136 closed

[2016-10-27 02:31] felipesanches opened #1137 "webapp: empty log: "Make sure family name does not begin with a digit.""
There's no log message for the "Make sure family name does not begin with a digit" check.

[2016-10-27 02:35] felipesanches opened #1138 "webapp: Tables do not render correctly. Bad markdown syntax ?"
The following markup does not get rendered into a table. Is it bad markdown?

[code]

[2016-10-27 03:14] felipesanches commented on #1135
implemented on branch issue_1121 will be merged with the rest of the webapp code tracked by issue #1121

[2016-10-27 03:14] #1135 closed

[2016-10-27 04:01] felipesanches commented on #1131
implemented on branch issue_1121 will be merged with the rest of the webapp code tracked by issue #1121

[2016-10-27 04:01] #1131 closed

[2016-10-27 18:31] felipesanches opened #1139 "fb-fix-fssel.py is missing"
It was available on the old codebase by I did delete it on purpose since it was redundant with the main check-ttf script. Later Dave mentioned that the standalone scripts are still useful even if redundant. So we gotta bring it back as well.

[2016-10-27 18:48] #1139 closed

[2016-10-27 22:29] felipesanches commented on #1130
After some testing of the webapp, it seems to me that the repetition described here is actually caused by multiple runs of the tool. (This is probably a duplicate of issue #1134) Even after reloading the webpage I still get some leftover from a previous run. Only after restarting the webserver I get another clean set of check results.

I'm not investigating what exactly in the python code it causi

[2016-10-27 22:32] felipesanches commented on #1130
Yeah, definitely a duplicate of #1134 ! And it makes that higher priority (very high!), as it messes up with more than a single use of the tool.

[2016-10-27 22:32] #1130 closed

[2016-10-27 22:36] felipesanches commented on #1134
This is absolutely critical, because it seems to make it impossible to run the tool more than once per server reboot.

[2016-10-27 23:26] felipesanches commented on #1134
ok, so, https://github.com/felipesanches/fontbakery/commit/819cd2c17bc09b432bcde02ef7473eb1fa0346a8 fixed the critical issue.

Pending task: reset the list of selected font files. But resetting by reloading the page is now possible as well. So we can now make this low-priority again.

[2016-10-27 23:42] felipesanches commented on #1134
BOOM! Fixed it :-D

[2016-10-27 23:42] #1134 closed

[2016-10-27 23:46] felipesanches opened #1141 "Cross-family checks show up under "None" section in markdown reports"
## Expected behaviour

Should show up under a section called something like:
- "Cross-family checks..."
- or "Checking coherence among same-family font files"
- or simply "<FamilyName>"
## Observed behaviour

Section title is "None" :-P

[2016-10-27 23:56] felipesanches commented on #1138
I can replicate that with SourceCodePro-Regular.ttf

[2016-10-28 00:00] felipesanches commented on #1138
Resulting HTML is:

[code]

It seems that the markdown syntax was correct. Am I missing something here?

[2016-10-28 00:17] felipesanches commented on #1138
ok, got it! I was missing this:

https://pythonhosted.org/Markdown/extensions/tables.html

Tables have to be explicitely enabled as a markdown extension.

[2016-10-28 00:18] felipesanches commented on #1138
I did it and got my table. But for some reason it is only laying out the cells properly, but not rendering the lines of all borders...

[2016-10-28 00:20] felipesanches commented on #1138
Current HTML output looks good:

[code]

[2016-10-28 00:23] felipesanches commented on #1138
hmmm... CSS issue, for sure :-P

[2016-10-28 00:46] felipesanches commented on #1138
yeah. CSS. Done!

[2016-10-28 00:46] #1138 closed

[2016-10-28 03:10] #1121 closed

[2016-11-02 18:07] felipesanches commented on #1141
This one may be similar or even perhaps an actual duplicate of #1116

[2016-11-02 19:08] felipesanches opened #1143 "Remove old/stale web front ends"
We have had multiple attempts at creating web interfaces for fontbakery:

(1) A long time ago a previous fontbakery developer created an ambitious and complex web panel for monitoring the status of multiple font projects. It used github authentication and it fetched check-results from each individual font repo in order to display them all in a unified table. This required each font project to have

[2016-11-02 19:11] felipesanches commented on #1143
We also have the font auto classification tool, but that's an independent (web) tool that has a special purpose of itself. The only thing we may have to take care is not to mix its files with the other webapp files.

[2016-11-02 19:17] felipesanches opened #1144 "Add usage instructions on README.md for running the GoogleAppEngine app"
Current README.md instructions are deprecated. We should update  it to describe usage of the new Google App Engine one.

[2016-11-02 20:19] davelab6 opened #1145 "Test for kerning on non-ligated sequences"
## Expected behaviour

Fonts with ligatures should have kerning on the corresponding non-ligated sequences for text where ligatures aren't used (eg https://github.com/impallari/Raleway/issues/14)

We should test for that

## Observed behaviour

We don't currently test for that

## How to replicate

See https://github.com/impallari/Raleway/issues/14

[2016-11-03 02:38] #1144 closed

[2016-11-03 23:49] felipesanches opened #1148 "code review for OS/2.fsSelection checks"

[2016-11-03 23:50] felipesanches commented on #1148
## "Checking fsSelection REGULAR bit"

    check_bit_entry(font, "OS/2", "fsSelection",
                    "Regular" in style or
                    (style in STYLE_NAMES and
                     style not in RIBBI_STYLE_NAMES and
                     "Italic" not in style),
                    bitmask=FSSEL_REGULAR,
                    bitname="REGULAR")

**check_bit_entry** will check (and hotf

[2016-11-03 23:51] felipesanches commented on #1148
@davelab6 please review the code-review above to see if there's any flaw in the description of its rationale. Based on my review, I believe it is correctly implemented.

[2016-11-04 00:14] davelab6 opened #1149 "fontbakery-fix-fsselection.py --autofix not working"
It seems many fonts have incorrectly set fsSelection bitmasks and this effects their rendering on Android. I want to

- [x] have a tool to hotfix this, and

- [ ] ensure the fontbakery check script catches this

For example, to reproduce:

    cd ~/fonts/tools;
    python sanity_check.py ../ofl/abhayalibre/;
    FAIL: Abhaya Libre METADATA normal/400 fullName expected Abhaya Libre, got Abhaya Libr

[2016-11-04 00:17] felipesanches commented on #1149
Thanks for reporting this! I'll take care of it now.

[2016-11-04 00:44] felipesanches commented on #1149
This looks like evidence of the problem being on the sanity-check.py script instead:

felipe@guarana:~/devel/github_google/fonts (master)*$ ~/fb-dev/fontbakery-fix-fsselection.py ofl/abhayalibre/AbhayaLibre-Regular.ttf

| filename                | fsSelection       |
|:------------------------|:------------------|
| AbhayaLibre-Regular.ttf | 00000000 00000001 |
felipe@guarana:~/devel/github_google

[2016-11-04 01:07] felipesanches commented on #1149
hmmm... ok. Now I see the issue you pointed out is with the italic bit that is set but shouldn't on a Regular.

[2016-11-04 01:22] felipesanches commented on #1149
ok, I got it! The fixer was indeed wrong.
I'll commit the fix for it now.

[2016-11-04 01:40] davelab6 commented on #1149
The sanity-check.py script code is on github.com/google/fonts so please
review it

[2016-11-04 01:41] felipesanches commented on #1149
I did a while ago :-)

[2016-11-04 01:42] davelab6 commented on #1149
OK! Then, please run the santity checker over the entire /google/fonts repo (ie, globally) and grep for fsSelection issues, move all .fix files in place globally, rerun the santity checker globally, and confirm everything is fixed.

[2016-11-04 03:13] davelab6 opened #1151 "Release 0.2.0 on appspot using a tagged commit and hooks/automation"
@felipesanches please set up a git hook or something such that your appspot instance is in sync with master

[2016-11-06 01:38] HinTak commented on #831
FontVal 2.0 was tagged and released on Jul 18. You'll still need a heavily patched freetype for it, so it is bundled for both Mac OS X and windows. The XML output report's schema is at

https://github.com/HinTak/Font-Validator/blob/embedding-ironpython/GenerateFValData/GenerateFValData/helpitems.xsd

FWIW, the FreeType backend has gone beyond 2.0 since then and newer enhancements checks use of und

[2016-11-06 01:52] HinTak commented on #1060
A small suggestion for improvement: prepend the remote name with $$ (process-id) or date-stamp, to enable parallel running and avoid collision.

[2016-11-06 02:39] davelab6 commented on #1060
I would like to get this fully integrated, because it is inherently useful for people like @felipesanches and @graphicore who are not running on Mac OS X directly (which is exceedingly rare...)

[2016-11-06 02:39] davelab6 commented on #1060
@HinTak thanks for the tip!

[2016-11-07 20:42] felipesanches commented on #1149
OK. I have run the fsselection fixer on the entire google/fonts repo and noticed that it indeed fixes a few font files. Then I have re-run it over the entire set of .ttf.fix files and got no error detected, which means that the autofixer is doing a good job.

In order to do so, I had to fix a bug in the fixer, so it means it was actually broken. The issue was that it was getting confused when deal

[2016-11-07 20:42] felipesanches commented on #1149
On the other hand, **jsMath-cmbx10.ttf** is detected as a good name, while I think it shouldn't. Maybe I should also test whether the second term in the name (after the dash) is a valid stylename. I'll work on this next.

[2016-11-09 19:16] felipesanches commented on #1149
Canonical font filename validation was improved on commit 6ce7b7c

[2016-11-09 19:16] #1149 closed

[2016-11-09 19:30] felipesanches commented on #1151
First step is figuring out whether simply re-running **gclod app deploy** is enough. (I think/hope it is!)

I'll try that now. And if it works, then I'll try to automate it.

[2016-11-09 19:32] felipesanches commented on #1148
I have enough evidence that it is now fixed and properly working.

[2016-11-09 19:32] #1148 closed

[2016-11-10 18:27] #1137 closed

[2016-11-10 18:45] felipesanches commented on #1151
ok, **gcloud app deploy** does its job (and pretty fast!)
I think I'll simply get used to manually running it after each important pull-request merge.

[2016-11-10 18:50] felipesanches commented on #1151
I looked up githooks documentation but it seems that it's not exactly what we would need here since the actual update on git master is performed by github itself (whenever I press the "merge pull request" button on their web ui) instead of being tied to specific git commands I run locally at my working copy.

The only interactions I have between my local copy and the origin remote (hosted on githu

[2016-11-10 20:28] davelab6 commented on #1151
Why not use travis to do this?

[2016-11-10 20:42] felipesanches commented on #1151
ok, cool! It makes sense. And it seems that this page explains how to do it. I'll try to set this up:

https://docs.travis-ci.com/user/deployment/google-app-engine/

[2016-11-11 01:10] felipesanches commented on #1151
I was able to generate a service api key in json format, then encrypt it with the travis command line and commit it (the encrypted file and its entry on .travis.yml) but the openssl command to decrypt the credentials server-side is failing on Travis.

Apparently the reason for that is that the credentials need to be encrypted specifically for the repository they're meant to be used at. I have used

[2016-11-11 03:57] davelab6 commented on #1151
The old fb readme had some tips on this I think

[2016-11-12 03:51] felipesanches opened #1156 "Major refactoring: moving each check into its own function"
The benefits of this are:
* better organization
* reducing indentation level helps to make it easier to read & understand
* also reduces namespace polution
* functions get as parameters just the bits of really needed info, thus making the code clearer
* also helps to facilitate fitting it all within 80 columns
* individual functions per-check seem to be one pre-requisite (of many) for issue #681 I

[2016-11-12 03:52] davelab6 commented on #1156
Marc and lasse, what do you think? Should Felipe continue this?

[2016-11-12 03:59] felipesanches commented on #1156
I'd like to mention here that I am putting this effort because I think this will make my work easier. The lack of structure in this giant script has been a pain for a while already. I think the refactoring suggested here (45% of which was already implemented today and probably the rest to be done on my next work day) will have a positive impact not only on the overall code readability, but also in

[2016-11-14 13:13] m4rc1e commented on #1156
I agree with Felipe here.

I used a similar approach for my glyphsapp QA scripts. Many tests rely on other tests to work properly. By having every test as a function, we'll cut down on the duplication.

Cheers,
Marc

[2016-11-14 13:30] felipesanches commented on #1156
Cool! I'll move on and finish this today. Thanks, @m4rc1e

[2016-11-14 15:02] davelab6 commented on #1156
Thanks both

[2016-11-14 19:15] vmesel commented on #1003
What unit tests should be available?

[2016-11-14 20:20] m4rc1e commented on #1003
@vmesel Once we have #1155 sorted, unit tests for these would be great.

[2016-11-14 23:26] felipesanches commented on #1128
not needed on the webapp

[2016-11-14 23:26] #1128 closed

[2016-11-14 23:34] davelab6 opened #1157 "'Check the entire collection' tool"
The brief says,

    3.1 Check the entire collection

    The ultimate aim is a single master check script that all families pass.

        ~/fonts $ fontbakery-check-collection . ;
        $

@felipesanches has a script for this, yet to be checked in

[2016-11-15 00:10] davelab6 opened #1158 "Plan the Collection Web Dashboard"
Per https://github.com/googlefonts/fontbakery/blob/34af3080054d3d332858d65c42486cb5eb2eabc3/BRIEF.md#33-web-dashboard in order to plan the Collection Dashboard, @felipesanches will...

- [ ] Write a document proposing the technical approach to testing fonts in each place, and storing the results of the tests from each place
- [ ] Propose a new UI for the fontbakery.appspot.com checker

[2016-11-15 00:15] felipesanches commented on #1158
Thanks, @davelab6 !

[2016-11-15 23:04] felipesanches opened #1159 "weird crash caused by renaming a variable"
I'm facing a rather misterious crash scenario involving what seems to be an unintentional relationship between the following couple checks:

* "METADATA.pb: Fontfamily is listed in Google Font Directory ?"
* "METADATA.pb: Designer exists in GWF profiles.csv ?"

Both checks use a variable called 'fp' in their respective implementations. This is not a good var name so I changed it to a different nam

[2016-11-15 23:11] felipesanches commented on #1159
This is making me mad. I'm using different var names and properly deleting the temp objects and I still get the crash. The crash only goes away when I use the same var name for both checks. But there should NOT be any inter-dependence between these two checks. This is nasty! I can't leave it this way because it smells. I want to understand what's going on.

[2016-11-15 23:15] felipesanches commented on #1159
One more detail about this. It does not seem to throw an exception (or at least it does not output a stack-trace) It simply gets back to the terminal prompt silently without finishing the work (leaving an incomplete progressbar with no final linebreak on the screen).

[2016-11-15 23:17] davelab6 commented on #1159
Is this caused by the refactoring to methods?:P

[2016-11-15 23:20] felipesanches commented on #1159
No. It is an issue that was already present in the codebase but was unnoticed until I looked at it again while refactoring. This was a hidden beast that refactoring helped uncover :-D

[2016-11-15 23:22] felipesanches commented on #1159
Refactoring is a healthy habit, dave ;-)

[2016-11-16 00:40] felipesanches opened #1160 "First font file runs a larger number of checks"
When running check-ttf.py on a set of font-files, the first one runs 191 checks while all the rest run only 120 checks each.

I'd expect all TTF files to run the same set of checks.
This is a critical bug.

[2016-11-16 01:21] davelab6 commented on #1160
I agree

On Nov 15, 2016 7:40 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2016-11-16 02:12] davelab6 commented on #1159
https://youtu.be/3JcmQONgXJM

[2016-11-16 05:02] felipesanches opened #1161 "White-space and indentation warnings are ignored for now."
I'm temporarily ignoring these flake8 warnings on Travis, but at some point we should clean this up as well.
This is totally low-priority right now:

[code]

[2016-11-16 05:15] felipesanches commented on #1156
DONE! :-D

[2016-11-16 05:15] #1156 closed

[2016-11-16 12:31] davelab6 commented on #1161
Autopep8 can help if you haven't already used it

[2016-11-17 09:13] davelab6 commented on #765
This is now in GFRegression, thanks @m4rc1e

[2016-11-17 09:13] #765 closed

[2016-11-17 09:15] davelab6 opened #1162 "Vertical Metrics change"
In https://groups.google.com/forum/#!topic/googlefonts-discuss/H5F6NUzaWFk%5B101-125%5D @m4rc1e writes,

Indeed it should! This issue tracks this.

See the link at top for more details in the emails to the list following the one quoted above

[2016-11-17 09:17] davelab6 commented on #1096
@m4rc1e and @felipesanches what is the current status of this

[2016-11-17 10:14] m4rc1e commented on #1162
@felipesanches hello,

Here's my [implementation](https://github.com/m4rc1e/mf-glyphs-scripts/blob/master/Google%20Fonts/inherit_legacy_metrics.py) for how I've done it in Glyphsapp. I've kept it loosely coupled so you can do some recycling  :-)

I am more than happy to port this, if I find the time. It shouldn't take too long.

[2016-11-17 11:58] m4rc1e opened #1163 "ERROR: METADATA.pb: copyright field contains 'Reserved Font Name'"
@davelab6 I thought we decided to include the RFN in everything now?

If we did, we should delete this test.

Cheers,
Marc

[2016-11-17 12:07] davelab6 commented on #1163
No! We must retain RFN in specific situations but the majority of families should not have it. This test should not be deleted, but the returned string may be updated with more clarity

[2016-11-17 12:14] m4rc1e commented on #1163
ok, awesome.

[2016-11-17 23:00] felipesanches commented on #1163
@davelab6 Should it remain as an error but mentioning that there may be exceptions to the rule in a few specific cases?
Or should it be changed into a warning (with the added wording as well)?

[2016-11-21 10:52] alexeiva commented on #1162
Just fixed issue in https://github.com/cyrealtype/Lora-Cyrillic/issues/9 using this srcript. Works great.

[2016-11-21 12:31] #1163 closed

[2016-11-21 12:33] davelab6 commented on #1163
Sounds good

[2016-11-21 12:34] davelab6 commented on #1096
@m4rc1e and @felipesanches what is the current status of this

[2016-11-21 12:39] davelab6 commented on #801
License badge added in https://github.com/googlefonts/fontbakery/commit/74806bbc3a80e20200e5e1ff44e7381190a4b4cc

[2016-11-21 12:41] felipesanches commented on #1096
@davelab6 I have to think about it. I'll check it out and provide a status update on this in a while.

[2016-11-21 12:46] felipesanches commented on #801
thanks, @davelab6 !

[2016-11-21 12:49] davelab6 commented on #801
the appspot website is good enough for now

[2016-11-21 12:50] davelab6 commented on #1096
In this case I will deprioritize this

[2016-11-21 13:01] felipesanches commented on #1096
We inherit a few check routines from FontForge. I'll take a look at these two specific ones pointed out by @alexeiva to make sure what FontForge is validating makes sense in this case. But giving Dave's deprioritization of this, I'll only review this later. (Moving on now to the top-priority milestone 0.2.0 issues :-D)

[2016-11-21 14:59] alexeiva commented on #1096
Makes sense. Not all fonts need to inherit legacy metrics. It is always a
case-to-case basis. For example adding tall Vietnamese glyphs may require
vertical readjustments. Or original metrics may have been set unthoughtful
or incorrect. The glyphs script is a very easy fix, and gfregression tool
is good for diagnosing.

Adding a fontbakery warning that v metrics have diverged from server api
would

[2016-11-21 15:20] davelab6 commented on #1162
This more about the 'collection flow' so I moved to to 0.4.0 release

[2016-11-21 15:22] davelab6 commented on #971
This is now complete, right?

[2016-11-21 15:25] davelab6 commented on #1123
Thus moving this to 0.4.0

[2016-11-21 15:30] davelab6 commented on #1141
Merging into #971

[2016-11-21 15:30] #1141 closed

[2016-11-21 15:30] davelab6 commented on #1116
Merging into #971

[2016-11-21 15:30] #1116 closed

[2016-11-21 15:32] davelab6 commented on #891
Merging into #681

[2016-11-21 15:32] #891 closed

[2016-11-21 15:34] davelab6 commented on #912
@felipesanches what is the current status of this?

[2016-11-21 15:34] davelab6 commented on #1157
@felipesanches what is the current status of this? Seems very quick to do

[2016-11-21 15:35] davelab6 commented on #1160
@felipesanches what is the current status of this?

Seems this should be a 'before doing anything else' sort of task? :)

[2016-11-21 15:35] davelab6 commented on #681
This may also be related to #971

[2016-11-21 16:48] felipesanches commented on #971
Yes, it is!

[2016-11-21 16:59] felipesanches commented on #1160
Exactly! That's what I'm working at right now.

[2016-11-21 20:53] #1160 closed

[2016-11-21 20:58] felipesanches opened #1166 "FontForge checks crashing FontBakery (sometimes)"
Fontforge checks were temporarily disabled on https://github.com/googlefonts/fontbakery/commit/1e962f10f5f91f1ccca1699d5f4b11f35dde8371 because they were crashing fontbakery in some situations. The real reason is still unknown. It still needs to be diagnosed, fixed and have the fontforge checks re-enabled.

- [ ] figure out what's the real issue causing the crashes
- [ ] fix it!
- [x] re-enable th

[2016-11-22 02:38] davelab6 commented on #1166
Fixing ff is a black hole on the way to Mars and we don't have Elon musk on
staff

I suggest to write a stronger try/except system to isolate and contain the
xenomorphic threat until we can nuke it from orbit

[2016-11-22 02:48] felipesanches commented on #1166
LOL! Awesome message! Alright!

[2016-11-22 02:49] felipesanches commented on #1166
@davelab6 Do you believe Mars is our only lasting hope?

[2016-11-22 21:23] felipesanches commented on #1166
I re-enabled it with a try-catch that spits an error message in the check-results log. If this error message start showing up we can further investigate the issue.

I'll keep the issue open so that I can look at it again later. (because "If you haven't fixed it yet, then it's still broken!")

[2016-11-22 21:48] davelab6 commented on #1166
Cool. Repriotized

[2016-11-23 01:33] #1157 closed

[2016-11-23 03:15] #912 closed

[2016-11-23 11:45] m4rc1e opened #1172 "Replace hypens to underscores in script filenames"
Hey folks,

By using hypens, we cannot correctly import objects from scripts into other scripts. This makes writing tests and recycling stuff much hackier.

`from fontbakery-check-ttf import blah`
This won't work. The closest we can get is using `execfile()`

I understand this may break folks shell scripts.

[2016-11-23 12:42] felipesanches commented on #1172
I've dealt with this kind of issue a while ago. Please take a look at the `__import__` usage at test_args.py:

[code]

[2016-11-25 21:17] felipesanches commented on #681
I think this must be split into a few individual issues.

I decided that it is worthless to work on the docstrings.
The other kinds of metadata may be good to have but I think it is not a high-priority task. I'd rather work on other things. Even a proper testsuite is something more critical than this I think. Let's drop the docstring task and deprioritize the additional metadata features ("what to

[2016-11-26 07:12] m4rc1e commented on #1172
This worked, thank you. It still feels a little hacky though.

[2016-11-26 07:12] #1172 closed

[2016-11-26 10:09] felipesanches commented on #1172
yes, indeed. Perhaps this may change with issue #835

[2016-11-28 18:41] felipesanches opened #1180 "Render check results in an html table instead of list-items"
Webapp is currently rendering check results as html list items (using the ul and li tags).

Dave suggested we use an html table so that we can make it sortable.

[2016-11-29 17:36] felipesanches opened #1181 "in-memory code needs urgent rework"
I started working on switching the fontbakery webapp check results from getting markdown-generated html unsorted lists to receiving html tabular data instead. (issue #1180) This **should** be quick, no more than 1 hour to put it together, but I stumbled on some "code debt".

There are some poor design decisions in the way things are done right now. Especially the quick hack for in-memory font data

[2016-11-29 17:45] felipesanches commented on #1181
The first bad design decision is the way we detect whether or not the program is run as server-side backend for the webapp:

[code]

Basically I'm using a very poor euristics here that whenever the program is not run as a standalone script, then it means we're running it as part of the webapp backend. This is bad because there can be other usage scenarios where the script is not run as a standalon

[2016-11-29 18:39] felipesanches commented on #1181
Second issue: `config['inmem']` seems redundant with the `webapp` boolean. Since `inmem` is passed explicitely by the webapp as a parameter to the `fontbakery_check_ttf` function, this should perhaps be the signaling mechanism we're looking for (instead of the problematic `webapp = (__name__ != "__main__")` as discussed above).

[2016-11-29 18:47] felipesanches commented on #1181
On the other hand... I think it may be useful to still keep these two cases separate:
**(1)** a flag for indicating whether things are handled in-memory (as oposed to as filesystem i/o)
And **(2)** a flag indicating we need to disable certain things we do not support yet in the webapp environment.

So I'll make sure the `webapp` boolean is passed explicitely as a `fontbakery_check_ttf` function pa

[2016-11-29 20:47] felipesanches opened #1182 "Partial ttfautohint check on GAppEngine"
Even though ttfautohint must be available in order to run it (and that's currently unsupported on GAE), a portion of the check may still be executed even without it. For instance, these 2 error/warning conditions can be reported before the actual ttfautohint invokation:

[code]

[2016-12-01 20:12] felipesanches commented on #1181
Sorry that I've been absent for a while. This week turned out to be extremely busy for me. But I'll resume work on this probably tonight or on Friday morning.

[2016-12-01 20:18] felipesanches commented on #1181
This piece of code is currently pending a rework on the check target tracking mechanism (which was initially meant to be something quite simple, but ended up growing into a convoluted set of routines).

The purpose of the check target mechanism is to track which file is being tested in each check. Stating it like that makes it clear that the implementation should be absolutely trivial. But it ende

[2016-12-07 09:51] m4rc1e opened #1186 "check-ttf.py: ERROR: usWeightClass from 275 to 200 (on an ExtraLight font)"
## Expected behaviour
I expect the ExtraLight to pass when it has a weight value of 275. Our [name spec](https://docs.google.com/spreadsheets/d/1ckHigO7kRxbm9ZGVQwJ6QJG_HjV_l_IRWJ_xeWnTSBg/edit#gid=0) specifies this 275 value.

## Observed behaviour
`ERROR    OS/2 usWeightClass matches weight specified at METADATA.pb Changes that must be applied to this font: OS/2 usWeightClass from 275 to 200`

#

[2016-12-07 14:37] davelab6 commented on #1186
yes this is a bug, os/2 table differs from css for 100 and 200 but otherwise match

[2016-12-07 14:39] davelab6 commented on #1181
Maybe we should abandon appengine and move to docker

AE was meant to be fast and simple! :)

[2016-12-07 14:39] davelab6 commented on #1182
Nice!

[2016-12-07 14:47] felipesanches commented on #1181
Cleaning up the mess described above is needed regardless of hosting it on GAE or anywhere else.

This is not done yet not because it is hard (it is not really), but because I was unable to dedicate more time to fontbakery lately.

[2016-12-20 16:11] davelab6 opened #1187 "Check if Vietnamese glyphs are made in the preferred way"
Similar to https://github.com/m4rc1e/mf-glyphs-scripts/issues/25 I wonder that fontbakery could report if Vietnamese diacritics are made in the preferred way

[2016-12-20 16:12] davelab6 opened #1188 "Check GSUB/GPOS tables for required features"
As our language support improves, some languages require some OpenType features to be fully supported.

We should therefore check that these features are included in all fonts.

[2016-12-21 00:31] davelab6 opened #1189 "Add checks for glyph sets being complete and up to date"
In Alexei's https://github.com/google/fonts/pull/556 (and discussion [here](https://groups.google.com/forum/#!msgid/googlefonts-discuss/CADUrt2EuXciPtRvxV4HojXCYeym7gpthHBKVdLoueVyaL6-wng%2540mail.gmail.com)) he rejigged the Cyrillic glyph sets. Therefore we should have some FB checks to ensure that the TTFs we are onboarding are using the latest glyphsets, since we'll want to know about it to bri

[2017-01-03 13:54] m4rc1e opened #1190 "check-ttf.py: fullname name length"
Hello @felipesanches and @davelab6,

I see we're checking if the fullname is under [64 characters](https://github.com/googlefonts/fontbakery/blob/master/fontbakery-check-ttf.py#L2834-L2837). I thought the limit was 32, regardless of field type?

Also, hope you had a cracking xmas and NYE

[2017-01-03 16:32] felipesanches commented on #1190
As an atheist I do not celebrate christmas. But I do drink the wine and eat the good food! It is also a great opportunity to meet all of the family :-)

Regarding the max allowed length for fullname, I'm not sure right now. I'll take a look at this again once I get back to work next Monday Jan 9th.

cheers!

[2017-01-03 22:01] davelab6 commented on #1190
Felipe, what about https://stallman.org/grav-mass.html ? :)  32 sounds more
likely, but would be good to check the MSFT OpenType specification on
this... I took a quick look at
https://www.microsoft.com/typography/otspec/name.htm but couldn't quickly
find an answer to this.

[2017-01-04 10:13] m4rc1e commented on #1190
I was not able to find a definitive answer in the spec either.

I remember this being an issue in the past and I'm also guessing 32 is the max.

[2017-01-04 10:53] davelab6 commented on #1190
Seems easy to empirically verify

On Jan 4, 2017 10:13 AM, "Marc Foley" <notifications@github.com> wrote:

[2017-01-04 11:01] m4rc1e commented on #1190
Alright, @anthrotype pointed me towards the AFDKO, MakeOTFUserGuide.pdf documentation. You have to download the afdko to get it. It states, pg 9:

Because of limitations in operating systems and common applications, it is recommended that none of these keys contain names longer than 31 characters.  Thiis results in menu names for legacy environments being 31 characters or less. The OpenType menu n

[2017-01-04 12:25] m4rc1e commented on #1190
# Fullname: 31+ chars & font name < 32 chars:
I tested **[EncodeSansSemiCondensed-ExtraBold.ttf](https://github.com/m4rc1e/Encode-Sans/tree/master/fonts)**.

Font Name: 11 characters
Full name: 35 characters

![screen shot 2017-01-04 at 11 31 58](https://cloud.githubusercontent.com/assets/7525512/21641093/8b572c7e-d271-11e6-94fe-1c54b56dc987.png)

The font menu names are behaving as they should.

[2017-01-04 12:43] m4rc1e commented on #1190
Closing this since our implementation is good.

[2017-01-04 12:43] #1190 closed

[2017-01-06 11:13] m4rc1e commented on #1189
Surely this should apply to all our charsets and not just Cyrillic?

[2017-01-06 11:14] m4rc1e commented on #1187
Here's my implementation in glyphsapp.
https://github.com/m4rc1e/mf-glyphs-scripts/commit/9db2878bced4ce0dcb845e7c4a48e61414b05943

[2017-01-06 11:17] m4rc1e opened #1192 "Indentation: change to 4 spaces"
I'm guessing this is linked to #1161.

I would love to use 4 spaces, instead of 2 in .py files. Imo, it has significant advantages for readability and debugging.

[2017-01-10 02:30] davelab6 commented on #1192
@felipesanches thoughts?

[2017-01-11 00:13] felipesanches commented on #1181
DONE!

[2017-01-11 00:13] #1181 closed

[2017-01-11 00:13] felipesanches commented on #1180
DONE!

[2017-01-11 00:13] #1180 closed

[2017-01-11 00:31] felipesanches commented on #1186
[name space](https://docs.google.com/spreadsheets/d/1ckHigO7kRxbm9ZGVQwJ6QJG_HjV_l_IRWJ_xeWnTSBg/edit#gid=0) says:

**CFF.Weight OS/2.usWeightClass:**

[2017-01-11 00:40] davelab6 commented on #1181
Glad to see this sorted :)

[2017-01-11 00:41] davelab6 commented on #1180
Thanks @felipesanches - please push the latest to http://fontbakery.appspot.com :)

[2017-01-11 00:42] felipesanches commented on #1181
Me too!

[2017-01-11 00:43] davelab6 commented on #1186
@felipesanches right. Marc says when he runs an ExtraLight font through fb (like Rokkit) it suggested to him to change usWeightClass from 275 to 200... which would not be a good suggestion.

[2017-01-11 00:44] felipesanches commented on #1180
yep, I'll do it. But it'll be the last thing later tonight.

[2017-01-11 00:45] felipesanches commented on #1186
got it! I'll make it better then :=)

[2017-01-11 00:45] davelab6 commented on #1180
Perfect, thank you!

[2017-01-11 01:00] felipesanches commented on #1186
hmmm.... I get a good result when checking agains Rokkit here with latest master:

        "description": "Checking OS/2 usWeightClass",
        "log_messages": [
            "OS/2 usWeightClass value looks good!"
        ],
        "result": "OK",
        "target": "data/test/rokkit/Rokkitt-ExtraLight.ttf"
    },

I also see that since march 2016 we have the 275 value for ExtraLight at https://gi

[2017-01-11 01:08] felipesanches commented on #1192
I'd rather stick to using 2 spaces. It gets tight to make code fit into 80 chars with 4-chars indentation.

I'm not religious about it. But I'm typically the one doing the largest amount of daily editing and maintenance to the codebase so I'd rather keep it at 2-chars :-)

But you're right that #1161 is important. I should spend some time cleaning up that mixed indentation style sooner than later.

[2017-01-11 01:08] #1192 closed

[2017-01-11 03:09] felipesanches commented on #1161
Done!

[2017-01-11 03:09] #1161 closed

[2017-01-11 13:06] m4rc1e commented on #1186
Alright, I just reran Rokkit-ExtraLight.ttf through FB. The issue is gone.

I probably had an older version of FB.

Closing

[2017-01-11 13:06] #1186 closed

[2017-01-11 20:11] felipesanches opened #1195 "Improve HTML table styling for the webapp check-results"
Check-results content is correct but:

- [x] overflows tab-widget width (we could make the widget wider perhaps)
- [x] Text is a bit too large and unnecessarily bold, I think.
- [x] lacks color-coding for each type of result (i.e. ERROR=red, WARNING=blue, INFO=grey, etc)
- [x] "CrossFamilyChecks" tab should be hidden if there are zero log messages (i.e. if user submitts a single TTF file)
- [x] Ta

[2017-01-11 20:11] felipesanches commented on #1195
@davelab6 what do you think ?

[2017-01-13 18:47] #1182 closed

[2017-01-13 22:25] felipesanches commented on #831
URL of the schema seems to have changed to https://github.com/HinTak/Font-Validator/blob/embedding-ironpython/GenerateFValData/helpitems.xsd

[2017-01-13 23:31] felipesanches commented on #831
I've built FVal from source here on my computer and I am able to run it on the command line.

[2017-01-14 00:19] HinTak commented on #831
Oh, my mistake. https://github.com/Microsoft/Font-Validator/blob/master/GenerateFValData/helpitems.xsd works too. It is not expected to change at all, ever.

Mostly you want to do `mono bin/FontValidator.exe -all-tables -file <fontfile> ...`, and for casual trying-out use, just the addtional `-stdout` .

Adding `+raster-tests` would give you the full test, which requires a modified freetype. It sh

[2017-01-14 03:25] felipesanches commented on #831
We can't run it on app engine because it relies on subprocess module which is unsupported. That's something we'll have to address somehow, but I'll leave it to be tracked by another issue. Working fine on the command line now.

[2017-01-14 03:25] #831 closed

[2017-01-16 16:00] m4rc1e opened #1204 "add module for shared functions/constants"
We're producing many functions and constants which could be shared amongst the different scripts.

We should probably bundle these into a single .py module.

The downside to this is we cannot share individual scripts anymore. However, it will cut down on duplication.

@davelab6 @felipesanches thoughts?

[2017-01-16 16:06] davelab6 commented on #1204
Fb used to be more sophisticated and it actually was more hindrance than
help. I like the fact these are stand alone scripts that can be emailed
around and just work. Our target users are irredeemably unsophisticated

On Jan 16, 2017 8:01 AM, "Marc Foley" <notifications@github.com> wrote:

[2017-01-16 16:07] davelab6 commented on #1204
With Python script and command line stuff. Their expertise isbon drawing
great letterforms. This is unlikely to change across the type community.

On Jan 16, 2017 8:06 AM, "Dave Crossland" <dave@lab6.com> wrote:

[2017-01-17 12:47] felipesanches commented on #1204
I frequently think of moving things to external modules, but as @davelab6 pointed out, keeping the scripts stand-alone is currently understood as a product requirement.

[2017-01-17 13:23] anthrotype commented on #1204
well, if I look at the long list of install requirements in the README, it doesn't seem to me that the fontbakery scripts are much "stand-alone"...

If you want to make it easy for users to install fontbakery, then you could package it with things like pyinstaller so they get something truly standalone (not even python would be required).

Anyway, I don't really use the tool, so you can ignore my

[2017-01-17 16:36] davelab6 commented on #1204
@anthrotype all the 3rd party packages (except fonttools) are optional, everything runs fine without them yet with merely reduced functionality

[2017-01-17 16:36] davelab6 commented on #1204
The project has had a high amount of churn in the last years, so packaging wasn't ideal; I preferred that people run from git master always

[2017-01-17 16:37] davelab6 commented on #1204
I guess my recommendation is that @m4rc1e create a branch and go to town and I'll review it and see if I think it is simple enough that its ok :)

[2017-01-17 16:38] felipesanches commented on #1204
nice! :-)

[2017-01-20 02:13] felipesanches commented on #1158
This is a list of 104 URLs of git repos with font projects that I extracted from the description files on the google/fonts repo. @davelab6, which of these would you like to monitor in a dashboard?

Yes, it could be them all, but let's say, is there a selection of something like 10 of these that you'd like to see in a first prototype of the dashboard?

I'll probably fork them into my own github acc

[2017-01-20 02:16] felipesanches commented on #1158
Also... for now we're only going to be able to deal with repos that host TTF binaries. Picking one at random, like https://github.com/appajid/ntr I can see that it only stores UFOs, so that's not going to be supported.

I can look at each of these one by one and see which ones host TTF binaries. I'm only asking because perhaps you already know the answer by heart. :-)

[2017-01-20 05:56] davelab6 commented on #1158
On Jan 19, 2017 9:13 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

github.com/10four/Bhavuka

Fontforge project

github.com/adobe/source-serif-pro

Adobe project

github.com/cadsondemak/itim
github.com/cadsondemak/kanit
github.com/cadsondemak/sriracha

Glyphs messier projects

github.com/CatharsisFonts/Cormorant

Big big project

github.com/cyrealtype/Adamina
github.com/

[2017-01-27 11:00] m4rc1e opened #1207 "Regression Tests"
A common problem we are now facing are regression errors. If the font already exists on fonts.google.com, we need to test the following:

1. Has the visual appearance of vertical metrics changed?
2. Has the version number increased?
3. Do the new fonts contain the old styles?
4. Do glyphs contain the same amount of points?

Montserrat had this nasty [error](https://github.com/JulietaUla/Montserrat

[2017-01-27 17:30] m4rc1e commented on #1207
I've spent my day on these tests. I'm pretty happy with the initial results:

![screen shot 2017-01-27 at 17 27 15](https://cloud.githubusercontent.com/assets/7525512/22380641/09839046-e4b6-11e6-9473-822dde796a5a.png)

I've settled for flagging a glyph is the difference between the point count is 10 or more. It will also see if glyphs which should be composites have been decomposed.

You can then

[2017-01-27 17:41] felipesanches commented on #1207
@m4rc1e  Cool! Let me know when you feel like opening a pull request so that I can review it and merge.

[2017-01-31 00:45] davelab6 opened #1208 "Add script for release making/checking"
## Expected behaviour

Font Bakery should have a script that can confirm when a 'release' is ready to tag and push and upload a special zip... in fact it could even generate that special release zip :)

## Observed behaviour

Per https://github.com/google/fonts/issues/611 a user complained about a new release of Inconsolata lacking adequate release documentation.

[2017-01-31 15:08] m4rc1e opened #1211 "Naming families containing the prefixes "Extra", "Semi""
Hey folks,

We've recently started dealing with super families and the GF api cannot handle widths. Widths need to be separated into their own individual families, so Roboto Condensed is a different family to Roboto.

![screen shot 2017-01-31 at 14 54 07](https://cloud.githubusercontent.com/assets/7525512/22469825/2d4161e0-e7c5-11e6-8f9c-456167832315.png)
*Menu screenshot of Roboto and Roboto Cond

[2017-01-31 15:36] davelab6 commented on #1211
Pablo had a nice idea to name widths in a way that sorts alphabetically....

Compact (Pablo used compressed but that's confusing with woff etc)
Condensed
Default [or nothing but that sorts to the top]
Expanded
Wide

The use of Semi and Extra makes a poor sort order.

Fb should also check width metadata is correct for such families btw

On Jan 31, 2017 10:09 AM, "Marc Foley" <notifications@github.c

[2017-01-31 15:38] davelab6 commented on #1211
To answer the question, I think spaced rather than camel case is best for
family names, and a single camel case word best for style names

On Jan 31, 2017 10:36 AM, "Dave Crossland" <d.crossland@gmail.com> wrote:

[2017-01-31 16:22] m4rc1e commented on #1211
If we all agree to this, there are no changes needed. Any objections?

[2017-01-31 22:43] felipesanches commented on #1211
If no changes are needed, I suggest we close this. Reopen, please, if there's still any objection.

[2017-01-31 22:43] #1211 closed

[2017-02-01 10:41] m4rc1e opened #1212 "Refactoring check-ttf.py and the web app"
Hey @felipesanches,

I have concerns over the size of fontbakery-check-ttf.py. 4,500 lines makes navigating it cumbersome. I can already see several objects which could be moved into their own independent modules. It also concerns me how coupled check-ttf.py is to the webapp.

Imo, the webapp should use a database, instead of generated json files. The bonus of using a database is we can retrieve o

[2017-02-01 11:01] felipesanches commented on #1212
@m4rc1e Feel free to describe here what you have in mind.

Also, I think this is directly related to #1204

[2017-02-01 11:04] felipesanches commented on #1212
The reason why the webapp is fed with json files is because it is intended to fetch data from distributed git repositories where each font project can update their own check-results (likely in an automated Travis job).

[2017-02-01 11:08] m4rc1e commented on #1212
How can we tell if the family has improved or deteriorated over time?

Apologies if this is already accounted for. I couldn't find it when skimming the source code.

[2017-02-01 11:40] felipesanches commented on #1212
The burndown chart data can help with that.

There's a script that iteratively navigates the commit history of a given git repo and runs fb_check_ttf on it, generating per-commit entries in the check results json report. It is called fontbakery_gather_burndown_data_from_git.py and was introduced together with some check_ttf changes at https://github.com/googlefonts/fontbakery/pull/1206/commits/744

[2017-02-01 11:41] m4rc1e commented on #1212
Thank you for the clarification.

[2017-02-02 02:14] davelab6 commented on #1212
I had a quick chat with @felipesanches and suggested he consider redis/firebase/etc for storing the json. Using github as the datastore is unwise imho

[2017-02-02 02:25] davelab6 commented on #1212
I am open to this, but I am not sure it is wise - we had the codebase organized in modules and it was much more cumbersome ;)

I think its very helpful that it is a single file that is *simple*, so that relative newbies facing a traceback/exception know exactly which line to look at, and the flow control of the program is... immanent.

A code folding editor will roll up those 4,500 lines and make

[2017-02-02 11:50] m4rc1e opened #1215 "check-ttf.py: add regression check for missing glyphs"
We need a test to see whether any glyphs are missing from the previous version.

This has been highlighted in fonts/google issue [623](https://github.com/google/fonts/issues/623)

[2017-02-02 12:58] felipesanches opened #1216 "should we deprecate version bump on fb-update-families ?"
See detailed discussion at:

https://github.com/googlefonts/fontbakery/commit/eb428fefde30613132ec65c3400aa21c6c7d498d#commitcomment-20713481

[2017-02-02 13:19] felipesanches commented on #1216
Yes, the final decision is that we'll deprecate only the -b (version bump) switch, keeping the rest of the fb-update-families features.

[2017-02-02 14:12] #1216 closed

[2017-02-02 14:15] felipesanches opened #1218 "F841 local variable 'IOError' is assigned to but never used"
Travis have been failing for a while on this:

 fontbakery-check-ttf.py:1835:21: F841 local variable 'IOError' is assigned to but never used
 1     F841 local variable 'IOError' is assigned to but never used

This tracks back to https://github.com/googlefonts/fontbakery/pull/1205

Seems to be simple to fix. I'll take a closer look in a while.

[2017-02-02 17:39] davelab6 commented on #1218
Thanks!

[2017-02-02 22:59] felipesanches opened #1219 "Add numerical identifiers for each check"
I've been thinking that if we had idnetifiers for each check, it could serve a good purpose in communicating both among ourselves during development (i.e.: there's an issue with check number 37) as well as when talking to type designers (i.e.: I'm getting some error messages related to check 15, can you provide me some guidance on how to fix the issue, please?)

I know it is not strictly necessary

[2017-02-02 23:01] felipesanches commented on #1219
oh! And it could also aid in readability on the text terminal output. I have had this idea for a long time, but I have just expressed it here now because I just felt again the need for it while scrolling a few pages of verbose log. If there were check numbers it would be easier to fing the specific check I'm interested in debugging.

[2017-02-04 00:54] #1207 closed

[2017-02-04 04:46] felipesanches commented on #1218
;-)

[2017-02-04 04:46] #1218 closed

[2017-02-05 05:26] davelab6 commented on #1218
Thank you Felipe

On Feb 3, 2017 11:46 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-02-08 12:04] felipesanches opened #1223 "Dockerize FontBakery dashboard infrastructure"
We should have:
* a worker container that fetches a font project git repo and runs fontbakery-check-ttf.py on it.
* a database container running redis. The check-results from the workers are stored here.
* a stats-update worker which is responsible for computing the aggregate project statistics for all font projects based on the raw check-results from the database. The results of this worker job s

[2017-02-08 12:12] felipesanches commented on #1223
The status on this is that I already got fontbakery-check-ttf running on a docker container. Now I'm tweaking that container to add otsanitize and some other auxilary tools. Then, later I will:

* setup this to save the check-results data to a redis container.
* write a helper script for fetching the TTF files from git based on a FONTFAMILY_FILES environment variable, before invoking check-ttf
* i

[2017-02-08 12:58] m4rc1e commented on #1223
Why Redis?

[2017-02-08 13:16] felipesanches commented on #1223
Because it seems to be a simple and efficient solution for storing and caching the data instead of the "JSON stubs everywhere" aproach :-)

[2017-02-08 13:41] m4rc1e commented on #1223
I agree with the json stubs part.

I would personally prefer the results to be stored in a db which is not an IMDB. If we're plotting charts etc, this historical data will need to be much more persistent. Also, since we'll keep adding tests, this may rule out a relational db or we'll keep needing to do db migrations.

I'd also love to have an api to browse historical data with nice endpoints such

[2017-02-08 13:46] felipesanches commented on #1223
well.. if there are database experts at Google who could provide some input here at this issue, it would be awesome! :-D

[2017-02-08 13:54] felipesanches commented on #1223
Regarding historical data, if we bugfix certain FB checks (or if we add/remove checks in a new FB version) we may want to rerun the test suite on old font project commits. The good thing is that all of the upstream font files are (supposed to be) versioned on git, so (even though I'm unsure this would be worth the effort) we could checkout an old commit again and rerun check-ttf on it. For this pu

[2017-02-08 14:41] davelab6 commented on #1223
Firebase?

On Feb 8, 2017 5:54 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-02-08 15:05] felipesanches commented on #1223
I'm not sure yet.

[2017-02-09 11:27] m4rc1e opened #1224 "check-ttf: add check to determine if legacy version has ttfautohint x-height rounding enabled"
As the title suggests. We're receiving several issues over on fonts/google regarding this matter, [644](https://github.com/google/fonts/issues/644), [528](https://github.com/google/fonts/issues/528).

Imo, this should be treated as a regression issue and the settings should match the previous version as best as possible

[2017-02-09 12:48] m4rc1e commented on #1224
Alright, the x-height rounding values are set in the fpgm table.

I've compared 3 fonts:

*auto, x-height rounding=20, x-height rounding=0*
![screen shot 2017-02-09 at 12 45 00](https://cloud.githubusercontent.com/assets/7525512/22783912/c090c86c-eec5-11e6-975e-4714e513048a.png)

I'll see if fontTools.ttLib will allow me to parse this. If so, I'll start writing an FB test.

[2017-02-09 18:21] davelab6 opened #1225 "Test ligatures have caret positions defined"
## Expected behaviour

When common text ligatures exist, they should have a corresponding caret position defined, or users are unhappy.

See ref https://github.com/google/fonts/issues/644#issuecomment-278726932

## Observed behaviour

We do not test for this

## How to replicate

The lato font files in github.com/google/fonts at time of posting this (introduced in https://github.com/google/fonts/p

[2017-02-09 18:59] felipesanches commented on #1225
OK. I'm looking at it now.

[2017-02-09 19:12] felipesanches commented on #1225
@davelab6 If I undertood it correctly, the new check must verify that all ligatures have corresponding caret positioning values defined in the GDEF table as specified at: https://www.microsoft.com/typography/otspec/gdef.htm

[2017-02-10 00:36] felipesanches commented on #1225
@davelab6 I can't reproduce the issue at hand.

I have inspected Lato-Black.ttx (converted from Lato-Black.ttf) from the latest google/fonts repo update (december 2016) with the same font file from its previous version on git (from october 2015). While the older release has only ligature glyphs for fi and fl, the newer release adds a whole bunch of new ligatures on the GSUB table.

But none of the

[2017-02-10 00:55] felipesanches commented on #1225
@davelab6 The commit I just pushed (https://github.com/felipesanches/fontbakery/commit/4818a02c2b5491126216ba239e1dd2d87a2af61d) adds the largest chunk of the new check implementation. The last final bit would greatly from an example of a font file that properly adds the needed caret positioning values for the ligatures.

[2017-02-10 02:57] davelab6 commented on #1225
Yeah, the previous version in GitHub was bad, but the version in prod is good (https://fonts.google.com/specimen/Lato) and another example is https://fonts.google.com/specimen/Alegreya e.g.

<img width="255" alt="screen shot 2017-02-09 at 18 56 09" src="https://cloud.githubusercontent.com/assets/261579/22812423/77cb81e2-eef9-11e6-9fda-a74d308d518b.png">

[2017-02-10 02:58] davelab6 commented on #1225
@behdad is best placed to comment on that, @brawer might also know

[2017-02-10 03:07] behdad commented on #1225
Note that we know of no software that uses / respects these.

[2017-02-10 03:09] behdad commented on #1225
Mixed up how?  It looks perfectly fine to me.

[2017-02-10 03:21] felipesanches commented on #1225
It's weird & confusing that:

* (A) the Ligature Glyph List contains CaretValues
* (B) the Ligature Caret List contains Ligature Glyphs

The tables' contents seem to be swapped, according to their names.

[2017-02-10 03:24] behdad commented on #1225
Lol. No. LigatureCaretList is the name for the whole thing.  It encodes a list of caret positions per ligature glyph.

[2017-02-10 03:24] behdad commented on #1225
Just ignore the names and follow the data.  It makes sense.

[2017-02-10 03:26] felipesanches commented on #1225
@behdad Do you mean that the LigCaretList contains a list of pointers to "ligature glyphs" tables, but ligature glyphs do not really represent glyphs, but really are just the data for all the carets in that specific ligglyph?

[2017-02-10 03:33] felipesanches opened #1226 "Should we use GDEF glyph classes to identify all ligature glyphs ?"
See @behdad comments (and my own replies) at:
https://github.com/felipesanches/fontbakery/commit/4818a02c2b5491126216ba239e1dd2d87a2af61d

[2017-02-10 03:37] behdad commented on #1225
Correct.

[2017-02-10 03:49] felipesanches commented on #1225
OK, then... So there's no error in the spec, but just a very unfortunate (and somewhat misleading) choice of names.

[2017-02-10 03:50] behdad commented on #1225
You have not seen unfortunate and misleading choice of names in OT spec yet
;)...

On Thu, Feb 9, 2017 at 7:49 PM, Felipe Corrêa da Silva Sanches <
notifications@github.com> wrote:

--
behdad
http://behdad.org/

[2017-02-10 03:52] felipesanches commented on #1225
According to @davelab6 's request, FontBakery must emit an error (or maybe a warning) when a font has ligature glyphs but lacks corresponding caret positioning values. So, even though GDEF is typically treated as an optional table, it would end up being reported as an error in Dave's proposed new check.

Sounds correct, Dave ?

[2017-02-10 03:54] behdad commented on #1225
Optional doesn't mean you can always leave it out.  It means if it is not
needed, you can leave it out.

On Thu, Feb 9, 2017 at 7:52 PM, Felipe Corrêa da Silva Sanches <
notifications@github.com> wrote:

--
behdad
http://behdad.org/

[2017-02-10 03:57] felipesanches commented on #1225
Sure! So this issue is all about a case in which an otherwise optional table ends up being mandatory in a specific given context. Awesome! I'll code the check in this manner then. Thanks for the clarifications, @behdad !

Happy Hacking! :-D

[2017-02-10 04:32] felipesanches commented on #1225
@davelab6 Lato in prod and Alegreya in prod both lack a GDEF table.

[2017-02-10 04:44] felipesanches commented on #1225
Montserrat in prod is an example of a font that has got a GDEF table with caret positioning values, but seems to not have values for every ligature. This is the warning that FontBakery emits in that case (sample from actually running it with Montserrat-Regular from prod):

**WARNING  It seems that this font lacks caret positioning values for some of its ligature glyphs on the GDEF table. There's a

[2017-02-10 05:21] #1225 closed

[2017-02-10 05:22] felipesanches commented on #1212
I'll close this because it's being taken care of at issue #1223

[2017-02-10 05:25] davelab6 commented on #1212
Will fontbakery_gather_burndown_data_from_git.py run on all TTF in the repo at each commit? Will it follow git rename commits?

[2017-02-10 05:25] felipesanches commented on #1188
@davelab6 Do we have a list of the specific required features we should be checking against?

[2017-02-10 05:30] davelab6 commented on #1225
Noted, although I'm not sure why since I expect users reporting https://github.com/google/roboto/issues/76 have software that does

[2017-02-10 05:30] felipesanches commented on #1212
This sounds like a good question, but more appropriate for a fresh new issue.

"gather from git" runs on the cmd-line specified TTF files once per commit.

Shortcomings:
* (A) It does not cover more than one family stored in a single repo.
* (B) It does not follow git renames (I considered implementing that. It would be neat. But I did not think it was the most important thing to do in terms of pr

[2017-02-10 05:30] davelab6 commented on #1225
Felipe, that's a winner

[2017-02-10 05:32] felipesanches opened #1228 "Dashboard: Improvements to the handling of upstream git repos at the worker container"
"gather from git" runs on the cmd-line specified TTF files once per commit.

Current shortcomings:

- [ ] A) It does not cover more than one family stored in a single repo.

- [ ] B) It does not follow git renames (I considered implementing that. It would be neat. But I did not think it was the most important thing to do in terms of priorities)

[2017-02-10 05:32] felipesanches commented on #1212
There we go:
https://github.com/googlefonts/fontbakery/issues/1228

[2017-02-10 05:32] #1212 closed

[2017-02-10 05:34] davelab6 commented on #1188
@alexeiva and @m4rc1e can better advise, but if you search the gf collection for gsub tables and count commonalities, that could develop a list.

Latin: Turkish (around dotless "i", iirc), Dutch (ij?)

Cyrillic: Romanian, Serbian, etc

The glyphsapp tutorials also has some documentation on common OpenType features for language support, please review that

[2017-02-10 05:37] felipesanches commented on #1188
cool! Thanks

[2017-02-10 05:40] davelab6 commented on #1228
Given a git repo URL, git commit hash id, a fontbakery version are recorded in a central database of burndown results, it seems that we can have the gather tool cache it's findings and return early if it finds an existing result for the given repo hash with a version more up to date or equal to current version

[2017-02-10 05:42] felipesanches commented on #1228
Sounds great!

[2017-02-10 07:22] khaledhosny commented on #1225
Like Behdad is saying, we don’t know any software that uses GDEF ligature carets, software that tries to place caret inside ligatures simply decided the ligature advance width over the number of its grapheme clusters. Even funnily, older versions of OTS from few years ago had a bug and would reject any GDEF table that has ligature carets, I had to strip them from my webfonts to unbreak them and I

[2017-02-10 08:50] brawer commented on #1225
Well, it probably can’t hurt if new fonts follow the spec?

[2017-02-10 19:25] alexeiva commented on #1188
I will provide some standart practise samples for Cyrillic

[2017-02-10 19:45] alexeiva commented on #1188
1.
if font includes glyph `germandbls.calt`

`calt` feature should include
[code]

Source: https://glyphsapp.com/tutorials/localize-your-font-german-capital-sharp-s

[2017-02-11 13:56] m4rc1e commented on #1224
Implemented in pr #1229,

[2017-02-11 13:56] #1224 closed

[2017-02-16 23:53] felipesanches opened #1230 "Dashboard: Dockerize the drag-n-drop webapp"
Currently the drag-n-drop webapp hosted at http://fontbakery.appspot.com/ does not run FontForge checks (or any other checks that require usage of the subprocess module) due to secutiry restrictions on Google App Engine.

If we migrate the webapp to Google Container Engine, we'll be able to run these additional checks, improving the coverage of the reports geenrated by this webapp.

[2017-02-17 00:00] felipesanches commented on #1230
I've been chatting to a friend and he suggested that maybe the webapp could remain hosted at GAppEngine, and simply dispatch jobs on the same containers used for our dashboard system infrastructure. Sounds like a neat approach.

[2017-02-17 00:33] opsxcq commented on #1230
We can keep the GAE application, for job orchestration it's possible to use google cloud pub/sub, it have a fair price ($0.06 per GB).

An use case example, the user drag-n-drop:

 * **User** drag a font to fontbakery.appspot.com
 * **GAE Application** put a message in the job queue with the font and generate an ID, return it to JS in the user browser so it can start pooling for the results.
 * **

[2017-02-17 01:00] felipesanches commented on #1230
Google Fonts has got a bit more than 8 hundred font families. In a dump first prototype of the dockerized dashboard (which is not really the topic of this issue, but #1223 instead) we could leave out webhooks and simply re-run all checks on the full set of families every N days (or whenever there's some manual stats update trigger requested by a dashboard user).

A better implementation employing

[2017-02-17 09:21] m4rc1e commented on #1230
Hey guys,

I've used Docker on Digital Ocean for [gfregression](https://github.com/m4rc1e/gfregression), [site](http://45.55.138.144).

Reason for my own virtual server was so I can have free reign of my dependencies. If I want to jump to aws, it is no problem.

[2017-02-18 00:42] davelab6 commented on #1230
I'm assuming that as a g project we can get free credit on g cloud and
d.o./AWS are persona non grata ;)

G pubsub or firebase or whatever is fine to consider but (a) is it it fine
for Felipe? (Who is committed to software freedom in his daily practice :)
and (b) rethinkdb or other similar nosql databases provide pubsub directly.

On Feb 17, 2017 12:21 PM, "Marc Foley" <notifications@github.com> w

[2017-02-18 00:42] davelab6 commented on #1230
On Feb 17, 2017 4:00 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

Google Fonts has got a bit more than 8 hundred font families. In a dump
first prototype of the dockerized dashboard (which is not really the topic
of this issue, but #1223
<https://github.com/googlefonts/fontbakery/issues/1223> instead) we could
leave out webhooks and simply re-run all checks on the full

[2017-03-06 09:00] m4rc1e opened #1231 "Dashboard: Conform to Material Design"
Hey @felipesanches ,

I think it's wise we stick to using [Material Design](https://material.io/guidelines/) for the UI.

[2017-03-06 10:45] felipesanches commented on #1231
Yup! I think it's great.

[2017-03-06 13:03] davelab6 commented on #1231
Material Design Components?

On Mar 6, 2017 5:45 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2017-03-07 01:49] davelab6 commented on #1231
This is low Priority to me

On Mar 6, 2017 8:03 AM, "Dave Crossland" <d.crossland@gmail.com> wrote:

[2017-03-07 19:31] davelab6 commented on #1223
@felipesanches can this be closed?

[2017-03-07 19:31] davelab6 commented on #1219
I agree this would be nice someday

[2017-03-07 19:33] davelab6 commented on #1195
@felipesanches those last 2 tasks seem very quick to do, please do them and close this asap

[2017-03-07 19:37] davelab6 commented on #1143
And now there is (4) the docker-based dashboard?

I agree that all unmaintained parts should be removed to clean up the repo, and this should be done before tagging the 0.2.0 release.

I think you should tag the repo (eg `old web ui`)  before deleting them, then it will be easy to find them later if needed.

[2017-03-07 20:05] felipesanches commented on #1223
In theory this issue refers to the pending work at pull request #1209
But as most of the discussion is going on at the pull request itself, it seems safe to close the issue.

[2017-03-07 20:05] #1223 closed

[2017-03-07 20:07] felipesanches commented on #1195
I'll work on these after merging the fontbakery dashboard (pull request #1209)

[2017-03-09 14:13] davelab6 opened #1232 "Implement 'missing codepoints' check"
Nyshadh has written a 'missing codepoints' check that FB should implement

[2017-03-09 14:14] davelab6 opened #1233 "Dashboard: Add a page for uniform glyph sets"
There's a high priority set of work to fix fonts in families to be uniform glyph sets across the collection... so, a 2nd step after #1232 is to make something similar to the `Missing Codepoints` spreadsheet in the dashboard so we can burn down progress against that check.

[2017-03-09 18:15] felipesanches opened #1235 "Dashboard: Better choice of colors for the pie-chart in the family details page"
Red is typically associated with "problem". It would be good to change the color-scheme of the generated pie-chart so that the "OK" check-results are represented by a portion of the pie coloured in green. While "ERROR" results should use the red color, and maybe blue for "INFO" and yellow for "Warning" and soft-blue for "SKIP".

[2017-03-09 18:18] felipesanches opened #1236 "Dashboard: Allow hidding "OK" results in the family details page"
While we display all check-results (for the sake of completeness), it is likely that the users may be much more interested in looking at what went wrong. So a button (or checkbox) for toggling the visibility of "OK" check results could be very useful in the dashboard UI.

[2017-03-09 18:22] felipesanches opened #1237 "Dashboard: Display a burndown chart of check-results scores per family (on the family details page)"
We do collect all the data needed to build a burndown chart (and there's been some prototypes of that in the past) but right now all we show in the dashboard UI is info tagged with "HEAD": true in the database, meaning that we're just displaying the check results for the latest commit in the git repos.

Since we have the data, I think it would be wise to query that and render the chart. The best p

[2017-03-09 18:29] felipesanches opened #1238 "[dashboard] Fetch font files from production and run fontbakery on them as well"
We need to run fontbakery on the production files for all families on the Google Fonts project.

I'm still not sure if that should be a task for our current "worker" container, or if we should have yet another container specifically crafter for that task. But surely there must be cross-referencing between those two sets of fontfiles in the database entries.

I'll limit the scope of this issue to t

[2017-03-09 18:36] felipesanches opened #1239 "Display results for production font files on the dashboard"
Wee need to decide how the check results for the production font files will be displayed on the dashboard. And then I need to implement whatever we decide.

I understand that we'll probably want to have the same level of detail for production files as we have with upstream git-repo files. So Ideally we would simply populate the same page template we already have. On the other hand, we'll probably