[2016-01-08 18:54] davelab6 opened #611 "[web] Fix 404ing"
The web app should be fixed to prevent these spurious 404 messages:

<img width="1683" alt="screen shot 2016-01-08 at 13 54 00" src="https://cloud.githubusercontent.com/assets/261579/12206500/53233494-b60f-11e5-9285-e7f6c486d095.png">

- [ ] `404 - Not Found: //rawgit.com/felipesanches/scope-one/gh-pages/METADATA.new.json`

I think the build process might now create `METADATA.json.new` files?

In

[2016-01-10 17:55] madig opened #613 "fontbakery-build.py does not handle .sfdir"
The copied .sfdirs in build/... are empty. They should be handled similarly to .ufo.

[2016-01-11 18:32] davelab6 opened #614 "fontbakery-fix-version.py errors on TTF files"
[code]

[2016-01-11 18:32] #610 closed

[2016-01-11 18:33] davelab6 commented on #604
It is used to subset the font to its own character set, dropped unneeded glyphs and tables.

[2016-01-11 18:33] #604 closed

[2016-01-11 19:51] davelab6 commented on #592
https://github.com/google/fonts/blob/master/tools/add_font.py provides code for this.

[2016-01-11 19:52] davelab6 commented on #592
The web app just treats the previous json files as text, so this will be a very small piece of work :)

[2016-01-11 21:52] davelab6 opened #615 "bakery_lint/fonttests/test_ttf.py TTFTestCase.test_ots() fails"
https://github.com/felipesanches/scope-one/blob/gh-pages/build_info/data/buildlog.txt#L87-L88

[2016-01-11 22:00] davelab6 opened #616 "Deduplicate lines in buildlog.txt"
It seems that almost everything in buildlog.txt is duplicated... eg https://github.com/felipesanches/scope-one/blob/gh-pages/build_info/data/buildlog.txt#L1-L2

This should not happen.

[2016-01-11 22:49] davelab6 opened #617 "test_check_no_problematic_formats() fails with "unsupported operand type""
note: ERROR: bakery_lint/fonttests/test_ttf.py: TTFTestCase.test_check_no_problematic_formats():  Check that font contain required tables : unsupported operand type(s) for +: 'set' and 'set'
    note: ERROR: bakery_lint/fonttests/test_ttf.py: TTFTestCase.test_check_no_problematic_formats():  Check that font contain required tables : unsupported operand type(s) for +: 'set' and 'set'

https://githu

[2016-01-11 22:54] davelab6 opened #618 "test_font_unencoded_glyphs() should only error on glyphs inaccessible to opentype features"
`bakery_lint/fonttests/test_ttf.py TTFTestCase.test_font_unencoded_glyphs()` should list which glyphs are unencoded **and** not accessible by OpenType features; the presence of unencoded glyphs themselves is acceptable if they are accessible by OpenType features.
- [x] As an intermediate fix, just note this.
- [ ] explicitly mention which are the unencoded glyphs in the font.
- [ ] Use harfbuzz to

[2016-01-12 14:20] felipesanches commented on #591
This is my current set of installed pip packages as listed out by the command
***pip freeze***:

[code]

There's plenty of unecessary packages (for fontbakery) installed on my system.

@davelab6 maybe you could output the list of packages from your system and we can perform an intersection of both lists ? :-)

To verify the precise set of dependencies required by fontbakery I have setup a virtuale

[2016-01-12 15:03] davelab6 commented on #591
Please verify with a clean install, using a virtual machine

[2016-01-12 16:46] felipesanches commented on #591
If we look at the travis config file, we'll notice that these are the pip packages that are installed in the Travis CI virtual machine:

- pip install pyicu
- pip install git+https://github.com/behdad/fontTools.git
- pip install git+https://github.com/googlefonts/fontcrunch.git
- pip install git+https://github.com/googlefonts/fontbakery.git

And, additionally, the GCC 4.8 compiler is installed, as

[2016-01-12 16:59] davelab6 commented on #591
Well, I had to install those packages after installing the latest fontbakery in order for its scripts to run, so there is a problem somewhere.

These should all be in requirements.txt, right?

[2016-01-12 17:06] felipesanches commented on #591
yes. all of these should be in fontbakery's requirements.txt:

* pip install pyicu
* pip install git+https://github.com/behdad/fontTools.git
* pip install git+https://github.com/googlefonts/fontcrunch.git

except the last one, obviously:
* pip install git+https://github.com/googlefonts/fontbakery.git

I presume that the other packages that you installed manually but that are not listed in the trav

[2016-01-12 17:08] felipesanches commented on #591
I'll open a pull request with our current understanding of what's needed in a requirements.txt file for fontbakery and then we can validate and/or improve it as needed.

[2016-01-12 17:38] felipesanches commented on #615
I think this is the origin of the issue (and incomplete refactoring):

commit 1bcd61a83b915c529bdd36695b6b56f1a6f2a8b4
Author: vitalyvolkov <hash.3g@gmail.com>
Date:   Wed Jan 21 10:18:17 2015 +0200

    Codesource Enhancement #499

    * Extracted logging to logger module

[2016-01-12 17:39] felipesanches commented on #615
I'll study that portion of the code and try to finish that refactoring to make this wrapper use the external logger module created by the aforementioned commit.

[2016-01-12 19:00] felipesanches commented on #615
ok, I fixed it by simply not passing a logger object. The run method implementation (a wrapper around popen) already takes care of using the new logger infrastructure.

After making this change, I noticed though that we have another dependency for fontbakery, which is the OpenType Sanitizer, by @khaledhosny

On my system I did fetch the latest master commit of his git tree at:
https://github.com/k

[2016-01-12 19:33] davelab6 commented on #615
Please file an issue for setting up a ots ppa

[2016-01-12 19:46] felipesanches commented on #615
OK, sure!

My attempt to building it from source on Travis has just succeeded. But indeed having a PPA sounds better.

[2016-01-12 20:29] #615 closed

[2016-01-12 20:30] felipesanches commented on #615
After this fix, the OTS error does not show up anymore on the Scope-One build log at:
https://github.com/felipesanches/scope-one/blob/gh-pages/build_info/data/buildlog.txt

[2016-01-12 20:36] davelab6 opened #621 "Ensure Travis is using OTS"
We should do https://github.com/khaledhosny/ots/issues/86

[2016-01-14 17:44] felipesanches opened #623 "When a project file is not an UFO, the tests from check-ufo.py should not be executed"
I noticed that the buildlog of the CoinyTests repo contain error messages from the check-ufo test suite. But the Coiny font project does not contain UFO files (the font sources are an SFD - fontforge - file).

So these tests shouldn't be even running at all...

[2016-01-14 18:58] felipesanches commented on #616
OK. I reviewed several parts of the test codes in fontbakery trying to trace where exactly the double invocation happens, to no avail. Then I suspected it could be a side effect of the travis setup. I fiddled a bit with it as well with no good result.

I then noticed that when running fontbakery-check-ttf.py agains a single TTF in my local installation, I get no doubling of lines in the output err

[2016-01-14 19:32] davelab6 commented on #616
It should not be generating subsets any more.

[2016-01-14 19:36] felipesanches commented on #616
So, it seem my explanation is flawed and I havent yet found what triggers the double output.

The experimentation on my local install seems to indicate that the check scripts are being invoked with a couple of files instead of a single one. I'll dig deeper in the code, then.

[2016-01-14 19:37] felipesanches commented on #611
I'm investigating this one now...

[2016-01-15 14:27] davelab6 opened #624 "Fix up fontbakery-fix-gasp.py and set gasp table correctly when ttfautohint not used"
- [x] `fontbakery-fix-gasp.py` seems to not be working at all, as it doesn't detect gasp tables in fonts that have them:

[code]

- [x] If ttfautohint is not used, the gasp table could be like,

[code]

but it should be,

[code]

[2016-01-15 20:42] felipesanches commented on #624
@davelab6 It is not clear to me what's the expected behaviour for the tool in the aforementioned "If ttfautohint is not used" case. Can you ellaborate on that?

[2016-01-15 21:00] felipesanches opened #626 "Better handling of Unicode fields ?"
There are several instances of code like this in our codebase:

[code]

I have the impression that this is error-prone and that it should be substituted by something more general like this:
[code]

I feel I should ask if @behdad agrees with that understanding. What do you think?

[2016-01-15 21:09] anthrotype commented on #626
The `table__n_a_m_e` class has a `setName` method to do that:
https://github.com/behdad/fonttools/blob/0b09d33d8a24e649672ee5c77c87ff0d38564bb0/Lib/fontTools/ttLib/tables/_n_a_m_e.py#L114

[2016-01-15 21:17] felipesanches commented on #626
I know... but using setName does not look as clean as seting the strings value directly:

Using setName:
[code]

Not using it:
[code]

[2016-01-15 21:23] behdad commented on #626
I'm fairly sure if you set name.string to a Unicode string, fonttools takes care of the encoding for you.

[2016-01-15 21:26] behdad commented on #626
Yes, this is correct.

[2016-01-15 22:16] davelab6 commented on #624
The gasp value should be set to that shown in the xml

[2016-01-16 01:21] bardware opened #627 "Tools to prepare font families for inclusion in github.com/google/fonts"
The title of this repository says `Tools to prepare font families for inclusion in github.com/google/fonts`. That repo seems gone. Where is it?

[2016-01-16 18:30] #430 closed

[2016-01-16 18:31] #566 closed

[2016-01-16 18:33] davelab6 opened #628 "fontbakery-fix-nameids.py --autofix to rm namerecords with platformID="1""
https://github.com/googlefonts/fontbakery/issues/566 specified a tool to print name ids, `tools/fontbakery-fix-nameids.py`

This now needs an `--autofix` arg/method, that removes all namerecords with platformID="1".

cc @girish-dalvi

[2016-01-18 05:47] loremipsumdolor commented on #627
+1. I can't find a single announcement on its disappearance, and even the Google Fonts site points to the (now nonexistent) repo.

[2016-01-18 19:21] felipesanches commented on #626
@behdad There's a weird code snippet at https://github.com/googlefonts/fontbakery/blob/master/bakery_cli/ttfont.py#L306-L312

[code]

Not sure how to refactor this one...

[2016-01-18 19:25] felipesanches commented on #626
I don't think this is safe as well:

https://github.com/googlefonts/fontbakery/blob/master/bakery_cli/pipe/pyftsubset.py#L25-L30

[code]

[2016-01-18 19:27] behdad commented on #626
There's a bunch of hacks I've added to fonttools, that should replace this piece of code IMO:

https://github.com/behdad/fonttools/blob/ba90369af93f4a73679d4d72ddf41ef15cf887a5/Lib/fontTools/ttLib/tables/_n_a_m_e.py#L151

[2016-01-18 19:28] behdad commented on #626
Yeah, all of those should be replaced by name.toUnicode() IMO.

[2016-01-18 23:42] felipesanches opened #629 "fix-familymetadata.py output is too wide for the text terminal"
This script outputs a table. But it is unreadable on an 80-column text terminal. It should perhaps default to the CSV output format (which is already supported but currently not turned on by default)

Alternatively, we could figure out some smarterr way of printing out the table to the terminal, but I think it is not really worth the effort at all.

[2016-01-19 00:04] felipesanches commented on #628
I'm working on this one now

[2016-01-19 05:12] davelab6 commented on #629
Just make your terminal font smaller and the window larger.

[2016-01-19 05:12] #629 closed

[2016-01-19 05:15] davelab6 commented on #626
Thanks for your input here Behdad! :D

[2016-01-19 11:30] felipesanches commented on #626
yeah! Thanks, @behdad :-)

[2016-01-19 17:13] felipesanches opened #631 "Ignored --autofix in fix-opentype-names.py"
The --autofix argument is never really used in this script...

[code]

[2016-01-19 17:34] felipesanches opened #632 "FamilyAndStyleNameFixer seems to be broken"
getOrCreateNameRecord method imediately returns spiting out an error message and leaving unreachable code in the rest of the function implementation block.

[code]
https://github.com/googlefonts/fontbakery/blob/master/bakery_cli/fixers.py#L723-L751

And also outputs some more error messages here:
https://github.com/googlefonts/fontbakery/blob/master/bakery_cli/fixers.py#L766-L772

@davelab6  Pleas

[2016-01-19 18:52] felipesanches commented on #628
@davelab6 I did implmement it and it works as specified (all nameRecords with platformID=1 are removed from the font file). But I'm curious to learn why this deletion is useful for you.

[2016-01-19 18:55] felipesanches commented on #628
Also, it makes me wonder if you don't prefer to have a parameter to specify which platformID value shuld trigger the deletion of nameRecords. Or will this tool ever only be useful for deleting nameRecords with platID equal to 1 ?

Also, the tool name does not make it obvious that a side effect of its --autofix will be this deletion of nameRecords. I'd like to have a better understanding of the usa

[2016-01-19 19:16] #614 closed

[2016-01-20 09:21] bardware commented on #627
The Repo is up again.

[2016-01-20 09:21] #627 closed

[2016-01-20 20:17] davelab6 commented on #632
I believe this is meant to fix the family and style names to their canonical form... eg filenames and PS names as follows

FontFamily-Thin.ttf for a 100 weight font
FontFamily-ThinItalic.ttf for a 100 weight font
FontFamily-ExtraLight.ttf for a 200 weight font
FontFamily-ExtraLightItalic.ttf for a 200 weight font
FontFamily-Light.ttf for a 300 weight font
FontFamily-LightItalic.ttf for a 300 weigh

[2016-01-20 20:25] davelab6 commented on #631
This seems related to https://github.com/googlefonts/fontbakery/issues/628 and should be combined with that tool.

Current the tool prints only some of the NAMEIDs...

    $ fontbakery-fix-opentype-names.py ~/fonts/ofl/abyssinicasil/AbyssinicaSIL-Regular.ttf
[code]
    $

It would be better for it to print all the name IDs, with all the attributes, in a table.

And then the autofix would drop PID=

[2016-01-20 20:26] davelab6 commented on #624
@felipesanches does this make sense now?

[2016-01-20 20:26] davelab6 commented on #623
Totally agree!

[2016-01-20 20:27] davelab6 commented on #621
Seems just like a speed optimization, and given how quickly OTS evolves, maybe better to punt this in to the long future

[2016-01-20 20:41] davelab6 commented on #591
@girish-dalvi was able to install okay so I think we are now good here.

[2016-01-20 20:41] #591 closed

[2016-01-20 20:47] davelab6 commented on #573
@felipesanches this is now broken, because of the switch from json to pb. See #592

[2016-01-20 23:54] #628 closed

[2016-01-20 23:54] davelab6 commented on #631
Hah! This script currently creates a fix file when run plain:
[code]

[2016-01-21 00:08] felipesanches commented on #631
yeah! That's common behaviour for all fixers that invoke the apply method. This behavious is implemented in the parent Fixer class inherited by all fixers.

[2016-01-21 00:11] davelab6 commented on #631
Is this a recent change you made?

I think the fixers should require opting into creating new files with an arg...

[2016-01-21 00:29] felipesanches commented on #631
This is old behaviour that was already there before my recent changes.
I can change it, though, if that makes the tool more useful / nicer to use.

[2016-01-21 00:40] davelab6 commented on #631
Hmm. We should sort that out as a sider issue about making all the fb tools work in a uniform way.

This specific tool seems like a duplicate of `fontbakery-fix-nameids.py` and that one's output is better than this one's I think. To compare:

[code]

Which files (and lines) should I look at to compare the 2 tools?

[2016-01-21 00:59] felipesanches commented on #631
* tools/fontbakery-fix-nameids.py
* tools/fontbakery-fix-opentype-names.py
* class RemoveNameRecordWithPlatformID_1_Fixer at bakery_cli/fixers.py
* class FamilyAndStyleNameFixer at  bakery_cli/fixers.py

[2016-01-21 01:22] davelab6 commented on #631
Here's an actual request :)

This output is:
[code]

should be fixed to

[code]

[2016-01-21 01:24] felipesanches commented on #631
hmm... I see. OK, good :-)

[2016-01-21 17:49] felipesanches commented on #631
The reason for fontbakery-fix-opentype-names.py printing only a subset of the nameids is because the clean_name_values function explicitely filters them. There's no comment in there explaining why. And it is not obvious to me. But here it is:
https://github.com/googlefonts/fontbakery/blob/master/bakery_cli/utils.py#L311

I can make it not filter nameids here. It is only invoked for the opentype na

[2016-01-21 17:54] felipesanches commented on #631
well... here's the reason it was filtering out those other values, apparently:

[code]

[2016-01-21 19:04] felipesanches commented on #631
It was filtering so that it would only show the following values: [1, 2, 4, 6, 16, 17, 18]
These correspond to:

* 1: Font Family name
* 2: Font Subfamily name
* 4: Full font name
* 6: Postscript name for the font
* 16: Typographic Family name
* 17: Typographic Subfamily name
* 18: Compatible Full (Macintosh only); On the Macintosh, the menu name is constructed using the FOND resource. This usuall

[2016-01-21 23:01] davelab6 commented on #601
I've added a 'set' arg to the checklist above

[2016-01-22 03:36] felipesanches commented on #573
@davelab6 I just added support for reading those protobuffers and it seems to work. Please test it and reopen this issue if it still needs any further tweaks.

[2016-01-22 03:36] #573 closed

[2016-01-22 03:39] davelab6 opened #635 "New check for consistent underline weight across a family"
David Lemon mentioned in https://twitter.com/typenerd1/status/690361887926697986 that

We should have checks for this in the TTF and OTF binary checkers, plus the various source format checkers... however, this is probably best left to after the pending code reorg.

[2016-01-22 03:41] davelab6 opened #636 "Update requirements.txt"
Per https://github.com/googlefonts/fontbakery/pull/634 then we need to update requirements.txt

[2016-01-25 18:42] felipesanches opened #637 "Various issues in metadata-vs-api script"
See also:
https://github.com/googlefonts/fontbakery/pull/634#commitcomment-15603813

[2016-01-25 18:53] davelab6 commented on #637
https://github.com/googlefonts/gf-docs/blob/master/METADATA.md explains some of this.

This field was set to "External" if the family is to appear in the www.google.com/fonts directory; there are families that we want to have in the git repo that are not visible in the directory but are served by the API.

As an example (a real one but with names changed) the family 'Acme Foo' by Paul Impaler was

[2016-01-25 18:58] felipesanches commented on #637
Thanks for the clarification!

The fontbakery metadava-vs-api script should simply inform which visibility category the font is inferred to be? Or should it also error is the inferred visibility is not "External" ? Or possibly even some other desired  behaviour?

[2016-01-25 19:50] felipesanches commented on #637
Code merged. Please reopen if more changes are required.

[2016-01-25 20:02] davelab6 commented on #637
Its not quite right :)

[code]

- [ ] The styles should be declared to avoid confusing semi-repeated info. Eg these lines:

[code]

should be like this:

[code]

- [ ] The menu check isn't working. eg

[code]

Well, you can see it is in the API:

http://fonts.googleapis.com/css?family=Amiri&subset=menu says

[code]

Since we no longer generate these menu subsets offline and store the resulting Fam

[2016-01-25 22:35] felipesanches commented on #637
Do you like it this way?

[code]

[code]

[2016-01-25 22:37] felipesanches commented on #637
alternatively I could make it output this:

[code]

[code]

[2016-01-25 23:33] davelab6 commented on #637
2nd seems better, as it reduces duplication.

It would be nice to create symlinks with the filenames found in
METADATA.pb, eg

$ ln -s /tmp/fontbakery-compare-github-api/{
fonts.gstatic.com/s/amiri/v7/WQsR_moz-FNqVwGYgptqiA.ttf,Amiri-Bold.ttf};

[2016-01-25 23:38] felipesanches commented on #637
yeah! That sounds good!

[2016-01-26 00:07] felipesanches commented on #637
This is the relevant portion of JSON data about the Amiri family returned by a query to
https://www.googleapis.com/webfonts/v1/webfonts?key=SOME_API_KEY:

[code]

It's subsets list contains only "arabic" and "latin". Shoulding the API list "menu" here, as well? This JSON respond is at least misleading...

[2016-01-26 00:49] davelab6 commented on #637
The menu subsets are undocumented, so this is working as intended.

[2016-01-26 00:55] felipesanches commented on #637
I don't understand the meaning of this sentence:
"we should check that each style downloaded and in git has all the characters in the METADATA.pb 'family' field."

Can you clarify? I see no 'family' field in google/fonts/ofl/amiri/METADATA.pb

[2016-01-26 02:30] davelab6 commented on #637
Sorry, the 'name' field. Well, each TTF file in git and from the API should
have the ascii character in the name; this is probably a waste of time
though. Let's drop the whole menu subset test for now.

[2016-01-26 02:44] felipesanches commented on #637
ok :-)

I just merged all of the commits above. Closing this one then.

[2016-01-26 04:25] davelab6 commented on #637
I still see this:

[code]

[2016-01-26 04:27] davelab6 commented on #637
This is also strange duplication:
[code]

What is the difference between "in API" and "in production"? I think there isn't any

[2016-01-26 11:15] felipesanches commented on #637
The "in production" message is printed when the md5 checksum of the github file is identical to the md5 of the corresponding file fetched from Google. We can change the message to say "OK: {} in Github and in API have identical files". Or we could simply remove this "OK" message, given that an 'ER' message will be printed in case there's a checksum mismatch.

[2016-01-26 11:17] felipesanches commented on #637
Also, perhaps we should say "local repo" instead of "GitHub", throughout this script, don't you agree?

[2016-01-26 17:26] davelab6 commented on #637
`s/github/git`

`OK: {} is identical in git and API` is good

[2016-01-26 19:53] davelab6 commented on #637
Please also do this :)

[2016-01-26 19:59] davelab6 commented on #637
Ah, superceded by https://github.com/felipesanches/fontbakery/commit/d609c0b21eb82f9086d990da22ae2f0e4e30b40b ?

[2016-01-26 21:16] davelab6 commented on #637
- [ ] The filename definition

    filename = '{}-{}.ttf'.format(family, variant)

from https://github.com/googlefonts/fontbakery/blob/master/tools/fontbakery-metadata-vs-api.py#L76 isn't quite right; it means the log is a but confusing and the symlink filenames are also not right, eg

[code]

The METADATA.pb file tells us the filenames:

[code]

so we should use them :)

Then this

[code]

become

[2016-01-26 21:18] davelab6 commented on #637
Ah, looks like

    repoFileName = metadata.fonts[filenameWeightStyleIndex].filename

from https://github.com/googlefonts/fontbakery/blob/master/tools/fontbakery-metadata-vs-api.py#L122

will fix the first thing.

[2016-01-26 21:38] davelab6 commented on #637
- [ ] Similar to subsets, we should also compare the category field. Needs a bit of string manipulation:

[code]

[2016-01-26 21:42] davelab6 commented on #637
- [ ] Error `ER: Available in repository but not in API` lacks context

[2016-01-27 05:14] davelab6 opened #645 "Improve METADATA.pb checker"
Following https://github.com/google/fonts/pull/191 then we should check the METADATA.pb files subsets are ordered alphabetically

[2016-01-28 19:08] felipesanches commented on #636
we need to add:
protobuf==2.5.0

I'll do it soon

[2016-01-28 21:01] felipesanches commented on #616
I have an insight that it may be showing the error messages once when a test fails and then it may be showing the same message again due to a failed attempt to fix the problem.

I'll investigate the code to see if that's the case.

The reason for my insight is that I noticed that a debugging print statements shows up only once when a test passes, but shows up twice when the test fails.

[2016-01-29 00:52] #592 closed

[2016-01-29 01:05] #626 closed

[2016-01-29 15:16] davelab6 opened #649 "Keep NAME table IDs 1,2,4,6 with platform=1"
Bah. Per https://github.com/behdad/fonttools/issues/146#issuecomment-176765892 we must in fact keep NAME table IDs 1,2,4,6 with platform=1

[2016-01-31 05:17] davelab6 opened #650 "Source/OTF test: String must be ascii only"
@twardoch wrote in http://lists.nongnu.org/archive/html/freetype-devel/2016-01/msg00095.html

We should test for this.

[2016-02-01 04:12] davelab6 opened #651 "Integrate urtd/fontinspector"
- [ ] Use https://github.com/urtd/fontinspector to generate web report

[2016-02-01 04:49] davelab6 opened #652 "Integrate source-foundry/font-tests"
Integrate @chrissimpkins https://github.com/source-foundry/font-tests where it makes sense

[2016-02-01 23:11] felipesanches commented on #601
before closing this, I think I still need to:
- [ ] add the printing of previous values
[code]

[2016-02-01 23:17] davelab6 commented on #601
Sounds good but lets postpone this to a more systematic project to make all the tools work the same way, with same default output styles, same output modes, etc etc

[2016-02-01 23:26] #549 closed

[2016-02-01 23:26] #554 closed

[2016-02-01 23:29] #550 closed

[2016-02-01 23:44] davelab6 commented on #545
This still isn't quite right. For example:

[code]

[2016-02-01 23:45] #544 closed

[2016-02-01 23:45] #543 closed

[2016-02-01 23:48] #508 closed

[2016-02-01 23:48] #505 closed

[2016-02-01 23:50] davelab6 opened #655 "Ensure fontbakery-check-metadata.py is useful"
`fontbakery-check-metadata.py` still expects json, so needs to be moved to protocolbuffers.

[2016-02-01 23:50] #503 closed

[2016-02-01 23:50] #502 closed

[2016-02-01 23:52] #234 closed

[2016-02-01 23:52] #222 closed

[2016-02-02 00:09] davelab6 commented on #220
Here's how I ran this now, showing the output for the first family only:

[code]

This is broken in 4 ways:

- [ ] The duplication of lines is annoying. It looks like the 2 errors are repeated, once with the \@note decoractor and source code file included, and again without that information

- [ ] `FAIL: test_description_is_valid_html: DESCRIPTION.en_us.html is not real html file` is bogus. I didn

[2016-02-02 00:10] #215 closed

[2016-02-02 00:10] #206 closed

[2016-02-02 00:12] #184 closed

[2016-02-02 00:13] davelab6 commented on #183
This test (and likely others) should be abstracted to work on each test pathway (UFO/TTF/etc)

[2016-02-02 00:13] #181 closed

[2016-02-02 00:14] #178 closed

[2016-02-02 00:14] #140 closed

[2016-02-02 00:15] #35 closed

[2016-02-02 00:16] #109 closed

[2016-02-02 00:17] #217 closed

[2016-02-02 00:17] #124 closed

[2016-02-02 00:17] #330 closed

[2016-02-02 00:17] davelab6 commented on #330
@felipesanches nice diagram huh

[2016-02-02 00:17] #323 closed

[2016-02-02 00:18] #274 closed

[2016-02-02 00:18] #36 closed

[2016-02-02 00:19] #345 closed

[2016-02-02 00:19] davelab6 commented on #344
I don't think we do this in the build log, something to consider for 2.0

[2016-02-02 00:20] #341 closed

[2016-02-02 00:20] #340 closed

[2016-02-02 00:20] #339 closed

[2016-02-02 00:21] #338 closed

[2016-02-02 00:21] #333 closed

[2016-02-02 00:21] #324 closed

[2016-02-02 00:21] #280 closed

[2016-02-02 00:21] #133 closed

[2016-02-02 00:21] #131 closed

[2016-02-02 00:22] #334 closed

[2016-02-02 00:22] #352 closed

[2016-02-02 00:22] #343 closed

[2016-02-02 00:22] #194 closed

[2016-02-02 00:23] #363 closed

[2016-02-02 00:23] #360 closed

[2016-02-02 00:23] #359 closed

[2016-02-02 00:23] #358 closed

[2016-02-02 00:24] #356 closed

[2016-02-02 00:24] #319 closed

[2016-02-02 00:25] #371 closed

[2016-02-02 00:27] davelab6 opened #656 "Ensure nosetests pass"
[code]

[2016-02-02 00:27] #370 closed

[2016-02-02 00:28] #335 closed

[2016-02-02 00:28] #312 closed

[2016-02-02 00:28] #307 closed

[2016-02-02 00:28] #233 closed

[2016-02-02 00:29] #84 closed

[2016-02-02 00:29] #378 closed

[2016-02-02 00:31] davelab6 commented on #377
Currently the build isn't creating METADATA.json files, same as above.

So I should check the protocolbuffers based generator by @felipesanches and compare to the `add_font.py` in google/fonts.git, and decide which to use.

[2016-02-02 00:32] #394 closed

[2016-02-02 00:32] #393 closed

[2016-02-02 00:32] #392 closed

[2016-02-02 00:32] #390 closed

[2016-02-02 00:33] #382 closed

[2016-02-02 00:33] #380 closed

[2016-02-02 00:33] #379 closed

[2016-02-02 00:33] #389 closed

[2016-02-02 00:40] #417 closed

[2016-02-02 00:41] davelab6 commented on #413
@felipesanches looks like this was done but not applied. Relates to #220

[2016-02-02 00:41] #412 closed

[2016-02-02 00:42] #411 closed

[2016-02-02 00:42] #409 closed

[2016-02-02 00:42] #406 closed

[2016-02-02 00:43] #419 closed

[2016-02-02 00:43] #418 closed

[2016-02-02 00:43] #432 closed

[2016-02-02 00:43] #422 closed

[2016-02-02 00:43] #420 closed

[2016-02-02 00:43] #448 closed

[2016-02-02 00:43] #447 closed

[2016-02-02 00:44] #443 closed

[2016-02-02 00:44] #426 closed

[2016-02-02 00:44] #275 closed

[2016-02-02 00:44] davelab6 commented on #621
@felipesanches aha, @vitalyvolkov already did this :) https://github.com/googlefonts/fontbakery/issues/275#issuecomment-59558143

[2016-02-02 00:45] #454 closed

[2016-02-02 00:45] #453 closed

[2016-02-02 00:45] #451 closed

[2016-02-02 00:46] davelab6 commented on #446
We no longer create subsets, but knowing the subset potential of the fonts in the family and using that to advise ttfautohint options is good.

[2016-02-02 00:46] #444 closed

[2016-02-02 00:46] #442 closed

[2016-02-02 00:46] #440 closed

[2016-02-02 00:47] #439 closed

[2016-02-02 00:47] #434 closed

[2016-02-02 00:47] #433 closed

[2016-02-02 00:47] #431 closed

[2016-02-02 00:48] davelab6 commented on #425
@felipesanches Seems not working at the moment

[2016-02-02 00:48] davelab6 commented on #424
@felipesanches you had mentioned seeing this lately. Confirmed?

[2016-02-02 00:49] #404 closed

[2016-02-02 00:49] #435 closed

[2016-02-02 00:49] #436 closed

[2016-02-02 00:51] felipesanches commented on #424
yeah! This is a duplicate of https://github.com/googlefonts/fontbakery/issues/623 (or vice-versa ;-D)

[2016-02-02 00:52] davelab6 commented on #480
@felipesanches I like the idea of

for 2.0

[2016-02-02 00:52] #463 closed

[2016-02-02 00:53] #461 closed

[2016-02-02 00:53] #460 closed

[2016-02-02 00:53] #459 closed

[2016-02-02 00:53] #458 closed

[2016-02-02 00:53] #457 closed

[2016-02-02 00:54] #477 closed

[2016-02-02 00:54] #476 closed

[2016-02-02 00:54] #475 closed

[2016-02-02 00:54] #471 closed

[2016-02-02 00:54] #470 closed

[2016-02-02 00:54] #467 closed

[2016-02-02 00:55] #421 closed

[2016-02-02 00:55] #410 closed

[2016-02-02 00:55] felipesanches commented on #480
@davelab6 Agreed! I had similar thoughts recently.

[2016-02-02 00:56] #469 closed

[2016-02-02 00:57] davelab6 commented on #228
@felipesanches This no longer works...

[code]

[2016-02-02 00:57] #487 closed

[2016-02-02 00:57] #486 closed

[2016-02-02 00:57] #483 closed

[2016-02-02 00:58] #495 closed

[2016-02-02 00:59] davelab6 commented on #228
@felipesanches aha, per https://github.com/googlefonts/fontbakery/issues/494 it was moved to another repo - https://github.com/googlefonts/namecheck

[2016-02-02 00:59] #228 closed

[2016-02-02 01:00] davelab6 commented on #494
@felipesanches This wasn't completed as https://github.com/googlefonts/fontbakery/blob/master/setup.py#L91 exists

[2016-02-02 01:00] #493 closed

[2016-02-02 01:00] #491 closed

[2016-02-02 01:00] #490 closed

[2016-02-02 01:01] #496 closed

[2016-02-02 01:01] #498 closed

[2016-02-02 01:02] #489 closed

[2016-02-02 01:03] #427 closed

[2016-02-02 01:03] #428 closed

[2016-02-02 01:03] #441 closed

[2016-02-02 01:04] #465 closed

[2016-02-02 01:04] #472 closed

[2016-02-02 01:04] #473 closed

[2016-02-02 01:04] #497 closed

[2016-02-02 01:04] #506 closed

[2016-02-02 01:06] #509 closed

[2016-02-02 01:06] #520 closed

[2016-02-02 01:06] #521 closed

[2016-02-02 01:07] #523 closed

[2016-02-02 01:08] #525 closed

[2016-02-02 01:08] #526 closed

[2016-02-02 01:08] #528 closed

[2016-02-02 01:08] #529 closed

[2016-02-02 01:08] #534 closed

[2016-02-02 02:14] davelab6 commented on #608
Related to https://github.com/googlefonts/fontbakery/issues/535

[2016-02-02 02:15] davelab6 commented on #568
@felipesanches I think the time is right for this, as it will help us when thinking of v2.0

[2016-02-02 02:15] davelab6 commented on #567
@felipesanches did you make any documentation improvements when you installed it? just curious, no worries if not

[2016-02-02 02:18] davelab6 commented on #561
Le sigh. FontForge still crashes on this.

[2016-02-02 02:20] #533 closed

[2016-02-02 02:21] #536 closed

[2016-02-02 02:22] #558 closed

[2016-02-02 02:22] #540 closed

[2016-02-02 02:22] #541 closed

[2016-02-02 02:34] #539 closed

[2016-02-02 02:35] davelab6 commented on #553
@adrientetar since the `head` table doesn't allow for MAJOR.MINOR.PATCH I think a MAJOR.MINOR numbering scheme is best.

[2016-02-02 02:35] #553 closed

[2016-02-02 02:36] #552 closed

[2016-02-02 02:38] davelab6 commented on #537
This now fails to build:
[code]

[2016-02-02 02:39] #538 closed

[2016-02-02 02:41] davelab6 commented on #613
I agree.

[2016-02-02 16:15] felipesanches commented on #637
This was just reopened by @davelab6 due to the pending task described on https://github.com/googlefonts/fontbakery/issues/637#issuecomment-175243241

That's right, dave?

[2016-02-02 16:31] davelab6 commented on #637
Yes

[2016-02-03 19:05] #637 closed

[2016-02-03 19:40] felipesanches opened #658 "[META] Tasks for Felipe"
List of current top-priority issues:

- [x] #573 [metadata-vs-api] category comparison (most important)
- [x] #616 deduplicate lines (This would be great. This is really annoying :)
- [x] #624 fix gasp table check
- [x] #674 fix crash: genmetadata.py: TypeError: object of type 'bool' has no len()
- [x]  #676 (WebPanel for CoinyTest fails to load properly) that is... make the web app work once agai

[2016-02-03 19:43] felipesanches opened #659 "[metadata-vs-api] resuming of font file downloads"
- [ ] partially downloaded files should resume instead of starting from scratch.
- [ ] too old files should be re-downloaded even if cache is used (i.e. invalidate download cache after a certain amount of time (how much time?))

[2016-02-03 20:15] davelab6 opened #660 "fontbakery-fix-version.py"
- [ ] We should test that the version in `head.fontRevision` and in the `name` table are greater than 1.0 as some systems will reject fonts with a version less than this
- [ ] It would be great to be able to set alphanumeric version numbers, like this:

[code]

What should happen in this case is that if the `--set` arg is passed a string that passes the regex

[code]

then the string should be use

[2016-02-03 20:27] felipesanches commented on #655
@davelab6  I don't see where in the code it supposedly still requesting JSON metadata files instead of protobuffer messages. Can you point me to one specific example instance of this issue?

[2016-02-03 20:28] davelab6 commented on #658
Cool :) I think in future its better we can just make the list of such issues by only assigning them to you when they are up for working on soon, and tagging with priorities. So, for me,

- [ ] [Review all issues assigned to me](https://github.com/googlefonts/fontbakery/issues?q=assignee%3Adavelab6+is%3Aopen) and close or tag all issues with 'P0' to 'P4' priority tags (and maybe unassign)
- [ ] [R

[2016-02-03 20:36] davelab6 commented on #655
$ cd fonts/ofl/raleway;
    $ fontbakery-check-metadata.py METADATA.pb;

Also, this is weird:

    $ fontbakery-check-metadata.py --list-checks
    usage: fontbakery-check-metadata.py [-h] [--autofix] [--verbose]
                                    [--list-checks]
                                    file [file ...]

[2016-02-03 20:37] davelab6 commented on #655
In fact this task can be postponed because https://github.com/google/fonts/blob/master/tools/sanity_check.py does enough of this to get by for now

[2016-02-03 20:42] felipesanches commented on #655
[code]

[2016-02-03 20:43] felipesanches commented on #655
Is this similar to the output that you get?
If not, then be sure to python setup.py install the latest fontbakery code from master branch.

I don't see in the output any error related to attempts to handle JSON metadata files anymore.

[2016-02-03 20:46] davelab6 commented on #659
Invalidate it if they filesize is different comparing the file on disk in the cache and the HTTP `Content-Length` value?

[2016-02-03 20:49] felipesanches commented on #659
So, only invalidate based on length mismatch, but not based on time?

This would be a cache management policy based on the assumption that typically file length changes upon file edits. Which may not always hold true.

[2016-02-03 20:49] davelab6 commented on #659
No no no. This is all wrong :) We are wasting time with this. I think it would be better to just use `wget` to handle this, then we'd get all the complexity sorted just by passing it the `--continue` arg

[2016-02-03 20:50] felipesanches commented on #659
alright! Makes sense.

[2016-02-03 20:55] davelab6 commented on #655
Okay, my mistake, pb reading is working for me, its just the tests are stale. Lets leave this for now.

[2016-02-03 20:58] felipesanches commented on #655
OK. We should close this issue then, it seems...

[2016-02-03 21:44] davelab6 commented on #655
Renamed ;)

[2016-02-03 21:50] davelab6 opened #662 "[META] Tasks for Dave"
In future we should set priorities and assign people using the github issue tracker's features for that: only assigning issues to people when they are going to work on that issue soon; and tagging all issues with a  priority tag.
- [x] Review existing tag label strings and add P0-4 ones
- [x] Update CONTRIBUTING
- [x] Start #661
- [x] https://github.com/googlefonts/fontbakery/issues/747
- [ ] [Rev

[2016-02-03 21:50] felipesanches commented on #655
Alright! We need now an objective description of the intended usefulness :-) (or how it may be not useful in its current state)

[2016-02-03 21:56] davelab6 commented on #655
Right

[2016-02-03 22:07] felipesanches commented on #616
The following are 2 sets of the same errors being reported by different parts of the code (and using different notation):

These are the messages that the tests themselves print once failures are detected:
[code]

And these are the same messages, but printed by a sort of "final report" after all tests have been executed:
[code]

I think we should delete the code that generates this final report so

[2016-02-03 22:10] felipesanches commented on #616
These errors are the output of tools/fontbakery-check-metadata.py and the "final report" is output by this block of code: https://github.com/felipesanches/fontbakery/blob/master/tools/fontbakery-check-metadata.py#L61-L72

[2016-02-03 22:10] felipesanches commented on #616
Similar summary reporting may be causing duplicate messages in other scripts in the tools/ directory.

[2016-02-03 22:19] davelab6 commented on #616
I agree; while its nice to (for example) have the final report sorted by priority, it could just as easily be done with a unix pipe `| sort ` style, if the priorities are named nicely.

[2016-02-03 22:21] davelab6 commented on #616
I think for now just comment out the second blocks where you find them, and then for the 1.0.0 we should switch to using the python standard library Logging module.

[2016-02-03 22:22] davelab6 commented on #616
However, the 2nd style of output is the one I want (with the levels and filenames)

[2016-02-03 22:53] felipesanches commented on #616
Alright! It seems I posted the 2 blocks above inverted. The first one is the "final report" and the second one is what the tests themselves are outputting. So I think that by simply commenting out the final report code, we'll get what we want. I'll open a pull request with this kind of changes.

[2016-02-03 23:14] #408 closed

[2016-02-04 00:25] #616 closed

[2016-02-04 18:21] davelab6 opened #664 "New fontbakery-fix-glyphnames.py script"
Using the [renaming-glyphs.py](https://github.com/behdad/fonttools/pull/511) snippet in part, we should be able to check and fix glyph naming to make them correct.

[2016-02-04 18:27] davelab6 opened #665 "New fontbakery-fix-ttfautohint.py script"
A lot of fonts in the gf collection have old versions of ttfautohint applied, and it would be great to have a script that initially uses the methods in `fontbakery-fix-version.py` that...
- [x] finds which version was used, grepping the name table or reading the ttfa table (which are created if the `-I` or `-t` args respectively were passed to ttfautohint, to record its args in the ttf file) (ther

[2016-02-04 18:39] chrissimpkins commented on #665
Feel free to grab and use anything that proves useful from [font-ttfa](https://pypi.python.org/pypi/font-ttfa) or let me know if you'd like me to submit a PR here rather than in https://github.com/twardoch/fonttools-utils as you suggested in the issue report.

[2016-02-04 18:40] davelab6 commented on #664
References:

* https://github.com/googlei18n/glyphs2ufo/issues/12
* https://github.com/adobe-type-tools/agl-aglfn

[2016-02-04 19:50] davelab6 commented on #665
Fontbakery is a bit bloated and this update tool is a bit different to yours, so adams' repo is better, I think :)

[2016-02-04 19:53] davelab6 opened #666 "Support fontmake as a compiler option"
- [ ] Support fontmake as a compiler option
- [x] ~~Resolve https://github.com/googlei18n/fontmake/issues/2 so it can work for UFOs~~ Done by upstream

[2016-02-04 19:54] chrissimpkins commented on #665
:+1:

[2016-02-04 22:36] davelab6 commented on #624
To complete this you need to figure out how to use fontTools to set the gaspRange so that the XML output of the result is as follows.

[code]

[2016-02-04 22:39] davelab6 commented on #624
Also I note that ttfautohint will do that, but this is for fonts where the design is not for text and hinting isn't helpful.

[2016-02-04 22:40] felipesanches commented on #624
ok, I see. Thanks!

[2016-02-04 22:41] davelab6 commented on #658
Great!

Postpone building from source for now; Catamaran has binary TTFs that we should start with. I've updated the above live to reflect this.

Right, pending fontmake integration

Per https://github.com/googlefonts/fontbakery/blob/master/BRIEF.md I would like to focus on the first section's test/fix subset of the toolchain until that is solid.

Cool

I added the relevant issue to the above list

[2016-02-04 22:45] davelab6 commented on #624
https://www.microsoft.com/typography/otspec/gasp.htm seems straightforward to me; basically there are several code paths in a font renderer, and the gasp table allows the font to select which renderer mode is used.

[2016-02-05 17:24] davelab6 commented on #388
Per TypeThursday's Laura Worthington article we should do this, its important for casual users.

[2016-02-05 20:20] anthrotype commented on #388
What's this article you are referring to?

[2016-02-05 20:25] davelab6 commented on #388
Oh its not out yet. Stay tuned.

[2016-02-05 20:32] anthrotype commented on #388
ok. I hope you don't want to revive the idea of using PUA codes in released fonts...

[2016-02-05 20:40] behdad commented on #388
lol.  Ping us when it is.  That said, people have had bad ideas forever; doesn't mean we should support them.  I'm more willing to implement a HarfBuzz tool to render arbitrary glyphs than to add a hack in fonttools.

[2016-02-05 21:56] davelab6 commented on #388
The issue is that a lot of text environments that users are using do not
support OTL; for text typefaces this isn't really an issue, but for display
types then users really do want that particular glyph from that particular
font, and for it to work everywhere. When composing a 3 word text, the
scenarios where PUA text doesn't make sense are less important.

[2016-02-08 15:36] davelab6 commented on #388
@anthrotype @behdad the article is at https://medium.com/type-thursday/casual-users-and-the-font-market-a1c5c2f19149

[2016-02-08 18:05] twardoch commented on #388
I used to be anti-PUA for a long time but now I’m more inclined to support it, because the software makers have failed to support OpenType Layout for the last 15 years.

However, I’m more inclined to use the Supplementary PUA plane because it creates another “soft” hurdle.

I’m not much helped by PUA-less fonts if OpenType gets supported widely 20 years after I’m dead :)

BTW, instead of PUA, I’d

[2016-02-08 18:07] twardoch commented on #388
The problem with TTCs though is that hardly any commercial font distributor is equipped to carry/sell them.

[2016-02-08 18:14] twardoch commented on #388
Of course I understand why Behdad **categorically** (LOL) rejects this. It essentially undermines the last ten years of his work. :) With HarfBuzz, Behdad actually has made OpenType Layout much more attainable towards “normal” software developers, and from a “hobby clone” project has turned HB into being on par with the reference inplementation, or at times, surpass it.

The actual problem is actu

[2016-02-08 20:43] davelab6 commented on #388
I can see the case for pyfeatfreeze based TTFs... but will TTCs work for
users of https://en.wikipedia.org/wiki/Creative_Writer or
https://en.wikipedia.org/wiki/3D_Movie_Maker or whatever it is kids use
these days? And what about OTFs?

[2016-02-08 23:40] twardoch commented on #388
Microsoft has been shipping Cambria only as TTC since 2007, and numerous Chinese fonts well before that. All their APIs support TT-based TTCs well. Only a small fraction very obscure apps that do their own font handling might have a problem. Cambria is a major font, default in many documents. I've never heard any problems related to this, not in printing or any noteworthy apps. Windows APIs handle

[2016-02-08 23:41] twardoch commented on #388
By CFF-based TTC, I mean OTF-based. They have the same extension, .ttc.

[2016-02-08 23:45] davelab6 commented on #388
I agree, although the upgrade rate is slowed because of hardware
requirements; there are some minority of users stuck on 10.6 old hardware
(and I believe some are stuck out of choice thanks to allegiance to old
'trusty' FL5 versions... :)

I wonder what Laura thinks.

[2016-02-08 23:49] twardoch commented on #388
@kenlunde might know what repercussions of shipping CFF-based TTCs are, given Adobe's decision to ship Source Han as CFF-based TTCs but also in several split forms.

[2016-02-08 23:52] davelab6 commented on #388
On 8 February 2016 at 15:00, Adam Twardoch <notifications@github.com> wrote:

What does this look like for the newbie customer described in the
interview?

[2016-02-08 23:53] twardoch commented on #388
Ps. If Lato had small caps or another big 1:1 feature, I would have shipped it as featfrozen TTCs from day 1. But the number of OT glyphs in Lato is tiny so I didn't bother. If we ever add small caps, I'll make the official release as TTCs.

[2016-02-08 23:57] kenlunde commented on #388
@twardoch: The only downside to shipping OTCs is that Windows doesn't support them. Adobe apps, CS6 and higher, installed on Windows support OTCs, but the font resource needs to be installed into the app's private font folder. OS X started to support OTCs from Version 10.8, if memory serves. It's a superb delivery format for [Source Han Sans](https://github.com/adobe-fonts/source-han-sans/tree/rel

[2016-02-09 00:07] twardoch commented on #388
Laura is a somewhat special case. She makes calligraphic fonts where only 30% or less of the glyphs are encoded. People pay for her fonts, then cannot use it.

The only opensource font of that kind that comes to my mind is Pecita, where users might want to insert glyphs individually. SPUA should not make it difficult to achieve the double-click-on-glyph-palette glyph insertion. But it'd be easier

[2016-02-09 00:08] twardoch commented on #388
Ah, so Windows still does not support CFF-based TTCs. Bugger :(

[2016-02-09 00:09] davelab6 commented on #388
Since this is about naieve users of crappy Windows apps (you know, the ones
they use to make T shirt designs and Blurb self-publishing books and so on)
then the lack of Windows support makes this a non-starter. However, perhaps
OTC isn't so important.

[2016-02-09 07:31] behdad commented on #388
That's not the reason.  It's "this is font-dependent text encoding" and hence BAD.  But I see your point.

[2016-02-09 08:35] adrientetar commented on #388
And you're the one advocating for Google being exemplary on the Roboto repo&hellip; if current applications are incapable then make one that is. That's what I'm doing with font editors.

[2016-02-10 02:49] davelab6 commented on #388
This isn't about libre software, it is about proprietary software that will
never improve.

[2016-02-10 09:09] adrientetar commented on #388
Way to give up Dave. Make it better than proprietary as Stallman said and ppl will use it.

[2016-02-10 13:51] davelab6 commented on #388
On 10 February 2016 at 04:09, Adrien Tétar <notifications@github.com> wrote:

Now who is wearing the GNU T shirt? :)

[2016-02-10 14:13] davelab6 commented on #388
This reminds me of XHTML vs HTML5. I understand it offends technical purity. But it hurts users from getting their jobs done and getting on with their lives, and is only a fallback for when OT isn't available.

[2016-02-10 14:23] adrientetar commented on #388
I'm talking to you in your language. Look, existing font editors didn't work for me so I made one.

[2016-02-10 15:24] davelab6 commented on #388
You seem to still be missing my point: New software doesn't matter. This is
about entrenched existing proprietary software, which can not be patched,
or switched away from.

[2016-02-10 16:19] twardoch commented on #388
Conceptually, I'm with Dave insofar that fonts in the SFNT container are an unusually broad in the sense of OS and app coverage and lifespan. Also, people are more likely to switch fonts than apps because apps are, well, more specific to their needs.

Also: text encoding is not an "easy" thing. There are no perfect solutions. Since 2001 I kept asking the industry how OT features should be marked u

[2016-02-10 16:32] davelab6 commented on #388
This is a great point, I've added it to the wikimedia page, https://meta.wikimedia.org/w/index.php?title=Future_Global_Font_Format_Requirements&type=revision&diff=15336305&oldid=14437375

[2016-02-10 20:57] felipesanches opened #672 "test_check_no_problematic_formats: unsupported operand type(s) for +: 'set' and 'set'"
During fontbakery-build of Coiny:

[code]

[2016-02-10 21:03] felipesanches opened #673 "test_source_ttf_font_filename_equals_familystyle: global name 'family_name' is not defined"
during fontbakery-build of Coiny:

[code]

[2016-02-10 21:06] #624 closed

[2016-02-10 21:28] twardoch commented on #388
Supplementary Private Use Area-A is 65534 codepoints from U+F0000 to U+FFFFD, which means that practically all fonts can be encoded (as they can hold max. 64K glyphs). My idea to use it was that each glyph ID gets assigned a codepoint F0000 + GID, so something like “harfbuzz.js” could do all the GSUB+GPOS processing even if a browser doesn't support some shaping, and then such harfbuzz.js would em

[2016-02-10 21:33] twardoch commented on #388
Ps. In my method, ALL glyphs are encoded in the SPUA, not just the “unencoded” ones. But if the SPUA codes are used, the OS/app shaper does not apply any shaping since it knows nothing of the script. This allows me to do my own external shaping (e.g. via said harfbuzz.js or another JS shaper). So in essence, this is a simple poor man’s API for glyph access in apps that can only talk to fonts via t

[2016-02-10 21:46] twardoch commented on #388
...or via CSS generated content. People dealing with icon fonts (Bootstrap using Font Awesome etc.) have been using PUA in an elegant way that does not expose garbage to search. But it’s still fonts rather than SVG, so it’s fast, cacheable, works everywhere etc.

It's essentially a debate about treating users as smart vs. stupid. I prefer to treat users as reasonably smart. Users obviously prefer

[2016-02-10 21:57] felipesanches opened #674 "genmetadata.py: TypeError: object of type 'bool' has no len()"
Crash during build of Coiny font project:

[code]

[2016-02-10 22:02] davelab6 commented on #388
Right, that is why Laura uses the BMP PUA, and I agree that this would be better for her (and generally.)

One remaining question for me is if this should be done for all fonts or only OT-intense display fonts.

[2016-02-10 22:27] twardoch commented on #388
I don’t have an opinion on that.
However, I want to add one thing: in early OpenType days, Adobe used a portion of the BMP PUA as a “corporate use area”, where they standardized certain codes for things like small caps, oldstyle numerals or certain ligatures. So, an oldstyle “3” orva smallcap “A” always had a certain code regardless of the Adobe font used. Now that **was** a bad idea because this

[2016-02-10 22:37] davelab6 commented on #388
I worry that glyphs/fontmake might create predictable map from common unicodes to GID ordering...

[2016-02-10 23:41] felipesanches commented on #388
I risk saying something stupid here, but if a strict mapping should not be infered to be normative, then can't these tools randomise mappings on purpose?

[2016-02-10 23:51] davelab6 commented on #388
That seems wise, to mitigate the practical problem with PUA text.

[2016-02-11 00:24] kenlunde commented on #388
PUA Text: Hope for best, expect the worst.

[2016-02-11 01:41] felipesanches opened #676 "WebPanel for CoinyTest fails to load properly"
For testing the webapp I have setup a repository of the Coiny font project:

https://github.com/felipesanches/CoinyTests

And I configured it to run fontbakery build and report as a travis job:

https://travis-ci.org/felipesanches/CoinyTests

The result of the travis job is automatically commited to the gh-pages branch:

https://github.com/felipesanches/CoinyTests/tree/gh-pages

With a README.md l

[2016-02-11 03:02] davelab6 commented on #388
@kenlunde I understand the categorical criticism of this, but I'm curious what your advise is for Laura Worthington. What should she do to serve her customers?

[2016-02-11 03:36] kenlunde commented on #388
@davelab6: I wrote the following at the bottom of page 162 of [*CJKV Information Processing*, Second Edition](http://oreil.ly/CJKV2E): "The use of PUA code points should be avoided at all costs, because their interpretation, in terms of character properties, and their interaction with legacy character set standards (in other words, interoperability) cannot be guaranteed."

With that said, [Laura's

[2016-02-11 03:44] davelab6 commented on #388
I'm not entirely sure what you mean by 'closed,' please could you clarify? :)

I am framing this as **fallback** to help users of implementations that are so poorly done that this is the only way to make the font useful. It isn't that implementations should depend on the PUA codepoints for providing large glyph sets to users, it is that they are oblivious to this need and PUA is a workaround for p

[2016-02-11 03:57] kenlunde commented on #388
@davelab6: What I mean by *closed* is that the implementation is closely tied to the PUA mappings of a particular font, and changing the selected font to anything else is virtually guaranteed to result in illegible text.

Furthermore, in the context of font fallback, I would claim that PUA usage is at least an order of magnitude more dangerous than environments that do not employ it, because it is

[2016-02-11 04:04] davelab6 commented on #388
Hmm.

So, it seems that Laura should simply `pyfeafreeze` her font into a set of single-style font families, and I should set up a `freezemyfont.com` site to make it easy for regular people to freeze their libre OT fonts to use in such implementations, and maybe lobby Font Squirrel to add this to the Web Font Generator.

[2016-02-11 07:12] khaledhosny commented on #388
Where is the glyph positioning of all this (so 60s) PUA talk, it is not like OpenType is only about glyph replacements. OK you are not building fonts that need mark positioning or all this fancy stuff, but what about kerning?

[2016-02-11 13:31] kenlunde commented on #388
@davelab6: I am not sure what *pyfeafreeze* is and its ramifications. I have no strong objections to someone who feels the need to use PUA code points, and my point is that those who decide to go down that path simply need to understand the consequences, which is that nothing is guaranteed, and any oddball behavior is likely to be related to the decision to use PUA code points.

@khaledhosny: That

[2016-02-11 14:13] twardoch commented on #388
All OpenType substitutions and positioning happen on the glyph level. Principally, it doesn't matter which codepoints a glyph is invoked through.

Of course since the OT Layout model relies on per-script shaping engines, reordering happens or certain features are automatically applied in a specific order when glyphs are invoked via their true Unicode codepoints.

If the same glyphs are invoked via

[2016-02-11 14:15] davelab6 commented on #388
Khaled, non-OT implementations are TrueType implementations; thus they use
the KERN table. :)

Ken, please see
https://github.com/twardoch/fonttools-utils/tree/master/pyftfeatfreeze

[2016-02-11 14:19] davelab6 commented on #388
On 11 February 2016 at 09:13, Adam Twardoch <notifications@github.com>
wrote:

Hmm. Do we have concrete examples of implementations that have an OT
shaper, but no UI for users to set/unset non-default features? (I'll ask
Laura on TypeDrawers about this.)

[2016-02-11 14:19] twardoch commented on #388
@kenlunde pyftfeatfreeze is a [tool I published](https://github.com/twardoch/fonttools-utils/tree/master/pyftfeatfreeze) which e.g. could turn the Source Han Sans superfont that uses the OT features to switch between SC, TC, J and K variants into a series of SC, TC, J and K fonts which all have the appropriate variants mapped in the cmap. In fact, after you published Source Han Sans, I realized th

[2016-02-11 14:26] twardoch commented on #388
@davelab Start with Notepad. :) I supports calt (contextual alternates) but gives no way to override its results. Zapfino Extra LT Pro that I made in 2003 shows how this works -- you see substitutions happening as you type but if you finished typing, there is no way to pick another variant. And then virtually every Windows app that uses the standard GDI Windows text controls, any Photoshop clone,

[2016-02-11 14:33] davelab6 commented on #388
Right. I see why this is a really big problem :angry:

Looking back at Laura's post on TD, she says that feeding the new hobbyist retail market PUA fonts is increasing their use and appreciation of fonts, that puts pressure on app developers to provide better typography features.... but the example is a glyph picker, not a real OpenType UI. I wonder if any apps have added OT UIs, so I've updated m

[2016-02-11 14:54] felipesanches commented on #674
this was fixed already :-)

[2016-02-11 14:54] #674 closed

[2016-02-11 15:28] khaledhosny commented on #388
That swash example makes no sense at all, since you usually want to enable it for just part of the word (at least for Arabic), and you can’t do that with a “frozen” font. That is really just another hack suitable for certain fonts. That CSS font-features currently force run breaks is an implementation bug, Firefox, for example, apply many style changes across spans without breaking OpenType logic

[2016-02-11 15:31] khaledhosny commented on #388
@dave I don’t see how kern table can handle all kinds of kerning supported by GPOS pain positioning, nor how it is certain that the kern table will be always supported in these situations.

[2016-02-11 16:31] twardoch commented on #388
@khaledhosny Replace "swash" with any other, e.g. one variant letter accessible through ss02 that you want to appear consistently in your text, or a localized form. Though admittedly, pyftfeatfreeze does not currently allow to freeze a feature for only some glyphs.

[2016-02-12 00:23] felipesanches commented on #676
I just diagnosed that the issue is related to the fact that the webapp does not yet know anything about the protobuffers format used for METADATA.pb (it still tries to read a json file in there...)

[2016-02-12 00:26] felipesanches commented on #676
I may make the webapp happy by providing a METADATA.json generated from the METADATA.pb we have. (but it feels like cheating :-P)

Or I could parse METADATA.pb in javascript. There may already be some solution for that I guess.

[2016-02-12 00:42] davelab6 commented on #676
What does it need the METADATA values for?

[2016-02-12 00:42] felipesanches commented on #676
hmmm... All test results summary data is output by fontbakery python code and fed to the webapp using json. I think I'll stick to generating json here as well...

[2016-02-12 00:43] felipesanches commented on #676
@davelab6  gotcha! Let me check that as well!

[2016-02-12 00:48] davelab6 commented on #676
Yes, the test summary data is json and that is still true.

But the METADATA.json file was not (AFAIK) actually parsed, it was just
pulled as a plain text file into a js txt editor

[2016-02-12 01:03] felipesanches commented on #676
hmmm... not really. The metadata JSON is actually parsed and its field values are accessed by the webapp in some places:

* an example here: https://github.com/googlefonts/fontbakery/blob/gh-pages/static/js/controllers/mainController.js#L92-L101 (here is reads some metadata fields and then selects a main font, ideally a "regular")

* and another example here: https://github.com/googlefonts/fontbak

[2016-02-12 02:36] felipesanches commented on #611
When METADATA{.new}.json exists the 404 do not show up anymore. The issue is that we need to generate those JSON files frm Protobufs now.

Regarding the ng-table/pager.html , that is the template for the angular pagination widget. I'm not sure why we lack this file. It should come bundled with ng-table and thus I guess it would be available in the bower_components directory ?

I see that in our ca

[2016-02-12 02:37] felipesanches commented on #611
And also here: https://github.com/esvit/ng-table/issues/6

In particular this comment seems pretty much relevant in our case: https://github.com/esvit/ng-table/issues/6#issuecomment-51468016

[2016-02-12 15:04] davelab6 commented on #676
Okay cool. proto bufs has loads of JS libraries so reading the file instead
of JSON should be straightforawrd

[2016-02-12 15:06] davelab6 commented on #611
Well, if we don't use it, we can just put a 0 byte file at that URL and
file an issue to fix it properly later - if at all.

I dont really like the idea of converting the PB to JSON. Just read the PB
file. I mean, its plain text, you could probably write your own parser in
less time than to integrate a library ;)

[2016-02-12 20:41] felipesanches commented on #611
Regarding ng-table/pager.html 404:

One of my suspicions is that this may simply be a broken deploy of ng-table, as the template files are unavailable in our fontbakery gh-pages branch, while I can see the template files in the ng-table git repo here: https://github.com/esvit/ng-table/tree/master/src/ng-table

Maybe the template files should have been commited to our git repo as well? I see the ng

[2016-02-12 20:43] davelab6 commented on #611
Could be any of these things. Comment it out where it is used, and file an
issue to return to it?

[2016-02-12 20:45] felipesanches commented on #611
well... it is used **everywhere** ! :-)

For all of the forms containing test results, metadata tests etc...

[2016-02-12 20:46] felipesanches commented on #611
It seems to be a core widget in our web UI.

[2016-02-16 16:31] davelab6 opened #679 "Ensure all code passes Google-style pylint"
Per https://stackoverflow.com/questions/29597618/is-there-a-tool-to-lint-python-based-on-the-google-style-guide/33487398 we can have travis check we are following the Google-style python code style guide.

[2016-02-16 17:54] davelab6 opened #681 "Add human metadata to each check"
Check result reports for individual font projects should not have "OK / ERROR / FAIL" messages and developer-level technical details.

We need descriptions of errors that are meaningful to font designers so that instead of a list of (perhaps cryptic) error messages, FB serves as a source of knowledge about how to do things in a proper way.

Therefore each check need detailed documentation metadata

[2016-02-16 18:58] davelab6 opened #684 "Font Classification"
https://github.com/googlefonts/fontbakery/blob/master/tools/compute_font_weight_and_width.py is meant to generate data to aid in updating https://github.com/google/fonts/blob/master/tools/font-metadata.csv
#### Round 1 tasks: Making a read-only table

~~This probably uses the files in the github repo, but it could also use the [gfonts developer api](https://developers.google.com/fonts/docs/develop

[2016-02-16 22:38] felipesanches commented on #611
Alright! I got good news! :-D

I was bashing my head against the wall today trying to undertand what was wrong with ng-tables and now I figured out that the spurious 404 errors are caused by bad behaviour induced into the ng-tables module due to the failure to load the metadata/tests.json file from CoinyTests gh-pages. So it was very misleading.

So, there are 2 immediate conclusions here:
- [ ] W

[2016-02-16 22:39] davelab6 commented on #611
Great! Yes, please hammer on both in that order :)

[2016-02-16 22:41] felipesanches commented on #611
Thanks for your patience, Dave!

I'll tackle both of these now :-)

[2016-02-16 22:54] felipesanches commented on #611
gotcha!

https://travis-ci.org/felipesanches/CoinyTests#L1939-L1946

[2016-02-17 01:00] davelab6 commented on #611
Nice!

[2016-02-17 01:45] felipesanches commented on #681
This is one exemple of cryptic error message:

[code]

It should read something like:
[code]

[2016-02-17 02:04] davelab6 commented on #681
`Copyright strings should look like: Copyright 2016 Author Name (name@site.com)`

[2016-02-17 20:15] felipesanches commented on #676
This commit adds the FamilyProto message parsing in javascript, so the webapp does not require METADATA.json anymore: https://github.com/googlefonts/fontbakery/commit/270317c5321a6f0cbf0c80015d85e9ead5883f31

[2016-02-17 20:15] #676 closed

[2016-02-17 20:22] felipesanches commented on #611
we have only a couple issues with 404 errors:

- [ ] In the "Setup" tab we get: "404 - Not Found: //rawgit.com/felipesanches/CoinyTests/gh-pages/build_info/data/pages/bakery-yaml/bakery_yaml.json"
- [ ] the webapp still requires both METADATA.pb and METADATA.new.pb to be available (otherwise it still misbehaves).

[2016-02-17 21:07] davelab6 commented on #611
Please keep hammering :)

[2016-02-17 21:23] davelab6 opened #690 "Speed up travis with containers"
We can speed up travis by using their container system, that wasn't available when the FB travis system was last updated. See https://github.com/FlossFoundry/Raleway/blob/master/.travis.yml for an example.

[2016-02-17 21:31] felipesanches commented on #690
Yeah! That would be really important! The sluggishness of the current Travis setup makes it tiresome to validate experimental server-side code during development.

[2016-02-17 21:52] felipesanches opened #691 "Do we really use git-python for anything ?"
There's a snippet of code at  tools/fontbakery-build.py (line 83) that uses git-python, if available:

[code]

but the next line, overwrites the value of builddir, nothing else uses the repo object and it seels there's no collateral effect in play here. So, this seems useless leftover code, or perhaps the abandones beginning of some new feature in the past.

Do you know where does this come from,

[2016-02-17 21:59] davelab6 commented on #691
A long time ago there was a table showing the git history. This seems out of scope for anything in the BRIEF.md so throw it away.

[2016-02-17 23:38] #691 closed

[2016-02-18 01:24] davelab6 commented on #445
GAH. The installer in osxfonttools.dmg will not run on Mac OS X 10.11, so `ftxvalidator` is no longer available. What a pest.

[2016-02-18 01:29] sladen commented on #445
What happens with a manual `hdiutil attach osxfonttools.dmg` from the command-line (or alternative way of looking directly inside).

[2016-02-18 01:33] davelab6 commented on #445
The disk image mounts, the .pkg installer inside will not run.

[2016-02-18 01:35] sladen commented on #445
What happens with eg. `pkgutil --expand *.pkg foo`?

[2016-02-18 01:39] davelab6 commented on #445
Aha!

[code]

[2016-02-18 04:48] davelab6 opened #693 "Many small problems with the Coiny test build log"
Looking at https://travis-ci.org/felipesanches/CoinyTests/builds/108432384 (or https://github.com/felipesanches/CoinyTests/blob/gh-pages/build_info/data/buildlog.txt) I see many problems in the build log output.

The result lines with status `ERROR`, and where I have otherwise commented that is it is broken, are the most important to fix first.

[code]

- [x] These methods should be 'note' level,

[2016-02-18 16:56] davelab6 opened #694 "Add a .github folder with templates for issues and pull requests"
The https://github.com/dear-github/dear-github letter has a practical response in https://github.com/blog/2111-issue-and-pull-request-templates

We should add a .github folder with templates for
- [ ] issues and
- [ ] pull requests

I think it is good to leave the CONTRIBUTING.md file in the root so it is more visible.

[2016-02-18 19:50] davelab6 opened #696 "Stop making .menu files"
The `fontbakery-build.py` process is still creating `fontFileNameStem + ".menu"` files.

These are no longer needed.

[2016-02-18 20:02] davelab6 opened #697 "Do not run upstream tests when only TTFs are processed"
Given the following `bakery.yaml`, where the `process_files` are only TTFs, then there should not be any source checks run, yet `upstream.yaml` exists and is as follows.

This probably means that the web UI needs to be resilient for such repos without sources.

[code]
...

[code]

[2016-02-19 14:37] davelab6 opened #698 "Check TTFs have post table version 2"
FontBakery needs to check TTFs have a post table version 2 per https://github.com/google/fonts/issues/215

However, this is really a symptom of a CFF -> TTF build process, so rather than spending time on a fixer, to reliably convert `post` v3 to v2, it should just be a 'note' warning that alerts us that the post table is v3 and it should be v2, likely by avoiding a CFF to TTF build process.

(Meta

[2016-02-19 14:41] davelab6 opened #699 "Use 'sh' package for calling 3rd party commands"
https://amoffat.github.io/sh/ looks better than what we have for calling 3rd party commands

[2016-02-19 20:06] felipesanches opened #700 "review TestDiacritic.test_diacritic_made_as_* tests"
...to make sure they're working properly.

[2016-02-20 00:31] davelab6 commented on #684
For angle, the automatic value can simply be made by using the `italicAngle` property of the font, if present. Then for script fonts or whatever where it isn't set or is set incorrectly, something to hand correct it can involve a few key glyphs like `H M N U`  each with an interactive SVG that works like a protractor to set the angle; then this is arranged in a huge table with each row having one

[2016-02-22 21:57] davelab6 commented on #684
- [ ] fix this

[code]

[2016-02-22 22:02] felipesanches commented on #684
it does that when reaching this file:

[code]

I'm investigating the issue.

[2016-02-22 22:05] felipesanches commented on #684
I placed "Corben" on the BLACKLIST and now we have a new issue:

[code]

[2016-02-22 22:07] davelab6 commented on #684
Blacklist all the failures and address later

[2016-02-22 22:08] felipesanches opened #703 "investigate BLACKLISTED: IOError: execution context too long"
blacklisted on font_compare_metrics.py (Issue #684)
- FiraSans
- FiraMono

[code]

[2016-02-22 22:09] felipesanches opened #704 "investigate BLACKLISTED: SystemError: tile cannot extend outside image"
blacklisted on font_compare_metrics.py (Issue #684)
- Suwannaphum
- KarlaTamil
- Khmer
- KdamThmor
- Battambang
- AksaraBaliGalang
- Phetsarath
- Kantumruy
- Nokora
- Droid

[code]

[2016-02-22 22:11] felipesanches opened #705 "investigate BLACKLISTED: Corben"
blacklisted on font_compare_metrics.py (Issue #684)

[code]

[2016-02-22 22:12] davelab6 commented on #704
I guess this is because its trying to draw characters that do not exist in the font

[2016-02-22 22:16] felipesanches commented on #704
same error for "KarlaTamilUpright":

[code]

[2016-02-22 22:18] felipesanches commented on #704
well...
KarlaTamil in general

[code]

As well as Khmer:

[code]

[2016-02-22 22:21] felipesanches commented on #704
I'll simply add all of them to the issue description on the top.

[code]

[2016-02-22 22:39] felipesanches commented on #684
All black-listed. Does not crash anymore.

[2016-02-22 23:06] davelab6 commented on #684
I'm hacking away at this in https://github.com/googlefonts/fontbakery/compare/compare?expand=1

[2016-02-23 00:16] felipesanches commented on #684
yeah. It looks good. Although now we could perhaps set the "base64img" field of the dictionary in a dedicated method to avoid redundancy in the code.

[2016-02-23 00:19] davelab6 commented on #684
Potentially we can use 2 different methods/images for each so I'd like to
keep it like this for now

[2016-02-23 00:22] felipesanches commented on #684
ok, cool

[2016-02-24 19:56] davelab6 opened #713 "Check for VendorID"
Add a note level check for VendorID (https://www.microsoft.com/typography/otspec/os2.htm#vendid) that

- [x] warn if it is `    ` or `UKWN` or `ukwn`, tell them to use a real vendor id, and to register theirs if they didn't already
- [x] warns if it is **not** in the following case sensitive list, tell them to register it
- [x] warn if it **is** in the list, but with a different case, tell them th

[2016-02-25 05:45] davelab6 commented on #684
I have added the basic code, I can't see why some code runs and others does not :(

[2016-02-25 07:15] davelab6 commented on #684
@felipesanches issue is updated

[2016-02-25 07:20] davelab6 commented on #684
Analysing everything like this

    ~$ python2 src/github.com/googlefonts/fontbakery/tools/compute_font_metrics.py --files="fonts/*/*/*.ttf" --existing=fonts/tools/font-metadata.csv -o font-metadata-new.csv

I see Inknut ExtraBold has very tall vertical metrics, which mean its image has more weight, so its autoweight is misclassified

<img width="1562" alt="screen shot 2016-02-25 at 02 17 54" src=

[2016-02-25 17:41] felipesanches opened #719 "Contribute PR for EditableGrid TAB-navigation direction param"
Port this into a proper pull request for EditableGrid upstream:
https://github.com/googlefonts/fontbakery/commit/da37192ee4ff7f98f1f882de7598981256d5a9b7

[2016-02-25 18:21] davelab6 commented on #684
Updated the issue

[2016-02-25 21:54] davelab6 commented on #684
Running

    ~$ python2 src/github.com/googlefonts/fontbakery/tools/compute_font_metrics.py --files="fonts/*/*/*.ttf" --existing=fonts/tools/font-metadata.csv -o font-metadata-new.csv

Then sorting the table by `ANGLE_INT`, I see

<img width="1178" alt="screen shot 2016-02-25 at 16 53 11" src="https://cloud.githubusercontent.com/assets/261579/13335718/6a3c4570-dbe0-11e5-95c7-40857ed671ae.png">

[2016-02-26 01:19] davelab6 commented on #684
The end goal of the project is to add new data for the fonts that have not already been categorised.

To that end, I think we now JUST need a few simple filters :)

I've updated https://github.com/googlefonts/fontbakery/issues/684 yet again.

[2016-02-28 21:00] felipesanches commented on #611
I simply got rid of error logs in the UI since they are disruptive for demos, but not catastrophic for the whole app. I'll open an individual issue for actually fixing the missing bakery_yaml.json file.

https://github.com/googlefonts/fontbakery/commit/d0877cf98e9011210b5e9340b2a8f36e2e22f209

[2016-02-28 21:00] #611 closed

[2016-02-28 21:03] felipesanches opened #723 "Missing bakery_yaml.json"
As mentioned in issue #611, the build and deploy process fails to place a bakery_yaml.json file in the deployed gh-pages branch of a font project.

The collateral effect is that the "Setup" tab of the webapp displays an infinite "loading" icon.
http://googlefonts.github.io/fontbakery/#/felipesanches/CoinyTests/setup

[2016-02-28 21:37] felipesanches opened #724 "webapp should not depend on METADATA.pb.new"
When the .new file is not available, the "Metadata" tab in the webapp gets stuck with an infinite "loading" icon. It should simply ignore the missing file (upon 404 error) and move on to display the page contents.

This is related to #611

http://googlefonts.github.io/fontbakery/#/felipesanches/CoinyTests/metadata

[2016-02-28 22:16] felipesanches opened #726 "coverage.misc.CoverageException: Couldn't read '/home/travis/build/googlefonts/fontbakery/.coveragerc' as a config file"
[code]

[2016-02-28 22:19] #696 closed

[2016-02-28 22:23] felipesanches opened #727 "Add an option to the report maker to reformat report output in "GHM" (Github Markdown)"
At #693 @davelab6 states the need for it. Could you please clarify the meaning of this task, Dave?

[code]

[2016-02-29 00:36] davelab6 commented on #696
Looks good

[2016-02-29 00:39] davelab6 commented on #727
An idea is to be able to have the checker output in GHM, so that it can be posted as-is as an issue on the developer's font repo issue tracker, and the source level resolution could be done by the developer.

This GHM style output was only partially implemented in a few checks I think.

Perhaps the checkers should be using the python std lib Logging module, and then outputting the log in various f

[2016-03-01 23:34] davelab6 commented on #693
Per https://github.com/googlefonts/fontbakery/pull/732#issuecomment-190966078 when editing check docstrings, edit them to be posed as questions.

[2016-03-02 06:10] davelab6 opened #735 "Port Mekkablue Preflight Checks to fontTools"
https://github.com/mekkablue/Glyphs-Scripts/blob/master/Test/Preflight%20Font.py has some good checks that we should run in a cross platform way

[2016-03-07 21:14] davelab6 opened #738 "Fix missing whitespace characters"
Following https://github.com/googlefonts/fontbakery/pull/737 we should have a fixer method for all missing whitespace characters.

[2016-03-07 21:45] felipesanches opened #739 "Add fixer for missing whitespace glyphs"
Split the NbspAndSpaceSameWidth fixer creating a new one with the strict purpose of fixing missing whitespace glyphs.

[2016-03-07 21:47] felipesanches commented on #739
hey! That's actually ideantical to another issue that @davelab6 posted a little while ago at #738 :-P

So i'll close this one.

[2016-03-07 21:47] #739 closed

[2016-03-08 04:17] felipesanches opened #741 "Rewrite FamilyAndStyleNameFixer as smaller single-purpose Fixers"
Current implementation is completely wrong!

Ideally this should be ditched and reimplemented as a set of 4 independent fixers:
- [x] bakery_cli.fixers.StyleNameRecomendationFixer
- [x] bakery_cli.fixers.OpentypeFamilyNameFixer
- [x] bakery_cli.fixers.OpentypeFullnameFixer
- [x] bakery_cli.fixers.SubfamilyNameFixer

[2016-03-08 04:32] davelab6 commented on #741
This is high priority :)

[2016-03-08 04:32] felipesanches commented on #741
yeah, sure! :-)

[2016-03-08 15:53] davelab6 commented on #741
typo, it is Recommendation

[2016-03-08 15:57] felipesanches commented on #741
ok, thanks

[2016-03-08 21:50] #741 closed

[2016-03-09 22:41] felipesanches commented on #672
This was fixed already

[2016-03-09 22:41] #672 closed

[2016-03-10 20:08] felipesanches opened #747 "Task for Dave: Text strings"
@davelab6
As described in https://github.com/googlefonts/fontbakery/pull/746 you said you'd better open an issue for tweaking those test descriptions and error log messages. So here it is :-)

[2016-03-10 20:11] felipesanches opened #748 "Improvements to test_platformID_1_exists"
At https://github.com/googlefonts/fontbakery/pull/746 @davelab6 made these comments regarding """ Is there any item with platformID=1 on the NAME table? """:

"So, in fact, it seems there should be, but only items 0 1 2 3 4 5 6 18"

"This is so the fonts work in Mac Word before 2014 (iirc)"

[2016-03-10 20:24] felipesanches commented on #748
Does it mean that for all items in the NAME table we should only fail the test if platformID=='1' and nameID not in [0, 1, 2, 3, 4, 5, 6, 18] ?

[2016-03-10 20:31] felipesanches opened #749 "Improvements to test_font_unencoded_glyphs"
- [ ] explicitely mention which are the unencoded glyphs in the font.

[2016-03-10 20:33] felipesanches opened #750 "delete tests related to subsets"
such as:
* test_latin_file_exists
* test_menu_file_exists

[2016-03-10 20:35] felipesanches opened #751 "Improvements to test_check_names_are_ascii_only"
Regarding """ Is there any non-ascii character in NAME or CFF tables? """ @davelab6 said:

"This test should only check NAME IDs 0 to 18 inclusive"

[2016-03-10 20:36] felipesanches commented on #751
This means that if nameID is not in the inclusive range from 0 to 18, then the test should not fail even if there are non-ascii characters, right?

If so, then I can easily filter the test to only consider the nameIDs in that range.

[2016-03-10 20:37] felipesanches commented on #751
I'd be glad though to better understand the rationale for that.

[2016-03-10 20:42] felipesanches commented on #747
All other pending issues were already filled as individual issues. This issue here is only concerned with the text strings editing proposals that you presented on #746.

[2016-03-10 20:47] davelab6 commented on #747
Great :)

[2016-03-10 20:48] davelab6 commented on #748
Yes, but there are some other tests that we should do to check that the contents of nameIDs [0, 1, 2, 3, 4, 5, 6, 18] with platformID=='1' are correct. I will send you some sample files when we turn to this.

[2016-03-10 20:50] davelab6 commented on #751
Yes, that's right. The reason is that higher NameID items are expressly for localising the ASCII only IDs into Hindi/Arabic/etc

[2016-03-10 21:06] #751 closed

[2016-03-10 21:09] #750 closed

[2016-03-10 21:10] felipesanches commented on #748
ok. sure!

[2016-03-11 05:32] davelab6 opened #754 "fontbakery-fix-glyphs.py"
Per https://github.com/googlefonts/fontbakery/blob/master/BRIEF.md#4-source-management there should be a `.glyphs` file checker.

Generally binaries exported from Glyphs are good quality, but some of the application's defaults are not what we want, and it is easy to set them to what we do want with Custom Parameters.

The changes I've requested/made so far are:
- [x] Font copyright set correctly
-

[2016-03-11 13:47] davelab6 commented on #693
[code]

- [ ] the test is run twice, which is weird.

[code]

- [ ] I'll take care of this, but noting that the missing table strings are different

[code]

OK

[code]

- [ ] The message `Contains [(u'\xa9', '(c)')]` should tell us which name ID has this problem (its almost certainly nameID 0)
- [ ] The first value is `u'\xa9'` but it should print the real unicode character printed, because that i

[2016-03-11 15:34] felipesanches commented on #693
Thanks, Dave. I'll take care of it all.

[2016-03-11 15:35] felipesanches commented on #693
I've been fixing (and refactoring) the apache/ofl license description/placeholder/url detection tests.

[2016-03-11 17:21] davelab6 commented on #241
Per https://github.com/google/fonts/issues/225 then this should also check (and autofix) `post.isFixedPitch` is set correctly.

[2016-03-12 03:47] davelab6 opened #758 "Fix getSuggestedFontNameValues()"
Following the discussion in https://github.com/googlefonts/fontbakery/pull/745 it seems `getSuggestedFontNameValues()` is badly broken.

We should just remove this method and anywhere it is called, replace it with a very simple check that just tests if the last characters in the filename match the list of 18 acceptable strings for subfamily names, and the first characters of the filename before th

[2016-03-14 01:06] davelab6 commented on #697
Note also that the first 3 lines of the 'small things' issue are also coming from `test_ufo.py` when they should not be:

https://github.com/googlefonts/fontbakery/issues/693

[2016-03-14 19:32] felipesanches commented on #697
Those UFO tests that were running when not needed were addressed in https://github.com/googlefonts/fontbakery/commit/004905d4a89b888da192bd0749d3ad49b4746093

[2016-03-14 19:36] felipesanches commented on #697
Maybe it is too premature to close this issue. There are still upstream tests being executed, but they all pass (when running fontbakery-build.py with CoinyTests where processed_files lists a single sfd file).

Maybe your use-case is different. Do you mean that things like checking for availability of a LICENSE.txt file are not needed when processed_files only has got TTF filenames declared? Would

[2016-03-14 20:59] felipesanches opened #760 "fix broken VmetFixers"

[2016-03-14 21:01] felipesanches commented on #760
This is the current error (before disabling the broken fixer):

[code]

[2016-03-14 21:05] davelab6 commented on #760
That is really weird, because i use `fontbakery-fix-vertical-metrics.py *ttf --autofix` daily and it works fine.

[2016-03-14 21:07] davelab6 commented on #697
I think 004905d is not the right fix for this, then. It is fixing the symptom, not the cause. Somehow in the pipeline process, the fontbakery-check-ttf.py file calls methods that call methods in the UFO class, and that should obviously not happen.

I think this is a problem with the structure/design of the program, because it is too complex/sophisticated; it would be better if fontbakery-check-ttf

[2016-03-14 21:07] felipesanches commented on #760
I agree that this is weird. It was also working for me.

[2016-03-14 21:09] davelab6 commented on #693
Following my comment at https://github.com/googlefonts/fontbakery/issues/697#issuecomment-196522212 I see that this issue is 26 days old now, and I think it should not take 4 weeks to fix up all those things.

I think we need to abandon maintaining the current codebase and start with a blank new project and refactor this codebase into it.

[2016-03-14 21:22] felipesanches commented on #693
I am feeling the same.

[2016-03-14 21:22] felipesanches commented on #693
This codebase is madness.

[2016-03-15 00:10] davelab6 commented on #693
Okay, I did an initial pass at the codebase and remove a lot of it

https://github.com/googlefonts/fontbakery/compare/v0.1.0?expand=1

[2016-03-15 00:21] felipesanches commented on #693
That's a whole lot of deletions :-)

Perhaps we could tag the latest commit for historical purposes and then merge the big deletion towards a fresh reboot of the codebase.

[2016-03-15 23:47] davelab6 commented on #673
Closing, this will be fixed as a consequence of the 0.1.0 code design

[2016-03-15 23:47] #673 closed

[2016-03-15 23:48] davelab6 commented on #760
Closing, this will be fixed as a consequence of the 0.1.0 code design

[2016-03-15 23:48] #760 closed

[2016-03-15 23:55] davelab6 commented on #726
`.coveragerc` doesn't exist, but https://coveralls.io/github/googlefonts/fontbakery is okay. @vitalyvolkov did you set up coveralls? If so, do you have a `.coveragerc` file?

[2016-03-16 00:03] davelab6 commented on #697
Closing, this will be fixed as a consequence of the 0.1.0 code design

[2016-03-16 00:03] #697 closed

[2016-03-16 02:01] #758 closed

[2016-03-16 02:01] davelab6 commented on #758
Fixed with 094571f

[2016-03-16 02:37] felipesanches commented on #748
@davelab6
please, send me those sample files :-)

[2016-03-16 02:55] davelab6 commented on #748
Sent

[2016-03-16 03:07] felipesanches commented on #748
The font file that you sent me by mail alongside the message ""This has a correct name table"" has got nameRecords with platformId="3"

Do you mean the test should also allow 3 as a correct platformID value? (the meaning for that specific platformID value is "Windows encoding")

[2016-03-16 03:22] davelab6 commented on #748
Its more than that; the test should allow items with PID=3 and then check the conform to the patterns in that file

[2016-03-16 03:55] davelab6 commented on #221
Closing as this will naturally happen during the reorg

[2016-03-16 03:55] #221 closed

[2016-03-16 03:56] davelab6 commented on #377
We'll use `add_font.py` for now

[2016-03-16 03:56] #377 closed

[2016-03-16 03:58] davelab6 commented on #413
In `0.1.0` branch this is now renamed to `tools/fontbakery-check-description-fix.py`

[2016-03-16 03:58] #424 closed

[2016-03-16 04:16] #535 closed

[2016-03-16 04:18] #537 closed

[2016-03-16 04:20] davelab6 commented on #545
https://github.com/googlefonts/fontbakery/issues/748 is a child of this issue; closing that for now.

[2016-03-16 04:20] #748 closed

[2016-03-16 04:20] davelab6 commented on #747
This is being fixed as part of the porting effort.

[2016-03-16 04:20] #747 closed

[2016-03-16 04:21] davelab6 commented on #713
I did a lot of this in 3896ed9

[2016-03-16 20:19] davelab6 commented on #586
@felipesanches how to reproduce these errors?

[2016-03-16 20:24] felipesanches commented on #586
these were reported by flake8 if I recall correctly.

[2016-03-16 20:27] felipesanches commented on #586
I think it is likely that some of these were already fixed in recent bugfixes. We could re-run flake8 (but in the v0.1.0 it will likely produce several new undefined errors, given we're stripping out and deleting large chunks of code)

Running flake8 on code from the master branch would be better.

[2016-03-16 20:38] davelab6 commented on #586
Okay, I run flake8 on code from the master branch would be better and updated the tasks; the remaining looks like things we wash away in the rewrite, so closing.

[2016-03-16 20:38] #586 closed

[2016-03-16 21:45] davelab6 commented on #545
https://github.com/googlefonts/fontbakery/issues/632 is a child of this issue; closing that for now.

[2016-03-16 21:45] #632 closed

[2016-03-18 05:35] davelab6 commented on #587
Closing due to rewrite

[2016-03-18 05:35] #587 closed

[2016-03-18 05:36] davelab6 commented on #590
This should be part of the fontbakery-check-onboarding.py

[2016-03-18 05:40] davelab6 commented on #594
0.1.0 should run pyfontaine checks

[2016-03-18 05:41] davelab6 commented on #617
0.1.0 should check for required tables

[2016-03-18 05:43] davelab6 commented on #545
https://github.com/googlefonts/fontbakery/issues/628 is a child of this

[2016-03-18 05:44] davelab6 commented on #545
https://github.com/googlefonts/fontbakery/issues/631 is a child of this

[2016-03-18 05:44] #631 closed

[2016-03-18 05:45] davelab6 commented on #623
Fixed as consequence of rewrite

[2016-03-18 05:45] #623 closed

[2016-03-18 05:45] #636 closed

[2016-03-18 05:46] davelab6 commented on #545
https://github.com/googlefonts/fontbakery/issues/649 is a child of this - it has the key information about PID1 namerecords

[2016-03-18 05:46] #649 closed

[2016-03-18 05:48] davelab6 commented on #665
The 0.1.0 rewrite should do this

[2016-03-18 05:51] davelab6 commented on #693
I'll close this now, and open new issues as things come up.

[2016-03-18 05:51] #693 closed

[2016-03-18 05:54] davelab6 opened #763 "test_metadata_designer_exists_in_profiles_csv() to allow 'Multiple Designers'"
(From #693)

[code]

- [ ] The `test_metadata_designer_exists_in_profiles_csv()` method should have an if/else or something to allow the `Designer` key to have `Multiple Designers` as a valid value

[2016-03-22 18:44] davelab6 opened #764 "fontbakery-build.py fails on KeyError: 'subset'"
@felipesanches fontbakery-build.py recently regressed and now fails with `KeyError: 'subset'` - I guess this was introduced by your recent changes to remove subsets from the whole thing.

[code]

[2016-03-22 18:45] davelab6 commented on #764
cc @girish-dalvi

[2016-03-23 01:00] twardoch commented on #664
@davelab6: @schriftgestalt has just published a subset of GlyphData.xml (just the basic stuff i.e. Unicode-to-Glyphs-glyphname mapping and some categorization, without the additional metadata) under the MIT license:
https://github.com/schriftgestalt/GlyphsInfo

This can be used as an auxiliary source for converting the internal Glyphs glyphnames into production glyphnames.

[2016-03-23 01:44] davelab6 commented on #664
Yes, I (and perhaps you) had requested this a while ago and I am happy that @schriftgestalt has done it :)

[2016-03-24 00:12] davelab6 opened #765 "[web ui] Show vertical metrics"
http://codepen.io/sebilasse/pen/gPBQqm shows the vertical metrics of a font; the web UI could show this along with the v metrics values in the SFNT

[2016-03-25 16:55] davelab6 opened #766 "Check interpolation values match stem widths"
Per https://github.com/googlefonts/gf-docs/commit/805751608bd166632d73a6f7da392d3ee1be34eb we should check that the source master and instance interpolation values match the stem widths.

[2016-03-28 15:46] felipesanches opened #767 "[META] v0.1.0 tasks for Felipe"
This is an issue to track the priorities of improvements being developed at branch v0.1.0

[2016-03-28 15:48] felipesanches commented on #658
We're moving to a new issue at https://github.com/googlefonts/fontbakery/issues/767

This one will be closed now (may be reopened in the future if we need to deal with it again).

[2016-03-28 15:48] felipesanches commented on #767
@davelab6 Can you please add a prioritized list of subtasks to the description above?

[2016-03-30 12:15] davelab6 opened #768 "Script should be self contained"
fontbakery-check-ttf.py should be simple and that means self contained: Few methods, and zerp external files.

[code]

[2016-03-30 12:18] davelab6 opened #769 "fsSelection check needs review"
On a font that is set correctly, I see
[code]
So fsSelection check needs review; it should work the same as sanity_check.py.

[2016-03-30 12:20] davelab6 opened #770 "INFO errors without context"
This logging.info() information needs more context to be helpful:
[code]

[2016-03-30 12:21] davelab6 opened #771 "Check for required tables not working"
This check is broken:

[code]

These tables exist.

[2016-03-30 12:22] davelab6 commented on #767
https://github.com/googlefonts/fontbakery/issues?q=is%3Aopen+milestone%3A0.1.0+assignee%3Afelipesanches

[2016-03-30 12:29] davelab6 opened #772 "Change logging level to default to quieter output"
- [x] Change logging level to only output errors, thus default to the quieter output of the unix tradition
- [x] Add an arg to set the logging level at the command line, per https://docs.python.org/2/howto/argparse.html like this:

[code]

[2016-03-30 12:31] davelab6 opened #773 "Set up Travis for 0.1.0"
The current tool is broken in a couple of ways, so, after #772 is closed, lets get a travis setup rolling with known good font families - perhaps Cousine to start - so that we can prevent regressions; which at the most simple means continuing to pass known good fonts.

Perhaps this is the moment to leave the old codebase on a branch and move 0.1.0 to master.

[2016-03-30 19:46] #771 closed

[2016-03-30 20:01] #772 closed

[2016-03-30 20:02] #617 closed

[2016-03-30 20:14] #770 closed

[2016-03-30 20:56] #713 closed

[2016-03-31 22:37] davelab6 commented on #768
https://github.com/googlefonts/fontbakery/blob/v0.1.0/fontbakery-check-ttf.py#L8

[2016-03-31 22:40] sladen commented on #768
First step would be to remove the "import *", and then the namespacing becomes clear, and then the import can be moved to where-ever it is actually being used, inside a **try:** so that things fail gracefully.

[2016-03-31 22:42] davelab6 commented on #768
@sladen I think its better to have all imports at the top so that if you don't have the requirements installed, you find that fact up front, rather than when you are in the middle of working.

[2016-03-31 22:58] felipesanches commented on #768
@davelab6  So you want the nameID definitions to be embedded in the single script as well? I can do it, no problem :-)

[2016-03-31 23:05] davelab6 commented on #768
Of course.

[2016-03-31 23:06] felipesanches commented on #768
alright! :-D

[2016-03-31 23:07] #768 closed

[2016-04-04 21:49] felipesanches commented on #769
I'm inspecting this. Can you provide a specific font that triggers the bad behaviour? I tried with a few but couldn t find yet any font where I get the "64 to 0" hotfix.

[2016-04-04 23:58] davelab6 commented on #769
I think it was Cousine

[2016-04-05 00:05] felipesanches commented on #769
I just tested it with Cousine but that's not the one. I'll leave this for later. Please, post a message here if you find it again.

[2016-04-05 00:54] davelab6 opened #774 "Comparison tooling for updating families"
Per google/fonts 222, it would be good to be able to compare `ofl/family-old` and `/ofl/family` and see a few things, so that as families are updated, all the things that should be done in an update are taken care of.

- [x] see filesize differences and warn if they are large
- [x] version number incremented
- [x] ttfautohint updated to at least latest stable version

I'll add other ideas here lat

[2016-04-05 16:51] davelab6 opened #775 "panose check code is wrong"
panose check code is wrong, eg if the value is 3 and it is not a monospace font, it should not be autofixed. The font in https://github.com/enathu/kavivanar reproduces this.

[2016-04-05 23:59] felipesanches commented on #775
"panose check code is wrong, eg if the value is 3 and it is not a monospace font, it should not be autofixed."

I think that what you mean with your previous statement is something like this (I'm not sure why, though), is this right?
[code]

[2016-04-06 00:01] felipesanches commented on #774
I'm auto-incrementing the major number. Is this the desired behaviour or should we auto-increment the minor version number?

[2016-04-06 00:48] davelab6 commented on #774
Minor! :)

[2016-04-06 00:48] davelab6 commented on #774
We also should not auto increment it on every run.

[2016-04-06 00:54] felipesanches commented on #774
This is a new and independent script meant to be used only when updating families.

To avoid incrementing on every run I can add a --versionbump command line option, or something like that.

[2016-04-06 01:04] davelab6 commented on #774
sweet

[2016-04-06 03:38] davelab6 opened #776 "Check path exists"
For each font, we should check it exists.

Today:

[code]

This is bad because it looks like all tests passed!

[code]

Expected:

[code]

[2016-04-06 03:39] davelab6 commented on #776
updated

[2016-04-06 14:44] davelab6 opened #777 "NAME table fixer creates duplicate items, must not."
Here's the name table of Kolar-Bold.ttf from https://github.com/itfoundry/kolar

[code]

I run

    ~/src/github.com/googlefonts/fontbakery/fontbakery-check-ttf.py kolar/*ttf -v

and now I see this name table:

[code]

This is bad.

[2016-04-06 15:22] davelab6 opened #778 "NAME table license checker not working"
Similar to #777 with Kolar, I see

[code]

But the NAME table of the originals IS correct, so this is buggy.

[code]

[2016-04-06 15:26] davelab6 opened #779 "macStyle check not working"
Similar to #777, this is obviously broken:

[code]

The original files macStyles are set correctly:

[code]

[2016-04-06 15:46] davelab6 opened #780 "Version checker not working (minor)"
[code]
fontTools/TTX does something funny with floats or whatever so that 2.001 becomes 2.00099 and the current code doesn't understand this

[2016-04-06 21:51] #776 closed

[2016-04-06 23:28] felipesanches commented on #777
I am unable to replicate this bad behaviour. It works for me.

I see you use the expression kolar/*ttf
while I see that the TTF files are at https://github.com/itfoundry/kolar/tree/master/products

Are these the TTF files you're working with ?

[2016-04-06 23:36] felipesanches commented on #778
"with a FAQ at" has a colon on the nameID 13 while it does not have a colon in our reference placeholder text. Should we be picky about it? If so, then the check is actually working :-)

[2016-04-07 00:45] #779 closed

[2016-04-07 00:54] felipesanches commented on #780
Here I get: "INFO     OK: Font version fields."

Can you double-check it the issue persists with the current code from the tip of v0.1.0 branch ?

[2016-04-07 00:59] felipesanches opened #781 "OS/2 xAvgCharWidth autofix may be wrong"
@davelab6 said:

"OS/2 xAvgCharWidth autofix may be wrong, as in kavivanar the value is 418 which seems correct, but it is autofixed to 2278 I guess because the wide tamil glyphs make the 'real' value wider but fontforge is only counting latin glyphs for some reason. it would be best to figure out what that is and NOT autofix this value, only give an error if it is not as expected"

[2016-04-07 01:00] felipesanches opened #782 "name table checker"
@davelab6 said:

"The name table checker is now pretty high priority. For example here ( https://github.com/enathu/kavivanar ) the nameID 4s are Kavivanar Regular and should be Kavivanar"

[2016-04-07 02:34] davelab6 commented on #778
We should do what the majority of fonts in google/fonts do

[2016-04-07 22:19] felipesanches commented on #775
Please reopen the issue if the new implementation is still wrong.

[2016-04-07 22:19] #775 closed

[2016-04-07 22:21] felipesanches commented on #778
I'm closing this given that it does work. It might perhaps be a bit more verbose though (which seems to be the root reason why it looked like wrong behaviour to you)

[2016-04-07 22:21] #778 closed

[2016-04-07 22:22] felipesanches commented on #777
Works for me. Please reopen if you can describe a way to replicate the issue.

[2016-04-07 22:22] #777 closed

[2016-04-07 22:23] felipesanches commented on #780
Works for me. Reopen the issue if you can describe how to cause the issue in a reproducible way.

[2016-04-07 22:23] #780 closed

[2016-04-07 22:50] felipesanches commented on #773
The old codebase is tagged 0.0.15

I just merged the 0.1.0 branch into master.

[2016-04-11 01:34] davelab6 commented on #773
@felipesanches sounds good. https://travis-ci.org/googlefonts/fontbakery is passing so closing

[2016-04-11 01:34] #773 closed

[2016-04-11 22:15] felipesanches commented on #781
https://gist.github.com/jtanx/7715851

"For OS/2 table versions >= 3, take the sum of the advancement widths (from the hmtx table) of each glyph, iff the advancement width is greater than zero. Do integer division of this sum by the number of glyphs that had an advancement width > 0.

For versions < 3, follow a similar procedure, but weight according to: http://www.microsoft.com/typography/otspec/

[2016-04-11 22:23] davelab6 commented on #781
Thanks!

[2016-04-14 15:12] davelab6 opened #783 "Fix the Blacklist-related issues at fontbakery-build-fontmetadata.py"
[code]

[2016-04-14 15:18] felipesanches commented on #783
yes, I can reproduce the issue. I'll investigate how to fix it.

[2016-04-14 15:35] felipesanches commented on #783
ok. I see that the script was renamed to tools/fontbakery-build-fontmetadata.py
on commit https://github.com/googlefonts/fontbakery/commit/23b306aae743bf63d294b737a193a38970056345

So it is still available on master, but with a different name and I can reproduce the issue on master as well with:

[code]

I'll fix it in a while.

[2016-04-14 15:52] davelab6 commented on #783
from git master
$ git checkout master;
$ cd ~;
$ python2 path/fontbakery-build-fontmetadata.py --files="path/ofl/*/*ttf" --existing=fonts/tools/font-metadata.csv -o font-metadata-new.csv;
[1/112] path/ofl/family/Family-Regular.ttf...
...
Traceback (most recent call last):
  File "src/github.com/googlefonts/fontbakery/tools/fontbakery-build-fontmetadata.py", line 460, in <module>
    main()
  File

[2016-04-14 15:54] felipesanches commented on #783
we used to postpone these problems with blacklisting, remember?

[2016-04-14 15:55] felipesanches commented on #783
I recall that we already got the "IOError: execution context too long" error on some other fonts that we blacklisted in the past. Obviously we should fix the issue. But blacklisting the bad font can at least allow you to get the bulk of the rest of the fonts processed.

[2016-04-14 15:59] davelab6 commented on #783
Blacklisting helps :)

[code]

[2016-04-14 16:03] davelab6 commented on #783
http://127.0.0.1:5000/static/images/angle_2.png works, tho

[2016-04-14 16:15] felipesanches commented on #783
haha! You deleted most files from the tools/static folder back at commit https://github.com/googlefonts/fontbakery/commit/23b306aae743bf63d294b737a193a38970056345

I'll bring them back!

[2016-04-14 16:28] felipesanches commented on #783
OK. done. (commit 7cfba394e339b42e63a826503a666c819c23c3f2)
It is working on master branch now.

Please, reopen this issue if you get any further problem with the script.

[2016-04-14 16:48] davelab6 opened #785 "fontbakery-build-fontmetadata.py Add 'unknown' output mode"
I need a new arg for fontbakery-build-fontmetadata.py that, given a set of TTFs and an existing font-metadata.csv file, it lists font files that do NOT have metadata.

ie,
take the list of all the TTFs in the repo,
and the list of TTFs in the CSV,
and subtract the 2nd list from the 1st

[code]

The result is that the http://127.0.0.1:5000/static/index.html page only has a table showing the fonts t

[2016-04-14 16:49] felipesanches commented on #785
ok, that sounds good!

[2016-04-14 18:08] davelab6 commented on #785
WIP @ https://github.com/googlefonts/fontbakery/commit/b974d9cdb2e66df4d5d2f323b7bb083302d118b5

[2016-04-14 18:12] davelab6 commented on #783
Lets track fixing the blacklist issues

[2016-04-14 18:15] davelab6 opened #786 "fontbakery-build-fontmetadata.py Angle image col should update"
![Imgur](http://i.imgur.com/QWr7Thi.png)

After setting a row's `ANGLE_INT` value, then the row's `Image` col image is updated, but the `angle image` col image is not.

[2016-04-14 20:30] davelab6 commented on #785
Currently it says:

[code]

I would like it to say:

[code]
fonts/ofl/abeezee/ABeeZee-Italic.ttf:ABeeZee:italic:400
fonts/ofl/abeezee/ABeeZee-Regular.ttf:ABeeZee:normal:400
[code]

[2016-04-14 21:01] #785 closed

[2016-04-14 21:36] felipesanches commented on #786
fixed at master (commit https://github.com/googlefonts/fontbakery/commit/0d53048c3dfc37438b1adc3b33709cdf454cfb1d)

[2016-04-14 21:36] #786 closed

[2016-04-15 03:01] davelab6 commented on #684
I'd love to see these 2 tasks completed asap :)

- [ ] When reading existing CSV values, use them in a way that is deduplicative: so that GFN becomes the 'UID' key for the data, and the autodetected row values are in cols next to cols for the existing values.

- [ ] Add an additional table at the top of the page that has the same head rows, and a single content row with checkboxes that toggle the

[2016-04-20 22:13] felipesanches commented on #684
I'm trying to interpret the meaning of "When reading existing CSV values, use them in a way that is deduplicative: so that GFN becomes the 'UID' key for the data, and the autodetected row values are in cols next to cols for the existing values."

I noticed that several fonts fail to auto-detect a GFN value. Apparently that's because they lack a METADATA.pb file. For instance:

[code]

How should w

[2016-04-20 22:16] davelab6 commented on #684
Add to blacklist

[2016-04-20 22:17] davelab6 commented on #684
Or, better, deduce the GFN value from the filename/NAME table, using code
in the add_font.py

[2016-04-20 22:27] felipesanches commented on #684
ok, good

[2016-04-21 00:22] felipesanches commented on #684
Alright... so with this last commit we leave out as GFN="unknown" only really bad guys like:

* ../../../davefonts-old/ofl/cwtexming/cwTeXMing-zhonly.ttf
* ../../../davefonts-old/ofl/jomolhari/Jomolhari-alpha3c-0605331.ttf
* ../../../davefonts-old/ofl/hanna/BM-HANNA.ttf
* ../../../davefonts-old/ofl/lohitdevanagari/Lohit-Devanagari.ttf
* and so on...

These lack a METADATA.pb file and also fail to

[2016-04-21 01:13] felipesanches commented on #684
@davelab6
Now with the aid of the name table entries, all fonts get good GFN values, except for a single misbehaved font:
* ../../../davefonts-old/ofl/hanna/BM-HANNA.ttf

It seems it's got an empty entry at NAMEID_FONT_FAMILY_NAME

[2016-04-21 02:01] davelab6 commented on #684
On 20 April 2016 at 20:22, Felipe Corrêa da Silva Sanches <
notifications@github.com> wrote:

No, it can just be dealt with manually as its a small set.

Blacklist BM-HANNA.

[2016-04-22 21:35] felipesanches commented on #684
"GFN becomes the 'UID' key for the data" implemented at https://github.com/googlefonts/fontbakery/commit/410acd5d4643a74ca2a24fb69b13c00176e23b3c

[2016-05-02 12:39] davelab6 opened #788 "OS/2 xAvgCharWidth calculation"
When checking a non-monospace font with git master, I always see something like,
[code]
I think we should comment out this hotfix, because it seems all fonts fail it, and it isn't very important.

[2016-05-02 12:40] davelab6 opened #789 "UnicodeDecodeError - move to python3"
I think we should move to python3, because suffering `UnicodeDecodeError`s is pretty unforgivable :)

[code]

[2016-05-02 12:46] davelab6 commented on #788
Lets just comment it out for now

[2016-05-02 12:47] felipesanches commented on #788
alright!

[2016-05-02 12:53] davelab6 opened #790 "panose.bProportion check not right"
Checking a non-monospace font, I get

[code]

A panose.bProportion value of 4 is suitable for a non-monospace font; only a value of 9 is incorrect.

[2016-05-02 14:02] #788 closed

[2016-05-02 14:27] felipesanches commented on #790
Please reopen this in case it is still not quite right.
But I think it is OK now. So I'll close.

[2016-05-02 15:05] davelab6 commented on #790
I suggest assigning issues to me to verify and close

[2016-05-02 15:17] felipesanches commented on #790
ok. good!

[2016-05-19 03:05] simoncozens commented on #567
Here's a start which builds and installs the executables. It also installs the Python scripts but it does *not* correct the `AFDKO_Python` and `AFDKO_Scripts` paths in `setFDKPaths`. This should be done with [inreplace](http://www.rubydoc.info/github/Homebrew/brew/master/Utils/Inreplace).

    class Afdko < Formula
      desc "Adobe Font Development Kit for Opentype"
      homepage "http://www.ado

[2016-05-19 04:38] simoncozens commented on #567
And here is another version, which fixes up the paths but does not install the dependent Python modules.

    class Afdko < Formula
      desc "Adobe Font Development Kit for Opentype"
      homepage "http://www.adobe.com/devnet/opentype/afdko.html"
      head "https://github.com/adobe-type-tools/afdko.git"

      def install
        cd "FDK/Tools/Programs/"
        system "./BuildAll.sh"

[2016-05-24 00:44] davelab6 commented on #789
[code]

[2016-05-24 00:51] davelab6 commented on #789
commit bd5e11030ef7f08a0bdf5fe53a3caf1e85167f8d works

commit f3852e144e2c331661516fc8473da2cd6e4b71a4 introduces the problem and the script stops working at that point

[2016-05-24 14:07] felipesanches commented on #789
I commented out the broken test implementation so that you can use the tool. I'll address the issue and then bring back a fixed implementation of this test.

[2016-05-24 18:08] davelab6 opened #792 "NameError: global name 'fullfamilyname' is not defined"
git master:
[code]

[2016-05-24 18:11] davelab6 commented on #480
@felipesanches how does the current script fare?

[2016-05-24 18:11] davelab6 commented on #690
I think we need to have test cases set up now.

[2016-05-24 18:12] davelab6 commented on #789
Any luck?

[2016-05-24 18:17] #792 closed

[2016-05-24 18:19] felipesanches commented on #789
I pushed a tentative fix earlier today. (commit bce483e3a5ed6883a3d3d820159b572fe064ea3d)

[2016-05-25 19:30] davelab6 opened #793 "'unicode' object has no attribute 'platformID'"
[code]

[2016-05-25 19:33] davelab6 commented on #793
I commented the code block and got
[code]

[2016-05-25 19:34] davelab6 commented on #793
There are occurences of `logging.err(` that should be `logging.error(`

[2016-05-25 19:39] felipesanches commented on #793
The "logging.err(" occurrences as well as the unicode.platformID were not detected by the linter and also not reached by the Cousine font I was using to test this code.

I'll fix the typos and temporarily disable the broken test before I properly fix the test implementation.

[2016-05-25 19:39] davelab6 opened #794 ""ERROR Font lacks the 'EURO SIGN' character. ""
I see this error,

    ERROR    Font lacks the 'EURO SIGN' character.

reported on files that definitely do have a U+20AC glyph encoded

[2016-05-25 19:45] felipesanches commented on #794
Good to know. I was a bit uncertain about the implementation of that one. Thanks! I'll review it.

[2016-05-25 19:46] felipesanches commented on #793
I fixed it at https://github.com/googlefonts/fontbakery/commit/6a1baa602e7485942bbe52f86e12bfc66913d3e6

[2016-05-25 19:47] #793 closed

[2016-05-26 14:33] davelab6 opened #795 "When no METADATA.pb file exists, the error is bad"
When no METADATA.pb file exists, the error is

[code]

This is bad.

[2016-05-26 19:30] #795 closed

[2016-05-26 19:30] felipesanches commented on #794
I fixed it at https://github.com/googlefonts/fontbakery/commit/0631c03e9246638ed9caff32afdafeb932a195b1

[2016-05-26 19:30] #794 closed

[2016-05-28 00:38] khaledhosny commented on #789
What is wrong © etc. in name entries?

[2016-05-28 00:52] davelab6 commented on #789
AIUI the OpenType CFF table Copyright string can't accept it

[2016-05-28 00:57] khaledhosny commented on #789
But the code is in the commit above is removing them from the name table not the CFF table.

[2016-05-28 01:21] khaledhosny opened #797 "Bogus handling version name id"
The code in [fontbakery-check-ttf.py:833](https://github.com/googlefonts/fontbakery/blob/master/fontbakery-check-ttf.py#L833) removes version name ids, then in [fontbakery-check-ttf.py:1202](https://github.com/googlefonts/fontbakery/blob/master/fontbakery-check-ttf.py#L1202) it complains that the name (that it removed and is now getting `False` instead) is not correct.

[2016-05-28 01:46] davelab6 commented on #789
The focus is currently only TTFs; the point here is consistency

[2016-05-28 01:49] davelab6 commented on #797
Yeah, that name table thing is bad. https://github.com/davelab6/glyphs-export has name tables as I think they should be set up. What do you think? :)

What are your recommendations for vertical metrics?

[2016-05-28 02:27] khaledhosny commented on #789
I’m not sure I’m getting this right, the code above is removing © from Unicode name table entries where it is perfectly valid, and the rational is that CFF (a completely different table) can’t handle them? CFF values are redundant and no one is likely to ever see them, so there is no much consistency concern here. I suppose you are going to remove non-ASCII characters from copyright holders names

[2016-05-28 02:37] davelab6 commented on #789
Yes, the strings should be ascii 7 bit clean; authors names will be
replaced with "The $NAMED Project Authors" :)

[2016-05-28 02:39] khaledhosny commented on #789
OK.

[2016-05-28 15:42] khaledhosny commented on #797
https://github.com/davelab6/glyphs-export has lots of platformID=1 names, other than dropping those it sounds fine.

I have no general formula for vertical metrics, I usually start with font bbox plus some offset, but for fonts that stack vertically (e.g. Aref Ruqaa) this will be too small, for other fonts there might be some too big glyphs that are not commonly used so bbox is too much. I think i

[2016-05-28 15:48] davelab6 commented on #797
@felipesanches Rod is going to make a name table checker that confirms to those files, so no need to duplicate the effort.

[2016-05-28 15:50] felipesanches commented on #797
ok, thanks

[2016-05-29 15:23] richardfink commented on #797
Me neither except that I almost always look at the font as a webfont in a
browser to:
1)  check for any clipping
 2) confirm that hen the CSS line height is set to the default "normal" (I
set it explicitly to that in my test pages.) - the spacing in between lines
looks like what happens with the web safe system fonts we've all grown to
know and grow bored with.

However, there might be some extrem

[2016-05-31 08:32] davelab6 opened #798 "Drop unwanted tables"
There can be 'unwanted' tables added by editors to binary files that should be dropped. These include
- [x] `FFTM` fontforge timestamps
- [x] `prop` fontforge properties table (I think)
- [x] `TTFA` ttfautohint metadata

[2016-05-31 17:57] davelab6 commented on #797
Actually, please @felipesanches do write a checker to conform name tables to https://github.com/davelab6/glyphs-export  :)

[2016-06-01 23:59] davelab6 opened #800 "METADATA.pb check"
The METADATA.pb generator creates

    designer: "Unknown"

This must always be changed; so we need a simple check that looks at the value and if it is `Unknown` then its an error.

[2016-06-02 06:35] davelab6 commented on #800
So we need a simple check that looks at the value and if it is Unknown then its an error.

[2016-06-02 19:41] felipesanches opened #801 "Ensure all code passes Google-style pylint"
These are things I would expect to see in a healthy code repository. Let's try to make FontBakery this good:
- [x] license badge
- [x] licensing info (LICENSE.txt file / license headers)
- [x] travis integration
- [x] There's a project website
- [x] build state badge (Success vs. Failing)
- [x] issues are well tagged
- [x] issues are milestoned
- [x] Pull Requests are being actively merged / revie

[2016-06-03 05:29] davelab6 opened #802 "Run Travis on PRs"
Now that travis is set up to run flake8, it would be good to configure this repo to run travis and show the build pass/fail status on the pull request. I am the only admin for this repo, so please find the relevant docs so I can set this up :)

(Originally posted as a comment in https://github.com/googlefonts/fontbakery/pull/799#issuecomment-223403089)

[2016-06-03 18:32] davelab6 commented on #764
For now, Font Bakery is no longer a build tool; if you want to access the old versions, install them from pypi with pip; current development is focused on simple imperative 'lint' script in a single file :)

[2016-06-03 18:32] #764 closed

[2016-06-03 18:32] davelab6 commented on #666
Font Bakery is no longer a build tool; if you want to access the old versions, install them from pypi with pip; current development is focused on simple imperative 'lint' script in a single file :)

[2016-06-03 18:32] #666 closed

[2016-06-03 18:33] davelab6 commented on #613
Font Bakery is no longer a build tool; if you want to access the old versions, install them from pypi with pip; current development is focused on simple imperative 'lint' script in a single file :)

[2016-06-03 18:33] #613 closed

[2016-06-03 18:33] davelab6 commented on #572
Font Bakery is no longer a build tool; if you want to access the old versions, install them from pypi with pip; current development is focused on simple imperative 'lint' script in a single file :)

[2016-06-03 18:33] #572 closed

[2016-06-03 19:31] #800 closed

[2016-06-03 20:40] #798 closed

[2016-06-03 20:44] felipesanches commented on #790
@davelab6 You left this one indefinitely open pending your review. But I'm pretty confident this is properly fixed. If you trust me, then close it, unless you still want to review it.

[2016-06-03 20:51] felipesanches commented on #769
Is this still an issue?

[2016-06-03 21:14] davelab6 commented on #769
Please test all fonts in the github.com/google/fonts repo and find out.

[2016-06-03 21:15] davelab6 commented on #790
Your logic in https://github.com/googlefonts/fontbakery/commit/9ec91302ee9aeb3fc4679e25f438219a4135db35 doesn't make sense to me.

[2016-06-08 19:45] davelab6 commented on #801
Perhaps format in google style with https://github.com/google/yapf ?

[2016-06-14 23:34] #767 closed

[2016-06-14 23:35] #723 closed

[2016-06-14 23:35] davelab6 commented on #723
Closing as its for the old codebase

[2016-06-14 23:35] #241 closed

[2016-06-14 23:36] #658 closed

[2016-06-14 23:37] #774 closed

[2016-06-14 23:37] davelab6 commented on #769
@felipesanches did you find out?

[2016-06-14 23:41] davelab6 opened #806 "Bring back old tools as simple standalone scripts"
In b00539f @felipesanches has got rid of the old tools; lets bring them back as new, simple, standalone scripts, in the following order:

- [x] `fontbakery-metadata-vs-api.py`
- [x] `fontbakery-build-metadata.py`
- [x] `fontbakery-check-description.py`
- [x] `fontbakery-fix-ascii-fontmetadata.py`
- [x] `fontbakery-fix-familymetadata.py`
- [x] `fontbakery-fix-gasp.py`
- [x] `fontbakery-fix-glyph-pr

[2016-06-15 13:04] richardfink commented on #806
What version of Python should I install to make this thing work now?  I've
lost track.

Windows, remember.  I'll deal with Mac as a separate issue.

- rich

On Tue, Jun 14, 2016 at 7:41 PM, Dave Crossland <notifications@github.com>
wrote:

[2016-06-15 13:10] davelab6 commented on #806
https://github.com/googlefonts/fontbakery/blob/master/fontbakery-check-ttf.py#L1
shows its python2, any version, although probably 2.7

[2016-06-22 21:41] felipesanches commented on #806
fontbakery-kern.py does absolutely nothing:

https://github.com/googlefonts/fontbakery/blob/v0.0.15/tools/fontbakery-kern.py

[2016-06-23 21:40] felipesanches opened #808 "Define the workflow for FontBakery Travis setup on third-party font repositories"
We don't build fonts. We only test them and generate a JSON file with the results of the tests. All automation should only involve invoking the fontbakery-check-ttf.py script and displaying the testsuite results in a web-browser. The other tools are meant for individual non-automated usage by the users themselves.

Do we still want to setup Travis to auto-commit on gh-pages of the font project rep

[2016-06-23 21:41] felipesanches commented on #806
closing this. The 3 travis-related tools are listed in a separate issue at: https://github.com/googlefonts/fontbakery/issues/808

[2016-06-23 21:41] #806 closed

[2016-06-23 23:04] davelab6 commented on #808
Yes, or the gh-pages branch of another repo
On Jun 23, 2016 5:40 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2016-06-23 23:05] davelab6 commented on #808
But please postpone this until the actual checker is flawless

[2016-06-23 23:09] felipesanches commented on #808
alright!

[2016-06-23 23:20] felipesanches opened #809 "Memory Error when running check-ttf on AbyssinicaSIL"
[code]

[2016-06-23 23:32] felipesanches commented on #809
fixed it.

[2016-06-23 23:32] #809 closed

[2016-06-23 23:39] davelab6 commented on #809
🎱

[2016-06-23 23:42] davelab6 commented on #95
I think that is still the case.

[2016-06-23 23:42] davelab6 commented on #790
I will check this.

[2016-06-23 23:43] davelab6 commented on #789
I will check this

[2016-06-23 23:44] davelab6 commented on #782
@felipesanches what is the status of this?

[2016-06-23 23:44] davelab6 commented on #781
@felipesanches what is the status of this?

[2016-06-23 23:44] davelab6 commented on #769
@felipesanches what is the status of this?

[2016-06-23 23:45] davelab6 commented on #699
@felipesanches do you want to change the way we handle 3rd party commands?

[2016-06-23 23:45] davelab6 commented on #665
@felipesanches what is the status of this?

[2016-06-23 23:45] davelab6 commented on #594
@felipesanches what is the status of this?

[2016-06-23 23:45] davelab6 commented on #590
@felipesanches what is the status of this?

[2016-06-23 23:46] davelab6 commented on #545
@felipesanches what is the status of this?

[2016-06-23 23:46] davelab6 commented on #545
#281 is a child of this

[2016-06-23 23:47] #281 closed

[2016-06-23 23:48] #782 closed

[2016-06-23 23:49] davelab6 commented on #545
#782 is yet another child of this

[2016-06-23 23:51] #82 closed

[2016-06-23 23:52] davelab6 commented on #82
now out of scope

[2016-06-26 22:28] HinTak commented on #445
Apple released a 'Font Tools for Xcode 8 beta' 2 weeks ago, apparently supposed to support 10.11 .

BTW, the next version of Font Validator already uses some of AppKit and CoreFoundation (due to using Apple's Webkit to get the built-in XML viewer to work) on Mac OS X, so it might be interesting to integrate more of Apple's font validation functionality in ATS into FontVal.

[2016-06-27 04:31] davelab6 opened #810 "Collection Metadata Web App: New Weight Calculator"
@impallari what is the code for calculating http://www.impallari.com/tools/darkness/index.php ?

[2016-06-27 19:03] felipesanches opened #811 "Fontbakery skips fontforge checks on AdobeBlank (otherwise it would hang)"
2c0b0682b231da12caa9a1e8781a6d13dd03fdb8 skips AdobeBlank on the fontforge tests in order to avoid the hang and to be able to run all the other checks.

We should investigate the issue in order to properly fix it, instead of simply blacklisting the troublesome font files.

[2016-06-27 19:05] felipesanches opened #812 "Alef-Regular.ttf: regex.match(license_url): TypeError: expected string or buffer"
[code]

[code]

[2016-06-27 19:11] felipesanches commented on #812
fixed at 7957b2e3bf1312a02ae2fe4ae926c45e0bbe9d70

[2016-06-27 19:11] #812 closed

[2016-06-27 19:14] felipesanches opened #813 "AlegreyaSansSC-*.ttf: AttributeError: PairSetCount"
[code]

[code]

[2016-06-27 19:31] felipesanches commented on #813
fixed at https://github.com/googlefonts/fontbakery/commit/f907c41c44a947d8fc0aaaece78baffdd2c75ef4

[2016-06-27 19:31] #813 closed

[2016-06-27 19:52] davelab6 commented on #811
Blank is a weird font, so fine to blacklist

[2016-06-27 19:59] felipesanches opened #814 "Allan-Bold.ttf: UnicodeEncodeError: 'ascii' codec can't encode characters in position 7-8: ordinal not in range(128)"
[code]

[code]

[2016-06-27 20:13] felipesanches commented on #814
fixed at 8afafffed50d61411b6a31384ce7c6f813e3db65

[2016-06-27 20:13] #814 closed

[2016-06-27 22:49] felipesanches opened #815 "DuruSans-Regular.ttf: UnicodeEncodeError"
when running chech-ttf on DuruSans-Regular.ttf, I got:

[code]

[2016-06-27 22:54] felipesanches commented on #815
fixed at d4258ef4d6ea927315ef2f72e1786fa0729c1136

[2016-06-27 22:54] #815 closed

[2016-06-28 00:09] felipesanches opened #816 "MergeOne-Regular.ttf: AssertionError on glyph entries when saving hotfixed TTF"
When saving the final hotfixed TTF file for github_google/fonts/ofl/mergeone/MergeOne-Regular.ttf
FontBakery crashes with an AssertionError related to the glyphOrder/glyphs entries. This may mean some mistake in the way we hotfix these entries. I'll take a look at this one tomorrow morning. First step will be identifying exactly which check has hotfix routines that cause the bad data and then I'll

[2016-06-28 18:58] felipesanches commented on #816
I just figured out that this is triggered by the hotfix of the following check:
"Font contains glyphs for whitespace characters?"

[2016-06-28 19:06] davelab6 commented on #816
Forget hotfixing, I don't use them, I report problem upstream

On 28 June 2016 at 14:58, Felipe Corrêa da Silva Sanches <
notifications@github.com> wrote:

--
Cheers
Dave

[2016-06-28 19:08] felipesanches opened #817 "some fonts crash fontbakery with: ot-sanitise returned non-zero exit status 1"
NATS-Regular.ttf:

[code]

[2016-06-28 19:09] felipesanches commented on #816
ok, good

[2016-06-28 20:33] felipesanches commented on #817
Same issue with "github_google/fonts/ofl/seoulhangang/SeoulHangang-Bold.ttf":

[code]

[2016-06-28 20:43] felipesanches commented on #817
Found another instance. So let's make a list:

* ofl/seoulnamsan/SeoulNamsan-Bold.ttf
* ofl/seoulhangang/SeoulHangang-Bold.ttf
* ofl/nats/NATS-Regular.ttf

[2016-06-28 21:32] felipesanches commented on #817
These 3 fonts have been temporarily blacklisted on the ot-sanitize check at https://github.com/googlefonts/fontbakery/commit/fa8a6cdf18f54c5940692fcfc191fe911c2e3d6f

[2016-06-28 21:35] felipesanches commented on #816
MergeOne is temporarily blacklisted in the "Font contains glyphs for whitespace characters?" check.

[2016-06-30 01:24] felipesanches commented on #817
Removed the blacklisting and fixed the issue at a135454b2610dc9b4b1fa46df233b115ccf606d2

[2016-06-30 01:24] #817 closed

[2016-06-30 21:30] felipesanches commented on #816
fixed at 05e6ee82ef7d0f48fca1c169cf808c72c5bae480

[2016-06-30 21:30] #816 closed

[2016-06-30 21:31] #738 closed

[2016-07-01 01:20] felipesanches commented on #413
There's a set of checks for DESCRIPTION files at our new codebase. It does validate a few things but it does not perform this specific check. I can added that if you need it.

The current tests nowadays live at https://github.com/googlefonts/fontbakery/blob/master/fontbakery-check-description.py

[2016-07-01 01:42] felipesanches commented on #789
There's no remaining unicode error crasher. Actually no fonts in google fonts git repo are crashing the tool anymore. I tested them all.

[2016-07-01 01:42] #789 closed

[2016-07-01 01:42] felipesanches commented on #699
I don't see the value of doing so.

[2016-07-01 01:42] #699 closed

[2016-07-01 02:10] davelab6 commented on #413
Yes, I still need it :)

[2016-07-01 02:11] davelab6 commented on #699
OK :)

[2016-07-01 02:11] davelab6 commented on #789
🎉

[2016-07-01 21:12] felipesanches commented on #698
implemented at https://github.com/googlefonts/fontbakery/commit/07fbcb14918c69eb200295195885c2005c45f9fc

[2016-07-01 21:12] #698 closed

[2016-07-06 01:20] felipesanches commented on #790
@davelab6  you need to check this.

[2016-07-06 01:46] davelab6 commented on #665
994ea77 introduces a script that will print the table information if present. The next action is to implement the autofix method as described above. This is a 'misc' category task with relatively low importance.

[2016-07-06 01:54] davelab6 commented on #545
The `*_n_a_m_e*ttx` files in https://github.com/davelab6/glyphs-export/tree/master/Separate/TTF/TTX can be used as reference for this in name IDs 1, 2, 4, 6, 16, 17, 18

[2016-07-06 01:57] felipesanches commented on #220
@davelab6 This is indeed still not working correctly. I'll work on fixing this one tomorrow.

[2016-07-06 01:58] davelab6 commented on #781
I think the next step is for you to implement the algo that jtanx described

[2016-07-06 02:01] #769 closed

[2016-07-06 02:01] davelab6 commented on #769
I'm closing this, I'll reopen if I come across it again

[2016-07-06 02:02] felipesanches commented on #220
The contents of the Aclonica's DESCRIPTION.en_us.html file are:

```<p>Aclonica is a strong and modern sans serif typeface with a slight deco/techno essence to it. Clean letterforms, a generous x-height for a friendlier feel and easily legible typestyle. Perfect for both display titling as well as body copy.</p>```

That's a snippet of HTML. But magic.from_file(f, mime=True) returns "text/plain"

[2016-07-06 02:04] felipesanches commented on #220
Also, magic.from_file(f) returns "ASCII text, with no line terminators"

[2016-07-06 02:18] davelab6 commented on #220
magic won't help here because they are fragments. I suggest to simply grep for `<p>` as a basic check. Its possible lxml could quickly validate the fragment and if its bad just error and move on.

[2016-07-06 02:19] #571 closed

[2016-07-06 02:20] #570 closed

[2016-07-06 02:20] felipesanches commented on #220
ok, good!

[2016-07-06 02:20] #569 closed

[2016-07-06 02:21] davelab6 commented on #567
@simoncozens any news on this? :)

[2016-07-06 02:22] #548 closed

[2016-07-06 02:22] #542 closed

[2016-07-06 02:23] #403 closed

[2016-07-06 02:23] #402 closed

[2016-07-06 02:23] #400 closed

[2016-07-06 02:24] felipesanches commented on #220
What about the requirement that "DESCRIPTION.en_us.html must have size larger than 500 bytes" ?

Should we keep this check? Does it make sense?

[2016-07-06 02:25] felipesanches commented on #220
The rationale is that it must provide a longer/richer description?

[2016-07-06 02:25] davelab6 commented on #396
@felipesanches why is https://github.com/googlefonts/fontbakery/blob/master/fontbakery-check-ttf.py#L1397-L1413 better than what Behdad posted 2 years ago?

[2016-07-06 02:26] #357 closed

[2016-07-06 02:26] felipesanches commented on #220
Aclonica's description (that I pasted a few messages ago) has got 245 bytes...

[2016-07-06 02:30] davelab6 commented on #220
OK, the min can be 200 bytes; there should also be a max of 1000 bytes.

[2016-07-06 02:39] #220 closed

[2016-07-06 02:44] #354 closed

[2016-07-06 02:48] davelab6 commented on #344
@felipesanches The current check ttf script can check the TTF for hinting filesize differences by running `ttfautohint --dehint infile.ttf outfile.ttf` and then comparing the filesizes; if there is a difference, it can report outfile as before and infile as after similar to this:

|  | Font-Regular.ttf | Font-Bold.ttf |
|----------|----------|----------|
| Before   | 123,456 | 123,976 |
| After

[2016-07-06 02:48] #292 closed

[2016-07-06 02:48] davelab6 commented on #292
EPAR is dead

[2016-07-06 02:48] #269 closed

[2016-07-06 02:54] davelab6 commented on #229
The only useful table in this page is about the Vendor IDs which look like they are registered to someone else:

| Used Vendor ID | Vendor ID registered to|
|----|----|
| 1ASC | Ascender |
| ADBE | Adobe |
| BROS | Michael Brosnan |
| FA | FontArte Type Foundry |
| FAT | Fatype |
| KORK | Khork OÜ |
| MYFO | MyFonts.com |
| TYPO | Typodermic |
| TYRE | typerepublic |
| URW | URW++ |

We already ha

[2016-07-06 02:59] davelab6 commented on #229
Actually I realise that there isn't a standalone tool that prints the vendorID value, so I request @felipesanches to make a simple `fontbakery-fix-vendorid.py` that just prints the vendorID and the filename, eg;

[code]

[2016-07-06 03:09] davelab6 commented on #594
@felipesanches I think the next step is to run pyfontaine via its command line interface, since it seems the internal python API is not stable/reliable; that will also make it easier for me to make PRs changing what it checks myself.

Here is a pass - no 'Missing' appears in the text:

[code]

Here are some warnings, with 'partial' support:

[code]

If `Support level: full` isn't in the output the

[2016-07-06 12:54] felipesanches commented on #396
I'll take a look at this.

@davelab6 As a side-note, please try to use commit-specific URLs when referencing snippets of code like this one:
https://github.com/googlefonts/fontbakery/blob/e83e9a9ada2f549852bb309dda67b917d52726b7/fontbakery-check-ttf.py#L1397-L1413

URLs with line ranges referencing the master branch (as the one on your previous message) are problematic because, as time goes by, co

[2016-07-06 13:00] davelab6 commented on #396
Ah yes, good point. I will try :)

[2016-07-06 15:17] felipesanches commented on #396
@davelab6 @behdad The forum post suggested not only adding a DSIG table but also attaching a dummy signature to it. It is not clear to me it an empty (zero-signature) DSIG table would be enough to make OpenType Features work in MSOffice2010, so for now I think it is better to keep the dummy signature in the hotfix routine. It seems harmless, even though it is clearly a hack to bypass Microsoft's d

[2016-07-06 17:45] felipesanches commented on #344
implemented at c81349bf5783f60cdda293e54474b320ae92e8c1

[2016-07-06 17:45] #344 closed

[2016-07-06 22:05] #229 closed

[2016-07-06 22:16] #396 closed

[2016-07-06 22:17] davelab6 commented on #396
Okay, sounds good

[2016-07-06 22:19] davelab6 commented on #229
Thanks!

[2016-07-06 22:26] #480 closed

[2016-07-06 22:27] davelab6 commented on #480
I think we are good on this

[2016-07-06 22:30] davelab6 commented on #494
@felipesanches please port this namecheck tool into a single file program similar to other recent simple single file tools, `fontbakery-check-family-name.py`

[2016-07-06 22:31] davelab6 commented on #608
@felipesanches this should be part of the main ttf checker tool

[2016-07-06 22:37] davelab6 commented on #621
@felipesanches the current [travis.yml](https://github.com/googlefonts/fontbakery/blob/84a6e22c8dbb396240bc9895945752f4402aa835/.travis.yml) appears not to use a PPA or install OTS, and therefore is not checking the test font with OTS, which is bad.

The PPA is now old (2014-10-17) and I think the best thing is avoid PPAs and get the travis file set up to compile OTS from Github each time. You can

[2016-07-06 22:38] davelab6 commented on #396
Not sure what happned with the potential to require signing; I believe it was dropped.

[2016-07-06 22:45] #656 closed

[2016-07-06 22:47] davelab6 commented on #690
With the new single file script, the travis file seems pretty simple and the elapsed time of the last travis build was 71 seconds, which I think is fine, so closing this.

[2016-07-06 22:47] #690 closed

[2016-07-06 22:48] davelab6 commented on #797
Closing as a duplicate of #545

[2016-07-06 22:48] #797 closed

[2016-07-06 22:51] #561 closed

[2016-07-06 22:51] davelab6 commented on #561
No longer building

[2016-07-06 22:51] davelab6 commented on #425
No longer building

[2016-07-06 22:51] #425 closed

[2016-07-06 22:54] davelab6 commented on #727
I'll review this

[2016-07-06 22:55] davelab6 commented on #227
EPAR is dead

[2016-07-06 22:55] #227 closed

[2016-07-06 22:56] davelab6 commented on #650
I want to test OTFs as well as TTFs, so this is still an open issue

[2016-07-06 22:58] davelab6 commented on #482
@n8willis the current single-file design means it should now be simple to get it going on Jenkins or other systems

[2016-07-06 22:58] #482 closed

[2016-07-06 23:00] davelab6 commented on #288
There are now more font diffing tools; https://typeresources.github.io/glyph-gazer/ and https://github.com/googlei18n/fontdiff and perhaps more.

[2016-07-06 23:01] davelab6 commented on #288
Closing as duplicate of https://github.com/googlefonts/fontbakery/issues/238

[2016-07-06 23:01] #288 closed

[2016-07-06 23:02] davelab6 commented on #238
If https://github.com/yemutex/tiff/issues/2 is closed, potentially embed tiff :) There are now more font diffing tools; https://typeresources.github.io/glyph-gazer/ and https://github.com/googlei18n/fontdiff and perhaps more.

[2016-07-06 23:02] davelab6 commented on #810
Closing as duplicate of #684

[2016-07-06 23:02] #810 closed

[2016-07-06 23:03] davelab6 commented on #684
@impallari what is the code for calculating http://www.impallari.com/tools/darkness/index.php ?

[2016-07-06 23:05] #251 closed

[2016-07-07 01:22] khaledhosny opened #818 "When missing EPAR table, just emit INFO alert"
No idea what is `EPAR` table is (not a standard table AFAICT) and why my fonts should have it.

[2016-07-07 01:23] khaledhosny opened #819 "Do not do any glyph name checks for version 3 post table"
If the font has version 3 `post` table then any further checks for glyph names are pointless because you are really checking names generated by FontTools (or whatever else) that are not actually present in the font.

[2016-07-07 01:24] khaledhosny opened #820 "Check for glyph names are confused by multiply encoded glyphs"
In https://github.com/khaledhosny/reem-kufi master I get:
[code]

(which should be skipped anyway, see #819) but that glyph is used for both space and NBSP (`cmap` entries for both characters map to the same glyph) which is a common practice.

The code should detect such multiple mappings and accept the glyph name if it is good for one of them, or just give up since the name is bound to be “wrong”

[2016-07-07 01:28] davelab6 commented on #818
See https://davelab6.github.io/epar/

Perhaps @dberlow can make the case.

It is/was a way of expressing common licensing permissions and restrictions in metadata; while almost nothing supported it, I wonder that adding it to everything in GF could help make it more popular.

[2016-07-07 01:31] davelab6 commented on #819
Thanks for reporting this! I hope @felipesanches can move on this in the next couple of days

[2016-07-07 01:32] davelab6 commented on #820
Thanks for reporting! I agree. @felipesanches please update it to detect such multiple mappings and accept the glyph name if it is good for one of them

[2016-07-07 01:35] khaledhosny commented on #818
I see, but even fonttools does not support it. I think an ERROR is just too strong.

[2016-07-07 01:45] khaledhosny opened #821 "Version string check does not accept major version 0"
[code]

Looking into the code, I think it is because the major version is 0. If this is intentional then the message needs to be clarified.

[2016-07-07 01:46] khaledhosny opened #822 "Add option to skip checks specific to github.com/google/fonts"
I get two errors related to missing `METADATA.pb` file, do I really need to include one in my repos?

[2016-07-07 01:48] davelab6 commented on #822
You don't need to include it in your repo, but I need to include it in the github.com/google/fonts repo, and the tool's purpose is to check things are ready for that.

[2016-07-07 01:48] davelab6 commented on #821
I agree

[2016-07-07 01:50] khaledhosny commented on #822
An option to skip checks specific to github.com/google/fonts would be nice. I’d like to eventually have zero errors, so I can integrate it in my build scripts.

[2016-07-07 01:52] davelab6 commented on #822
Yep, I agree

[2016-07-07 01:53] davelab6 commented on #818
I agree. I update this issue to be actionable

[2016-07-07 02:30] dberlow commented on #818
Dave and Khaled,

I agree it is rather strong of the Fontbakery to require epar.

To correct Dave's memory, Epar is a way of expressing electronic permissions and recommendations. There are no "restrictions" in epar.

For Google, permissions would be a dull place, compared to commercial, fonts, but

For Google, recommendations would be a hoppin' place, with all kinds of per style data that could b

[2016-07-07 02:39] #821 closed

[2016-07-07 03:01] khaledhosny opened #824 "Check results contain binary data"
[code]

Looks like UCS-2 data escaped into the output, but should be encoded as UTF-8 before writing it out. This causes Gedit to misinterpret the file encoding:
![2016-07-07 04-59-43](https://cloud.githubusercontent.com/assets/93914/16641311/0ba5e7ec-4408-11e6-8afe-d8baddad91b9.png)

[2016-07-07 03:20] davelab6 commented on #824
@khaledhosny which file produced this?

I wonder that python3 would handle this better by default...

[2016-07-07 03:28] davelab6 commented on #818
Thanks for correcting me on this :) Its how I remember hearing about it for the first time, I guess...

- https://sourceforge.net/p/fontforge/mailman/message/6164525/

But I agree that Recommendations are great; perhaps we can distinguish between EPAR and EEULAA  :)

[2016-07-07 03:39] khaledhosny commented on #824
I tested with Reem Kufi and Mada.

[2016-07-07 03:42] khaledhosny commented on #824
I think FontTools handles decoding name entries transparently now, so the code needs to just stop manually decoding it.

[2016-07-07 04:03] davelab6 commented on #824
That sounds like great news! :)

@felipesanches the repos are here

https://github.com/khaledhosny/mada
https://github.com/khaledhosny/reem-kufi

[2016-07-07 04:17] davelab6 commented on #681
@felipesanches Okay, after reviewing https://github.com/felipesanches/BevanFont/blob/8d12a34057f947468575250d3f40f3d3ece61d46/1.0/fontbakery_check_results.md I think all the `fb.error()` methods need to telling people what to change in order to fix the problem in their source files.

Where we have an autofix, this should be easy for you to write.

Where we don't, or you're not sure, make a FIXMEDC

[2016-07-07 04:18] davelab6 commented on #445
@HinTak thanks for the tip about this :) The command line is still the same, it seems.

[2016-07-07 04:25] davelab6 commented on #445
@felipesanches I updated the tasks at the top

[2016-07-07 08:48] dberlow commented on #818
Sadly, because of the DRM knee jerk society, and since the initial failure to describe epar as Anything else...  It has been better to selfishly benefit from it on our own, then to continually explain its benefits to others, all far more needy than us.

Good luck!

Sent from my iPad

[2016-07-07 19:57] felipesanches commented on #545
I'm bashing my head against this one and I can't really make sense out of it.
The examples in the previous comments are somewhat outdated and there's no clarity on what really needs to be done here.

I'm closing this one for good and I suggest a new issue be opened with a clear description of the problem and of the desired behaviour of the checker/fixer for the NAME table.

[2016-07-07 19:58] davelab6 commented on #545
The *_n_a_m_e*ttx files in https://github.com/davelab6/glyphs-export/tree/master/Separate/TTF/TTX can be used as reference for this in name IDs 1, 2, 4, 6, 16, 17, 18

[2016-07-07 20:01] felipesanches commented on #545
This does not seem to be enough information for me to understand your request.

[2016-07-07 20:03] felipesanches commented on #545
Does it mean that only the nameid entries that we see in https://github.com/davelab6/glyphs-export/tree/master/Separate/TTF/TTX should be in fonts tested by fontbakery?

[2016-07-07 20:04] davelab6 commented on #545
Yes, and fonts that do not follow the family/style pattern in those files should be error'd

[2016-07-07 20:05] felipesanches commented on #545
ok. That's a bit more clear now, I think. I'll ask here if I have any further questions.

[2016-07-07 20:28] felipesanches opened #826 "ttf => fix replacement rule should only replace the filename suffix"
[code]

[2016-07-07 20:36] #826 closed

[2016-07-07 21:00] felipesanches opened #827 "implement check "Assure theres no 'description' namerecord""

[2016-07-07 21:01] #827 closed

[2016-07-07 21:02] felipesanches opened #828 "implement "Check license and license URL entries""
There's some code from the old codebase that is commented out and that can be ported.

[2016-07-07 21:13] felipesanches commented on #545
While reviewing all checks that alter the name table entries, I did implement one (that was requested as a "TODO: URGENT" comment in the source code). It was commited at https://github.com/googlefonts/fontbakery/commit/ac0f8d0ecfbd2df64803eefb71cee7086f5a3822 and is called "Assure theres no 'description' namerecord".

But then I found this other one which seems **almost** equivalent:

[code]

What

[2016-07-07 21:28] davelab6 commented on #545
I think https://github.com/googlefonts/fontbakery/pull/829 sorts this out. Its not that there should be no descriptions, but they shouldn't be very long. I think 100 chars is good.

[2016-07-07 21:35] felipesanches commented on #545
thanks

[2016-07-07 22:30] felipesanches commented on #781
At c70df187719ca8984b79b536d3e0f4867ac286eb I implemented support for OS/2 tables with version >=3. Should we support older versions of the table as well? We may simply skip the test in these cases, or we can error if version <3 or we can implement the check for the old tables. @davelab6 Which you prefer?

[2016-07-07 22:30] felipesanches commented on #781
fyi: current implementation simply skips the check with a warning if table version < 3

[2016-07-08 04:14] davelab6 commented on #828
I am surprised that there is unported code remaining. How many lines of unported code are there?

[2016-07-08 04:54] davelab6 opened #830 "Ensure every tool has the same argparse arguments for the same things."
https://github.com/googlefonts/fontbakery/blame/9518c59f85031f4904d5b0552730c59e711ac399/BRIEF.md#L24 says that all fontbakery tools will work in a similar/uniform way.

Concretely this means that every tool must have the same argparse arguments for the same things.

That is currently not the case.

For example, currently these 2 have `font` and `ttf_font`, and one has a help text and the other do

[2016-07-08 04:54] davelab6 commented on #830
Why is shell redirection insufficient for this?

[2016-07-08 05:00] davelab6 opened #831 "Use the Microsoft validation tools if they are available"
Microsoft offers a libre font validation tool, and per https://github.com/Microsoft/Font-Validator/network it seems the most advanced version today is https://github.com/schriftgestalt/Font-Validator/

We should wrap this, similar to OTS and https://github.com/googlefonts/fontbakery/issues/445
- [x] find out what the MSFontVal command line interface is like - if it exists, how to configure which o

[2016-07-08 05:14] davelab6 opened #833 "In log output, what filename a problem is occurring in must be clear"
In log output, what filename a problem is occurring in must be clear

[2016-07-08 05:28] davelab6 opened #834 "Adjust brief to say fontbakery-check-ttf.py combines 3 checks (files, sets of files, and families)"
I think the BRIEF set out having 1 tool that takes as input individual TTF files (section 2.1)

And then section 2.2 sets out a tools that checks a set of TTF files.

And 2.5 sets out another tool that takes as input a directory, that contains TTF files + METADATA.pb file + DESCRIPTION file, and ensures they all align.

I think you need to split up https://github.com/googlefonts/fontbakery/blob/ma

[2016-07-08 05:31] davelab6 opened #835 "Evaluate names of all tools and perhaps rename them to be more intuitive"
Following #830, I will evaluate the names of all tools and perhaps rename them to be more intuitive.

[2016-07-08 05:32] davelab6 commented on #681
Offline Felipe said,

I agree

[2016-07-08 05:38] davelab6 commented on #781
Yes. Please implement the checks as described in https://gist.github.com/jtanx/7715851

[2016-07-08 11:23] davelab6 commented on #608
We also need to check anything with a width matches space

[2016-07-08 16:18] #781 closed

[2016-07-08 17:15] felipesanches commented on #555
Did you ou Georg figure out what's causing that?

It is not clear to me exactly which conditions should be met to pass this test.

[2016-07-08 19:59] davelab6 commented on #555
Okay, assigning to me to make this clear.

[2016-07-08 20:11] felipesanches commented on #754
I'm using the parsing stage of glyphsLib (because it would be pointless for me to write my own parser).
While loading an Inknut-Antiqua glyphs file, I found a bug in glyphsLib and reported it here:
https://github.com/googlei18n/glyphsLib/issues/55

While we don't get the upstream bug fixed, I'm simply altering the Inknut-Antiqua glyphs file to get rid of the data that triggers the bug, so that I c

[2016-07-08 20:50] felipesanches commented on #445
A major problem with this one is that I can't run the tool on my development computer. I may blindly code it (based on the expected output as described above) and ask for you to test and provide feedback, @davelab6

[2016-07-08 20:52] felipesanches commented on #754
I'm sticking to python2 for now, due to glyphsLib not supporting python3.

[2016-07-08 20:58] davelab6 commented on #445
yes please :)

[2016-07-08 21:17] HinTak commented on #831
Argh, I am slightly offended that you said the most advanced version today is schriftgestalt's. While he has one major extra, the Mac OS X wrapper, and it is a very good thing, the most advanced branch is https://github.com/HinTak/Font-Validator/tree/embedding-ironpython , I think, functionality-wise...

[2016-07-08 21:18] HinTak commented on #831
or https://github.com/HinTak/Font-Validator/tree/hybrid+empy.2016-05-06 if you do not mind being slightly non-free...

[2016-07-08 21:21] HinTak commented on #831
I wasn't too sure I want to merge the embedded python interpreter by default, but it is required for testing the details of the newly implemented rasterization test.

[2016-07-08 21:23] HinTak commented on #831
The documementation for the command line interface (the message you get if you just type the command line blank):

https://github.com/HinTak/Font-Validator/blob/hybrid%2Bempy.2016-05-06/FontValidator/CmdLineInterface.cs#L200

[2016-07-08 21:27] davelab6 commented on #831
I apologies - that's what I inferred from the network graph, nothing more :)

Okay great, but does this make sense on a CLI GNU+Linux container environment?

[2016-07-08 21:30] davelab6 commented on #831
Looks like this is the command we want:

    FontValidator -file font.ttf -all-tables -report-stdout

[2016-07-08 21:40] HinTak commented on #831
The rasterization test itself contains about a dozen parameters. From
https://github.com/HinTak/Font-Validator/blob/hybrid%2Bempy.2016-05-06/bin/scripting-examples/rast_parameters.py#L32
to
https://github.com/HinTak/Font-Validator/blob/hybrid%2Bempy.2016-05-06/bin/scripting-examples/rast_parameters.py#L64

You do not need the embedded python interpreter if you do not need to deviate from the defau

[2016-07-08 21:41] felipesanches commented on #831
There's not such thing. It either is non-free or it ain't ;-)

[2016-07-08 21:42] HinTak commented on #831
But yeah, it makes more sense to have it when one needs bulk testing...

[2016-07-08 21:52] HinTak commented on #831
I know of one person who prefers "non-free now" vs "free later" :) ( https://github.com/HinTak/Font-Validator/issues/14#issuecomment-217437398 ).

The embedded python interface is for testing like say, I want to just test for sub-pixel hinting at size 10 for every font in my hard disk (vs all three BW/Grey/ClearType modes + about 70 sizes, from size 4-72 + a few larger sizes, which are the default

[2016-07-08 21:57] felipesanches commented on #754
OK.. I did sketch an initial draft for the fontbakery-fix-glyphs.py script, but as the priority of this bug has been droped to "P4 someday maybe" I'll leave it for improving later.

Next improvements needed are:
- [ ] print the fields from instances
- [ ] validate all fields to warn the user if they're bad

[2016-07-09 00:10] HinTak commented on #831
Actually, if you have the CPU power to burn, I would suggest that you run the non-free MSFontVal variant on any freely available fonts (i.e. google's, but the whole /usr/share/fonts on a typical Linux box would do *very* well for me!) and send me the collection of reports afterwards. See my request earlier:

http://typedrawers.com/discussion/1658/old-ms-fontval-reports-to-spare-or-computer-time-to

[2016-07-11 19:29] felipesanches commented on #555
This is currently the highest priority task for milestone 0.1.0 (https://github.com/googlefonts/fontbakery/milestone/50) but I'll only be able to deal with it once I get some feedback from @davelab6 or @schriftgestalt to make it clear.

[2016-07-11 19:32] davelab6 commented on #555
Name is most important

[2016-07-11 19:35] felipesanches commented on #727
Recently I added the --ghm command line option that generates a full report in GitHub Markdown.

[2016-07-11 19:35] #727 closed

[2016-07-11 19:47] felipesanches commented on #790
This will be my next task after working on the Name Table checks (545). I need some feedback here.

[2016-07-11 20:36] felipesanches commented on #545
One of the reasons why this is sort of hard to tackle is the fact that we currently have tons of checks related to the name table entries. I feel that maybe these can be somewhat redundant perhaps.

In order to keep track of what's going on, these are all the current checks that deal with name table entries (line numbers refer to current master as of commit a583ec6d1d768e2ebb5e93e7bf9622e009ab49aa

[2016-07-11 20:37] felipesanches commented on #545
@davelab6 Would you like to separate these name-table checks to a standalone python script so that it's easier to read? I'd call it fontbakery-check-name-entries.py or something like that.

[2016-07-11 20:40] davelab6 commented on #545
A separate file doesn't effect readability. Please make a new section of
the main checker that runs before any of these.

[2016-07-11 20:42] felipesanches commented on #545
I think you mean a section of the checker that runs all of these, right?

[2016-07-11 20:50] davelab6 commented on #545
Ignore the previous checks.

[2016-07-11 21:05] felipesanches commented on #545
ok. So the immediate next step here is:

To implement a new checker that runs before any of the other name table related ones.
Each entry in the name table has a criteria for validity and the new checker must test if all entries in the name table are in conformance with that, right?
And this applies only to name IDs 1, 2, 4, 6, 16, 17, 18

[2016-07-11 21:11] davelab6 commented on #545
Right

[2016-07-11 23:27] felipesanches commented on #545
I've compiled a set of rules that each name entry must obey according to the references @davelab6 posted here.

Please confirm if that's the way this should be tested.

NAMEID_FONT_FAMILY_NAME:
- must contain at least 1 space character (separating a couple words or more words)
- each word must begin in an uppercase character
- example: "Family Sans"

NAMEID_FONT_SUBFAMILY_NAME:
- Must be an empty

[2016-07-11 23:28] felipesanches commented on #545
Also a few questions:
- FamilySansExtraBold lacks an NAMEID_COMPATIBLE_FULL_MACONLY entry. Is that OK?
- This ExtraBold font has a "Regular" string in one of its NAMEID_FONT_SUBFAMILY_NAME entries... This confused me a bit:
https://github.com/davelab6/glyphs-export/blob/fdd7eb657455a97f9f2827a2804d0030299e467b/Separate/TTF/TTX/FamilySans-ExtraBold._n_a_m_e.ttx#L54 Is that OK?

[2016-07-11 23:38] felipesanches commented on #545
Also there's something weird about nameID="4", since it differs among platforms:

* "Family Sans ExtraBold" on platformID="1"
* "FamilySans-ExtraBold" on platformID="3"

Is this correct? Should we have platform-specific rules for these entries?

[2016-07-12 00:22] khaledhosny commented on #545
The MS platform convention for name id 4 has been dropped from the latest OpenType spec (and it was for OpenType-CFF fonts only IIRC) so there should be no difference in new fonts.

[2016-07-12 02:51] felipesanches commented on #545
This PR has got an implementation of the checker: https://github.com/googlefonts/fontbakery/pull/836

I'm not sure if this is the correct implementation, but it is based on my understanding of the issue as described at https://github.com/googlefonts/fontbakery/issues/545#issuecomment-231895475

@davelab6 please review that comment (and perhaps also the code if you wish).

[2016-07-12 02:56] davelab6 commented on #545
The sample files are from @schriftgestalt 's default export, which seem to offer the widest compatibility with software that people use, so even if its technically valid and working okay for all current releases, I think we should make fonts work as widely as possible and thus conform to old spec restrictions.

[2016-07-12 03:12] davelab6 commented on #545
Great!

OK :)

My main advice is do not be clever with concatention and so on. There are only 18 possible cases. The filename is the source of truth about which case to check against. I think you have to discard all the code you wrote in e33fcbe722b94bf6f8db5f0a98f2bb7d97b07204 and take another approach that is much more simple, taking only the file name as input to construct the expected strings,

[2016-07-12 03:46] khaledhosny commented on #545
I highly doubt that there is any software that relies on the old name id 4 restriction, plenty of fonts don’t do this (FontForge never did as well) and it was just there as a historical artefact. If it really mattered to Windows it would have not been just dropped from the spec, the whole name table structure is a legacy mess anyway.

[2016-07-12 03:50] davelab6 commented on #545
I hope @schriftgestalt can explain why Glyphs does it this way

[2016-07-12 21:30] davelab6 opened #838 "Adopt Google Python Style"
At some point we should update the codebase to https://google.github.io/styleguide/pyguide.html - starting with the things that don't conflict with pep8

----
Update authored by @felipesanches on 2017 March 17:

This is the list of pylint errors/warnings that I will not fix:
* invalid-name '''Reason''': it dislikes short-names like '''f''', '''font''', etc that we use extensively throughout the co

[2016-07-13 00:18] felipesanches commented on #545
https://github.com/davelab6/glyphs-export/blob/fdd7eb657455a97f9f2827a2804d0030299e467b/Separate/TTF/TTX/FamilySans-BlackItalic._n_a_m_e.ttx lacks a nameId="18"

@davelab6 Per https://github.com/googlefonts/fontbakery/issues/545#issuecomment-231926359 (specifically where you say "There's also nameID=18 for PID=1" and "must be included for PID=1") is this to be considered an issue with that font fi

[2016-07-13 00:22] felipesanches commented on #545
actually... I just verified that none of the TTX files at your glyphs-export repo hane a name entry with nameid=18

[2016-07-13 00:38] davelab6 commented on #545
So did I :) Sorry, I misremembered :) Forget that comment :)

[2016-07-13 00:41] felipesanches commented on #545
alright. Can I merge the pull request and close this issue then?

[2016-07-13 19:22] felipesanches commented on #545
implementation merged into master!

[2016-07-13 23:05] felipesanches commented on #445
plan for this:

- [ ] simple boilerplate for the test (commited at 9d4441927006a652459669725767c99625e6e647)
- [ ] warn if tool is not available
- [ ] print tool output (basic check implementation)
- [ ] add a new script to let the user select a known good font to use as output reference
- [ ] make this script save to a $HOMEDIR/.fontbakery/ftxvalidator_pass.xml file
- [ ] make the main test check

[2016-07-13 23:15] davelab6 commented on #445
The known good XML is  short and doesn't change. By using an external file
we complicate the tool. Please keep it simple and online the XML as a
string.
On Jul 13, 2016 7:06 PM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2016-07-13 23:16] felipesanches commented on #445
alright! Sounds Good. May break in the future when Apple perform some change on their ftxvalidator tool. But I'm OK to letting this to be dealt in the future whenever (and if) it happens at all.

[2016-07-13 23:19] felipesanches commented on #445
@davelab6 Can you please provide the reference XML output for a known good font?
I'm unable to run the non-free tool myself.

[2016-07-13 23:26] davelab6 commented on #445
I did above on the top of the issue

[2016-07-14 09:12] HinTak commented on #445
"known good font" is a tricky thing :-) - only about 2/3 of the Apple shipped fonts pass microsoft's font test.

Besides, I think you want to cater for "interesting reports". Being able to processing reports of perfect fonts (for a value of "perfect"...) is nice, but the task is quite pointless if you fail to process the "interesting" reports about buggy fonts...

For that, I think you actually wa

[2016-07-14 09:16] HinTak commented on #445
A font that is sufficiently broken to generate an interesting report, but not so broken that the tool just gives up and refuses to process.

[2016-07-14 16:56] khaledhosny opened #840 "Semibold or SemiBold?"
Adobe (at least in the Source super family) uses Semibold and so did I in Mada (to make using Source Sans Pro simpler), but fontbakery aborts when it detects such file name. I’d rather not rename the font and keep my like simpler.

Also, isn’t aborting on non-canonical file name a bit too much?

[2016-07-14 19:19] davelab6 commented on #840
Nope! Sadly the OS X HFS+ file system is not case sensitive, but the Fonts API is, and that's a hard requirement.

[2016-07-14 19:19] #840 closed

[2016-07-14 20:21] khaledhosny opened #841 "Version name string should not be required to have a semicolon"
For some reason fontbakery thinks that `Version 1.002` is incorrect and has to be `Version 1.002;`, but I don’t see why since this semicolon is only needed if you have extra stuff after the version (like AFDKO does).

[2016-07-17 22:15] khaledhosny opened #842 "Fixes should be reported by default"
Currently some issues are fixed silently by default, unless verbose is specified. But since these are considered errors they should be reported so the designer can fix them if needed. Verbose is too verbose and one might miss some errors.

[2016-07-17 23:04] khaledhosny opened #843 "PLACEHOLDER_LICENSING_TEXT is missing a colon"
Fontbakery wants the text to be:
[code]
But I think it should be:
[code]
(Notice the colon after `at`).

[2016-07-17 23:55] khaledhosny opened #844 "GPOS kerning check does not handle extension lookups"
With https://github.com/khaledhosny/mada, I get:
[code]
But the font includes pair positioning lookups, I think that is because it is failing to account for extension lookups in https://github.com/googlefonts/fontbakery/blob/master/fontbakery-check-ttf.py#L1976.

[2016-07-18 01:18] davelab6 commented on #843
I suspect you are right. It should be whatever the majority of existing
ttfs in google/fonts use.

[2016-07-18 01:21] davelab6 commented on #842
Agree

All the fixes should be disabled by default and only be enabled if the
autofix arg is passed.
On Jul 17, 2016 6:15 PM, "Khaled Hosny" <notifications@github.com> wrote:

[2016-07-18 01:37] khaledhosny commented on #843
Of fonts at google/fonts that use similar format, 922 files have a colon after `at` and 52 don’t.

[2016-07-18 14:15] felipesanches commented on #843
Does it also apply to the apache licensing text?

[2016-07-18 14:22] felipesanches commented on #843
@khaledhosny Can you please verify if the apache licensing text also needs to have the missing colon? I also wonder about the missing "http://" in the apache text. Which is the most common wording for the Apache license ?

[2016-07-18 16:15] davelab6 commented on #843
Ttx -t name fonts/apace/*/*ttf

And grep
On Jul 18, 2016 10:22 AM, "Felipe Corrêa da Silva Sanches" <
notifications@github.com> wrote:

[2016-07-18 18:22] khaledhosny commented on #843
Most Apache-licensed fonts on google/fonts just say `Licensed under the Apache License, Version 2.0`, but the few that provide a URL has a colon.

[2016-07-18 22:33] felipesanches commented on #445
assigned @davelab6 since I'm waiting feedback on whether or not the test changes implemented at https://github.com/felipesanches/fontbakery/commit/0327b1bb0c1675a6932d7009f655383b91122fe9 work well or if I still need to tweak it somehow.

[2016-07-18 22:52] felipesanches commented on #590
this has been fixed a while ago. We nowadays say: "No license file was found. Please add an OFL.txt or a LICENSE.txt file."

[2016-07-18 22:52] #590 closed

[2016-07-19 01:51] felipesanches commented on #820
@khaledhosny I'm assigning this to you because I was not able to build your reem-kufi TTFs from source for checking (see https://github.com/khaledhosny/reem-kufi/issues/7). Can you help me validate that the pull request at https://github.com/googlefonts/fontbakery/pull/847 fixes the issue ?

[2016-07-19 04:10] khaledhosny commented on #820
You can use the TTFs from https://github.com/khaledhosny/mada/releases/tag/v1.2 as well.

[2016-07-19 04:16] khaledhosny commented on #820
I still get the same error even with #847 applied.

[2016-07-20 03:22] #819 closed

[2016-07-20 20:25] #824 closed

[2016-07-20 21:33] #635 closed

[2016-07-20 23:21] #372 closed

[2016-07-21 03:23] #822 closed

[2016-07-21 03:29] felipesanches commented on #822
@khaledhosny you now can avoid gfont-specific checks. Please let me know if there's any other error in your fonts that may be an issue in FontBakery :-)

I'll be happy to see FontBakery being used as part of larger toolsets, such as by integrating it into your build scripts.

[2016-07-21 12:04] khaledhosny opened #853 "Full name for regular style should not require including “Regular”"
With Mada-Regular.ttf I get:
[code]

But the spec says:

[2016-07-21 12:20] khaledhosny commented on #822
I still get this error with `-s`:
[code]

[2016-07-21 12:20] davelab6 commented on #853
Mac and windows  sections are different  and the error  doesn't make  this
clear enough
On Jul 21, 2016 8:04 AM, "Khaled Hosny" <notifications@github.com> wrote:

[2016-07-21 12:28] khaledhosny commented on #853
The spec mentions no difference (it used to, but that was dropped years ago).

[2016-07-21 12:43] davelab6 commented on #853
For maximum utility Glyphs and I want to use the old style

[2016-07-21 12:54] khaledhosny commented on #853
What applications/OS requires this, and what functionality will be lost?

[2016-07-21 14:18] khaledhosny commented on #853
Anyway, you need to convince ufo2ft to do this, because UFO does not allow storing per-platform names. And FontForge as well.

[2016-07-21 14:31] khaledhosny opened #854 "Font family name does not begin with full font name"
With Mada-Bold.ttf I get:
[code]

I’m not sure what to do with this, but the family name can’t start with ‘Mada Bold’.

[2016-07-21 14:41] khaledhosny opened #855 "Rounding issue with calculating OS/2.xAvgCharWidth"
For Mada-Light.ttf, the sum of the widths/number of glyphs is 474.997 (174799/368), but fontbakery truncates it to 474 instead of rounding it to 475.

[2016-07-21 22:03] #833 closed

[2016-07-22 00:03] felipesanches opened #857 "de-duplicate log-message: "Check copyright namerecords match license file""
[code]

[2016-07-22 00:07] #828 closed

[2016-07-22 00:57] #645 closed

[2016-07-26 15:45] alexeiva opened #860 "fb-check-ttf.py: Test for each dependency at the start of the script"
Did a fresh install on OS X 10.11.5, and I get this error.
I am missing something?

[code]

[2016-07-26 16:01] anthrotype commented on #860
Hey Alexey!
try `brew install ttfautohint`

[2016-07-26 16:19] davelab6 commented on #860
@felipesanches I thought we had checks at the very start of the script that tested for the presence of all dependencies, but now all I see is

https://github.com/googlefonts/fontbakery/blob/ced628d4af8b7db22f9bc348efd46721fddaeedb/fontbakery-check-ttf.py#L33-L36

[2016-07-26 16:20] davelab6 commented on #681
I think it makes more sense for me to tackle this, so I'm going to assign it to me. @felipesanches please address the other issues :)

[2016-07-26 16:53] davelab6 commented on #834
On reflection, I think this is not very important, I think the current tool is fine. I'll update the BRIEF to reflect the tool.

[2016-07-26 16:57] davelab6 commented on #618
Currently the unencoded glyphs check is disabled in the check-ttf.py script; using harfbuzz like this is a 2.0 feature so I've moved this issue to that milestone

[2016-07-26 16:58] davelab6 commented on #749
I moved this to a task within https://github.com/googlefonts/fontbakery/issues/618 and am now closing

[2016-07-26 16:58] #749 closed

[2016-07-26 17:05] davelab6 commented on #413
So, the next action on this is to unify the checks across the check-ttf.py script and the check-description.py script, and add an autofix method that reformats the description files as described at the top of this issue.

[2016-07-26 17:10] davelab6 commented on #564
I think at this point we should use fontmake, so closing.

[2016-07-26 17:10] #564 closed

[2016-07-26 17:11] davelab6 commented on #567
I think at this point we should use fontmake, so closing.

[2016-07-26 17:11] #567 closed

[2016-07-26 17:11] alexeiva commented on #860
@anthrotype
Hi Cosimo!

Thank you, that actually worked for me.

[2016-07-26 17:15] davelab6 commented on #224
Building is now out of scope, so closing.

[2016-07-26 17:15] #224 closed

[2016-07-26 17:26] davelab6 commented on #841
I agree, this test is incorrect. @felipesanches please fix :)

[2016-07-26 17:27] davelab6 commented on #843
@felipesanches how many fonts on google/fonts/apache say

`Licensed under the Apache License, Version 2.0`

and how many say,

`Licensed under the Apache License, Version 2.0: <URL>`

?

[2016-07-26 17:30] davelab6 commented on #844
(Its better to link to a specific commit's line number than the master's line number, because as the file changes, the link gets stale. I believe a good 'static' link to this code is https://github.com/googlefonts/fontbakery/blob/ced628d4af8b7db22f9bc348efd46721fddaeedb/fontbakery-check-ttf.py#L2037-L2038 :)

@felipesanches do you understand how to fix this? If no, we will need to postpone it.

[2016-07-26 17:34] davelab6 commented on #853
I'm happy to consider fontforge as obsolete and require its generated files to require hotfixing.

I agree that ufo2ft needs to support this, so I've filed an issue there.

[2016-07-26 17:34] davelab6 commented on #853
I wonder if @schriftgestalt can comment

[2016-07-26 17:37] anthrotype commented on #853
you mean of course UFO2

I don't see where the problem is. The spec says

This is perfectly fine, and we've done this since ever.

[2016-07-26 17:37] davelab6 commented on #853
Oh I have assumed that the script is coded correctly. Let me check that.

[2016-07-26 17:38] davelab6 commented on #853
Okay yes, I confirmed Glyphs is exporting fonts in this way:

https://github.com/davelab6/glyphs-export/blob/567128d220141b3333edbff6eafd46499c1decdf/fonts/ttf/FamilySans-Regular._n_a_m_e.ttx#L60

[2016-07-26 17:40] davelab6 commented on #853
@felipesanches this is not right; I expect it to say,

`[FULL_FONT_NAME:WINDOWS] entry: expected 'Mada-Regular' but got 'Mada'`

`Mada Regular` is not appropriate for name records with id 4, as you can see in https://github.com/davelab6/glyphs-export/blob/567128d220141b3333edbff6eafd46499c1decdf/fonts/ttf/FamilySans-Regular._n_a_m_e.ttx#L18

[2016-07-26 17:41] anthrotype commented on #853
That format looks like a PostScript name to me. The name ID 4 is "Full Name", it need not have any hyphen in it. The spec says it need to be "a combination of strings 1 and 2", and we have always simply concatenated the family and subfamily with a space (omitting Regular).

[2016-07-26 17:43] davelab6 commented on #853
The problem is that I (and @m4rc1e who is even more keen on this than me) wants the collection to be uniform, and since we are using glyphsapp as the reference compiler, I want fonts to confirm to its output.

cc @graphicore

[2016-07-26 17:51] anthrotype commented on #853
So basically you want ufo2ft to make nameID=4 ("Full Name") look the same as nameID=6 ("PostScript Name") but only on the Windows platform?

@khaledhosny you said the spec used to mention this? Have you got a link for that?

[2016-07-26 17:58] davelab6 commented on #853
I want it to match what Glyphs does.

[2016-07-26 17:58] khaledhosny commented on #853
Oh, I forgot about the support for them in UFO3. However, defcon does
not seem to support them, all I see is regular strings.

[2016-07-26 17:59] davelab6 commented on #854
This is definitely a bug. @felipesanches please investigate and fix.

[2016-07-26 18:00] davelab6 commented on #855
Sounds like a bug to me :) @felipesanches should be a few chars to fix XD

[2016-07-26 18:01] davelab6 commented on #857
I expect that is not a duplicate message, there are 2 name records and both are incorrect, but the log messages are not descriptive enough so it is confusing.

[2016-07-26 18:03] anthrotype commented on #853
you can set `openTypeNameRecords` in `fontinfo.plist`:
https://github.com/typesupply/defcon/blob/ufo3/Lib/defcon/objects/info.py#L139

then maybe you need to make this clear in the ufo2ft issue.

[2016-07-26 18:05] anthrotype commented on #853
@khaledhosny although ufo2ft currently does not read that key in fontinfo.plist (we shall open a separate issue/PR for that).

[2016-07-26 18:07] khaledhosny commented on #853
I can’t find any links to the old version on MS site, but the [change log](https://www.microsoft.com/typography/otspec/changes.htm) says name id 4 description was updated in version 1.9 in 2009, so here is a [link](https://web.archive.org/web/20080409142622/http://www.microsoft.com/typography/otspec/name.htm) from the wayback machine. Interestingly the exception is mentioned is for CFF fonts, so e

[2016-07-26 18:10] davelab6 commented on #853
No currently it is out of scope.

[2016-07-26 18:11] davelab6 commented on #853
Maybe the name table scheme that @schriftgestalt has devised is buggy?

[2016-07-26 18:15] khaledhosny commented on #853
Copying the old wording here:

An exception to the above definition of Full font name is for Microsoft platform strings for CFF OpenType fonts: in this case, the Full font name string must be identical to the PostScript FontName in the CFF Name INDEX.

So the requirement was that CFF font name and name id 4 for MS platform be identical, so the check here is meaningless since there is no CFF table

[2016-07-26 18:39] schriftgestalt commented on #853
I had a look and it seem to be a mistake. It the windows style linking name is 'Regular', it would put the font name in name id 4 instead of the full name. I did that to overwrite makeOTF that would omit the 'Regular'. Now the Windows and Mac name id 4 will always have the 'Regular'.

[2016-07-26 18:46] anthrotype commented on #853
It is perfectly OK to omit the 'Regular' as the spec says.

[2016-07-26 18:53] schriftgestalt commented on #853
But I like the Regular. It gives a hole in some font menus. It is fine for four style families but with more members I find it odd if one entry in the list has a much shorter name.

[2016-07-26 18:54] davelab6 commented on #853
Aha! Thanks for checking on this, Georg.

[2016-07-26 18:57] davelab6 commented on #853
On Jul 26, 2016 2:46 PM, "Cosimo Lupo" <notifications@github.com> wrote:

I think it would be better to make the 2 sets of Mac/win records as similar
as possible

[2016-07-26 19:01] anthrotype commented on #853
as possible

Yeah, either both containing "Regular" or none. Exactly because it is just a preference, it could be left to the user to decide.

[2016-07-26 19:07] felipesanches commented on #855
thanks! It is really easy to fix. I'll add 0.5 before rounding (so that it rounds to the closest value intead of rounding to the largest possible integer below.

[2016-07-26 19:25] schriftgestalt commented on #853
Both have Regular now.

[2016-07-26 20:10] felipesanches opened #861 ""Poiret One" triggers bug in check "METADATA.pb font.style `normal` matches font internals?""
This was reported by user Alexei Vanyashin on the googlefonts-discuss@googlegroups.com mailing list today.

[2016-07-26 20:10] felipesanches commented on #861
[code]

[2016-07-26 20:20] #861 closed

[2016-07-26 20:36] #855 closed

[2016-07-26 21:23] #841 closed

[2016-07-26 22:56] davelab6 commented on #855
That seems like a hack to make truncation like rounding but ok

[2016-07-26 23:27] felipesanches commented on #853
I'm a bit confused about what should fontbakery be enforcind, then. @davelab6 Is the current implementation of the fontbakery check considered good and we can cose this issue or should I still change the implementation ?

[2016-07-26 23:42] #854 closed

[2016-07-26 23:50] felipesanches commented on #860
We don't do it on the top.
We do check at runtime, such as here (checking if ot-sanitize is available):

https://github.com/googlefonts/fontbakery/blob/b4691fb581d545749b4b955c096506d5e5c9b9cd/fontbakery-check-ttf.py#L1503-L1510

I'll use the same approach for the availability of ttfautohint

[2016-07-26 23:57] #860 closed

[2016-07-27 00:20] felipesanches commented on #844
With current fontbakery and with the TTF files downloaded from the Mada-1.2 release on GitHub, I actually get the other error message:

[code]

@khaledhosny Could you, please, point me to the place where I can download the TTF files that result in the "corrupted" error message?

[2016-07-27 00:36] felipesanches commented on #843
I found roughtly 300 fonts with `Licensed under the Apache License, Version 2.0` in google fonts github repo (by grepping their name tables extracted with ttx)

I found none with the colon and a URL.

[2016-07-27 00:49] davelab6 commented on #860
Since you closed this please confirm that all dependencies are now checked.

[2016-07-27 00:50] davelab6 commented on #843
Ok then I guess this is fine :)

[2016-07-27 00:50] #843 closed

[2016-07-27 00:51] davelab6 commented on #853
Yeah we need to change it to be like Glyphs. Eg, id4 is "Family Sans
Regular" for both platform ids

[2016-07-27 00:51] felipesanches commented on #843
I fixed the reference workding the check expects so that the hundreds of apache licensed fonts at the google fonts git repo will pass this check. This wording is, thus, our normative reference.

[2016-07-27 18:25] khaledhosny commented on #844
I don’t get the GPOS is corrupt error any more, but the error about kerning is still wrong since the has pair positioning lookup in a kern feature.

[2016-07-27 21:50] felipesanches commented on #844
lookup.LookupType values in the Mada-Bold.ttf font file are: 1, 4, 6 and 9

These values correspond to:
* 1 - Single Adjustment
* 4 - MarkToBase attachment
* 6 - MarkToMark attachment
* 9 - Extension Positioning

Current fontbakery code is only dealing with lookup type 2 (Pair Adjustment)

[2016-07-27 22:02] davelab6 commented on #844
Then, the message should be INFO level and be more verbose to explain these values.

[2016-07-27 22:03] khaledhosny commented on #844
Yes, and that is the bug I’m reporting. Extension lookup type 9 can store any other lookup, it is just mechanism to split too big lookups, which are often pair pos lookups.

[2016-07-27 22:03] felipesanches commented on #844
The buggy check is described as "Does GPOS table have kerning information?"

It first checks whether a specific lookup type (2 = Pair Adjustment) is available in the table. Should we look for any of 1, 4, 6 and 9 as well? Or should we look for any value between 1 and 9 ?

The other conditionals within this check are validating whether the type 2 table is not corrupt. Did we ever deal with corrupt

[2016-07-27 22:05] khaledhosny commented on #844
See https://www.microsoft.com/typography/otspec/gpos.htm#EP

[2016-07-27 22:22] felipesanches commented on #844
I'll merge https://github.com/felipesanches/fontbakery/commit/3375f935474c9d9b03010559c911f50488b86445 into master

It takes into account extension type, so Mada is expected to pass the check (I tried here and it does indeed). The code changes in that commit only checks for the presence of lookup type 2 or lookup type 9 referencing extensionLookupType 2 on its subtables. It seems that's enough.

I

[2016-07-27 22:26] felipesanches commented on #844
I think it is more likely than not that this is a good fix to the issue, so, @khaledhosny please reopen the issue if you think we need any further improvement in this check.

[2016-07-27 22:26] #844 closed

[2016-07-27 23:00] khaledhosny commented on #844
Seems good for my needs.

[2016-07-27 23:01] khaledhosny commented on #853
This is still not fixed:
[code]

[2016-07-27 23:16] felipesanches commented on #853
Would the good rule for NAMEID_FULL_FONT_NAME be this, then?

[code]

Or maybe it is some other naming rule?

[2016-07-27 23:19] felipesanches commented on #853
I'm trying to accomodate @davelab6 naming rules requests as described in https://github.com/googlefonts/fontbakery/issues/853#issuecomment-235450285 and https://github.com/googlefonts/fontbakery/issues/853#issuecomment-235346229

[2016-07-27 23:22] davelab6 commented on #853
In the next release of Glyphs the Regular will not be different to the other styles, it will be `"{} {}".format(fname_with_spaces, style_with_spaces)`

[2016-07-27 23:50] felipesanches commented on #853
@davelab6 OK, please review https://github.com/felipesanches/fontbakery/commit/179a6db194103a9891c3fad5f8d3cb6eb5511a51

[2016-07-27 23:50] davelab6 commented on #857
Sorry I was unclear, I meant the log message should tell the platformID/etc (https://github.com/felipesanches/fontbakery/commit/72b7c934dda02aed704d036e4b23da5193610811#diff-4c804081fb8b49612c54328d8b59b48aR1182)

[2016-07-28 01:23] #857 closed

[2016-07-28 01:38] davelab6 commented on #853
@felipesanches looks good

[2016-07-28 02:59] #853 closed

[2016-07-29 01:30] #842 closed

[2016-07-29 11:21] khaledhosny opened #875 "Improve testing on Travis (add more sample font families to increase code testing coverage)"
I think the CI should exercise more of the code, ideally there should be at least one font testing each check.

[2016-07-29 11:37] khaledhosny opened #876 "fsSelection REGULAR"
The error message is not clear:
[code]
The assumes the only way to set fsSelection is by assigning it an integer, which is unlikely most of time since people will be editing it in some higher level way. It should instead say what the required functional change is, e.g. `fsSelection bit 6 (REGULAR) is unset but it should be set for this font`, or the other way around or in some other descriptive wa

[2016-07-29 11:47] khaledhosny opened #877 "fsSelection for familes with more than 4 fonts"
[code]

This seems wrong to me, the REGULAR bit should be set here since `Mada Black` is considered a family of its own (for the old Windows APIs that requires this). From https://www.microsoft.com/typography/otspec/name.htm:

So the fsSelection bits seem to be tied to this 4 fonts limitation, so the code should be checking name id 2 not name id 17 to determine whether a font is regular or not for

[2016-07-29 12:08] khaledhosny opened #878 "Specify and implement a "StyleName recommendation" check"
[code]

I have no idea what is “Windows-only Opentype-specific StyleName” or what to do with this error.

[2016-07-29 12:32] khaledhosny opened #879 "The check results report should be divided in sections per font"
Right now, when reading the markdown report for more than one files it is very hard to tell what font each error or warning is about.

[2016-07-29 12:51] felipesanches commented on #879
Yes, I agree.

We already have the ability to distringuish that, by looking at the JSON output. Each entry has a "target" attribute that specifies which fontfile, METADATA.pb file or folder the check result refers to.

I can use that info to sort the check results and format the markdown output with the requested sections.

[2016-07-29 13:33] felipesanches commented on #875
Travis does run fontbakery on a single test font: Cousine-Bold

We could add a second one such as Mada, perhaps.

Also, we could run a family (Cousine-*.ttf and/or Mada*.ttf) instead of a single font, in order to cover the cross-family checks as well.

[2016-07-29 15:10] khaledhosny opened #880 "Conflicting requiremnts for usWeightClass"
usWeightClass for ExtraLight is required to be 275:
[code]

Yet setting it to this value gives another error:
[code]

[2016-07-29 15:21] felipesanches commented on #880
The spec lists values for usWeightClass that are multiples of 100 here:
https://www.microsoft.com/typography/otspec/os2.htm#wtc

And in the spec ExtraLight is supposed to have a value of 200 instead of 275.

But Dave opened an issue at a font project asking for a value change from 250 to 275 at https://github.com/etunni/Changa/issues/5

Can you clarify that, please, @davelab6  ?

[2016-07-29 15:48] davelab6 commented on #880
The step 50 check should be info level only

[2016-07-29 15:48] davelab6 commented on #876
Completely agree

[2016-07-29 15:48] davelab6 commented on #878
Name record id 2.

Assign to me and ill review the error message. I agree they need urgent
improvement.

[2016-07-29 15:48] davelab6 commented on #879
I suggest an efficient way to get the output you want is to mock it up by
taking current output and editing it to be what you would ideally see as
the output. Then Felipe can work on it to match.

[2016-07-29 15:48] davelab6 commented on #877
I think you are right that the check should use id 2

[2016-07-29 15:54] felipesanches commented on #880
OK, so a value of 275 is valid even though discouraged ?

[2016-07-29 16:03] davelab6 commented on #880
I forget what the issue with non 50 values is but 275 is what I want

[2016-07-29 16:06] felipesanches commented on #880
We need to figure it out then.

This seems to be directly related:
https://bugzilla.mozilla.org/show_bug.cgi?id=931426#c34

A proper fix requires us to better understand the root of the problem.

[2016-07-29 16:07] felipesanches commented on #880
Also this one:
https://lists.w3.org/Archives/Public/www-style/2010Sep/0463.html

[2016-07-29 16:11] felipesanches commented on #879
The approach suggested by dave would be great!

[2016-07-29 16:27] khaledhosny commented on #879
Something like:

[code]

[2016-07-29 16:31] felipesanches commented on #879
looks good!

[2016-07-29 16:33] felipesanches commented on #879
"No need to substitute copyright," is an OK message. I think the markdown report should include only ERROR and INFO messages. The OK messages would clutter the output making it harder to read. What do you think?

[2016-07-29 16:51] felipesanches opened #881 "autofixing in-memory even if not persisting on disk"
I'm wondering whether or not I should run the autofix routines on the loaded font in-memory even if the user has not requested autofixing the file on disk.

Applying fixes in-memory may be good to avoid cascading multiple errors in the report.

A counter-example could be compilers such as GCC that can pedantically report several issues caused by a single silly semi-colon that a user may have misse

[2016-07-29 17:22] #879 closed

[2016-07-29 17:43] davelab6 commented on #879
Agree about verbose mode for ok messages

[2016-07-29 18:48] davelab6 commented on #880
The issue is with style linking on old proprietary software.

[2016-07-29 21:23] #880 closed

[2016-07-29 21:56] felipesanches commented on #878
@davelab6 I re-wrote the log messages in this check based on @khaledhosny 's feedback at https://github.com/googlefonts/fontbakery/pull/884/commits/eb78cb27845d81d0627de36436ba22b62e6fafe8 and merged it into master. I'll leave this issue open for you to review it.

[2016-07-29 21:58] felipesanches commented on #878
In addition to the wording of the log messages, there's also an inline "this seems unreliable" comment from you in this check. This check may still need some further improvement.

[2016-07-29 22:12] khaledhosny opened #885 "Bogus FONT_SUBFAMILY_NAME error"
[code]

But name id 2 **is** Regular. I guess this is because the code is comparing against UTF-16 encoded string. All occurrences of `name.string` should be replaced by `name.toStr()` (or `.toUnicode()`).

[2016-07-29 22:21] felipesanches commented on #885
hey! Thanks @khaledhosny for all the testing.

It is very useful to get all this feedback. I'll take care of fixing this now.

[2016-07-29 22:47] felipesanches commented on #878
OK. I looked closer to things this test checks and it is not even clear what rule this is supposed to be validating.

This check involves name entries NAMEID_TYPOGRAPHIC_SUBFAMILY_NAME and NAMEID_FONT_SUBFAMILY_NAME. What are the relationships between these 2 name table entries that we would like to assert here?

The current implementation is non-sensical and I'll comment it out. We should only br

[2016-07-29 22:58] felipesanches commented on #878
Also, not sure if "stylename recommendation" was the best description for the check.

@davelab6 and @khaledhosny What relations (if any) do we want to make sure exists between nameID=2 (SUBFAMILY_NAME) and nameID=17 (TYPOGRAPHIC_SUBFAMILY_NAME) ?

[2016-07-30 00:37] #876 closed

[2016-07-30 00:41] felipesanches opened #888 "improve log messages for fsSelection and macStyle checks"
just like the fix for
https://github.com/googlefonts/fontbakery/issues/876

we should also improve these:

- [x] fsSelection ITALIC bit
- [x] macStyle ITALIC bit
- [x] fsSelection BOLD bit
- [x] macStyle BOLD bit
- [x] fsSelection BOLD bit
- [x] macStyle BOLD bit

[2016-07-30 01:04] felipesanches commented on #877
Source of truth for the "Checking fsSelection REGULAR bit" check is the filename.

This check does not deal with name table entries at all.

[2016-07-30 01:07] felipesanches commented on #877
I'm confused about the statement: "Mada Black is considered a family of its own"

The inference from filename is that "Mada Black" would be the BOLD face in a family called Mada.

@davelab6 is this Mada naming scheme canonical ?

[2016-07-30 01:11] felipesanches commented on #877
Current master output when running with Mada-Black.ttf is:

[code]

[2016-07-30 01:29] davelab6 commented on #881
Lint tools are used iterately until they do not error, so lots of messages
is fine. I don't think it is helpful at all to mess with the file in
memory.

[2016-07-30 01:32] felipesanches commented on #881
alright, thanks

[2016-07-30 01:32] #881 closed

[2016-07-30 02:15] #888 closed

[2016-07-30 03:22] khaledhosny commented on #878
Windows old font APIs allow only four fonts per family, so for any given family there can only be the following four fonts:

| Family (id=1) | Subfamily (id=2) | Full name (id=4) |
|---------------|------------------|------------------|
| Foo           | Regular          | Foo Regular      |
| Foo           | Bold             | Foo Bold         |
| Foo           | Italic           | Foo Italic

[2016-07-30 03:22] khaledhosny commented on #877
See https://github.com/googlefonts/fontbakery/issues/878#issuecomment-236337737

[2016-07-31 16:04] m4rc1e opened #890 "fontbakery-fix-gasp only modifies highest range"
Hello,

I've checked the [gf checklist spec](https://github.com/googlefonts/gf-docs/blob/master/ProjectChecklist.md) and it says 'The gasp should be set to 15'.  However, this script will only change the highest gasp range to 15:

`table.gaspRange[65535] = value`

Fonts can have many ranges. Do we care about those other ranges? should we only have 1 range and set it to 15?

Cheers,
Marc

[2016-07-31 16:15] davelab6 commented on #890
It may be a bug but I believe this sets 1 range for all sizes to 15

[2016-07-31 16:45] m4rc1e commented on #890
Hey Dave,

When I view the whole function. I see it's only changing the value for the maximum key.

[code]

I just ran the script and my suspicions were correct. When I look at the table with FontTools, we get this:

[code]

If we only want 65535 set to 15. We have to remove all the other ranges.

Cheers,
Marc

[2016-07-31 18:55] m4rc1e commented on #890
Ok, I've finally figured things out.

I didn't realise this tool was coupled with ttfautohint. We really need more docstrings to explain these things.

When I ran the font through ttfautohint with default settings. It dropped my existing gasp table and replaced it with a single range 0–65535.

I'll close this issue.

[2016-07-31 18:59] m4rc1e opened #891 "Doc strings"
We need doc strings for each of these scripts.

I didn't realise that fix-gasp was basically to correct the gasp after running ttfautohint.

Cheers,
Marc

[2016-07-31 19:01] davelab6 commented on #890
TTFAutohint does the same thing this tool does, but in some fonts hinting doesn't make sense, and in this case I want to apply 'non hinting' to the fonts.

There is some explanation of this in https://github.com/googlefonts/gf-docs/blob/master/HowToGenerateWebNativeFonts.md and https://github.com/googlefonts/gf-docs/blob/master/HowToGenerateWebNativeFontsWithFontForge.md and the script to set non

[2016-07-31 19:01] davelab6 commented on #890
TTFAutohint does what this tool is checking for, I mean

[2016-07-31 19:25] davelab6 commented on #891
I agree we need docstrings for everything.

fix-gasp does the same thing that ttfautohint does to the gasp table, but without adding goops of hint code.

[2016-07-31 19:27] davelab6 commented on #754
@m4rc1e I'm assigning this to you

[2016-07-31 19:30] davelab6 commented on #766
@m4rc1e this is a fun one :)

[2016-07-31 19:31] davelab6 commented on #877
Yes, `Mada-Black.ttf` is canoncial.

[2016-07-31 19:31] davelab6 commented on #877
It means the id=1 is unique.

[2016-07-31 19:33] davelab6 commented on #877
We have a static, fixed, 1 to 18 font files in any family. Therefore I would like a dict with 18 correct fsSelection values mapped to the 18 font file keys, and a VERY simple check that says, if the filename is X then the fsSelection should be Y, otherwise its wrong.

[2016-07-31 19:34] davelab6 commented on #890
@felipesanches please take an unhinted ttf, and make 2 versions, a ttfa'd font and a fb fix'd font, and compare the gasp tables, and post the results here

[2016-07-31 19:38] davelab6 commented on #878
I think that's what I was saying with the inline code comment I made :)

None. We have a small list of 1 to 18 possible files, and we can specify in a simple static way what the correct values are for each of them , and check them in a simple way.

[2016-07-31 19:40] davelab6 commented on #877
This is not a helpful message. Assuming Mada-Black.ttf has the fsSelection Regular bit set (which I believe is the right thing to do, so if it isn't set, @khaledhosny please set it :) then this should not error, and instead say,

`OK       fsSelection REGULAR bit is set correctly.`

If `Something-Black.ttf` does not have the Regular bit set, then the message should be

`ERROR    fsSelection REGULA

[2016-07-31 19:46] alexeiva opened #892 "Hotfix changed SIL OFL License to Apache"
#### 1. I ran fontbakery-check-ttf.py for [this file][1].
Here is the Font Info
<img width="855" alt="screen shot 2016-07-31 at 15 43 59" src="https://cloud.githubusercontent.com/assets/16634089/17278891/a51949e2-5735-11e6-9ded-9918e46f8f63.png">

[code]

#### 2. Fixed ttf [here][2]
<img width="863" alt="screen shot 2016-07-31 at 15 44 51" src="https://cloud.githubusercontent.com/assets/16634089/1

[2016-07-31 19:55] felipesanches commented on #892
Do you have a LICENSE.txt file in the same folder as yout TTF ?

I see none on the Jura repo, but that error message is only supposed to be triggered when such file is found.

[2016-07-31 19:59] davelab6 commented on #892
Jura is OFL according to
https://github.com/google/fonts/blob/master/ofl/jura/OFL.txt

[2016-07-31 20:01] felipesanches commented on #892
yes, I noticed that. But the script seems to have detected the presence of a LICENSE.txt as well.

This also looks bad:
https://github.com/alexeiva/jura/blob/fdf20da117cbe291dfa80d62fa10882996154818/fontbakery-check-results.json#L123-L129

[2016-07-31 20:01] anthrotype commented on #890
ttfautohint simply creates a new `gasp` table with a single range, and all the four bits set (which amounts to the decimal value 15 or `0b1111`).

so Marc is right, in the sense that fb should not update the existing gasp, but replace it with the desired value if it wants to do the same as TTA.

However, I don't think you want to set the gridfitting bits on in case the font is not hinted. They won

[2016-07-31 20:01] felipesanches commented on #892
I'll run the tool locally to see if I can replicate the issue.

[2016-07-31 20:04] davelab6 opened #893 "Review output styling"
Alexei's thread in googlefonts-discuss suggests that I need to review the json and verbose args for fontbakery-check-ttf.py

- [x] OK messages should not appear in the json file unless the verbose flag is passed.
- [x] json output should only appear when --json is passed
- [ ] perhaps the plain text output should be dropped and ghm output should be default, and work well as a plain text output

[2016-07-31 20:08] davelab6 commented on #890
If there is no gasp table, then rendering is worse; maybe I'm confusing this with what the prep table code does.

[2016-07-31 20:09] felipesanches commented on #892
Even though I don't see TTF files in the root of the repo, I can see both a LICENSE.txt and an OFL.txt file in there.

https://github.com/alexeiva/jura/blob/master/LICENSE.txt

https://github.com/alexeiva/jura/blob/master/OFL.txt

@alexeiva Can you please clarify these thigs:
* which command line you used
* inside which directory were you when you invoked fontbakery?
* which files were in that dir