[2021-07-09 12:33] RosaWagner opened #3372 "incorrect-ofl-body-text: template incomplete"
## Observed behaviour

This PR https://github.com/google/fonts/pull/3517 is failing because of the Reserve Font Name mention in the OFL.txt.

## Expected behaviour

GF doesn't want font with RFN although some are already onboarded with one, and some may be granted with authorization to have one. Therefore we should allow it in the ofl_body_text check, knowing that it warns about it already.

[2021-07-09 12:44] RosaWagner commented on #3372
The template should contain the entire header of the license because the middle part is often missing.
Note that `http` and `https` are both allowed.

[code]

[2021-07-10 07:22] felipesanches commented on #3372
It is better to have a few intentional exceptions to the rule than to remove the checking and thus risk having unjustified new RFNs silently ending up on license files.

[2021-07-14 08:56] simoncozens commented on #3368
With respect to the specific issue here, I think we should probably just add `HARF` and `BUZZ` to the allowed feature tags list, because if someone is using those tags they clearly know what they're doing. I still believe that, in the general case, using tags which no shaping engine applies is a clear mistake.

[2021-07-14 11:21] davelab6 opened #3379 "UX Writing: Relabel fail to caution to reassure users"
In https://github.com/googlefonts/fontbakery/pull/3359#discussion_r668363459 @khaledhosny says "actual bugs" - but this assumes a single universal profile, that's like OTS or MSFV.

The point of fb vendor profiles is that the font is assumed valid and has no "actual" bugs (as the OpenType spec profile covers that); these checks are for more opinionated ways of doing things specific to that vendor.

[2021-07-14 12:27] felipesanches commented on #3379
I don't think the matter is so simple.

@khaledhosny seems to dislike the opinionated checks on the `googlefonts` profile and even mentions "dubious rationales". Merely rewording won't make the problem go away.

I'm a bit reluctant to embrace such a shallow fix. On the contrary, I think we've got a good opportunity of learning from Khaled on how to improve the tool. That's why I asked him to consi

[2021-07-14 14:47] #3225 closed

[2021-07-14 16:18] simoncozens opened #3380 "Allow downgrading failing checks in a configuration file"
Add a configuration option to downgrade fail checks to warn, as discussed.

[2021-07-14 16:29] #3357 closed

[2021-07-14 18:39] felipesanches commented on #2866
@m4rc1e, I know it was a long time ago, but back in May, 2020 you said "Blocking seems overkill so apologies for that." right after I applied the `Blocked - waiting for some feedback` label. I would like to clarify that I use this label to signal that my work on a given issue is temporarily blocked while I wait for someone else to provide further info. It does not mean that I refuse to work on tha

[2021-07-14 18:41] felipesanches commented on #3380
seems to be related to https://github.com/googlefonts/fontbakery/issues/2356

or even a duplicate issue perhaps.

[2021-07-14 18:54] tphinney commented on #3364
I see no given rationale for why the current check allows a usWinDescent to exceed yMin by an amount up to double the value of yMin.

Why is it allowed to exceed at all? And if it *is* allowed to exceed, why is the allowable excess solely dependent on the current value of yMin? That is, why should a font whose yMin=0 is not allowed to have usWinDescent below the baseline, while a font with yMin= -

[2021-07-15 04:28] #1733 closed

[2021-07-15 04:42] felipesanches commented on #2011
The rationale text for this check should mention this:

[2021-07-15 13:07] m4rc1e commented on #3372
So the issue is that some OFL licenses use http while others use https.

<img width="1392" alt="Screenshot 2021-07-15 at 14 07 11" src="https://user-images.githubusercontent.com/7525512/125793195-0d6a4c85-9b8a-424e-a7ad-d1d5d5c66670.png">

I guess we can use a regular expression so we can allow both.

[2021-07-15 13:28] m4rc1e commented on #3077
We've just noticed this issue in the Unified font repo as well.

cc @felipesanches @RosaWagner

[2021-07-16 03:55] davelab6 opened #3383 "fontbakery.yaml (etc) attestation"
https://fontstand.com/news/knowledge/evaluating-the-quality-of-a-typeface/ has a nice list of things to consider a font family "good quality", and many are unlikely to be easy to implement as font bakery checks.

However, along with the project's fb config, it should be possible to have a profile of checks for these things, which simply checks that config file for attestations that these things ha

[2021-07-16 04:02] felipesanches commented on #3383
Today we had a video call in which we discussed the structure of the Unified Font Repo and when we were talking about the FontBakery report and discussing ways to deal with FAILs that are silenced by disabling specific checks, the fb config file was brought up again as a potential solution.

Then I once more suggested that when we do so, it should be mandatory to provide at least a statement (a si

[2021-07-16 04:49] felipesanches commented on #3383
Here's a somewhat crazy idea that might actually make a lot of sense.

What if we come up with a CreativeCommons-like system composed of a set of mnemonic badges corresponding to those subjective quality aspects of a font project and then we created mechanisms for those badges to be placed on the `README.md` of a repo, or in a website hosting the font files.

Such badges would have corresponding h

[2021-07-16 04:56] davelab6 commented on #3383
Nice ideas!!! :)

[2021-07-16 05:30] felipesanches commented on #3383
* The description I gave above would probably result in way too many badges. Perhaps several similar aspects in a review could be grouped on a single badge so that there's a smaller set of badges.
* But it would still employ numeric scores based on tallying the results of the individual questions, and all details can be seen in a full report for those who click to learn more.

[2021-07-16 05:30] felipesanches commented on #3383
Could maybe use https://github.com/SorkinType/EQX as a starting point for the design review website.

[2021-07-16 06:48] simoncozens commented on #3383
Okay, so let's combine a number of thoughts we've been having recently:
* Badges for quality assurance
* Checks should have "severity" as well as PASS/FAIL/WARN
* Some checks can't be automated
* Different design versus technical profiles
* Returning FAIL is maybe too judgmental to designers and off-putting to people who use CIs.

Here's an idea, then:

* Every check gets a severity score. That me

[2021-07-16 07:17] felipesanches commented on #3383
I suppose that a single profile may have multiple badges. As discussed at #3336, we never really extensively used Sections, but maybe that's their fate :-) A badge for each section of a profile.

But badges could also perhaps cross the profile boundary because they seem more likely to be defined by topic. For instance, on the `googlefonts` profile I could pretty well see a vendor-specific badge fo

[2021-07-16 07:25] felipesanches commented on #3383
I'll keep the word "subjective" in the title of this issue for now because that's what @davelab6 initially suggested us to address here, even though this conversation is clearly evolving to also embrace the existing technical checks.

We need to define how we'll store these "subjective quality scores" in a way that is user-friendly.

[2021-07-16 07:27] simoncozens commented on #3383
"Achievements" would be nice, but there's already a kind of de-facto standard for build/QA badges: ![fontbakery build](https://img.shields.io/github/workflow/status/googlefonts/fontbakery/Tests%20&%20linting%20with%20tox?label=fontbakery%20QA)

[2021-07-16 07:29] simoncozens commented on #3383
![technical quality](https://img.shields.io/badge/technical%20quality-80%25-orange)
![technical quality](https://img.shields.io/badge/design%20quality-100%25-green)

https://shields.io/#dynamic-badge

[2021-07-16 07:46] felipesanches commented on #3383
YES! But I think the idea would be to have a larger set of badges such as:

![variable fonts support](https://img.shields.io/badge/variable%20fonts%20support-80%25-orange) ![gfonts metadata](https://img.shields.io/badge/gfonts%20metadata%20quality-70%25-brown) ![iso5008:2017 checks](https://img.shields.io/badge/iso5008:2017%20checks-90%25-darkgreen) ![Vietnamese diacritics](https://img.shields.io/

[2021-07-16 08:55] m4rc1e opened #3384 "check google-fonts: Fail families which only contain Kana"
## Observed behaviour

We pushed a [Japanese family](https://fonts.google.com/?query=Otomanopee&subset=japanese) which only contains Kana. Atm, the GF sample text for Japanese uses all three Japanese writing systems so Kana only fonts will produce tofus.

This check should be deprecated once we implement a Kana only sample text.

[2021-07-16 22:47] #3372 closed

[2021-07-19 10:55] simoncozens commented on #3383
Just have one per section. This is what sections are for. :-)

[2021-07-21 01:08] tphinney commented on #3361
Note that Google has a proprietary variable font in the works that requires 40pt

[2021-07-23 03:25] felipesanches opened #3387 "Add code-test to ensure no check lacks a "proposal" field"
Prior to releasing FontBakery v0.8.0 I collected all URLs of issues where new checks were proposed and added that info to each check in our code base. This is important because it enables us to learn more about the history of the checks and what was the original reasoning behind implementing them.

We must make sure that future new checks won't lack that kind of info.

[2021-07-23 09:08] justvanrossum opened #3388 "Check request: verify font.sfntVersion against the presence of glyf and CFF/CFF2"
It's possible to build fonts that have the wrong sfntVersion field, say a TTF with a glyf table, yet with an sfntVersion of "OTTO". Such fonts are rejected by FreeType.

See also: https://github.com/fonttools/fonttools/issues/2370

(I just saw that ots already warns about this, so perhaps it's redundant for fontbakery.)

[2021-07-23 09:12] justvanrossum commented on #3388
Although: ots only warns for it, for fontbakery it should be a FAIL IMO, as FreeType rejects such fonts.

[2021-07-23 15:59] felipesanches commented on #3388
In general we're happy to substitute 3rd party checks with our own fontbakery checks, specially if we're able to document them with more detailed rationale metadata.

[2021-07-23 16:05] felipesanches commented on #3388
Correct me if I'm wrong, please. I'm proposing to classify this as a maximum severity check as it seems the font is completely broken if it does not pass this check, right?

[2021-07-23 17:35] justvanrossum commented on #3388
It depends: FreeType rejects a font with `sfntVersion="OTTO"` and a `glyf` table, yet doesn't have a `CFF ` or `CFF2` table, but other font consumers may not have problems with it. I can't really judge, I'm not familiar enough with fontbakery's severity gradations.

[2021-07-23 20:09] felipesanches commented on #3388
At this point they're still experimental. We're gradually coming up with a way to categorize checks by perceived severity, but this is still very much subjective.

[2021-07-27 08:32] justvanrossum opened #3390 "Check proposal: OS/2 version field against fsSelection flags"
Some OS/2 fsSelection bits are only valid for OS/2 version 4 and up. See this warning in fonttools:

https://github.com/fonttools/fonttools/blob/c552a77fea682f3a4327164e61d22d82317060e3/Lib/fontTools/ttLib/tables/O_S_2f_2.py#L139-L141

I think an equivalent fontbakery warning would be useful.

[2021-07-27 11:56] davelab6 commented on #3390
In the OpenType profile yes

[2021-07-27 11:57] davelab6 opened #3391 "Check Proposal: os2 metadata set"
See https://twitter.com/n8willis/status/1419964016076759042?s=19 and replies

[2021-07-27 14:48] m4rc1e opened #3392 "refactor metadata checks"
We have many checks for our METADATA.pb files which are very similar e.g this_field != expected_field.

Why don't we get FB to generate the metadata and then compare the generated metadata against the existing file? this should make many of these checks redundant. I can do this next quarter if we'd like this. The only gotcha seems to be that metadata generation lives in gftools so we'll end up wit

[2021-07-27 15:53] felipesanches commented on #3390
Would this be a check for a merely hypothetical problem? Or are there known real-world fonts actually setting these bits incorrectly?

[2021-07-27 15:58] felipesanches commented on #3392
To avoid the circular dependency, I'd move the metadata generation code from gftools to `fontbakery.utils` and refactor gftools to import from there, so that fontbakery would not inherit the large dependency tree that gftools has.

[2021-07-27 16:01] felipesanches commented on #3384
@aaronbell, what do you think?

[2021-07-27 16:05] felipesanches commented on #3383
@twardoch, @RosaWagner, @moyogo, @vv-monsalve, @eliheuer, or anyone else interested:

I'd be glad to have some input from you on this conversation

[2021-07-27 16:18] justvanrossum commented on #3390
I proposed this check after I saw a font in development that emitted that fonttools warning, so it's not a hypothetical problem.

[2021-07-27 16:22] aaronbell commented on #3384
The particular issue for Otomanopee is that it contains **some** Kanji but doesn't contain a full Kanji set. So at first glance it appears not to be a kana-only font.

Rather than checking for kana-only (which Otomanopee would pass) I think that this check should evaluate if the font contains a minimum character set for Japanese Kanji. I'd suggest the JIS1 character set, which contains key charact

[2021-07-27 16:50] felipesanches commented on #3390
Great! Can this font be shared as a test case to aid in development of this check?

[2021-07-27 16:54] felipesanches commented on #3390
I surely can generate test-cases artificially, but whenever possible I prefer to use real files that represent the problems being checked.

[2021-07-27 16:59] justvanrossum commented on #3390
Sorry, I can't share the font :( I can fabricate one if you'd like?

[2021-07-27 18:05] felipesanches commented on #3390
That would be nice, if it is not too much trouble. My major concern is that **maybe** fonttools will simply set the correct bits automatically if I try to replicate the problem programmatically. Not sure about that though.

[2021-07-27 18:16] justvanrossum commented on #3390
It doesn't seem fonttools fixes this automatically.

Here is a snippet that produces a font that emits the warning:

[code]

[2021-07-27 18:16] felipesanches commented on #3390
great! Thanks a lot!

[2021-07-27 19:01] DavidRaymond opened #3393 "com.google.fonts/check/license/OFL_body_text gives ERROR if no license file is present"
## Observed behaviour

When running Font Bakery against a ttf, if there is neither an OFL.txt or LICENSE.txt present, an ERROR is given.

For example:
`fontbakery  check-googlefonts -c 'com.google.fonts/check/license/OFL_body_text'  test.ttf`
gives
[code]
## Expected behaviour

The result should be SKIP rather than ERROR

Note changing the is_ofl condition from
[code]
to

[code]
appears to resolve

[2021-07-27 19:30] felipesanches commented on #3393
thanks for reporting this!

[2021-07-29 02:57] #3393 closed

[2021-07-29 03:39] eliheuer commented on #3383
I like it!

The only thing I would add, as the [article](https://fontstand.com/news/knowledge/evaluating-the-quality-of-a-typeface/) Dave links in the first post says in the conclusion:

So maybe a badge for fonts with artistic and/or cultural significance is needed so you know the standard subjective font quality scores can be ignored.

[2021-07-29 10:35] RosaWagner opened #3395 "make glyphs lists nicer"
**Some checks are listing glyphs with unicode:**
`The following mark characters could be in the GDEF mark glyph class: U+3099 and U+309A [code: mark-chars]`

**While outlines checks are showing nice names and coordinates of mistakes:**
[code]

- We could have nice names (+ unicode) everywhere there is a list of glyphs
- It would be so helpful to be able to copy/past the list of glyphs directly in

[2021-07-29 15:54] m4rc1e opened #3396 "Why don't we use an auto formatter such as Black?"
This isn't issue, I'm just curious why we don't use something like Black?

I find manually formatting files tedious. I just want to sling code and let an auto formatter do the grunt work.

If there's a way to automate fb code formatting so it passes pylint, I'm all ears.

[2021-07-29 18:26] felipesanches commented on #3396
No tool currently auto-formats in the style that we use here. I have considered adapting some auto formatter to enforce our code-style, but I still haven't done so.

[2021-07-29 18:26] #3396 closed

[2021-08-01 07:11] khaledhosny opened #3398 "Discourage DSIG table presence"
## Observed behaviour

fontbakery issues a FAIL message for fonts without `DSIG` table (`com.google.fonts/check/dsig`).

## Expected behaviour

Do nothing, don’t even issue a WARN or INFO, `DSIG` table is unused; MS Office used to require it to enable OpenType features for so-called simple scripts but does not do any more and not everyone is building such fonts.

## Resources and exact process nee

[2021-08-01 07:16] khaledhosny opened #3399 "Don’t be too exact about URL strings"
## Observed behaviour

In https://github.com/google/fonts/pull/3602#issuecomment-888601854 multiple checks are `FAIL`ing because https is used instead of http:
* `com.google.fonts/check/name/license`
* `com.google.fonts/check/metadata/valid_copyright`
* `com.google.fonts/check/font_copyright`

## Expected behaviour

Accept https.

## Resources and exact process needed to replicate

https://github.

[2021-08-01 07:25] khaledhosny opened #3400 "Stop rejecting MVAR table"
## Observed behaviour

fontbakery issues a FAIL message for fonts with MVAR table (`com.google.fonts/check/unwanted_tables`).

## Expected behaviour

Do nothing, MVAR is a valid font table despite some early implementation some three years ago having a bug with it.

## Resources and exact process needed to replicate

https://github.com/google/fonts/pull/3602

[2021-08-02 17:41] m4rc1e commented on #3392
I've decided to include this into my name table refactoring. Here's a preview using Python's difflib and rich.

<img width="740" alt="Screenshot 2021-08-02 at 18 39 17" src="https://user-images.githubusercontent.com/7525512/127901992-aee7ab67-be62-493c-9b6b-f6ccb91151a1.png">

My plan is to significantly reduce the amount of code, improve visual appearance and remove duplication by using gftools.

[2021-08-02 18:30] twardoch opened #3401 "[wish] `com.google.fonts/check/varfont/empty_gvar`"
I’d like to request a `com.google.fonts/check/varfont/empty_gvar` check. Some toolkit (I think fontmake) may build a single-master VF that has an empty `gvar` table.

Example font: [NotoSansLycian-VF.ttf.zip](https://github.com/googlefonts/fontbakery/files/6918918/NotoSansLycian-VF.ttf.zip) from [here](https://github.com/googlefonts/noto-fonts/raw/main/unhinted/variable-ttf/NotoSansLycian-VF.ttf)

[2021-08-02 18:38] twardoch opened #3402 "[wish] `com.google.fonts/check/varfont/valid_range`"
I’d like to request a new check `com.google.fonts/check/varfont/valid_range` which checks every `fvar` axis:

- FAIL if `axis.maxValue` <= `axis.minValue`

Example same as in https://github.com/googlefonts/fontbakery/issues/3401

It rationally makes sense that the maxValue > minValue for fvar axes. It should not be equal or smaller. However, some tool produced the example font which effectively is

[2021-08-02 18:42] twardoch opened #3403 "[wish] `com.google.fonts/check/varfont/valid_default`"
I’d like to request a new check `com.google.fonts/check/varfont/valid_default` which checks every `fvar` axis:

- FAIL if `axis.defaultValue` < `axis.minValue` or  > `axis.minValue`

Example: [NotoSansLycian-VF-invalidDefaultAxis.ttf.zip](https://github.com/googlefonts/fontbakery/files/6918999/NotoSansLycian-VF-invalidDefaultAxis.ttf.zip)

Unlike the two other check proposals, this is not based on

[2021-08-03 07:48] felipesanches commented on #3399
please re-run checks on that family using the latest version of Font Bakery and reopen the issue is the problem persists. That report is from 23 releases ago (from December 2019).

And some time ago I remember that I have fixed exactly that kind of problem. I'd be glad to address the issue, of course, if it's confirmed that some checks still misbehave on the latest version of Font Bakery.

[2021-08-03 07:48] #3399 closed

[2021-08-05 07:56] simoncozens commented on #3398
I remember rumours that MS Office Mac still does?

[2021-08-05 12:05] chrissimpkins commented on #3398
https://github.com/googlefonts/fontbakery/issues/1845#issuecomment-568022943

[2021-08-05 16:51] davelab6 commented on #3400
@khaledhosny thanks, I agree that this check ought to change by around now. That was always the idea, to make a decision that was good for the situation at that time and as that situation improve then change the check. So, @m4rc1e please could you queue up redoing the QA testing work you did a few years ago that led to this check decision, so we can document more details about why we'll change it.

[2021-08-05 17:40] davelab6 commented on #3398
Any font produced in the last millennium that did not add `DSIG` table to make fontbackery FAIL go away.

LOL

In fact, I think we should flip the check to WARN people if a DSIG is found at all, and tell them to remove it.

[2021-08-05 17:41] davelab6 commented on #3398
This is relatively high severity because it is so annoying :)

[2021-08-05 22:23] felipesanches commented on #3398
The rationale in this check currently says:

----
Microsoft Office 2013 and below products expect fonts to have a digital signature declared in a DSIG table in order to implement OpenType features. The EOL date for Microsoft Office 2013 products is 4/11/2023. This issue does not impact Microsoft Office 2016 and above products.

This checks verifies that this signature is available in the font.

A

[2021-08-05 22:24] felipesanches commented on #3398
For now, a WARN, but by November 2023 we should finally make this a FAIL.

[2021-08-05 23:54] #3398 closed

[2021-08-05 23:55] #1845 closed

[2021-08-06 07:46] felipesanches opened #3407 "Remove adobefonts override on the DSIG check"
We have just updated the policy implemented on **check/dsig** to WARN users that they should remove the DSIG table (unless they're specially interested in still supporting OpenType features on fonts used on MS Office 2013).

See issue #3398 for more info.

This change in check behavior means the Adobe Fonts check override is not needed anymore (now it would actually be incorrect if kept unchanged)

[2021-08-06 08:01] felipesanches commented on #3407
@cjchapman FYI: I am removing that override on the `adobefonts` profile since the logic in the check implementation has flipped to suggest (with a **WARN**) the complete removal of the DSIG table instead of demanding (with a **FAIL**) the inclusion of a dummy signature.

[2021-08-06 08:01] #3395 closed

[2021-08-06 08:12] #3407 closed

[2021-08-10 15:04] n8willis commented on #3391
In hopes of being clearer, a completely missing value  in the OS/2 table is not the only possible problem. I was analytically measuring x-heights, and even allowing for the uncertainty of overshoots and stylistic interpretation, it's quite possible to detect mismatches. Highlighting one example way off the mean in this plot:
![xheight-courgette](https://user-images.githubusercontent.com/2192132/12

[2021-08-11 03:09] felipesanches commented on #3403
This one would go on the `opentype` profile as it is merely ensuring the font conforms to what the spec expects.

Since it is hypothetical, I'm not sure what severity level to declare here.

[2021-08-11 03:13] felipesanches commented on #3401
It would be good if we could confirm which specific toolchain was used to build this example font.

[2021-08-11 03:19] felipesanches commented on #3401
What is the problem of an empty `gvar` table? Is it a matter of it making the filesize unnecessarily larger?

Or is it that the behavior of such a single-master VF different than an actually static font for some program or font renderer?

Does it cause the font to be broken in any manner, or is it just a minor detail?

[2021-08-11 03:22] felipesanches commented on #3402
* Which tool is doing that?
* What would be the usefulness of someone creating a "faux VF" that way? This sounds like a hack. Do you have more info about why anyone would do it?

[2021-08-11 03:27] twardoch commented on #3401
In principle, almost any table can be empty. However, I can imagine scenarios where an engine checks for the presence of gvar and then e.g. switches to a slower line layout mode (without metrics caching). I had an implementation that made a simple gvar existence check and based some logic on it. I've now added more checks.

We still don't have a complete picture of OTVar implementations, but histo

[2021-08-11 03:33] twardoch commented on #3402
I think it's just fontmake when you ask it to make a variable font out of a DesignSpace+one UFO. It's stupid :) I mean, it's nice to have such fonts for testing but in real life, any batch font-building scenario can lead to such situations. If you convert a 100 .glyphs files simply into "variable" OT fonts, you'd expect that only those that have any variable structures will have variable data, but

[2021-08-11 03:34] twardoch commented on #3402
(The font in question wasn't built so deliberately — Marek just ran the GF Noto "pipeline" on all Noto sources)

[2021-08-11 03:37] felipesanches commented on #3401
I understand your concern, but I'm still willing to have stronger justifications for the checks added to Font Bakery.

How would you propose wording the rationale metadata for this check? I tried to imagine how to write it but, inside my head, my inner voice still sounded too vague reading it to me.

[2021-08-11 03:42] felipesanches commented on #3402
Are there bug reports for changing these behaviors on the fontmake issue tracker?

[2021-08-11 03:47] felipesanches commented on #3402
If we have a check that can flag a problem (say we get a WARN here), then there should be a way for the designers to fix the problem. If fixing the font means first fixing fontmake, then maybe the WARN will for now only be an unfixable annoyance to the (non-programmer) users of fontbakery.

Let's report the problem and once fontmake fixes it, then we can add a check that says something like "older

[2021-08-11 08:53] RosaWagner opened #3409 "remove check "missing link" (designer profile)"
[code]

The link entry in the info.pb is actually super useless, having a webpage link in there doesn't do anything in the API, and we actually add the actual webpage link per tradition in the `bio.html`. So it is good to remind to remove the Google+ link, but since few month we leave the entry empty to not break the protobuf. It has been tested and approved.

Like this:
[code]

[2021-08-11 17:13] felipesanches commented on #3409
Will the protobuf change to not have that field anymore soon? Or will the link field become more useful later?

I propose downgrading that to a WARN, as structured metadata is a good thing to have.

[2021-08-12 01:34] felipesanches opened #3411 "why are 'prop' tables bad?"
The check **com.google.fonts/check/unwanted_tables** suggests removing 'prop' tables. What's the reason for this? The code currently does not report a reason for that. We should at least figure it out and clarify the message.

[2021-08-12 02:10] #3400 closed

[2021-08-12 02:17] felipesanches opened #3413 "What are the known problems related to the MVAR table?"
At https://github.com/googlefonts/fontbakery/pull/3412 we stopped rejecting MVAR tables, but the code had some comments by @m4rc1e that we should review. It may be useful to create an MVAR specific check at WARN level if there are still problems we should alert users about.

Here are the relevant comments:

[2021-08-12 02:18] felipesanches commented on #3413
@davelab6 also said at https://github.com/googlefonts/fontbakery/issues/3400#issuecomment-893610777:

[2021-08-12 02:55] #3379 closed

[2021-08-12 06:59] RosaWagner commented on #3409
No, not a warn :)

The link entry is still here so the protobuf don't break, and the structure is intact. It is just empty, and we have been doing that for the last 2-3 month are so. Today, we are going to remove all the links from all the catalog. And it will be like that for all the new designer profiles… so really, the check is just asking to do something we don't want and that we correct every

[2021-08-12 07:08] RosaWagner commented on #3409
To resume.

we want this:
`link: ""`

not this:
`link:"www.whateverwebpage.com"`

nor this:
`link: "https://profiles.google.com/117991409563960417265/about"`

Maybe this link entry will one day be useful again and we will be able to fill it up, but asking for html page which is supposed to be in the bio.html, just create bad copy-pasta and errors. It is also more annoying to update info in the pro

[2021-08-12 07:09] anthrotype commented on #3411
You mean "prep"?

[2021-08-12 08:07] anthrotype commented on #3411
Ha! "prop" the AAT table => https://developer.apple.com/fonts/TrueType-Reference-Manual/RM06/Chap6prop.html

[2021-08-12 08:54] m4rc1e commented on #3413
Even though the modern browsers have fixed this issue, we need to ensure that less than 2% of out total traffic isn't using these browsers.

Also, browserstack screenshots still hasn't updated the browsers in a few years. We're currently using Win Chrome 72 (released 2018) which does have this issue. By removing this check, the vertical metrics in our diff images will appear wrong.

Please revert

[2021-08-12 08:57] m4rc1e commented on #3413
To answer your original question, we forgot to remove the MVAR table in Quicksand and this issue cropped up within 1 hour, https://github.com/google/fonts/issues/2085

[2021-08-12 09:02] m4rc1e commented on #3413
Even if the user base is lower than 2%, we still have the diff image issue. I'll send browserstack a mail asking if they're ever going to update their browser list.

[2021-08-12 09:05] anthrotype commented on #3413
chopping off MVAR may be ok-ish if the only thing that varies are relatively useless things like xHeight or capHeight (which are more of a compiler's afterthought). But it may be that some VF projects rely on MVAR to variate other, more visible font-wide metrics and that's done intentionally as part of their design for whatever reason. Thus I believe that outright banning MVAR without considering

[2021-08-12 09:30] m4rc1e commented on #3413
It may sound like I have a vendetta against this table but I don't. I have no problems with us readding it once our diff tooling doesn't rely on these old browsers and the user count of the affected browsers is so low that we don't care. I'm also not claiming this table isn't useful because it is.

[2021-08-12 13:46] RosaWagner commented on #3409
ps: if we remove the link completely, it breaks the push to sandbox. So the eng team told us to not remove it, but having it empty instead.

[2021-08-12 14:11] felipesanches commented on #3409
Here are the links being removed, in case we may want to find them in the future to be included on the `bio.html` files:
https://github.com/google/fonts/pull/3696/commits/753430f716857836f634b15e6787bd05b8b583e1

[2021-08-12 15:41] #3409 closed

[2021-08-12 15:56] felipesanches opened #3417 "Check that designers' `bio.html` mention a webpage URL"
At PR #3416 we removed some URL quality checking because the link field is now meant to be kept empty.

But we should at least verify if such URLs are being provided on the bio.html files instead. And then this new WARN-level check could reintroduce the validation of the links (we don't want deprecated Google Plus links, etc.)

[2021-08-13 11:14] RosaWagner opened #3418 "I don't know how to fix [code: lacks-meta-table]"
I have this WARN in all the fonts we onboard:
`⚠ WARN This font file does not have a 'meta' table. [code: lacks-meta-table]`

And I have no idea how to fix it  with our tools.
--> Can someone tell me?
--> Maybe a tuto could be added to the rationale?

[2021-08-13 16:51] davelab6 opened #3419 "Add check to METADATA to ensure sample_text can render in the fonts"
@twardoch pointed out on chat today that we should have a fontbakery GF METADATA profile check that can help prevent tofu from being seen on fonts.google.com.

The check needs to intersect 3 things:

1. the full set of Unicode characters in each font in the family
2. what’s in the [subset "encoding" definitions](https://github.com/googlefonts/gftools/blob/main/Lib/gftools/encodings) from gftools,

[2021-08-14 01:22] khaledhosny commented on #3413
Supporting minority users on legacy systems is good idea, but it shouldn’t be on the expense of the majority users on modern systems, and outright banning an OpenType table is just that. Software is basically bugs with features add to them, it is not font job to pend backwards for every software bug that was once in some application released in the since the last century.

[2021-08-14 01:31] khaledhosny commented on #3413
I don’t like working around software bugs in general, but I can be pragmatic and do that if it does not negatively affect other software, but that is not the case here, rather you are crippling fonts for the majority of users to make a minority clinching to outdated and unsupported systems happy.

[2021-08-16 11:23] felipesanches opened #3420 "update policy on static fonts for unhinted VFs"
review and update our checks related to https://github.com/google/fonts/pull/3695#issuecomment-898991749

[2021-08-16 14:12] davelab6 opened #3421 "Add check for gf repo dir name"
`fonts/ofl/azeret` was added and METADATA has

    name: "Azeret Mono"

therefore the directory should be

`fonts/ofl/azeretmono`

So I'd like to propose a FB METADATA check that checks the dir name against the METADATA name key, lowercased and spaces removed.

We'll then need an allowlist of legacy exceptions to this.

cc @RosaWagner

[2021-08-16 14:32] RosaWagner commented on #3421
Good idea.
This is a bit strange cause the all process was made with Packager, which is supposed to do that already, no?

[2021-08-16 16:02] #3421 closed

[2021-08-16 19:46] felipesanches opened #3423 "consider re-introducing ttfautohint-py as a dependency"
@anthrotype just uploaded ttfautohint-py wheels for M1.

For now FontBakery does not use ttfautohint-py anymore. Not sure if we need to reintroduce it. But it is always good to have the choice available. I think one of the benefits of using it was ensuring the user had always the latest version available (and the installation was trivial by using pip). So yeah, maybe it is worth using it. I'll thi

[2021-08-16 19:47] simoncozens commented on #3032
This is done, through the opentype shaping checks.

[2021-08-16 19:47] #3032 closed

[2021-08-16 19:50] felipesanches commented on #3032
thanks, @simoncozens

[2021-08-17 03:39] davelab6 opened #3424 "Should com.google.fonts/check/glyf_nested_components be in GF profile?"
In https://github.com/googlefonts/fontbakery/pull/3082 we added a check by @simoncozens called `com.google.fonts/check/glyf_nested_components`, I think to the opentype profile, to warn about nested components, but I heard Microsoft believe this is valid per the TT spec and Windows implementation, and so should be in the GF profile, not the TT one.

[2021-08-17 11:14] m4rc1e opened #3429 "new check: PRs to google/fonts must use the gftools packager"
We need a check to ensure that new prs sent to google/fonts use the gftools packager. People are manually submitting prs and then forgetting to run `gftools add-font` etc. The packager does this all automatically.

I also want as many families as possible to have upstream.yaml files since it makes updating the families much much easier.

[2021-08-17 13:31] #3424 closed

[2021-08-17 14:01] #3159 closed

[2021-08-17 14:09] #2011 closed

[2021-08-17 14:16] simoncozens commented on #3317
It looks like we're wanting to check the GF repo itself, rather than a font family; I think this needs a new `googlefonts_repo` profile or similar, and a new condition to pull down and cache the repo.

[2021-08-17 14:28] felipesanches commented on #3317
Not a new profile, but a new scope for checking, still in the same profile.
By "scope" I mean that we have checks that work on these scopes nowadays:

* **font**: a single font path
* **fonts**: multiple font files
* **ttFont**: a single `ttlib.TTFont` object
* **ttFonts**: multiple font objects
* **font_metadata**: a single font entry from the METADATA.pb file
* **family_metadata**: the family pr

[2021-08-17 15:25] simoncozens commented on #3363
I've implemented this, but with the following notes for posterity:

* The check just tests whether those two features are present in the GSUB/GPOS tables. We could be more specific and just check if it's in GPOS, but I haven't done that.
* I've made it a WARN, rather than a FAIL, because this feature is very rare, and I'm not even sure that any browsers support it yet.
* Yes, it should only apply

[2021-08-17 15:39] #3320 closed

[2021-08-17 18:45] felipesanches commented on #3419
I think that the **can_shape** method of @simoncozens' `vharfbuzz` python module (which fontbakery uses) can decide whether all those glyphs and sample strings can be rendered.

[2021-08-17 18:50] felipesanches commented on #3419
We'll need the updated description of the METADATA.pb protobuf schema. I see that the one in gftools still does not include these `sample_glyphs` or `sample_text` fields.

We've already had this kind of problem in past updates of the schema. I'd like to request that the METADATA.pb schema be kept in a public repo so that our tools can be kept in sync.

And I have the same request for the designers

[2021-08-17 19:33] simoncozens commented on #3419
D'oh. I forgot that method exists and re-implemented it in `fontbakery.utils`...

[2021-08-17 19:36] felipesanches commented on #3419
well.. I think I was actually referring to your `fontbakery.utils` implementation that I've just learned about this morning :-)

[2021-08-18 17:19] #3187 closed

[2021-08-19 07:09] simoncozens commented on #3411
Yeah, prop is bad because it's AAT; AAT was the Apple pre-OpenType way of doing font cleverness. It's OS X specific (although Harfbuzz now has optional AAT support), and it's old, so new fonts should not be doing that.

[2021-08-19 17:32] felipesanches opened #3433 "[UX] In the past, the check results used to print the names of files being checked and it was very useful!"
While reviewing PR #3432 I noticed that the text terminal reporter is not printing the filenames as it used to do. I do not recall making that change, so this may be a bug.

Not knowing which specific file is being checked severely degrades user experience. So this needs an urgent fix!

[2021-08-19 21:43] vv-monsalve commented on #3383
I celebrate and 100% support the spirit of raising the font quality standards/requirements for the library.

However, it is only possible to evaluate something based on a frame of reference or a standard for a certain context or purpose. So the first thing that we would need to set would be those parameters for Google Fonts. What does a good quality font mean to GF?. Currently, we still do not hav

[2021-08-19 22:15] khaledhosny commented on #3411
There are a lot more AAT tables, why signal this one out?

[2021-08-19 22:37] felipesanches commented on #3411
I guess once one is flagged, the message has been successfully delivered to the user ;-)

Please open an issue with a longer list of tables to be rejected and we'll do so (only when reasonable, of course!).

[2021-08-19 23:55] khaledhosny commented on #3411
But it is not a particularly important AAT table, I can drop it and keep, say, `morx` or `kerx` tables and it would still be an AAT font that only works where AAT is enabled (or works differently).

Case in point [this font](https://github.com/harfbuzz/harfbuzz/issues/3153) is broken when AAT is supported and it does not have a prop table (only `morx` and `feat`).

[2021-08-20 00:02] felipesanches opened #3435 "Expand listing of all AAT table on check/unwanted_tables"
Follow-up to https://github.com/googlefonts/fontbakery/issues/3411#issuecomment-902328089 by @khaledhosny and to PR #3434

Let's list them all and update the check to detect any AAT table, not only 'prop'

[2021-08-20 00:12] khaledhosny commented on #3411
Code moved like a million times, but here is [the commit](https://github.com/felipesanches/fontbakery/commit/fd10e87903e7e33f47700a6206ee67ea5c4cfd41) that introduced this table and [the issue](https://github.com/googlefonts/fontbakery/issues/798) that requested it. Nothing is mentioned about AAT and I doubt that ever was the reson, either the table was mistaken for another table or because FontTo

[2021-08-20 00:19] felipesanches commented on #3411
Thanks! That's right. Reading the issue, I see that @davelab6 thought it was a FontForge properties table (which is not the case). And even made it clear he was not sure by saying "(I think)". I blindly trusted him then, just like I am trusting you guys here this week.

We started rejecting that table for the wrong reason, but it turns out that we might really want to reject all AAT tables. Is tha

[2021-08-20 00:21] khaledhosny commented on #3411
Google Fonts profile might want to reject them, but it shouldn’t be a universal check since there might be valid uses for such a font (and thanks to HarfBuzz support, AAT font are now more widely supported than they ever have been).

[2021-08-20 00:22] felipesanches commented on #3411
I just don't want to trust blindly anymore. That's why I've been going after better rationales for the checks. And that's what made me touch this issue this week. I could not accept that a table being rejected without a clear justification.

[2021-08-20 00:23] khaledhosny commented on #3411
It might be worth a WARNING though, even in universal profile, since people often generate `morx` table from FontForge by mistake and it is almost always a non-functioning table as well.

[2021-08-20 00:28] felipesanches commented on #3411
Yeah, I was wondering about that. Is FontTools support meant to facilitate working mostly with legacy fonts that happen to use AAT ("old / OSX-only" stuff in @simoncozens' words)? Should we discourage AAT usage in new fonts unless the designer is really sure about what's being done? I would consider keeping a universal check for all AAT tables at WARN level and making it a FAIL on `googlefonts` pr

[2021-08-20 00:34] khaledhosny commented on #3411
FontTools got AAT support when Sacha was making test AAT fonts when Behdad was adding AAT support to HarfBuzz, and HarfBuzz got AAT support because Chrome wanted to stop using the CoreText bridge in HarfBuzz as it was slow and AAT fonts are still common in macOS.

Whether AAT fonts are still relevant or not, is not something I can answer. Some AAT tables might still be useful, and both HarfBuzz/Co

[2021-08-20 01:07] felipesanches commented on #3411
Thanks for all that background info, @khaledhosny!

@davelab6, what's your opinion on checking for the presence of AAT tables both on `googlefonts` profile (as a **FAIL**) as well as on `universal` (as a **WARN**)?

Also, who else should I be asking this question?

[2021-08-20 06:52] felipesanches opened #3436 "Come up with a way of declaring multiple alternative implementations to a single check"
Follow-up to PR #3432 (I don't want to derail the conversation in there, nor block a PR merge with further feature ideas)

The PR mentioned above enables one to pass other file-types to FontBakery. The immediate consequence of that is that it would be possible to perform checking for the same kinds of problems but in different stages of a font project. For instance, there could be a GlyphsApp file

[2021-08-20 11:45] retypefoundry opened #3437 "Font Bakery installation problems"
(**NOTE:** If your issue is related to a specific check, please consider mentioning its check-id on the issue title.)

## Observed behaviour

I've tried to install Font Bakery under Big Sur but I can't go beyond the command:

`pip3 install fontbakery`

because the terminal will always return:

`Killed: 9` (full output)

Any idea on how to sort this out?

## Expected behaviour

(Describe here what

[2021-08-20 13:41] graphicore commented on #3436
Pattern matching on the type of the check arguments comes to my mind. Could be done by some kind of generic switching meta-check that wraps the actual implementations. Maybe a SKIP that is not reported/silent could help to remove noise when there's no implementation, though, it would be even nicer to have this figured out even before calling the check e.g. when calculating `profile.execution_order

[2021-08-20 14:50] anthrotype commented on #3437
Segfault is no good. Can you copy and paste the full console log before that? Maybe try to pip install --verbose

[2021-08-20 16:47] #3169 closed

[2021-08-20 16:51] felipesanches opened #3439 "Add the existing UFO checks to the universal profile"
Now that PR #3432 is merged, we should include the UFO checks in the `universal` profile. The checks can remain at the **Lib/fontbakery/profiles/ufo_sources.py** file and just be imported into the other profile.

[2021-08-20 17:10] #3439 closed

[2021-08-23 09:32] jenskutilek commented on #3437
Maybe the installation doc should not recommend installing via homebrew: https://justinmayer.com/posts/homebrew-python-is-not-for-you/

I always use the official Python installers from python.org and haven’t had any problems with them.

[2021-08-23 21:20] felipesanches commented on #2949
I've just sent a request for some font samples on the email address Yanone provided.

[2021-08-23 21:25] felipesanches commented on #2958
The "LegacyFiles" are not available anymore on that branch and I was not able to find them elsewhere. This issue sounds like a GlyphsApp bug and we were not able to find any further info.

I think it is wiser here to simply close this. If the problem resurfaces, then we can investigate further.

[2021-08-23 21:25] #2958 closed

[2021-08-24 03:53] felipesanches opened #3443 "update METADATA.pb schema"
see also: issue #3419

[2021-08-24 05:29] #2949 closed

[2021-08-24 05:30] felipesanches commented on #2949
unfortunately, @yanone can't remember exactly which files were affected by this.

[2021-08-25 12:26] davelab6 opened #3445 "DESC link checking CI & making typesetit/etc private repos public on push"
https://fonts.google.com/specimen/Alumni+Sans launched a while ago, but the upstream repo @ github.com/googlefonts/alumni was still private until I changed it to public a moment ago.

Ideally we'd have some kind of DESC link checking in the CI so that we get notified when links in any DESC don't work.

Not sure how best to solve this tho :)

Any suggestions, @RosaWagner @m4rc1e @vv-monsalve ? :)

[2021-08-31 05:13] simoncozens opened #3451 "Autogenerate a lints database"
## Observed behaviour

The Rust [clippy lints](https://rust-lang.github.io/rust-clippy/master/index.html) page is awesome.

## Expected behaviour

We should have a similar page generated from the rationales and check IDS of fontbakery checks.

[2021-08-31 11:04] m4rc1e commented on #3329
It would be great to improve the html reporter. Just viewed this https://usted.github.io/Albert-Sans/fontbakery-report.html and it isn't so clear. Imo, it would be great if the html reporter is similar to the github MD reporter.

[2021-08-31 11:35] felipesanches commented on #3329
yeah... the HTML is not looking the same as the github MD reported, but it should. The reason for the difference must be some different level of support for markdown+HTML5 on different libraries.

[2021-08-31 12:34] felipesanches commented on #3451
Done: https://font-bakery.readthedocs.io/en/stable/fontbakery/profiles/universal.html

But it could be improved, for sure! That Rust page is indeed pretty cool. Maybe we could incorporate some aspects of that in our docs as well.

[2021-08-31 12:36] felipesanches commented on #3451
This is something that bothers me, though: #3313

[2021-09-01 03:56] felipesanches commented on #3313
well... I built it successfully on my local machine, but it still shows the old 0.7.34 on the readthedocs server. Also, the control panel only seems to list stable release builds, and none of the "latest" ones, which I suppose should match the contents of the git repo's master HEAD as of the date & time of each build.

Maybe the builds take a long time to trigger. I'll give the servers a chance an

[2021-09-01 21:40] felipesanches commented on #3313
This still did not work :-P

https://readthedocs.org/projects/font-bakery/builds/14614183/

It builds nicely on my local machine, but remote RTD servers still use the incorrect sphinx version. I am not sure what's the proper way of specifying the sphinx version to run on ReadTheDocs. We'll have to figure it out and try again on v0.8.3 release.

[2021-09-02 11:48] felipesanches commented on #2798
I wish I had not said that, more than an year ago :-P

Now that I came back here, I think I understand the problem. I suspect there's no easy way to auto-detect what subjectively "looks like regular".

[2021-09-02 11:53] felipesanches commented on #2216
I've just assigned this to @m4rc1e because it seems to be an issue closely coupled to his work on refactoring name table checks, as seen at #3404

[2021-09-02 11:56] felipesanches commented on #3437
@RosaWagner could you please verify whether your installation procedures on M1 would also work for @retypefoundry here?

[2021-09-02 12:02] felipesanches commented on #3436
I've merged the GlyphsApp checks even though their check ids are not definitive yet. They'll share the same id as the corresponding binary ttf checks once we support check polymorphism.

It seems that @simoncozens has been experimenting with this, so I will assign him to this issue. Feel free to reassign it back to me later if you need me to work further on this issue.

[2021-09-02 12:05] felipesanches commented on #3436
Milestone is set to FB v0.8.3 due to these temporary check-ids. If we postpone this to some later release, then we'll need to temporarily disable those experimental checks.

[2021-09-02 12:36] simoncozens commented on #3436
Yeah. I have this working. (See [https://github.com/simoncozens/fontbakery/tree/multiple-implementations-parking-lot](this branch).) The problem is that now checks are no longer a function, those code tests which don't use `CheckTester` don't work. This is why I was working on #3453.

[2021-09-02 13:51] felipesanches commented on #3436
thanks for doing that. The few code-tests that did not use `CheckTester` were left-overs I wanted to someday cleanup. Glad to see this finally happening now ;-)

[2021-09-02 16:30] vv-monsalve opened #3455 "com.google.fonts/check/license/OFLbodytext bug when no OFL file is found"
## Observed behaviour

When running FB tests on a project that doesn't have an OFL file yet in the folder, the check is reporting it as an `ERROR` with a final message `TypeError: argument of type 'NoneType' is not iterable`.

<details>
<summary>💔 <b>ERROR:</b> Check OFL body text is correct.</summary>

* [com.google.fonts/check/license/OFL_body_text](https://font-bakery.readthedocs.io/en/latest/f

[2021-09-02 18:27] vv-monsalve opened #3456 "Getting v0.8.0 instead of v0.8.2 when installing FB from scratch"
## Observed behaviour

When installing Fontbakery in a new venv from scratch I'm only getting the `Fontbakery version: 0.8.0` instead of the new updated `0.8.2`.

In a call with @felipesanches he said this could be due to some required dependencies for the latest versions are not installed or updated locally. However, this is not being reported so that the user could know what is missing or needs

[2021-09-03 15:21] simoncozens commented on #3313
Try this syntax in the .readthedocs.yml:

[code]

[2021-09-08 07:18] simoncozens commented on #2011
For anyone (like me) getting the error and not knowing precisely how to fix it with `fontmake`, you add this to the command line: `--filter DecomposeTransformedComponentsFilter`.

[2021-09-08 09:10] kontur opened #3457 "CheckRunner config should set defaults"
I've just migrated a script from an older signature of `CheckRunner` where I had only set the `exclude_checks` previously. Rewriting this as a `config` object passed to the method, it would be nice if the additional `config` parameters would get set from a reasonable default, if missing. Right now just passing `config={"exclude_checks": ... }` will fail on the key access of the other, undefined, `

[2021-09-10 13:54] chrissimpkins opened #3459 "Drop Python 3.6 support"
[fontTools](https://github.com/fonttools/fonttools/issues/2350) and [dependencies of fontbakery dependencies](https://github.com/source-foundry/font-v/issues/154) are moving in this direction.  Opening this to begin the discussion.

[2021-09-13 10:22] RosaWagner commented on #3230
To what @chrissimpkins mentioned I would add another exception:
`uni0237` (j dotless), doesn't have a capital counter part either.

- For the smallcaps mapping, it has to have the same mapping as uppercases logically
- IMO severy=10 / FAIL, cause if a font shows tofu in caps but not in lowercase then it can be considered broken.
- Would it be a problem to have this check implemented prior to have

[2021-09-14 05:31] #3459 closed

[2021-09-14 12:25] felipesanches commented on #2936
This will likely be fixed when we merge @m4rc1e 's refactoring of name table checks at PR #3194, so I'm now assigning the issue to him.

[2021-09-15 17:53] felipesanches commented on #2898
![Screenshot from 2021-09-15 14-53-23](https://user-images.githubusercontent.com/213676/133484532-bb997365-9f71-4174-9479-9b421a7c0bf7.png)

[2021-09-15 17:55] felipesanches commented on #2898
![Screenshot from 2021-09-15 14-54-39](https://user-images.githubusercontent.com/213676/133484700-65e6b905-ed05-4fcb-a41d-c6b5ab406922.png)

[2021-09-15 17:56] felipesanches commented on #2898
![Screenshot from 2021-09-15 14-56-24](https://user-images.githubusercontent.com/213676/133484958-6521df55-55f0-4e92-8c13-532a11e11191.png)

[2021-09-15 17:59] felipesanches commented on #2898
![Screenshot from 2021-09-15 14-59-10](https://user-images.githubusercontent.com/213676/133485357-63c32a97-822d-4bb0-9e8b-d0292ea5e0e1.png)

[2021-09-15 18:13] #2898 closed

[2021-09-15 19:08] felipesanches commented on #3456
Actually, that's something **pip** is designed to do.

[2021-09-15 22:37] felipesanches commented on #3456
@vv-monsalve could you please type `which fontbakery` and let me know what it says?

[2021-09-20 08:10] simoncozens opened #3465 "CheckTester needs thinking through"
See #3453 and #3464 for context. The situation is that we want to use `CheckTester` to run checks in a controlled and ergonomic way, but the arguments that we want to pass to `CheckTester` really depend on context and we want it to "work out" what it should do with the values we pass it:

* Sometimes we want to pass the same arguments as the underlying test function.
* Sometimes we want to pass a

[2021-09-20 18:34] felipesanches commented on #3465
I think that this proposal is worse than the current state as it would unnecessarily save font files to disk.

But I agree that the current approach is still not good. The ideas below are still fresh, I have not thought much about it, so we'll have to think more carefully, but here's what I think could be done:

I've been thinking that perhaps one way to refactor this would be to annotate the asse

[2021-09-20 18:37] simoncozens commented on #3465
What’s wrong with saving font files to disk? Testing FontBakery is not a performance-critical operation. :-)

And you did want an API that mirrored the command line usage…

[2021-09-20 18:38] felipesanches commented on #3465
Well... the dict that we pass for overriding conditions is almost this. But it does not apply to the first argument we pass fo CheckTester. Maybe we could use the dict for everything, even for a simple font path or `TTFont` object. But then I dislike the idea of code-tests looking like this:  `assert_results_contain(check(ttFont=ttFont), ...`

[2021-09-20 18:44] felipesanches commented on #3465
My goal is to have an API that imitates command line usage, yes. But that does not mean I want to save files unnecessarily. Or that I would want to restrict code-tests to work exclusively with file paths. On the contrary, I think the imitation is good enough if kept at the semantic level:

A user would pass a file path on the command line, but our test suite can work with a fontTools TTFont object

[2021-09-20 19:01] simoncozens commented on #3465
Another idea I had is for the CheckTester class to offer a few methods. One is for following the underlying function arguments, one is for purely filenames, one is for handling condition overrides etc. That way if you want cleverness you have to “pay” for it.

[2021-09-20 19:29] felipesanches commented on #3465
how would that look like?

[2021-09-26 20:36] davelab6 commented on #3160
Love this

[2021-09-27 03:17] felipesanches opened #3467 "Handle lookup types 5 and 6 on check/unreachable_glyphs"
At PR #3466 we added a new check for unreachable glyphs.

I felt that we seemed to not deal properly with lookups 5 and 6. There may be a reason for that, but that's not trivial to grasp by reading the source code, so I think it means it is either incomplete or it requires an explicit comment explaining the reasoning to leave those out.

[2021-09-27 03:17] felipesanches commented on #3467
Any idea about that, @simoncozens?

[2021-09-28 15:23] felipesanches commented on #3467
thanks!

[2021-10-01 19:07] felipesanches opened #3470 "overrides on the configuration file must include a mandatory "reason" field"
So that font projects properly document the reasoning behind their custom check results overrides.

Here's one possible syntax for that:

[code]

[2021-10-01 19:08] felipesanches commented on #3470
what do you think, @simoncozens ?

[2021-10-01 19:10] felipesanches opened #3471 "Maybe we should keep track of old check-ids"
Sometimes we change check-ids either because we find better IDs to the checks or because of typos. It would be nice to be able to make fontbakery still recognize the older IDs, so that we don't brake legacy config files such as the check overrides that are now possible to declare on `fontbakery.yaml`

[2021-10-06 23:19] felipesanches opened #3474 "fix code-test for com.adobe.fonts/check/family/bold_italic_unique_for_nameid1"
Code-changes on pull request #3473 broke the code-test for com.adobe.fonts/check/family/bold_italic_unique_for_nameid1

Investigate the reason for that and re-enable the code-test.

[2021-10-06 23:20] felipesanches opened #3475 "fix code-test for com.google.fonts/check/vertical_metrics_regressions"
Code-changes on pull request #3473 broke 2 test cases in the code-test for com.google.fonts/check/vertical_metrics_regressions

Investigate the reason for that and re-enable the code-test.

[2021-10-07 00:02] #3474 closed, assigned to felipesanches

[2021-10-07 01:02] #3419 closed

[2021-10-07 16:52] felipesanches commented on #3436
PR #3453 (Use CheckTester everywhere) is now merged (via followup PR #3473), so we can resume on this. I will take a look at your branch and see if I can merge it myself. If I have a hard time doing so, I'll come back here to ask for help.

[2021-10-07 18:18] felipesanches opened #3478 "What's the use of the `name` attribute of a FontBakeryCheck object? Can we deprecate it?"
On the `FontBakeryCheck` class docstring we see:

[code]

and on its constructor:
[code]

Absolutely none of the checks in our codebase declare a `name`, so this means it is always set to the function name, which is never really useful as "a short label read by humans". We typically use the check-id for that.

I suggest we deprecate that.

But I also see that it's been used internally as a sort of

[2021-10-15 12:23] twardoch commented on #2496
Apple does keep it up-to-date. The most recent version is [Font Tools for Xcode 13](https://download.developer.apple.com/Developer_Tools/Font_Tools_for_Xcode_13/Font_Tools_for_Xcode_13.dmg), released on 20 September 2021. The new `ftxvalidator` runs fine on my macOS 11.5.1:

[code]

[2021-10-15 14:57] graphicore opened #3480 "conditon metadata_file [ERROR] ... MissingValueError: Value "font" is undefined"
## Observed behaviour

When I run fonbakery from the command line, current main branch at 82c4b40d like this:

[code]
I get a lot of ERRORs like this:

[code]

Tracing this back, I can get rid of the ERROR by applying this diff:

[code]

So the condition `metadata_file` fails when it defines only optional args. I wonder if this would have been always a problem or if this got introduced by recent c

[2021-10-17 04:36] felipesanches commented on #2496
@twardoch, would you be able to provide such input so that we could figure out the full set of font problems that ftxvalidator supposed checks for?

Once we have this info, I'd probably create a spreadsheet to map which font problems Font Bakery still does not check for.

[2021-10-19 18:51] davelab6 opened #3481 "Add simple check to ensure vertical text orientation works everywhere as expected"
A review of these Japanese Kanji fonts turned up an issue that FontBakery can check for in the universal profile.

The repos are here and will be public next week:

* https://github.com/googlefonts/zen-kakugothic
* https://github.com/googlefonts/zen-oldmincho
* https://github.com/googlefonts/zen-marugothic

@aaronbell checked and said

@mintoming replied,

@aaronbell replied,

So!

* If `vert` or

[2021-10-27 22:19] felipesanches opened #3482 "ERROR stack traces are hard to read"
This seems to be one bad side-effect of the code-changes made by @aurium when incorporating markdown rendering in the text terminal with the `rich` lib.

I'd like to preserve line-breaks in stack traces to facilitate reading them.

![Screenshot from 2021-10-27 19-16-11](https://user-images.githubusercontent.com/213676/139155478-97fae137-4147-4a6a-ab8e-f5b8b9a62046.png)

[2021-10-28 22:07] vv-monsalve opened #3486 "com.google.fonts/check/contour_count -> Softhyphen case"
## Observed behaviour

`Glyph name: softhyphen Contours detected: 0 Expected: 1`

Fontbakery is complaining (WARN) when `softhyphen` has no contours. Indeed when adding the glyph in Glyphs App, it places a hyphen as component. However, in a private email John Hudson explained:

I've tested two cases and both worked well.
- A font with a `softhyphen` present with no outlines and zero-width
- A font

[2021-10-28 22:20] vv-monsalve opened #3487 "com.google.fonts/check/contour_count -> ZWNJ and WNJ"
## Observed behaviour

[code]
Similar to what was reported for Sofhyphen, when reviewing this WARN for a still private font project that supports Telegu, @tiroj observed:

<img width="829" alt="g55N7uj0Am64DCej" src="https://user-images.githubusercontent.com/48698976/139343634-09489cfb-15b8-47c8-86b5-a7fc467a543f.png">

Taken from [https://docs.microsoft.com/en-us/typography/script-development/dev

[2021-10-29 00:57] #3486 closed, assigned to felipesanches

[2021-10-29 02:14] #3487 closed, assigned to felipesanches

[2021-10-29 15:50] felipesanches opened #3490 "FAIL if legacy accents have anchor or width=0"
@yanone, you mentioned this today on a video call.

Could you please describe the proposed new check in more details?

[2021-10-29 18:18] felipesanches opened #3491 "migrate check/contour_count to universal profile"
followup to https://github.com/googlefonts/fontbakery/issues/3486#issuecomment-954709725

[2021-11-02 00:17] #3491 closed

[2021-11-02 13:44] vv-monsalve commented on #3456
@felipesanches I've just created a new `venv`, installed from a `requirements.txt` file (listed on it as `fontbakery>=0.8`) and got:
`vv_monsalve@192 licorice % fontbakery --version
0.8.2`

[2021-11-02 14:35] vv-monsalve commented on #3456
And it is not triggering the Fail about it

## Fontbakery report

Fontbakery version: 0.8.2

<details>
<summary><b>[26] Licorice.ttf</b></summary>
<details>
<summary>🔥 <b>FAIL:</b> Checking file is named canonically.</summary>

* [com.google.fonts/check/canonical_filename](https://font-bakery.readthedocs.io/en/latest/fontbakery/profiles/googlefonts.html#com.google.fonts/check/canonical_filename)
<

[2021-11-02 15:44] felipesanches commented on #3482
The bug in the screenshot above was fixed, but the issue with hard-to-read stack-traces remains. In order to fix this issue, we'll have to induce a stack trace (perhaps by reintroducing the bug from the screenshot).

To do so, replace this:
[code]

with this:
[code]

on `Lib/fontbakery/profiles/googlefonts_conditions.py`, but only on your local copy. Do not include this on actual commits.

[2021-11-02 16:30] vv-monsalve opened #3495 "com.google.fonts/check/metadata/can_render_samples - AttributeError: 'NoneType'"
## Observed behaviour

After upgrading Fontbakery to 0.8.3, there is an ERROR reported for this new check.

<details>
<summary>💔 <b>ERROR:</b> Check samples can be rendered.</summary>

* [com.google.fonts/check/metadata/can_render_samples](https://font-bakery.readthedocs.io/en/latest/fontbakery/profiles/googlefonts.html#com.google.fonts/check/metadata/can_render_samples)
<pre>--- Rationale ---
In

[2021-11-03 13:14] RosaWagner commented on #3495
We also have the same ERROR
I guess #3494 will fix it?

[2021-11-03 17:49] felipesanches commented on #3495
I've just reviewed and merged that PR. Can you verify whether this solves the problem?

[2021-11-03 17:53] davelab6 opened #3497 "Check for http/https in anchor texts and WARN to remove them"
In https://github.com/google/fonts/commit/c56fbe39f6d18d088567d48c8629e69b769f6ee2  I removed `https://` from inside the anchor text; this should be done to all descriptions, and so there should be a GF profile DESCRIPTION file check to ensure they are not included.

We should also have links to upstream repos, so every DESC should have a link to github.com and WARN if not found.

[2021-11-03 18:04] #3482 closed

[2021-11-03 18:40] vv-monsalve commented on #3495
After installing it with `pip install git+https://github.com/googlefonts/fontbakery` the ERROR is still reported.

[2021-11-03 19:27] felipesanches commented on #3495
ok, I'll double check that locally then.

[2021-11-03 22:19] usted opened #3498 "OS/2.fsSelection bold & italic settings are unique for each NameID1"
Can anyone help on how i can fix this FAIL when i have a italic and no-italic source-file?

🔥 FAIL Family has 2 fonts (should be no more than 1) with the same OS/2.fsSelection bold & italic settings: Bold=False, Italic=False [code: unique-fsselection]
🔥 FAIL Family has 2 fonts (should be no more than 1) with the same OS/2.fsSelection bold & italic settings: Bold=True, Italic=True [code: unique-fss

[2021-11-04 08:33] yanone commented on #3490
The `gravecomb` (and related) accents is expected to have a width of `0` and is used for accented glyph composition, while the legacy `grave` character (and related) are expected to have a positive width as they are used in text setting such as for the backtick.

I would check for width of `0` for the `*comb` accents, and for positive sidebearing (not just positive width) for the legacy accents.

[2021-11-04 08:36] yanone commented on #3490
Oh, about the severity:

`*comb` accents to have a positive width or sidebearing is okay, as they are positioned in the font using anchors, so maybe a WARN here?

But legacy accents to have a negative sidebearing on either side should be a FAIL in my opinion, as these are used in text.

[2021-11-05 05:22] #3497 closed

[2021-11-05 06:11] felipesanches commented on #3495
![Screenshot from 2021-11-05 03-08-51](https://user-images.githubusercontent.com/213676/140466153-96dd571e-541f-4b0e-a355-5f20976518d5.png)

Naturally, as this is a check involving a `METADATA.pb` file, the single TTF file provided is not enough to reproduce the bug. In these cases, please also attach the metadata file to the issue.

I think this font project may be in some github repo, so I'll lo

[2021-11-05 06:13] felipesanches commented on #3495
OK, got the repo (https://github.com/googlefonts/licorice) but the METADATA.pb file is not there (I guess that's because it must be generated by the font packager)

[2021-11-05 06:31] felipesanches commented on #3495
I faked it by copying a METADATA.pb from from some other font project that has sample_glyphs surely not supported by Licorice, and the check gave me a good result:

![Screenshot from 2021-11-05 03-28-35](https://user-images.githubusercontent.com/213676/140468044-7d249a5d-b6a9-4bcd-936b-452b494761a5.png)

I did the same with a METADATA.pb that does not include `sample_glyphs` entries, and that also

[2021-11-05 06:42] felipesanches commented on #3495
Finally, I looked once more to the check implementation and I'm pretty sure that's correct. There's no way for one to get an ERROR message like that `AttributeError: 'NoneType' object has no attribute 'sample_glyphs'` unless it is not the latest version of FontBakery that is being run:

![Screenshot from 2021-11-05 03-40-45](https://user-images.githubusercontent.com/213676/140469145-2dc911cc-91b6-

[2021-11-05 06:42] #3495 closed

[2021-11-05 07:07] felipesanches commented on #3342
FontBakery has no way to know it is being run on a github PR. FontBakery checks a full set of font project files, not diffs.

Perhaps a new feature could be added to take this into consideration, but it is not trivial with the current codebase. And if we do something like that, I think we should think carefully how to approach such feature. I'll leave this one tagged as a "Someday Maybe".

[2021-11-05 13:35] vv-monsalve commented on #3456
The latest `0.8.3` version is installing correctly since yesterday, under the same conditions (new venv, same requirements file and `fontbakery>=0.8` argument).
So I'm closing this here.

[2021-11-05 13:35] #3456 closed

[2021-11-05 13:56] vv-monsalve commented on #3495
Well yes indeed, the METADATA.pb is not supposed to be part of either of the designer's (or development) repo, nor therefore in the local clones of them. It is only be included when the font is actually [added](https://github.com/googlefonts/gftools/blob/main/bin/gftools-add-font.py) to the [google/fonts repo](https://github.com/googlefonts/gf-docs/tree/main/Spec#the-googlefonts-repo). However, th

[2021-11-09 17:25] graphicore opened #3502 "Problem installing: Error failed building wheel for pyclipper"
## Observed behaviour

Computer was a Mac (Intel).

On a new version of Python (here it was python3.10) `pip install fontbakery` fails with:

* `xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at /Library/Developer/CommandLineTools/usr/bin/xcrun`
* `ERROR: Failed building wheel for pyclipper`
* `Failed to build pyclipper`
* `ERROR: Could not build w

[2021-11-09 17:43] #3502 closed

[2021-11-10 16:02] simoncozens opened #3504 "When multiple non-font files are passed, only one is checked"
## Observed behaviour

`fontbakery check-googlefonts data/test/nunito/METADATA.pb` runs 16 checks (all of which are skipped).
`fontbakery check-googlefonts data/test/nunito/METADATA.pb data/test/rosarivo/METADATA.pb` *also* runs 16 checks, only on the first METADATA.pb file.

## Expected behaviour

32 checks should be run.

This is because we have a condition for metadata_pb files that explicitly

[2021-11-11 19:09] eliheuer opened #3505 "[com.google.fonts/check/STAT/gf-axisregistry] Add support for `wdth: Medium`?"
I get a Font Bakery error telling me that `Medium` is not a supported `wdth` axis name: https://github.com/cbcrc/radiocanadafonts/runs/4181596599?check_suite_focus=true
[code]

But see the OpenType docs, Medium is the default here: https://docs.microsoft.com/en-us/typography/opentype/spec/os2#uswidthclass

And also in Glyphs:
<img width="308" alt="glyphs-medeum" src="https://user-images.githubuser

[2021-11-11 19:45] felipesanches commented on #3505
yes, but on the GF Axis Registry it is called `"Normal"` instead:

https://github.com/google/fonts/blob/main/axisregistry/width.textproto#L26

[2021-11-11 20:10] eliheuer commented on #3505
Glyphs defaults to `Medium` and it is not easy to change that to `Normal` in the Glyphs UI.

[2021-11-11 20:24] felipesanches commented on #3505
Perhaps we should open an issue on the `google/fonts` git repo then, to add this as yet another valid name on the GFAxisRegistry.

[2021-11-11 20:25] felipesanches commented on #3505
What I mean is that this FontBakery check simply enforces whatever the GFAxisRegistry specifies.

[2021-11-11 20:28] eliheuer commented on #3505
Got it, I'll make an issue there. Thanks!

[2021-11-17 16:07] m4rc1e opened #3506 "New check: Detect colliding accents at small pt sizes"
A user just reported an issue where the acute in Eacute collides with the base glyph at certain sizes in the Tenor family.

![image](https://user-images.githubusercontent.com/7525512/142235444-6d5a030a-de53-4122-939b-d12eb50197b0.png)

A possible heuristic to detect colliding accents is to the render the glyph, do a DFS/BFS on the pixels and count that there are at least two black shapes. However,

[2021-11-17 16:11] m4rc1e commented on #3506
This reminds me of the recommended contour count check I implemented many moons back. I doubt we can get it perfect but it will be useful regardless.

[2021-11-18 10:54] m4rc1e commented on #3506
Instead of using a hash map, a better solution could be to render each glyph twice and check whether the smaller pt size has less shapes.

[2021-11-18 11:09] felipesanches commented on #3506
yes, I agree that's a better approach

[2021-11-19 03:23] #3313 closed

[2021-11-19 15:35] NightFurySL2001 opened #3510 "check-universal missing in 0.8.4?"
When upgrading from 0.7.38 to 0.8.4 using `pip3 install -U fontbakery`, most of the check listed on https://font-bakery.readthedocs.io/en/stable/user/USAGE.html is missing (including `check-universal`), only leaving `check-googlefonts` available (and a new undocumented `check-opentype`).

[code]

[2021-11-19 19:00] felipesanches commented on #3510
Is it only missing on the usage message? Or is the universal profile really unavailable in your local installation?

[2021-11-19 19:03] felipesanches commented on #3510
Also, what's the operating system in which you're trying this?

[2021-11-20 03:48] NightFurySL2001 commented on #3510
Oops, sorry just found out that the version identified is my mistake when upgrading by using `pip` instead of `pip3`, which installs fontbakery 0.4. A clean uninstall of fontbakery on `pip` and `pip3` and then reinstall solve the issue.

[2021-11-20 03:48] #3510 closed

[2021-11-20 04:00] NightFurySL2001 opened #3511 "com.google.fonts/check/contour_count -> Suggestion for ⅘ uni2158"
Not sure if it is the right place, but ⅘ can be done with 3 contour if the design of 4 is open-ended. The test did not warn the contour count for 4 or other related contour to 4, so I am guessing it is overlooked.

[code]

[2021-11-20 19:04] felipesanches commented on #3511
yes, the issue tracker is **always** the right place to report problems ;-)

The data used in this check was inferred from a preexisting collection of font files from the Google Fonts collection. This is obviously biased and likely lacks cases like the one you brought up. We're happy to gradually improve the check by incorporating suggestions like this one.

I'll review this and likely include you

[2021-11-21 02:48] NightFurySL2001 opened #3512 "Provide option to list the full glyphs instead of "and X more""
Currently on 0.8.4, if the list of glyphs with problem is longer than 10, the list is truncated with "and X more". Exporting to HTML or JSON still maintain the "and X more" truncation. Screenshot below.
![image](https://user-images.githubusercontent.com/33471049/142747362-5f508865-fec6-426d-b359-5dc31c4c39f3.png)
![image](https://user-images.githubusercontent.com/33471049/142747366-7b552286-0762-4

[2021-11-22 16:43] #3363 closed

[2021-11-23 00:24] felipesanches commented on #835
This issue does not apply to FontBakery anymore. Helper scripts were long ago migrated to **gftools**.

[2021-11-23 00:24] #835 closed

[2021-11-23 00:28] felipesanches commented on #3512
This is a duplicate of #3173

[2021-11-23 00:28] #3512 closed

[2021-11-23 00:31] felipesanches commented on #3173
As suggested by @NightFurySL2001 at https://github.com/googlefonts/fontbakery/issues/3512#issue-1059277011 I will implement this as `-F, --full-list`

[2021-11-23 22:02] felipesanches opened #3515 "Problems installing FB v0.8.4 on Viviana's MacOS"
Likely related to #3456

I'll have a video call now with @vv-monsalve to try to understand what's wrong in her setup.

[2021-11-23 23:23] felipesanches commented on #3515
ok, we figured out what was wrong. For some reason @vv-monsalve had fontbakery 0.8.3 installed system-wide. Uninstalling it solved the issue.

[2021-11-23 23:23] #3515 closed

[2021-11-24 01:44] felipesanches commented on #3511
yes, your suggestion makes total sense ;-)

[2021-11-24 01:49] #3511 closed

[2021-11-24 19:20] #3173 closed

[2021-11-24 20:04] felipesanches commented on #3506
@m4rc1e, please remember to always provide links to the original issue in cases like this.

Here, the relevant one is https://github.com/google/fonts/issues/4075

[2021-11-24 20:29] felipesanches opened #3518 "Docs are not listing a few more recent profiles"
We must include these profiles in the FontBakery documentation:

* iso15008
* layout
* notofonts
* outline
* shaping
* typenetwork

[2021-11-24 20:47] #3518 closed

[2021-11-24 20:59] felipesanches commented on #3506
I'm starting to implement this one now. I fear it may be a time-consuming check though as running the pixel algo at least twice on all glyphs of a given font will likely be a slow task, even with a well optimized implementation.

I considered using Simon's `collidoscope` module, but that would not detect issues caused by bad hinting, so my current approach is to use Pillow to render tiny bitmaps.

[2021-11-25 00:58] felipesanches commented on #3506
I started implementing is, but I am having a hard time making it work, so I will open a PR to share the WIP code

[2021-11-25 18:34] felipesanches commented on #3505
I've just read @RosaWagner's remarks at https://github.com/google/fonts/issues/4058#issuecomment-966979222

What could we do in FontBakery to clarify this matter to our users?

[2021-11-26 09:48] RosaWagner opened #3521 "(googlefonts) git repo URL should be the same in all files of the font dir"
## Observed behaviour

We have a repo URL consistency check between OFL.txt and METADATA.pb, but not with the description and upstream.yaml. Happens regularly that I catch a different link, and it shows that the description hasn't been updated, or that the PR has been made from a a different fork. As a result we end up with multiple non-synchronised forks, and it makes any upgrade complicated.

##

[2021-11-26 10:58] RosaWagner commented on #3505
I don't think there is not much to clarify for that particular case, the usWidthClass is not a parameter that has an incidence on the STAT table.

What we can say is:

Setting up a proper STAT table in Glyphs (the way GF is expecting it) is not possible in a simple way at the moment. We recommend to patch it on binaries with [gftools gen-stat](https://github.com/googlefonts/gftools/blob/main/bin/g

[2021-11-26 13:04] felipesanches opened #3522 "Maybe use Adobe's pyots instead of ots-python?"
@anthrotype suggested it at https://github.com/googlefonts/ots-python/issues/14

[2021-11-26 13:06] anthrotype commented on #3522
if it aint broke dont fix it?

[2021-11-26 13:08] felipesanches commented on #3522
well... my understanding was that this would free you from the task of maintaining ots-python

[2021-11-26 13:12] anthrotype commented on #3522
sure but how often does OTS get updated? It takes us 2 minutes to bump the version embedded ots binary. What I like about that googlefonts/ots-python package is that it builds one wheel per platform, instead of one per python version in turn multiplied by the number of platforms. It's also much simpler to maintiain, it simply calls ots-sanitize as a subprocess, delegating all the logic to the latt

[2021-11-26 13:13] anthrotype commented on #3522
Also I remember Josh said they only build and publish wheels for Mac and Linux, but not for Windows.

[2021-11-26 13:15] felipesanches commented on #3522
yeah, makes sense!

ok cool then ;-)

[2021-11-26 13:15] #3522 closed

[2021-11-29 17:50] madig commented on #3160
Uh, shouldn't the code check if these glyphs are used as components by otherwise reachable glyphs?

[2021-11-29 18:34] simoncozens commented on #3160
Ooh that's actually a really good point.

[2021-11-29 19:01] felipesanches opened #3523 "[check/unreachabe_glyphs]: Are these used as components by otherwise reachable glyphs?"
At https://github.com/googlefonts/fontbakery/issues/3160#issuecomment-981870943, @madig brought up a good point:

[2021-11-29 19:02] felipesanches commented on #3160
I've opened a new issue since this fix targets a different milestone.

[2021-11-30 04:23] vv-monsalve commented on #3521
Synchronized fork/repo + not being a hell for human eyes to catch it, would do this check worth.

We have had some huge to small setbacks due to both situations.

[2021-11-30 23:17] madig commented on #3523
There's a script in a top-secret font repo Simon has access to that implements something.

[2021-12-01 08:54] timboudreau commented on #818
I am generating a font using Java code, not using any visual tool - reviving and modernizing a bunch of ancient code extracted from the circa 2004 Doubletype font editor.  I have managed to add writers for newer tables, and the results work nicely, and fontbakery tests largely pass.

If the goal of emitting this INFO alert is to popularize use of the table, it would be truly helpful if, somewhere

[2021-12-01 09:42] TBBle commented on #2420
Poking around, I noticed that the [CSS Fonts 4 current draft](https://www.w3.org/TR/css-fonts-4/#font-weight-prop) removes the multiple-of-100 requirement from `font-weight`, as part of allowing variable fonts to function correctly on the Web. So that indeed turns out to be becoming less rigid, at least in CSS. Hopefully GF rules will follow suit as that moves through the ecosystem.

[2021-12-02 12:33] Fonthausen opened #3524 "Wrong Fail on OS/2 usWeight class"
(**NOTE:** If your issue is related to a specific check, please consider mentioning its check-id on the issue title.)

## Observed behaviour

Fontbakery failed the OS/2 usWeight values on the Radio Canada fonts. All weight classes should have been 400 according to fontbakery.

## Expected behaviour

Weight classes are ok in yaml file. So it should not be a FAIL

## Resources and exact process need

[2021-12-02 12:44] RosaWagner commented on #3524
Should be "Radio Canada" with a space, if the family name is not the exact same as in the file (name ID 16), then the instances won't generate

[2021-12-02 13:02] eliheuer commented on #3524
I merged the [PR with the space in the name](https://github.com/cbcrc/radiocanadafonts/pull/24), but Fontbakery still reports the same number of fails, including many `Checking OS/2 usWeightClass` fails like below:

[code]

[2021-12-02 13:06] RosaWagner commented on #3524
The family name of the font in Glyphs is still "Radio-Canada" with an hyphen

[2021-12-02 13:10] eliheuer commented on #3524
The hyphen in the name is how CBCRC stylizes the name, and was the family name in the original fonts.
<img width="321" alt="radio-canada-name" src="https://user-images.githubusercontent.com/5162664/144428228-2a2dddab-3972-4c9e-b8e8-46e628ff9cf1.png">

https://www.behance.net/gallery/56728851/Radio-Canada-typeface

[2021-12-02 13:20] RosaWagner commented on #3524
Then this is an edge case that might messes up with the naming scheme and how the builder and/or fontbakery are checking instances names? We are supposed to have family name on one side of the hyphen, and stylename on the other side.

I would suggest to build the font with a standard family name (no hyphen) to see if it resolves the fontbakery fails and then see from there.

Also if the font goes

[2021-12-02 13:27] yanone opened #3525 "Allow BhuTuka family name"
Please add `BhuTuka Expanded One` (or just `BhuTuka`) to the allowed mixed case exceptions. Thank you.

[2021-12-02 13:57] #3525 closed

[2021-12-02 15:55] eliheuer commented on #3524
I asked Julie at Radio-Canada about the name change and this was the response:

[2021-12-02 19:53] felipesanches commented on #3524
I can improve the user experience in cases like this one by providing a special warning message if more than a single hyphen is used on a given font file name.

[2021-12-02 21:56] #3524 closed

[2021-12-08 10:58] RosaWagner opened #3529 "com.google.fonts/check/metadata/os2_weightclass ERROR with font that has no weight axis"
## Observed behaviour

The font has only a width axis, but default does have a Regular usWeightClass at 400 + STAT table has a location at 400. It doesn't have a weight axis in the FVAR, otherwise it would display a slider with no range in different apps.

[code]

## Expected behaviour

I guess the error is there because it doesn't find a wght axis range, but maybe I am missing something.

## Reso

[2021-12-09 05:51] #3529 closed

[2021-12-09 16:32] davelab6 opened #3531 "GF Profile: Add check for readability of contents"
Use https://github.com/cdimascio/py-readability-metrics to score DESC.html and info.pb file contents.

For now just emit the scores as INFO results, but in future, we might set a WARN if the results are beyond some threshold.

[2021-12-09 22:21] felipesanches commented on #3048
We now can run checks agains glyphs source files in fontbakery.

An initial implementation for this check might be straightforward: does the file parse without errors when loading it with GlyphsLib?

[2021-12-09 22:27] felipesanches commented on #3024
I presume you've not been dealing with this lately, @eliheuer

[2021-12-09 23:32] felipesanches commented on #2840
It should at first be a WARN.

We want to encourage usage of the source field to document the git repo URL and commit that include the exact source files that were used to build the font binaries hosted at the google/fonts git repo.

Once we have this check implemented, it would be nice to add a feature to the gftools builder to automatically provide the correct values for those fields.

[2021-12-10 01:47] davelab6 commented on #3505
Sadly I think we need to close this as WAI. @eliheuer do you agree?

[2021-12-10 02:51] felipesanches commented on #3505
FYI, IIRC, WAI means "Works As Intended"

[2021-12-10 12:00] schriftgestalt commented on #3048
There is a validator in https://github.com/schriftgestalt/GlyphsSDK/tree/Glyphs3/GlyphsFileFormat/validator That might be useful.

[2021-12-10 12:18] m4rc1e commented on #3142
I see Grammarly now has a beta api, https://developer.grammarly.com/. Would be nice to see if we can integrate this.

[2021-12-10 19:51] eliheuer commented on #3505
Yes, closing now. :-)

[2021-12-10 19:51] #3505 closed

[2021-12-10 19:55] eliheuer commented on #3024
Yes, I got busy. I moved this to my personal to-do list just in case no one else gets to it soon and I have time.

[2021-12-13 22:51] davelab6 opened #3533 "Add GF check for METADATA subsets with zero support"
https://github.com/google/fonts/commit/7e9614e62788866e92749c2d9b35881cbdbb60a5

This was caught by an internal lint check,

There should be a fontbakery check for this that FAILs the PR before it gets merged :)

cc @RosaWagner

[2021-12-13 22:58] felipesanches opened #3534 "review docs and possibly write a new "writing FB checks" section"
I think we may only have documentation on how to write new profiles (at https://font-bakery.readthedocs.io/en/latest/developer/writing-profiles.html) but not something similar to that for the creating of new FB checks.

Docs need to be reviewed and perhaps a new section added explaining how one creates a new check.

[2021-12-14 00:29] felipesanches commented on #3533
I think the best way to handle this would be to migrate the .nam files describing the GF glyph sets to a separate repo and add a few python methods that parse these .nam files, and then use this as a FB dependency (as well as in any other tool that might need it)

[2021-12-14 00:30] felipesanches commented on #3533
`GF_latin_core`  is currently hardcoded in fontbakery's codebase (on the constants.py file), but we should have a generic solution for all subsets, that's what I mean.

[2021-12-14 01:45] davelab6 commented on #3534
This is there, but it's a bit buried, and could be more simple to start and
with it's own section

[2021-12-14 01:55] felipesanches commented on #3533
![Screenshot from 2021-12-13 22-54-30](https://user-images.githubusercontent.com/213676/145918727-1230e6f3-4682-4db6-a15c-6b1c0fcdb291.png)

[2021-12-14 02:04] felipesanches commented on #3533
Now we have a check for that ;-)

It is not implemented in the ideal manner though... I wish we could support all subsets. But for that we'll need some major refactoring on how we handle GF glyphsets in our tooling. I'll try to come up with something reasonable soon.

[2021-12-14 02:22] davelab6 commented on #3533
That's ok, coming back to fix it later is good, but currently this only checks 2 of the subsets, so it's not making the push process all that much less error prone.

Since the checks change very rarely, I suggest to hard code them all like these 2 and refactor later

[2021-12-14 04:17] NightFurySL2001 opened #3536 "Unify dash/underscroll for check profiles or allow swappable usage"
This is a list of checks given by -L:
[code]
Three checks from daltonmaag use dash, while the rest use underscroll. Can it be unified to all use underscroll? Or can it be allowed to let dash and underscroll be used interchangable?

[2021-12-14 07:01] felipesanches commented on #3536
I agree that it is a good thing to do

[2021-12-15 00:45] felipesanches commented on #3533
I've migrated the relevant portions of gftools to a new python package that I called `glyphsets`. Its first release (v0.1.0) is here: https://pypi.org/project/glyphsets/0.1.0/

[2021-12-15 01:00] felipesanches commented on #3533
now, using that new python module, all subsets are properly checked

[2021-12-15 01:00] #3533 closed

[2021-12-15 01:00] felipesanches commented on #3533
next step is to make gftools use the new module, to avoid data duplication

[2021-12-15 14:41] drj11 commented on #3523
I have lots of these in a real font i am preparing and came here to report this (but i found this issue instead).

[2021-12-15 14:46] felipesanches commented on #3523
if possible, send me a sample font file

[2021-12-15 16:08] drj11 commented on #3523
https://gitlab.com/drj11/font-avimode/-/blob/main/AvimodeLAB20211125-Regular.otf

Report:

[code]

Some of these probably are genuinely unreachable, (`percent.001`), but most of them are components of ligatures which this font uses for more pleasing kerns (mostly for combinations involving `Eth`).

For example, `E.Eth` and `Eth.E` are the `E` and `Eth` components of `E_Eth.liga` which is the ligat

[2021-12-15 16:57] drj11 commented on #3523
https://gitlab.com/drj11/font-artzoid/-/blob/main/artzoidLAB20211109-Regular.otf

is another one with a more common case: Dutch ijacute.

report:
[code]

`exclam.001` and `uni030c.alt` are genuinely unreachable, but `uni006A0301` is not.

Internally that glyph is `jacute` which does not have a unicode codepoint assigned, but is a component in `iacute_j.loclNLD`, which is the Dutch _ij acute_. ij_a

[2021-12-15 17:11] felipesanches commented on #3523
thanks! I'll try to fix the check

[2021-12-20 07:55] NightFurySL2001 opened #3539 "Escape error when check-googlefonts"
When trying to run this command `fontbakery check-googlefonts .\WD-XLLubrifontSC-Regular.otf`, it gives an error after some checks:
[code]
Font: [WD-XLLubrifontSC-Regular.zip](https://github.com/googlefonts/fontbakery/files/7743444/WD-XLLubrifontSC-Regular.zip)

[2021-12-21 22:42] chrissimpkins commented on #3523
Glyph list that we are seeing:

[code]

[2021-12-22 16:51] davelab6 commented on #3383
I was chatting with @vv-monsalve today about 2022 plans and she mentioned this issue could be a good goal to work on collectively, and I agree. What should we do about this in 2022?

[2021-12-30 18:59] #3498 closed

[2022-01-07 04:38] davelab6 opened #3541 "[GF profile] Ensure nameid 6 (ps name) regressions do not occur in the GF library, even for VFs"
## Observed behaviour

A major Google Fonts downstream redistributor said to me,

## Expected behaviour

So, we need to be really really careful about changes to nameid 6s, and this will effect the VF upgrades, since there are nameIDs in VFs at 256++ that are used to set the nameid 6s of named instances, so we need to make sure those match the legacy families.

I'm assigning this to Marc, since he

[2022-01-07 12:23] ctrlcctrlv opened #3542 "com.google.fonts/check/name/rfn is inaccurate"
The check checks for any instance of RFN in the `name` table. I think you should ignore it if it's in the license string if it comes after the word "Preamble".

My fonts contain the whole OFL and will always fail this.

![image](https://user-images.githubusercontent.com/838783/148543565-d62f5b99-bb0a-4e67-8592-0c3fdb0ddea9.png)

[2022-01-07 14:54] #3523 closed

[2022-01-07 17:21] chrissimpkins commented on #3523
Ty!

[2022-01-14 13:37] moontypespace opened #3544 "Outdated rules for usWeightClass above 250"
## Observed behaviour
The following function 'def expected_os2_weight(style):' contains information about outdated rules related to usWeightClasses.
Some MS Apps (mainly PowerPoint) seem to handle fonts weird with usWeightClass values below 250 (as many of us know).
I have tested it the last time with my font family 'Vary' about a year ago. There were no rendering issue I was able to observe.
This

[2022-01-19 12:16] felipesanches commented on #3544
Thanks for pointing this out, @moontypespace
I'll take a look at this more carefully later today.

[2022-01-21 03:45] punchcutter commented on #3259
Not a big deal, but currently the Noto CJK fonts with 65,535 glyphs FAIL when running with `check-notofonts`. I just ignore it because it's absolutely not a fail since it's impossible for these to have a format 2 post table. Anyway, it would be nice to not fail here. Even just having some hard-coded exception for the Noto CJK fonts could be nice.

[2022-01-21 06:26] #3542 closed

[2022-01-21 08:11] #3368 closed

[2022-01-21 17:14] felipesanches opened #3551 "ERROR on check/glyph_coverage"
https://github.com/google/fonts/pull/4222

<img width="641" alt="Captura de Tela 2022-01-21 às 14 13 22" src="https://user-images.githubusercontent.com/213676/150570430-f5c929f7-3769-4f54-ab01-a78fc2701596.png">

[2022-01-26 03:04] felipesanches opened #3554 "shaping code-test does not pass with collidoscope==0.4.0"
today I updated requirements.txt to the latest versions of all dependencies, except collidoscope, because moving from 0.3.0 to 0.4.0 made one of our code-tests fail:

https://github.com/googlefonts/fontbakery/runs/4945318164
![Screenshot from 2022-01-25 23-56-16](https://user-images.githubusercontent.com/213676/151096740-7ffec8a9-cb8c-49a5-9214-4db13601447f.png)

There's only one new commit on col

[2022-01-26 03:50] #3554 closed

[2022-01-26 03:53] felipesanches opened #3556 "Update collidoscope dependency once upstream bug is fixed"
At #3554 I froze collidoscope to version 0.3.0 due to a bug.

Allow later versions once the collidoscope bug is fixed.

[2022-01-26 03:56] felipesanches opened #3557 "Improve text-terminal output for check/shaping/collides"
It is currently not very user friendly because it prints raw SVG markup. What can we do to make it better?

(issue originally found at #3554)

[2022-01-26 03:58] felipesanches opened #3558 "SVG markup renders upside-down on check/shaping/collides"
![Screenshot from 2022-01-25 23-55-26](https://user-images.githubusercontent.com/213676/151101569-8babc1fd-bf0d-4952-a640-9ba9fcc69494.png)

when copying and pasting this SVG snippet, saving it into a proper `output.svg` file and loading it in Inkscape I see the glyphs rendered upside-down (it should be `ïï`):
![Screenshot from 2022-01-25 23-54-49](https://user-images.githubusercontent.com/213676/

[2022-01-26 10:13] RosaWagner opened #3559 "Error sample_image"
Trying to set a FB CI on lexend repo:
https://github.com/RosaWagner/lexend/runs/4949549529?check_suite_focus=true

I think the glyph coverage error is already in an issue, but I put them all here:

[code]

[code]

[code]

[2022-01-26 10:58] simoncozens commented on #3558
When using the HTML and MD reports (which is the only sensible way to view this information ;-) browsers apply the transform matrix in the SVG element which makes it the right way around.

Ideally I would like to provide a summary in the console report, but I don't think we have the facility to provide separate reporting based on output format.

[2022-01-26 16:21] m4rc1e opened #3561 "com.google.fonts/check/varfont/grade_reflow: cleanup output"
com.google.fonts/check/varfont/grade_reflow is a fabulous check. However, it returns a list of glyphs which often contains duplicates. It may be better to use a set instead.

[2022-01-26 19:33] #3556 closed

[2022-01-26 21:15] #3551 closed

[2022-01-26 22:11] #3559 closed

[2022-01-26 22:12] felipesanches opened #3564 "AttributeError on check/metadata/unsupported_subsets"
[code]

(originally reported at #3559)

[2022-01-26 22:23] #3564 closed

[2022-01-27 00:28] felipesanches commented on #3561
This can be seen by running the check against `ofl/robotoflex/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf`

![Screenshot from 2022-01-26 21-27-15](https://user-images.githubusercontent.com/213676/151269319-5725fbea-91a8-4a9a-8956-d15fb50780dc.png)

[2022-01-27 00:31] felipesanches opened #3566 "ERROR on com.google.fonts/check/varfont/grade_reflow"
```Failed with AttributeError: 'NoneType' object has no attribute 'StartSize'```

![Screenshot from 2022-01-26 21-30-10](https://user-images.githubusercontent.com/213676/151269565-492c8a64-c7d3-427d-b187-aebb378b39fa.png)

[2022-01-27 00:50] #3566 closed

[2022-01-27 01:05] felipesanches commented on #3561
@m4rc1e, now it is working as expected:

![Screenshot from 2022-01-26 22-04-46](https://user-images.githubusercontent.com/213676/151272728-8ffef2c6-bc83-498f-beac-ccdb9676bf4a.png)

[2022-01-27 01:07] #3561 closed

[2022-01-28 08:30] felipesanches commented on #2935
Looking much better now :-D

![Screenshot from 2022-01-28 05-15-29](https://user-images.githubusercontent.com/213676/151513077-6687aac6-d92d-43a2-883b-73152231f31f.png)

[2022-01-28 08:30] #2935 closed

[2022-01-28 08:38] felipesanches commented on #3433
I currently cannot replicate this problem.
It's all looking good...
`¯\_(ツ)_/¯`

[2022-01-28 08:38] #3433 closed

[2022-01-28 23:04] yellowsquid opened #3573 "PyPI Source Releases"
## Observed behaviour

I attempted to create a [Guix](https://guix.gnu.org) package for fontbakery by downloading the `v0.8.5` source code from PyPI. However, there is no source release on PyPI.

## Expected behaviour

Like almost all other packages, I expected there to be a source release on PyPI

## Resources and exact process needed to replicate

Navigate to the [PyPI releases page](https://pyp

[2022-01-28 23:16] yellowsquid commented on #3573
Looking through the maintainer notes, [this line](https://github.com/googlefonts/fontbakery/blob/3228e20d108726fc35bd0e09211e7ffe38559029/docs/source/maintainer/maintainer-notes.md?plain=1#L91) appears to be the problem.

The [Python Packaging User Guide](https://packaging.python.org/en/latest/tutorials/packaging-projects/#generating-distribution-archives) suggests that you should run `python3 -m

[2022-01-29 05:43] felipesanches commented on #3573
hey, that's great news! Thanks for putting the effort to package it to a software freedom respecting distro endorsed by the FSF ;-)

I have just read the pypi documentation you referred to and it seems really straight forward to also publish source packages on PyPI. I am about to cut a new FontBakery 0.8.6 release and I'll take the opportunity to try this now.

[2022-01-29 06:29] felipesanches commented on #3573
https://pypi.org/project/fontbakery/#files
![Screenshot from 2022-01-29 03-29-07](https://user-images.githubusercontent.com/213676/151650354-bb6a6c75-70f2-4b00-8927-0df89757f57d.png)

[2022-01-29 06:33] felipesanches commented on #3573
I've also uploaded to PYPI the sources of the last few releases (the entire 0.8.x series).

Here's an example (https://pypi.org/project/fontbakery/0.8.0/#files):
![Screenshot from 2022-01-29 03-31-21](https://user-images.githubusercontent.com/213676/151650413-295ca88e-6bf1-4a9b-beb3-974de0299e9e.png)

**Note:** even though it says `py2` / `py3`, fontbakery is actually python3-only. I'm glad that t

[2022-01-29 07:00] felipesanches commented on #3573
I've also generated the 39 packages of the 0.7.x series and uploaded them to PyPI this way:

[code]

Not sure if there's any value in posting source packages for the entire history of releases since `v0.1.0`... If you think it is worth doing so, I can run the same script for the rest of the git tags. But I'd like to wait a bit just to be sure there's nothing wrong with these packages I've posted t

[2022-01-31 10:08] saltcandy123 opened #3576 "com.google.fonts/check/fontbakery_version is always skipped"
Hi! I'm a new user of Font Bakery and I found something unexpected.

## Observed behaviour

When checking a font with check-universal, `com.google.fonts/check/fontbakery_version` is always skipped as `No applicable arguments`.

## Expected behaviour

`com.google.fonts/check/fontbakery_version` should be always tested regardless of what kind of files are specified.

## Resources and exact process n

[2022-02-01 02:50] felipesanches opened #3578 "Only allow ascii file names on the google/fonts repo such as designer photos and dir name."
Requested by @rsheeter at https://github.com/google/fonts/issues/4262

[2022-02-01 15:32] ollimeier opened #3580 "Improvement: com.google.fonts/check/family/italics_have_roman_counterparts"
(**NOTE:** If your issue is related to a specific check, please consider mentioning its check-id on the issue title.)

## Observed behaviour

@felipesanches I get a fail for my variable font, even though I have an upright and italic style linked with eachother. I guess it's related to the scheme of how google want to see the file names.

## Expected behaviour

 An improvement would be to look into

[2022-02-01 15:36] moontypespace opened #3581 "Bug com.google.fonts/check/file_size"
(**NOTE:** If your issue is related to a specific check, please consider mentioning its check-id on the issue title.)

## Observed behaviour

💔 ERROR: Ensure files are not too large.
com.google.fonts/check/file_size
--- Rationale ---
Serving extremely large font files on Google Fonts causes usability issues. This
check ensures that file sizes are reasonable.
💔 ERROR Failed with TypeError: '>' not

[2022-02-02 09:53] RosaWagner opened #3582 "Error font-v versioning"
💔 ERROR: Check for font-v versioning.
com.google.fonts/check/fontv
--- Rationale ---
The git sha1 tagging and dev/release features of Source Foundry `font-v` tool
are awesome and we would love to consider upstreaming the approach into fontmake
someday. For now we only emit a WARN if a given font does not yet follow the
experimental versioning style, but at some point we may start enforcing it.
💔 E

[2022-02-02 10:02] RosaWagner opened #3583 "Is the right glyphset checked for minimal glyphs coverage?"
Last update of Fontbakery brought a bunch of missing codepoints that are actually not required in `GF Latin Core`.

In report for ABeeZee I got these fails:
(https://github.com/google/fonts/issues/4227#issuecomment-1027736423)

[code]

None of those are in:
https://github.com/googlefonts/glyphsets/blob/main/Lib/glyphsets/encodings/GF%20Glyph%20Sets/GF-latin-core_unique-glyphs.nam

--> Fontbakery s

[2022-02-02 12:26] RosaWagner opened #3584 "ABeeZee camelcase still not allowed"
I allowed ABeeZee in #3569
Version used is 0.8.6

But report still failing for the camelcase name. Or maybe I am missing something in the sources or I should have done something more in Fontbakery… I don't know.
cf https://github.com/google/fonts/issues/4227#issuecomment-1027736423

[2022-02-02 14:29] felipesanches commented on #3584
yeah, that's right. I have jut figured out the problem. I'm working on a fix now. Thanks, @RosaWagner

[2022-02-02 14:33] felipesanches opened #3585 "profile.configuration_defaults should be inherited if not set explicitely"
BTW, I get another ERROR status:

[code]
Which is because the googlefonts profile defines somewhere:

[code]

But the fontwerk profile does not.

@felipesanches I'm not happy with this, we should somewhow in `profile.auto_register` or `profile._load_profile_imports` take care of inheriting these defaults, if they are not set in the current profile.

_Originally posted by @graphicore in https://git

[2022-02-02 14:36] felipesanches commented on #3585
@graphicore, I agree.

[2022-02-02 14:37] simoncozens commented on #2011
@felipesanches What do you think about moving this check to universal? It is not strictly a GF-related check as it causes problems in various rendering environments.

[2022-02-02 14:38] graphicore commented on #3585
Thanks @felipesanches

I was just looking into it and now I think `profile.merge_profile` is the right place to do it. It should take care that `self.configuration_defaults` has precedence. It could maybe also call `filter_func`

[2022-02-02 14:55] felipesanches opened #3587 "add note to transformed components check's rationale on how to fix the problem"
For anyone (like me) getting the error and not knowing precisely how to fix it with `fontmake`, you add this to the command line: `--filter DecomposeTransformedComponentsFilter`.

_Originally posted by @simoncozens in https://github.com/googlefonts/fontbakery/issues/2011#issuecomment-914984693_

[2022-02-02 14:56] felipesanches opened #3588 "move check/transformed_components to universal profile"
@felipesanches What do you think about moving this check to universal? It is not strictly a GF-related check as it causes problems in various rendering environments.

_Originally posted by @simoncozens in https://github.com/googlefonts/fontbakery/issues/2011#issuecomment-1028003349_

[2022-02-02 14:56] felipesanches commented on #3588
I agree.

[2022-02-02 14:57] #3584 closed

[2022-02-02 16:06] RosaWagner opened #3589 "RFN Exception allow-list?"
Should we have an allow-list of fonts projects where RFN is okay?
(like the ones already published with it and the ones which benefit from an agreement with GF (government fonts etc))

cc @davelab6

[2022-02-02 17:06] felipesanches commented on #3589
I think that's a good idea!

[2022-02-02 17:07] felipesanches commented on #3589
@RosaWagner, could you provide an initial listing of such cases?

[2022-02-02 17:19] RosaWagner commented on #3589
- ABeeZee
- Lexend
- Readex Pro
- Public Sans (version with RFN not yet onboarded but there is an agreement if I recall)
- STIX Two Text
- STIX Two Math

Are the ones that come to mind, and then all the ones that FAIL the RFN test in google/fonts repo.

ABeeZee mentions its own name as RFN, but was published like that years ago. The other ones actually respect the RFN, they are published under ano

[2022-02-02 17:40] #3587 closed

[2022-02-02 17:40] #3588 closed

[2022-02-02 20:26] felipesanches commented on #3589
I've generated this list with:
```fontbakery check-googlefonts -c rfn  ../../github_google/fonts/*/*/*.ttf -l SKIP | grep .ttf | cut -d/ -f7 | cut -d- -f1 | cut -d[ -f1 | sort | uniq | while read name; do echo \* $name >> rfn-families.txt; done;```

We'll need to double check if that's correct, because it would a way too long list of exceptions, with 430 family names in it...

* ABeeZee
* Abel
* A

[2022-02-03 12:56] RosaWagner commented on #3589
For several years the RFN was standard in the OFL and we can't remove it without the consent of all the authors. So every time we upgrade one of those fonts we have the related fails.

[2022-02-03 21:14] felipesanches commented on #3589
So this is the green light for me to add this entire exceptions list to the check, right?
So that at least we won't have new cases of RFN usage.

[2022-02-03 21:35] felipesanches commented on #3589
Corresponding to the long list of family names at https://github.com/googlefonts/fontbakery/issues/3589#issuecomment-1028327930, this is the summary of the **name/rfn** check, prior to adding the exceptions allow-list:

![Screenshot from 2022-02-03 18-17-15](https://user-images.githubusercontent.com/213676/152432335-293bcad0-2c85-4b80-bb9b-7ff3d6d56c5f.png)

The **metadata/reserved_font_name** che

[2022-02-03 22:55] felipesanches commented on #3589
And this is with the exceptions allow-list.

 **com.google.fonts/check/name/rfn**:
![Screenshot from 2022-02-03 19-52-29](https://user-images.githubusercontent.com/213676/152442797-be81c76d-16af-41d1-b0cd-71f7b0fdd249.png)

**com.google.fonts/check/metadata/reserved_font_name**:
![Screenshot from 2022-02-03 19-51-39](https://user-images.githubusercontent.com/213676/152442812-af6f81df-85b5-4b71-bf8

[2022-02-03 23:18] felipesanches commented on #3589
I did not include "Lexend", "Readex Pro", "Public Sans" and "STIX Two" because they're not currently on the google/fonts repo. It will be nice to exercise with them, case by case, the workflow of either explicitelly expanding the exceptions list or getting authorization to remove the Reserved Font Name clause.

[2022-02-03 23:19] #3589 closed

[2022-02-04 06:41] felipesanches commented on #3582
This seems to be a legitimate ERROR message. It indicates that something is wrong with the setup of the user's system.

I see that this message was included in the fontbakery report posted by Emma at https://github.com/google/fonts/issues/4227#issuecomment-1022338828 So, I think @emmamarichal could take a look at this page to see if the solution describe there works for her: https://stackoverflow.

[2022-02-04 06:46] felipesanches commented on #3582
I also see at the bottom of that same post (https://github.com/google/fonts/issues/4227#issuecomment-1022338828) that INFO messages are being excluded from the report.

So, the only reason this check was seem was because it resulted in an ERROR. Otherwise it would have been muted. This in then pretty much pointless.

I would like to suggest to run fontbakery with `--loglevel INFO` instead of `--lo

[2022-02-04 06:57] felipesanches commented on #3455
Works fine here on version 0.8.7

Perhaps I may have fixed it a while ago. Please reopen if you ever see this ERROR again.

[2022-02-04 06:57] #3455 closed

[2022-02-04 07:00] felipesanches commented on #3455
Oh! I see now that it was fixed by #3394 and that this issue was a duplicate of #3393

[2022-02-04 07:01] felipesanches commented on #3455
This is a nice suggestion, aligned with what's proposed at issue #3277

[2022-02-04 08:02] #3581 closed

[2022-02-04 09:23] RosaWagner commented on #3589
Oh wow that was fast! We should remember to update Dave on that one when he is back to office.

Yes, especially for expanding the exception list. But FYI Lexend, STIX and Readex Pro are in the repo with a RFN (but the RFN mentioned in the OFL.txt is not the actual name of the font, that is what I meant).

- stixtwomath
- stixtwotext
- lexend
- lexenddeca
- lexendexa
- lexendgiga
- lexendmega
- lex

[2022-02-04 10:17] moontypespace opened #3597 "Name ID 16 and 17 not required for variable fonts."
## Observed behaviour

Hi,
for me it makes not too much sense to have name ID 16 and 17 set in a variable font.
Often we only have two fonts linked to each other 'Upright' and 'Italic', why name ID 1 and 2 are enough.
I am with you when it comes to static fonts.

## Expected behaviour

The following should not fail when there is a variable font with no name ID 16 and 17:
https://github.com/googlef

[2022-02-04 10:25] m4rc1e commented on #3597
The name table, fsSelection, usWeight class bits etc should be set according to the default values of the fvar table. If the default values are {"wght": 200, "width": 100}, one would expect there to be nameIDs 16, 17 since we use the RIBBI naming schema.

https://docs.microsoft.com/en-us/typography/opentype/spec/otvaroverview#introduction

[2022-02-04 10:55] moontypespace commented on #3597
@m4rc1e  Thanks a lot for your fast, great and valid feedback. I really much appreciate the quality of the conversations :)

When reading the definition you shared, it sounds like in the case of {"wght": 200, "width": 100} you would need to name it 'ExtraLight' as well. Something like that:
name ID 1: Family Name ExtraLight
name ID 2: Regular
name ID 16: Family Name
name ID 17: ExtraLight
name ID

[2022-02-04 10:58] m4rc1e commented on #3597
I mean a VF is merely a static font with a few more VF tables. Doesn't it make more sense to ensure that if you stripped away the VF tables, you'd end up with a static font where the bits and name records match? this is kind of the point I was alluding to with the quote,

[2022-02-04 11:05] moontypespace commented on #3597
Sure, makes totally sense. But then you would always have to have the default set to 'Regular', because otherwise you end up having weird variable font names with weight names like 'ExtraLight' in name ID 1 or 17. And that makes no sense to me.
Usually I try to make the default of a variable font to be 'Regular'. But in my case having the 'Light' as the default instance makes the file size of the

[2022-02-04 11:21] moontypespace opened #3598 "Error: glyph_coverage"
## Observed behaviour

anyone else experiencing the following:
💔 ERROR: Check `Google Fonts Latin Core` glyph coverage.
[com.google.fonts/check/glyph_coverage](https://font-bakery.readthedocs.io/en/latest/fontbakery/profiles/googlefonts.html#com.google.fonts/check/glyph_coverage)
--- Rationale ---
Google Fonts expects that fonts in its collection support at least the minimal
set of characters defi

[2022-02-04 12:19] RosaWagner commented on #3597
Ah I was writing about that yesterday for the new spec:

My idea, is that it is a foundry decision. On browsers and OS version that don't support VF, only the default master will be displayed. On GF side, a lot of users are reacting on any inconsistencies, so we prefer the font name to be consistent with the default instance. If you see a light instance by default but it is called Regular, it crea

[2022-02-05 00:01] #3598 closed

[2022-02-07 11:15] madig opened #3600 "Checks for dottedCircle (U+25CC)?"
## Random thoughts

A secret project recently made me think of the dottedCircle (U+25CC) glyph. A [quick search on the OpenType specification](https://docs.microsoft.com/en-us/search/?scope=typography&terms=%22dotted%20circle%22) shows some protentially clarifying results somewhere, saying that Window's USE uses it for displaying defective clusters: https://docs.microsoft.com/en-us/typography/scri

[2022-02-07 16:50] simoncozens opened #3601 "ERROR in com.google.fonts/check/contour_count"
This code:

https://github.com/googlefonts/fontbakery/blob/1815d5a98e0d10873d8af3bc72568c1cc4f0c247/Lib/fontbakery/profiles/universal.py#L1310-L1311

will fail if there isn't a 3-1-0 cmap table.

[2022-02-07 18:27] felipesanches commented on #3601
can you provide a sample font file that triggers that ERROR?

[2022-02-07 18:38] felipesanches commented on #3600
I currently lack any knowledge on this topic. I would appreciate if others (perhaps @simoncozens, @davelab6, @tphinney, or anyone else who may know about this stuff) could give some feedback here to @madig's question.

[2022-02-07 18:51] felipesanches commented on #3580
@moontypespace, please consider sharing a dump of your name table (even if you have to manually redact the family name, replacing it by some general term like `Familyname`, if the reason for your inability to share is related to secrecy on the name of the project you're working on)

You can generate such a dump with: `ttx -t name fontfile.ttf`

The result will be a `fontfile.ttx` that you can view

[2022-02-07 20:32] tphinney commented on #3600
Checking that it is “correct” is a big ask, but we could at least get close!
- U+25CC should be required by Google for fonts that support any of (list of writing systems)
- if the font supports one or more of (list of writing systems), check for anchors present in (list of glyphs). All those anchors should ALSO be present in dotted circle, error if not
- bonus points for checking that each anchor

[2022-02-07 20:45] simoncozens commented on #3600
I was going to say something similar to Thomas. For point two, the "(list of glyphs)" might just be all mark glyphs; that's the simplest. And "(list of writing systems)" is all Indic scripts, all USE scripts, Khmer, Myanmar, and Hangul (because tone marks).

[2022-02-07 21:45] felipesanches commented on #3600
We'll need a fontbakery `@condition` that detects these.

[2022-02-07 21:49] felipesanches commented on #3600
I can start prototyping a check for this that will run only on fonts that have dottedCircle.

Later we can improve it to check for the other things.

I'll give it the straightforward check-id **com.google.fonts/check/dotted_circle**.

[2022-02-07 21:50] felipesanches commented on #3600
And I'll place it on the `universal` profile.

[2022-02-07 21:55] felipesanches commented on #3600
do we have sample font files for this?

[2022-02-07 21:55] simoncozens commented on #3600
This will be very helpful; many Noto issues are about missing U+25CC. FWIW, [ufo2ft](https://github.com/googlefonts/ufo2ft/blob/main/Lib/ufo2ft/constants.py) has lists of INDIC_SCRIPTS and USE_SCRIPTS.

[2022-02-08 00:50] bobh0303 commented on #3600
Since U+25CC is often used with marks for descriptive/pedagogical purposes (e.g. in The Unicode Standard itself), shouldn't "(list of writing systems)" be all scripts that encode combining marks?

[2022-02-08 15:05] bobh0303 commented on #3600
Or, perhaps more practical: skip the whole notion testing for specific scripts / writing systems and, instead, require 25CC to be present and have appropriate anchors for any _font_ that includes combining marks.

So, for example, a pure Latin-1 font wouldn't require anchors on 25CC, but a Latin font that includes marks (e.g., things from 0300 block) would.

[2022-02-08 15:08] simoncozens commented on #3600
There's some justification for this. And it makes things easier. But I'm not convinced that the 25CC glyph itself should be required for all scripts. Could we agree on:

* 25CC *must* be present for scripts where the shaper is going to try inserting one.
* *If* it is present, all marks should be able to attach to it.

?

[2022-02-08 15:39] bobh0303 commented on #3600
Question: Are there scripts where shapers might insert 25CC in contexts unrelated to combining marks?

At any rate, we (SIL) currently require 25CC in any of our fonts that include combining marks but at this point we don't have a way to test whether appropriate anchors are present, so your test requirements as stated will be helpful to us.

[2022-02-08 15:53] simoncozens commented on #3600
@felipesanches Do you want to / are you working on this? I'm happy to implement it.

[2022-02-08 18:16] felipesanches commented on #3600
feel free to do it ;-)

[2022-02-09 18:25] felipesanches commented on #3600
The basic initial check was implemented by @simoncozens and review/merged by me now.

Please open a followup issue for any of the additional behavior that may be proposed for this check.

[2022-02-10 16:06] m4rc1e opened #3605 "new google fonts check: ensure families can render language sample text"
We recently added a [lang package](https://github.com/googlefonts/gftools/tree/main/Lib/gftools/lang) which is used to generate the new language fields in each [metadata.pb](https://github.com/google/fonts/blob/main/ofl/abel/METADATA.pb) file. We must check that the fonts can render each language's sample text, https://github.com/googlefonts/gftools/blob/main/Lib/gftools/lang/languages/aa_Latn.tex

[2022-02-10 16:35] felipesanches commented on #3605
can we create a separate python package containing those textproto files? Just like we did for glyphsets.

gftools is too big to be added as a fontbakery dependency

[2022-02-10 21:17] guidoferreyra opened #3606 "com.google.fonts/check/monospace in name.py?"
The monospace check is on name table profile should not be in something like Universal Default section?

https://github.com/googlefonts/fontbakery/blob/1a6848982faa480933099adda60a0075e78afcc0/Lib/fontbakery/profiles/name.py#L108

[2022-02-11 10:21] m4rc1e commented on #3605
Agreed but we'll need to coordinate this first with the internal team.

I know this is a hack but for gftools, I use a [script](https://github.com/googlefonts/gftools/blob/main/update_data.sh) which pulls the data I need from google/fonts.

[2022-02-14 21:54] felipesanches commented on #3606
yeah... this check initially was placed there because it belonged to the opentype profile (things that required by the Open Type specification). And, in particular, in the `name.py` file because the opentype profile is organized that way, by primary table that a check validates.

But this check actually deals with requirements for many different tables so it is a bit hard to define where it should

[2022-02-14 21:56] guidoferreyra commented on #3606
Thanks for the explanation :)

[2022-02-14 22:02] felipesanches commented on #3605
OK. I will start prototyping this by:

* creating a separate python package for the language data on my own github account (not **yet** to be hosted on the googlefonts organization).
* Then I'll publish it on pypi and use it in fontbakery to implement this new check.
* Then I'll send a PR to gftools to also use this new package. So that you can review and give some feedback.
* Finally I'll ask @da

[2022-02-16 04:16] tphinney commented on #2857
Latest Fontbakery now throws an error for this check, on the font that caused me to file this issue.

    ERROR Failed with AttributeError: 'Panose' object has no
          attribute 'bSpacing'
          ↳ File "/Users/tphinney/Desktop/gmi/venv/lib/python3.9/site-packages/f
          ontbakery/checkrunner.py", line 193, in _exec_check
          for sub_result in result:  # Might raise.
          ↳

[2022-02-16 09:17] felipesanches commented on #3605
The repo with my initial implementation of the module is here:
https://github.com/felipesanches/languages

Sample usage:
[code]

[2022-02-16 09:17] felipesanches commented on #3605
A python module called "languages" already exists: https://pypi.org/project/Languages/

So I'll have to give it a different name. I may use something like `GFLanguages`. Any other suggestions?

[2022-02-16 13:11] RosaWagner opened #3611 "Italic metadata are consistent in Italic fonts (universal?)"
I am working on fixing Nunito (variable) that has one source with an ital axis, and we slice it in post-process to generate 2 VFs. Some stuff related to the italic font were missing and Fontbakery didn't raise any warning.

Also this is useful cause GlyphsApp doesn't still set the italic style linking properly to link 2 VFs, and you can only see it if you look inside the font tables. These are als

[2022-02-16 23:00] felipesanches commented on #3605
https://pypi.org/project/gflanguages/0.1.0/

[2022-02-17 07:42] felipesanches commented on #3573
@yellowsquid, is this good for you?

**side-note:** I've been starting to learn a bit about Debian packaging. And I may work a bit (on my free time) on packaging some of fontbakery's dependencies (and maybe someday FontBakery itself) on Debian.

The tar.gz source files made available on PyPI seems to be good (and seems to be exactly what's needed for Debian, which should really not be much differe

[2022-02-17 07:42] #3573 closed

[2022-02-17 20:37] felipesanches opened #3612 "Temporarily revert the RFN Exception allow-list"
Temporarily revert the RFN Exception allow-list (implemented on issue #3589) as it needs more careful review.

[2022-02-18 01:57] #3612 closed

[2022-02-18 07:26] felipesanches commented on #3605
![Screenshot from 2022-02-18 04-24-55](https://user-images.githubusercontent.com/213676/154637074-9782e74e-a4e6-47e0-ba86-c951d8c59702.png)

![Screenshot from 2022-02-18 04-25-22](https://user-images.githubusercontent.com/213676/154637069-7f8fedbf-a791-4ddf-a41b-2139e0c725b7.png)

[2022-02-18 08:35] yellowsquid commented on #3573
It looks good to me. Thanks for the work!

[2022-02-18 12:58] RosaWagner opened #3618 "update ['repository_url'] check for upstream.yaml"
Example in this PR: https://github.com/google/fonts/pull/4307/files
[code]

This check was to make sure that the argument `--no-source` is used with the packager so the URL of the upstream appears in the upstream.yaml until a bug with the servers is fixed. [It looks like it has been fixed](https://github.com/googlefonts/gftools/issues/494), and now we don't need the `no-source` argument and so the

[2022-02-21 21:59] felipesanches commented on #1820
Someone showed me this today. And I do not remember having created a twitter account for FontBakery.

Was it yours, @davelab6 ?

![photo_2022-02-21_14-53-06](https://user-images.githubusercontent.com/213676/155030914-b02d63c5-5210-4518-aef6-1b6e0edc50e7.jpg)

[2022-02-22 19:01] bobh0303 commented on #1820
Are you sure it wasn't a phishing attack?

On 2/21/2022 2:59 PM, Felipe Corrêa da Silva Sanches wrote:

[2022-02-23 14:52] #3605 closed

[2022-02-24 05:28] davelab6 commented on #1820
I don't think this was me.

[2022-02-24 12:45] emmamarichal opened #3622 "Should we downgrade `check/unitsperem_strict` to a WARN on Google Fonts profile?"
**original title of this issue was:**
FAIL: Stricter unitsPerEm criteria for Google Fonts.

## Observed behaviour

The font has 2000upm, which doesn't exactly meet the Google spec, but there are two similar checks to indicate this:
</b></summary><div><details><summary>🔥 <b>FAIL:</b> Stricter unitsPerEm criteria for Google Fonts. </summary><div>
* [com.google.fonts/check/unitsperem_strict](https://

[2022-02-24 12:50] RosaWagner commented on #3622
I think the fail is too much
cc @m4rc1e @davelab6

[2022-02-24 12:52] RosaWagner commented on #3611
@felipesanches I finished my review but I would also like opinion from @vv-monsalve and @m4rc1e before doing the fragmented issues.

[2022-02-24 12:56] m4rc1e commented on #3622
The check states:

This isn't a deal breaker to me.

I'd personally like to see this check dropped since it is too arbitrary. It should be up to the designer to select a upm which allows for all font details to be drawn correctly. Failing to drop it completely, it should be a warning, not a fail.

[2022-02-24 13:06] RosaWagner commented on #3622
I agree, the warn is good information though; maybe it could be INFO check?

Like:
`UPM=1200, FYI In order to optimize performance on some legacy renderers, the value of unitsPerEm at the head table should ideally be a power of 16 between 16 to 16384.`

[2022-02-24 15:33] davelab6 opened #3623 "How to set check overrides per-family?"
## Observed behaviour

In https://github.com/google/fonts/issues/3953 we have a situation where I want to make an exception to the GF profile checks for a family, in this case that the license URL metadata is valid but unusual.

## Expected behaviour

I would like to be able to mark that exception going forwards so that for this family the check WARNs instead of FAILs.

We've discussed ways to do

[2022-02-25 01:27] davelab6 opened #3624 "Check METADATA category vs family name"
## Observed behaviour

The eng team and I managed to push Roboto Serif to prod with the category in METADATA set to sans

## Expected behaviour

The fact Serif is in the family name suggests a very quick and simple check would be to check if the family name has strong hints about what the correct category value should be.

* Sans
  * Grotesk
  * Grotesque
* Serif
  * Old Style
  * Transitional
  *

[2022-02-25 03:36] felipesanches commented on #3622
The reason why there are two similar checks here is because one of them is broader and comes from the universal profile, while the other one if stricter and comes from the googlefonts profile.

So, yeah, perhaps a good thing to do here would be to make the googlefonts profile remove the check inherited from universal profile.

[2022-02-25 04:19] felipesanches commented on #3624
![Screenshot from 2022-02-25 01-18-09](https://user-images.githubusercontent.com/213676/155652920-5dfb7f09-2b45-48e7-884b-b985e400a066.png)

[2022-02-25 04:40] felipesanches commented on #3470
what do you think, @simoncozens ?

[2022-02-25 05:35] felipesanches commented on #3624
@davelab6 I've merged the initial implementation so that you can try it more easily by running fontbakery from git main. I'll leave the issue open for a while so that you can provide feedback and eventually suggest further improvements to the implementation.

As you can see in the screenshot, the inferred category is not always  what we really want to use. So it is a WARN, and we can ignore it whe

[2022-02-25 05:35] felipesanches commented on #3624
@davelab6, please close the issue if you are satisfied with the current implementation.

[2022-02-25 07:58] simoncozens commented on #3470
Yes, like it!

[2022-02-25 18:15] chrissimpkins commented on #2011
What is the rationale for this fail *if a font is not hinted with ttfa*?  It looks like this landed in universal and we are now failing on unhinted TT font builds.

[2022-02-25 20:22] felipesanches commented on #3624
Waiting feedback from @davelab6 before closing the issue.

[2022-02-26 00:00] davelab6 commented on #2857
@felipesanches this is a P0 for next week :)

[2022-02-26 06:07] miguelsousa opened #3628 "Question: Why no GH releases?"
Is there a particular reason for not issuing GitHub releases?
I'm interested in being notified when a new version of Font Bakery is out, but there's no way to subscribe to tags.

It's fairly simple to automate the process, which can even include uploading the wheel files to PyPI.
Below are a couple of examples of how we do it. These GH Actions only trigger when tags are pushed.
Since Font Bakery i

[2022-02-27 17:55] tphinney commented on #3326
One thing to consider is, the check must first see if the font already HAS such Vietnamese diacritics. Otherwise one would be reserving extra space, when one already has the space.

[2022-02-27 22:22] felipesanches commented on #3326
@davelab6, we need your opinion here

[2022-02-28 17:04] davelab6 opened #3629 "[GF Profile] Update v metrics checks for VFs"
## Observed behaviour

In https://github.com/TypeNetwork/Roboto-Flex/issues/182 we discuss how to correctly set the v metrics for a VF family with opsz variations; but this is needed for any VF where an axes effects the height of the ascent/descent.

## Expected behaviour

VFs should have MVAR tables with v metrics data. We'll use the Roboto Flex project to pilot this.

[2022-02-28 21:01] davelab6 commented on #3326
I agree

Going forward, I think the most simply thing to do is require type designers to draw that tallest expected glyph, from all glyphs in the script's GF glyph sets, even if the whole set that glyph is part of, is not in scope at that moment. We can add that glyph to the smallest set of the script with a special note about why it exists.

Please back-test any proposed heuristic on some/all of

[2022-02-28 21:02] davelab6 commented on #3326
@RosaWagner wdyt about the glyph set definition addition?

[2022-02-28 21:03] davelab6 commented on #3326
I've filed an issue about the glyph set idea in that repo

[2022-02-28 21:04] davelab6 commented on #3326
For fonts worth paying attention to, since they have very large glyph sets: Questrial has implemented the African Latin set; a few other families (Noto Sans/Serif, Roboto, Arimo, Tinos Cousine, Lato (upstream not from GF), etc) might also support it.

[2022-02-28 23:16] felipesanches commented on #3628
Thanks for pointing this out. I'll see what I can do.

[2022-02-28 23:40] miguelsousa commented on #3628
👍 Thanks. LMK if you have any questions.

[2022-02-28 23:55] miguelsousa commented on #3628
BTW, the best way to test any WIP actions that make calls to PyPI is to use pre-release tags. So for example, if your upcoming release is `0.8.8` you can safely use `0.8.8a0`, `0.8.8a1`, `0.8.8a2`, `0.8.8b0`, `0.8.8b1`, etc. as tags, without messing up your release plans. Keep in mind that, once a release (be it pre- or final) is posted to PyPI it cannot be replaced or modified, and the tags of an

[2022-03-01 11:38] m4rc1e commented on #3326
I'm not really such a fan of this proposed solution. I think Khaled summarised it best back in 2016, https://typedrawers.com/discussion/1705/webfont-vertical-metrics-strategies

Set typoAscender and typoDescender to the value that give default line spacing that is **good enough for common uses of the font.**
Set typoLineGap to zero, just to avoid dealing with the inconsistency of how applications

[2022-03-01 19:37] felipesanches opened #3630 "update gftools --autofix recommendation"
@marekjez86: Per, long time ago, recommendation from fontbakery I used to call gftools with --autofix  but now I get this error: `unrecognized arguments: --autofix hinted/ttf/FamilyName/FamilyName-Regular.ttf`... What should I do now? Or fontbakery changed its mind?

@simoncozens: It’s `“gftools fix-font”` these days.

@marekjez86: Got it. Thanks!

@felipesanches: Good to know. So, I need to updat

[2022-03-02 21:31] felipesanches commented on #3630
There's no remaining `--autofix` recommendation in our codebase.

[2022-03-02 21:31] #3630 closed

[2022-03-03 13:09] RosaWagner commented on #3583
Having this issue with 0.8.7

`Soft-hyphen` and `division slash` are not in the nam file anymore. So I wonder if we are now using the last version of the glyphset.

[code]

[2022-03-03 14:23] felipesanches commented on #3583
I will review this.

[2022-03-04 02:11] miguelsousa opened #3631 ""Failed with KeyError: 'full_lists'" in com.google.fonts/check/required_tables check"
With Font Bakery version 0.8.7 I'm seeing the **com.google.fonts/check/required_tables** check crash with TrueType fonts.
The error is `"Failed with KeyError: 'full_lists'"`.
I'm still investigating the root cause. I suspect it's related with the changes introduced in #3517.
More details at #3632.

[2022-03-04 08:10] felipesanches opened #3633 "Use the new `axisregistry` python module"
https://github.com/felipesanches/axisregistry (soon to be migrated to https://github.com/googlefonts/axisregistry)

To eliminate code&data duplication across tools and repos.

[2022-03-04 10:05] #3633 closed

[2022-03-04 15:42] chrissimpkins opened #3635 "Downgrade post format 3 FAIL to WARN in universal profile"
The current rationale for the post table format 3 fail points to Apple documentation that indicates the following:

There has been discussion about this issue in a different forum that I'll summarize here with a recommendation to downgrade the universal profile presence of post 3 format table FAIL to a WARN in TT font format builds.

#### @khaledhosny

#### @tphinney

#### @simoncozens

#### @twar

[2022-03-04 15:46] chrissimpkins commented on #3635
It appears that the check also enforces fails when the following conditions are not met:

- OTF CFF2 var fonts must have post 2 table
- OTF fonts otherwise must have post 3 table

Do we need these to remain in place (at all?, as warns?)

[2022-03-04 17:39] khaledhosny commented on #3635
Fonts with `CFF` table are treated exceptionally because the `CFF` table stores glyph names itself, but `CFF2` table does not and it should be handled the same as fonts with `glyf` table in regard to glyph names.

[2022-03-04 17:48] chrissimpkins commented on #3635
If we make the change to allow TTF format builds to use post 3, then your statement means that we can also allow it in CFF / OTF builds?

Here is where I am with the rationale statement based on the source changes that I'll open in the PR:

[code]

[2022-03-04 17:50] chrissimpkins commented on #3635
The post 2.5 and 4 checks will be new FAILs.  I didn't address post 1.

[2022-03-04 19:01] chrissimpkins commented on #3635
#3637

[2022-03-04 19:09] chrissimpkins commented on #3635
OK I need to update the tests in the pull request to add one additional FAIL condition then.  Thanks.

[2022-03-04 19:34] chrissimpkins commented on #3635
https://github.com/googlefonts/fontbakery/pull/3637/commits/ec7a514440a10397706440df474cd35230adfa6e

[2022-03-04 21:58] felipesanches opened #3638 "update code to use gflanguages v0.3.0 API"
more info at: https://github.com/googlefonts/gflanguages/pull/7

[2022-03-04 22:09] #3638 closed

[2022-03-04 22:13] #3631 closed

[2022-03-06 06:41] miguelsousa opened #3640 "ERROR in com.google.fonts/check/dotted_circle"
**AnchoGX.ttf** (from http://beatrizl.com/project/ancho) crashes `com.google.fonts/check/dotted_circle`. Traceback below.
Font Bakery v0.8.7
[code]

[2022-03-06 07:09] #3640 closed

[2022-03-06 07:09] felipesanches commented on #3640
thanks, @miguelsousa ;-)

[2022-03-06 07:10] miguelsousa opened #3642 "FreeType check?"
Has a check that validates that a **font can be rasterized by FreeType** been considered already?

I'm asking because **AnchoGX.ttf** version 1.000 (from http://beatrizl.com/project/ancho) crashes [freetype-py v2.2.0](https://github.com/rougier/freetype-py/).
[fontview v0.3.1](https://github.com/googlefonts/fontview) also doesn't render it, I assume because of a FreeType failure.

[code]

The snip

[2022-03-06 07:15] felipesanches commented on #3642
It would be nice to gather more info about this crash and also report it to the FreeType dev team.

[2022-03-06 07:19] miguelsousa commented on #3642
So far, FreeType is the only tool I found that cannot handle these fonts. I'll open an issue at [freetype-py](https://github.com/rougier/freetype-py/).

[2022-03-06 07:22] felipesanches commented on #3642
This specific error message means that the hinting code on this font exceeded freetype limits.

<img width="532" alt="Captura de Tela 2022-03-06 às 04 22 19" src="https://user-images.githubusercontent.com/213676/156913273-4bb448a2-b3e8-46d7-b589-ab639edd4522.png">

https://github.com/servo/libfreetype2/blob/f801061ee57dac0937cccffb0f7bf3fa120208f5/freetype2/src/truetype/ttinterp.c

[2022-03-07 10:42] simoncozens opened #3643 "New check: presence of GSUB5/GPOS7"
Versions of fonttools  >=4.14.0 (19 August 2020) perform an optimisation on chained contextual lookups, expressing GSUB6 as GSUB5 and GPOS8 and GPOS7 where possible (when there are no suffixes/prefixes for all rules in the lookup).

However, `makeotf` has never generated these lookup types and they are rare in practice. Perhaps before of this, Mac's CoreText shaper (and probably other environments

[2022-03-07 11:02] madig commented on #3635
As another point, I found that Apple seems to be running some autohinting on post v2 fonts but not post v3 fonts. I have no idea why or what exactly is going on there.

[2022-03-07 14:29] chrissimpkins commented on #3635
What grid fit differences do you see?

[2022-03-07 14:46] madig commented on #3635
It's subtle. post v2 vs v3:

![Animation](https://user-images.githubusercontent.com/380829/157056458-e99782d0-57f8-4e70-af01-72237fae41fd.gif)

[2022-03-07 16:51] aaronbell opened #3645 "Required CJK metrics are fractional at 2048 UPM"
When working on a CJK font, fontbakery issues these fails regarding the vertical metrics:

🔥 FAIL OS/2.sTypoAscender is "1802" it should be 1802.24 [code: bad-OS/2.sTypoAscender]
🔥 FAIL OS/2.sTypoDescender is "-246" it should be -245.76 [code: bad-OS/2.sTypoDescender]

This is understandable based on the the calculation described here: https://github.com/googlefonts/gf-docs/tree/main/Spec#cjk-vert

[2022-03-07 17:33] twardoch commented on #3635
Oh yeah, it is animated 🤩

[2022-03-07 19:26] khaledhosny commented on #3635
Is the difference related to post table version or the autohinter expecting a specific glyph naming scheme e.g. AGL. For example, does using uniXXXX names for all the glyphs trigger the same difference?

[2022-03-07 19:53] felipesanches commented on #3635
I've only reopened this issue because there's an ongoing conversation here ;-)

Feel free to close it once you believe there's no further FontBakery changes to be implemented here.

[2022-03-08 10:46] m4rc1e opened #3646 "check gf-axisregistry/fvar_axis_defaults seems too restrictive"
We shouldn't be checking whether each fvar axis default value has a fallback in the GF axis registry.

Default values for fvar axes relate to the underlying zero origin (aka base master in glyphapp/ufo etc) of the font, not what the designer perceives a good default value to be. On the other hand, the axis registry's default value is what we perceive a decent value to be **when using the family wi

[2022-03-08 10:55] m4rc1e commented on #3646
We currently have a few super families in the pipeline which could potentially generate thousands of static fonts. The Roboto Serif download is 70mb and contains 761 fonts which is unusable imo. In order to solve this, I suspect we may stop instantiating statics by using fallback values or just remove many fallback values from certain axes such as opsz.

[2022-03-08 15:28] felipesanches commented on #3643
I think this should be a FAIL because even though the fonts "are technically correct (it's totally Apple's fault)", the problem exists and must be avoided.

[2022-03-08 15:48] anthrotype commented on #3643
not if a font targets non-apple platform. Unless there's a way to disable or demote severity of checks

[2022-03-08 16:30] simoncozens commented on #3643
It feels wrong to FAIL correct fonts.

[2022-03-08 22:28] bobh0303 commented on #3643
For the font developers, is there a simple way to turn off these fontTools optimizations? @simoncozens seems to hint at that in his [tweet](https://twitter.com/simoncozens/status/1499860659437285382).

[2022-03-08 23:19] miguelsousa commented on #3642
The feedback on the linked issues suggests that the fonts are malformed.

@felipesanches I'm interested in adding a FreeType check; it will have a dependency on `freetype-py`. Do you have any preference on which profile it should go into, and any guidance on how to implement it?

[2022-03-09 01:44] josh-hadley commented on #3642
Chiming in with my vote for this also (and willingness to help implement). Considering the widespread use of FreeType, I think it would be helpful to have a check that actually exercises fonts in the rasterizer. Worth noting too that other implementations that appear to work are probably just silently failing and attempting to continue using the malformed font while skipping bad glyphs/hints/etc.

[2022-03-09 05:50] #3643 closed

[2022-03-09 08:25] felipesanches commented on #3642
That's OK.

Sounds like a check for the `universal` profile ;-)

I'm not sure. A long time ago there was a check that relied on a fork of MSFontValidator that tapped into a patched freetype that exposed those hinting bytecode errors. But it was very unpleasant to work with these patched dependencies. Not sure if you are planning to do something similar to that, or if you have something else in min

[2022-03-09 14:30] madig opened #3648 "Terminal reporter: merging check results for different fonts into one message"
## Observed behaviour

Checks are currently reported per-font. In a certain top-secret font project, a couple of potential GDEF misclassification results in two checks (gdef_non_mark_chars and gdef_spacing_marks) reporting largely the same findings for each font in separate messages, filling multiple screens. Example:

[code]

## Expected behaviour

It would be nice if the terminal reporter like t

[2022-03-10 00:45] HinTak commented on #3642
FWIW, `exc->maxFDefs` is read from the font's cvt table. The freetype message just indicates the font is broken, in that some of values in its cvt table is just wrong (too low). It is not a freetype limit, it is just a wrong number in the font itself.

[2022-03-10 00:53] HinTak commented on #3642
@miguelsousa the Microsoft documentation is quite clear about E6045 about what's wrong with the font and what the corrective action from the font designer is https://github.com/HinTak/Font-Validator/blob/b8394cb446c1c4963e88f6f2242c6847378ca1b0/GenerateFValData/OurData.xml#L5163

[2022-03-10 01:00] HinTak commented on #3642
@miguelsousa likewise, the description for E6016 is quite clear that maxp table in the font is wrong.
And what you need to do to correct the font: https://github.com/HinTak/Font-Validator/blob/b8394cb446c1c4963e88f6f2242c6847378ca1b0/GenerateFValData/OurData.xml#L4833 .

This is original Microsoft documentation , written by Microsoft folks - you would see that my only change to this part is docume

[2022-03-10 01:11] HinTak commented on #3642
@miguelsousa and there is a "official" python binding https://github.com/FontVal-extras/freetype-py to the freetype-pretending-to-be-Microsoft-rasterizer backend.

[2022-03-10 16:04] madig opened #3650 "Suggestion: --auto-jobs should maybe use physical core count"
## Observed behaviour

My CPU has hyperthreading to double the thread count, but there is no time difference between 8 and 16 threads.

## Expected behaviour

Using more threads should be faster but may fail due to synchronization or memory copying back and forth or whatever. Not using more cores than necessary could reduce waste until the code and/or Python gets better at multiprocessing.

## Res

[2022-03-10 18:01] miguelsousa commented on #3642
@HinTak thanks for the info.

[2022-03-11 15:19] yanone commented on #3100
Adding an opinion: the toolchain doesn’t create an `avar` table for fonts with linear instance progression. This should be detected by fontbakery and passed, if found to be the case.

[2022-03-12 12:46] twardoch commented on #3100
Avar is a particular correction mechanism, in a way it's a bit like kerning. Making avar mandatory is like making kerning mandatory. Yes, often missing kerning is a bug but sometimes it's intent. Same with avar.

It’d be sensible if fontbakery made specific checks for wght axis, I'll draft it up.

[2022-03-14 13:16] davelab6 commented on #3646
@rsheeter SGTY?

[2022-03-14 19:07] #3635 closed

[2022-03-14 20:32] DavidRaymond opened #3654 "More checks where log messages need to be normalized."
As a follow-on to https://github.com/googlefonts/fontbakery/issues/3038 I've noticed a few more checks where the log messages need to be normalized:

com.google.fonts/check/dotted_circle
com.google.fonts/check/layout_valid_language_tags
com.google.fonts/check/production_glyphs_similarity
com.google.fonts/check/unreachable_glyphs

Note my testing only covers checks that work directly on .ttf files,

[2022-03-15 01:01] miguelsousa opened #3656 "com.google.fonts/check/linegaps failed with KeyError: 'OS/2'"
Font Bakery v0.8.7

When a font does not have the `OS/2` table, **com.google.fonts/check/linegaps** fails with a KeyError.
https://github.com/googlefonts/fontbakery/blob/a9fc45fb563350fa806107f3afd878db63eb03c5/Lib/fontbakery/profiles/hhea.py#L21

Looking at other parts of `hhea.py` makes me think that sooner or later other ERRORs caused by `KeyError` are going to be triggered by other lines such

[2022-03-16 15:59] DavidRaymond opened #3658 "JSONDecodeError on multiple checks"
I've started getting ERRORs on various checks.  I've reproduced using:

```fontbakery check-googlefonts data/test/cabin/Cabin-Bold.ttf --checkid=com.google.fonts/check/vertical_metrics_regressions```

which gives:

[code]
Font Bakery version 0.8.8.dev26+g15022a66 on Ubuntu 20.04.

[2022-03-16 16:05] m4rc1e commented on #3658
We had the same issue in gftools, https://github.com/googlefonts/gftools/issues/518

Appears our backend api endpoints have changed.

[2022-03-16 18:29] felipesanches opened #3661 "fix broken parsing at `@condition def production_metadata()`"
The json data available at http://fonts.google.com/metadata/fonts changed in a way that breaks the parsing at the `production_metadata` condition.

In the past there were 5 spurious characters in the beginning of that content and we had to work-around that. Such a hack is not needed anymore, and it is currently causing check **ERROR**s.

[2022-03-16 19:04] #3661 closed

[2022-03-16 19:07] felipesanches commented on #3658
Duplicate of https://github.com/googlefonts/fontbakery/issues/3661, fixed at https://github.com/googlefonts/fontbakery/pull/3662

[2022-03-16 19:07] #3658 closed, assigned to nobody

[2022-03-16 19:35] #3618 closed

[2022-03-16 20:45] felipesanches commented on #3611
@RosaWagner, thanks for all the effort put in here, but I feel this is "a fish too big to fry". There's way too much stuff in a single issue, so I would be happy if you could indeed split it into smaller / more focused issues, as you mentioned a few messages above.

@m4rc1e and @vv-monsalve, have you already read this issue? What are your thoughts?

[2022-03-16 22:18] devosb commented on #3643
Thank you for finding this @simoncozens I am sorry to point out a typo, in the phrase _GSUB6 as GSUB5 and GPOS8 and GPOS7_ I think the second _and_ should be _as_. This typo has now made it into the Font Bakery code as well.

[2022-03-17 12:08] RosaWagner opened #3663 "italicAngle check should apply in all correct profiles"
**Should be triggered if "Italic" is part of the file name, or `NameID2`, or `NameID17`.**
The ticked cases indicates where you can already find it.

### italicAngle in `post` table is not 0.

[code]
**Profile**
- [x] in google-font profile
- [ ] in universal profile
- [ ] in opentype profile

**Format**
- [ ] in VF check
- [x] in static check

[2022-03-17 12:12] RosaWagner opened #3664 "head macStyle ITALIC check should apply in all correct profiles"
**Should be triggered if "Italic" is part of the file name, or `NameID2`, or `NameID17`.**
The ticked cases indicates where you can already find it.

### Style linking must be set in `head` table:

[code]
**Profile**
- [x] in google-font profile
- [ ] in universal profile
- [ ] in opentype profile

**Format**
- [ ] in VF check
- [x] in static check

[2022-03-17 12:15] RosaWagner opened #3665 "OS/2 fsSelection (italic) check should apply in all correct profiles"
**Should be triggered if "Italic" is part of the file name, or `NameID2`, or `NameID17`.**
The ticked cases indicates where you can already find it.

### Style linking must be set in `OS/2` table:

[code]
**Profile**
- [x] in google-font profile
- [ ] in universal profile
- [ ] in opentype profile

**Format**
- [ ] in VF check
- [x] in static check

[2022-03-17 12:22] RosaWagner opened #3666 "Subfamily Name Italic check applies in all correct profiles"
**Should be triggered if "Italic" is part of the file name, or `NameID2`, or `NameID17`.**
The ticked cases indicates where you can already find it.

### `Name ID2` in `name` table should be "Italic" (or "Bold Italic")
[code]
**Profile**
- [x] in google-font profile
- [x] in universal profile
- [ ] in opentype profile

**Format**
- [x] in VF check
- [x] in static check

[2022-03-17 12:26] RosaWagner opened #3667 "Family name checks (italic) applies to all correct profiles"
**Should be triggered if "Italic" is part of the file name, or `NameID2`, or `NameID17`.**
The ticked cases indicates where you can already find it.

### `Name ID1` and `Name ID16` in `name` table should not contain "italic"

[code]
[code]
**Profile**
- [x] in google-font profile
- [ ] in universal profile
- [ ] in opentype profile

**Format**
- [ ] in VF check
- [x] in static check

[2022-03-17 13:02] RosaWagner opened #3668 "'ital' axis value in STAT table should be a boolean"
### `Ital` axis value in italic font should be `0` and elided in Roman, ans `1` and not elided in Italic, value `0` should be linked to `1`

https://docs.microsoft.com/en-us/typography/opentype/spec/dvaraxistag_ital#axis-definition
It often happens that designers assign the italic angle as a value to the Italic instance in the STAT table. So it can't be the universal profile. But it goes against r

[2022-03-17 13:06] RosaWagner opened #3669 "'ital' axis in STAT table should be last in axis order"
### `Ital` axis should be the last axis in the axis order:
Since STAT table can be use to create new instances, it can be important that the naming of new instance is consistent with the subfamily traditional scheme (RIBBI / WWS) where "Italic" is always last. This is required by GF, recommended by opentype, and usual universal practice.
For example if  `` then `<Axis index="2">` for Italic.

**Pr

[2022-03-17 13:08] RosaWagner opened #3670 "In italic fonts, Caret Slope shouldn't be 1"
**Should be triggered if "Italic" is part of the file name, or `NameID2`, or `NameID17`, or italicAngle != 0, or is italic.**
The ticked cases indicates where you can already find it.

### Caret Slope shouldn't be 1:
WARN
Since those values are calculated by the font editor, which can lead to differences in rounding, I would not check for the exact value, but fail if, in `hhea` table, `caretRise =

[2022-03-17 13:17] RosaWagner commented on #3611
Done @felipesanches
I think 3 weeks are enough to wait for feedback. Let's go with no comment, no problem.
I didn't link the test case in all of them, but it is in this issue, with all the issues mentioned.

[2022-03-17 13:39] felipesanches commented on #3611
thanks a lot! :-D

[2022-03-17 14:29] twardoch commented on #3668
https://docs.microsoft.com/en-us/typography/opentype/spec/dvaraxistag_ital says

The word “must ” indicates the hardest requirement, not a recommendation. Any user “ital” value outside the range 0–1 is invalid. If a font encodes the slant degree in the “ital” axis, that’s an invalid font.

[2022-03-17 14:47] felipesanches commented on #3663
Let me reword this, then... You are requesting the italic angle check to be migrated from the vendor-specific `googlefonts` profile to the much broader `opentype` profile, right?

Since the semantics of the italic-angle value are defined in the OpenType spec, I think you're right!

[2022-03-18 11:31] emmamarichal opened #3671 "[Checking with fontTools.ttx] Name ID 256 not required for statics"
## Observed behaviour

I have this fail when I run fontbakery on a static font:

</summary><div><details><summary>🔥 <b>FAIL:</b> Checking with fontTools.ttx (<a href="https://font-bakery.readthedocs.io/en/latest/fontbakery/profiles/universal.html#com.google.fonts/check/ttx-roundtrip">com.google.fonts/check/ttx-roundtrip</a>)</summary><div>

* 🔥 **FAIL** name id 256 missing from name table
* ℹ **IN

[2022-03-21 14:40] madig opened #3672 "Wish: nicer cancellation for terminal runner"
## Observed behaviour

Cancelling an `--auto-jobs` run on a CPU with 16 cores fills multiple terminal screens with backtraces.

## Expected behaviour

A single line saying "Cancelled by user" would suffice and reduce scrolling :)

[2022-03-21 23:40] tphinney commented on #3364
Also, it appears to me that for variable fonts, Fontbakery is only reading values from the default master to determine what the desired values are. As the values for the family are more usually dependent on the maximum of all masters, that seems to be a significant error. (At least, for families whose masters vary in this regard.)

[2022-03-22 02:16] davelab6 opened #3673 "Ot check for dotted circle"
## Observed behaviour

https://github.com/googlefonts/noto-fonts/issues/2303 explains all fonts with combining masks should have a dotted circle character. I guess @simoncozens can provide more explanation detail.

I guess this should be in the Universal profile.

## Expected behaviour

Check, if any combining character (there's a concrete Unicode range that I guess Simon can quickly enumerate), d

[2022-03-22 02:37] felipesanches commented on #3673
we already have a dotted circle check, added recently

[2022-03-22 03:06] felipesanches commented on #3673
#3602

[2022-03-22 05:58] twardoch commented on #3364
Note: The  glyf.yMin/yMax fields have no variable representation, and the spec explains that they’re unreliable in VFs. OS/2.WinAscent/Descent can vary via MVAR.hcla/hcld.

[2022-03-22 08:15] simoncozens commented on #3673
We even have a fontmake filter to add one if it’s not there…

[2022-03-22 08:15] #3673 closed

[2022-03-22 12:02] yanone opened #3674 "[googlefonts] Contradicting suggestions for license copyright and font copyright"
Both of these FAILs have contradicting descriptions:

[code]

The first one suggests a lowercase string with a comma, the second one a mixed case string without a comma. There's also a mismatch regarding the parenthesis around the s of `Author(s)`.

Since the string is checked precisely, the descriptions must also be precise.

[2022-03-22 22:08] simoncozens opened #3675 "Errors on all GF API conditions"
(**NOTE:** If your issue is related to a specific check, please consider mentioning its check-id on the issue title.)

## Observed behaviour

Today I'm getting JSON-related errors on anything that makes a call to the GF API. Did an endpoint change?

💔 <b>ERROR:</b> Check METADATA.pb includes production subsets.<div>
* [com.google.fonts/check/metadata/includes_production_subsets](https://font-baker

[2022-03-23 05:24] marekjez86 commented on #3675
GitHub was down for a while. All GitHub. Would it cause this issue, if you
couldn't reach it?

On Tue, Mar 22, 2022, 15:08 Simon Cozens ***@***.***> wrote:

[2022-03-23 08:06] simoncozens commented on #3675
No, it's a GF API check. The problem is that:

* production_metadata has no error checking! Bad programmer!
* The metadata is now valid JSON, so the lines:

[code]

are no longer true.

[2022-03-23 08:11] simoncozens commented on #3675
Looks like this was addressed in ac64a301.

[2022-03-23 08:11] #3675 closed

[2022-03-23 08:34] felipesanches commented on #3583
I'm sorry, I'll have to postpone this to the next release because #3675 is critical and urgently requires a new release as it is already fixed on git.

[2022-03-23 09:59] RosaWagner commented on #3671
Indeed, this correspond to name ID linked to STAT and FVAR table, which are variable font tables. This check shouldn't perform on static fonts.

[2022-03-23 10:43] felipesanches commented on #3671
I suspect this means a bug in `ttx`.

If that's the case, then ttx should be fixed while ttx round-tripping should still be ensured by running the check on all fonts regardless of them being statics or VFs.

[2022-03-23 10:46] felipesanches commented on #3671
The `ttf-roundtrip` check was originally proposed by @davelab6 at #1763

[2022-03-23 10:50] felipesanches opened #3677 "use "stable" readthedocs URLs on the markdown reports"
Users reading markdown reports should be directed to the "stable" documentation of checks (released versions of FontBakery) instead of the "latest" one (git development code).

[2022-03-23 17:11] vv-monsalve commented on #3364
From the [Spec](https://github.com/googlefonts/gf-docs/tree/main/VerticalMetrics#4-winascent-and-windescent-values-must-be-the-same-as-the-familys-tallestdeepest-ymin-and-ymax-bbox-values) the `Win` values are required to be the same as the family's tallest/deepest `yMin` and `yMax` bbox values. This applies to any family be it a VF or not.

[2022-03-23 18:10] tphinney commented on #3364
I'm talking about how FontBakery determines the ideal Win values. With Adam’s comment, I understand now that it is taking the one and only yMin/yMax from the font and using that for all masters.

Not sure if I should blame FontLab for using the yMin/yMax from the default master for the exported variable font, or Fontbakery for using that value as the basis for its metrics assumptions. Or is it my

[2022-03-23 18:17] vv-monsalve commented on #3326
I would advocate doing this.

It would be a convenient way to publish fonts in a safer way as it would cover all considerations listed on the [Notes](https://github.com/googlefonts/gf-docs/tree/main/VerticalMetrics#note) of our current VM Spec.

It would only require designers to include one or two extra diacritics to generate the requested glyph. It could be probably `hookabove` as often `Acircum

[2022-03-23 20:45] vv-monsalve commented on #3364
In Glyphs we use a script to inspect the yMin and yMax values of the entire font and then we use the highest values to determine the `winAscent` and `winDescent` for every master in the font info.
<img width="749" alt="Screen Shot 2022-03-23 at 15 32 08" src="https://user-images.githubusercontent.com/48698976/159790970-32a548c5-effc-4f79-94dd-0584370144b4.png">
<img width="414" alt="Screen Shot 20

[2022-03-23 21:13] vv-monsalve commented on #3663
I think I don't follow what you mean by "all correct profiles" but I think this check is valid and yes it should be included in the OpenType profile.

[2022-03-23 21:27] vv-monsalve commented on #3663
Although I've seen some other checks like `FAIL: CFF table FontName must match name table ID 6` are also included in the Universal profile, shouldn't this one be there too?

[2022-03-23 21:28] vv-monsalve commented on #3664
I think this check should be part of the Universal profile

[2022-03-23 21:38] vv-monsalve commented on #3666
This one should also be part of the Universal profile

[2022-03-23 21:39] vv-monsalve commented on #3667
**Profile**
- [x] in google-font profile
- [x] in universal profile
- [ ] in opentype profile

[2022-03-23 21:41] vv-monsalve commented on #3665
Profiles where it should be included
- [x] in google-font profile
- [x] in universal profile
- [ ] in opentype profile

[2022-03-23 21:49] vv-monsalve commented on #3663
Profiles where it should be included
- [x] in google-font profile
- [x] in universal profile
- [x] in opentype profile

[2022-03-23 23:05] vv-monsalve commented on #3668
I think this paragraph is a little bit hard to follow, to me at least. If we are requiring for the 'ital' axis value to be boolean then the first idea ("assign the italic angle as a value to the Italic instance in the STAT table") shouldn't be permitted.
In that way, this check could be included in the Universal profile and should be a FAIL.

**Profile**
- ~~in google-font profile (FAIL)~~
- [x] i

[2022-03-23 23:07] vv-monsalve commented on #3669
Profiles where it should be included

- [x] in google-font profile (FAIL)
- [x] in universal profile (WARN)
- ~~in opentype profile (WARN)~~

[2022-03-23 23:13] vv-monsalve commented on #3364
What I mean with the above is it is always better to not rely on app auto-calculations in general, but I would say particularly on FontLab, it used to be a similar temporary or confusing situation when clicking the "magic diamond".
To get the actual highest values you could make use of the FB results for static fonts.

[2022-03-23 23:36] vv-monsalve commented on #3670
Profiles where it should be included
- [x] in google-font profile
- [x] in universal profile
- [x] in opentype profile

Format
- [x] in VF check
- [x] in static check

[2022-03-23 23:43] vv-monsalve commented on #3611
I was finally able to go through all the items included. It was a good compiling @RosaWagner.
Although I have to say that having them in separated issues really made it more accessible, so I see better now Felipe's point on requesting it to be that way ;)

I've left comments on the separated issues, but the in first one #3663 is the reasoning done for all the others.

[2022-03-23 23:45] tphinney commented on #3364
FontLab doesn’t offer any other facility in the family BBox area. You can leave it blank (as I had done previously on this font), or press the magic diamond button... which generates info that apparently does not get saved. (This I can take up with Adam and Yuri, though.)

[2022-03-23 23:49] vv-monsalve commented on #3364
I wish I could be of more help here, but I'm not a FontLab savy :(

[2022-03-24 07:49] RosaWagner commented on #3663
The ticked cases in the issue are the ones where the check is already included, and the one unticked are the one _to do_.

[2022-03-24 08:04] RosaWagner commented on #3663
Yes, then I don't know if opentype profile is included in Universal, but that's the idea.

[2022-03-24 08:18] RosaWagner commented on #3667
It should also be included in the opentype profile, since per opentype spec, if italic is in family name (and so not in style name), then style linking between Regular and Italic doesn't work. Regular, Bold, Italic, Bold Italic must be the 4 styles that never go in name ID1/16 (https://docs.microsoft.com/en-us/typography/opentype/spec/name#name-ids), and that must always be in Name ID 2/17.

[2022-03-24 08:41] RosaWagner commented on #3668
Then yes, should be a FAIL in the opentype profile.

I thought about a WARN in the universal profile cause this is common practice among designers and foundries to avoid the controversial slant axis. So many are having ital[0-12] for example, and even Glyphs recommends it in its forum. But yes it doesn't mean that it is "best" practice since it would mess up font usages the day browsers, apps and

[2022-03-24 09:22] twardoch commented on #3668
`ital`=12 is a clear contradiction of a _hard_ requirement of the OT spec.

If some font tool maker is recommending such a solution on some forum, then that tool maker is irresponsible in my view.

There are only 5 registered axes, and a potential gazillion of custom ones. Anybody is free to make a font with a custom axis, e.g. `ITAL`, which can be named `Italic`, and then that axis can have any r

[2022-03-24 16:07] vv-monsalve commented on #3663
Inspecting again the profiles in Fontbakery I can confirm now that almost all (if not all) the Italics checks listed should be included in the OpenType set, which would be included then in the universal and therefore in the google-fonts vendor-specific.

### Opentype
The checks of the [opentype profile](https://font-bakery.readthedocs.io/en/stable/fontbakery/profiles/opentype.html) are separated i

[2022-03-24 16:20] vv-monsalve commented on #3669
I've updated the above comment after reading again the FB profiles schema. I've added a new [comment](https://github.com/googlefonts/fontbakery/issues/3663#issuecomment-1077792954) around this in the first check proposal.

[2022-03-24 16:25] vv-monsalve commented on #2934
Profiles where it should be included
- [x] in google-font profile
- [x] in universal profile
- [x] in opentype profile

[2022-03-24 20:47] #3677 closed

[2022-03-29 06:51] tphinney commented on #2857
I am now using the new Fontbakery 0.8.8, which fixes the other six error messages I was recently getting (hurrah!)—but not this one.

[2022-03-29 08:24] simoncozens opened #3680 "notofonts profile should do everything notolint does"
This is a scratchpad issue for me. Ignore it.

* Name table checks
	* ~Check for unused entries in name table (>256)~ (Surely this was written before the days of variable fonts)
	* ~Check names 0-14, 16, 17, 21, 22 contain expected values~
	  * partially covered by `com.google.fonts/check/font_copyright` , `com.google.fonts/check/version_format` , `com_google_fonts_check_name_postscriptname`, `com

[2022-03-29 13:34] #2676 closed

[2022-03-29 13:35] felipesanches commented on #2676
see also: #3680

[2022-03-29 13:36] felipesanches commented on #3680
See also: https://github.com/googlefonts/fontbakery/issues/2598#issuecomment-560999477

[2022-03-29 14:02] simoncozens commented on #3680
-> #3681

[2022-03-29 14:02] #3680 closed

[2022-03-29 14:51] aaronbell commented on #2857
The issue with JP fonts is a little more complex as it is due to an interaction between the xAvgCharWidth and PANOSE monospace flag (this is assuming post isFixedWidth is set to 1).

For a monospace (aka single / double width) Japanese font, the Latin characters are X width and Japanese characters are 2X width. If xAvgCharWidth is set normally (somewhere between X and 2X) then PANOSE monowidth *mu

[2022-03-29 19:57] tphinney commented on #2857
@aaronbell so if I understand you correctly

IF you have a normal Japanese font (monospaced but with half-width Latin and full-width Japanese):

THEN, EITHER:
1) set Panose to mono and xAvgCharWidth to half-width (that is, to the Latin value, not the Japanese one and not some average between the two values)
2) set Panose to proportional and set xAvgCharWidth as you like

[2022-03-30 13:51] chrissimpkins commented on #3635
@madig do you have any additional info on this issue that might point us to some way to address it?  It isn't clear to me what role post names might have in grid fit.

[2022-03-30 14:41] madig commented on #3635
I haven't looked into it further and also haven't contacted Apple about it, though some day I want to do the latter.

[2022-03-30 18:38] davelab6 opened #3682 "GF profile: DESC check to ban the word "free" from GF family descriptions"
## Observed behaviour

The word "free" appears in DESC files but this may be misleading so we should use other words.

Related PRs are https://github.com/google/fonts/pull/4443 and https://github.com/google/fonts/pull/4444

We need a FB check to ensure the word (or its stems, freely, etc) doesn't re-enter, that will be run as part of the github.com/google/fonts repo CI.

## Expected behaviour

FAI

[2022-03-31 07:17] felipesanches opened #3684 "DeprecationWarning: draw_glyph() is deprecated, use get_glyph_shape() instead"
![Screenshot from 2022-03-31 04-16-03](https://user-images.githubusercontent.com/213676/160999291-9cf8ac7a-2f4e-4191-b8f9-b1eead7845f4.png)

[2022-03-31 07:20] felipesanches opened #3685 "[pylint] Lib/fontbakery/codetesting.py: (modified-iterating-dict)"
![Screenshot from 2022-03-31 04-18-30](https://user-images.githubusercontent.com/213676/160999673-4584ec89-a6e2-4dcd-adba-b45341374a96.png)

https://github.com/googlefonts/fontbakery/runs/5766759335?check_suite_focus=true

[2022-03-31 08:03] davelab6 commented on #3674
No, I don't think that's correct.

There are 2 examples:

`Copyright 2019 The Montserrat Project Authors (https://github.com/julietaula/montserrat)`

`Copyright 2019 The Familyname Project Authors (git url)`

and 2 results found in files:

`copyright (c) 2020, the akshar type project author(s) (https://github.com/tallchai/akshar-type)`

`Copyright (c) 2020, The Akshar Type Project Author(s) (https

[2022-03-31 08:04] davelab6 commented on #3674
The example maybe should be

`Copyright 2022 The Familyname Project Authors (https://github.com/foundry/family-name)`

[2022-03-31 22:20] davelab6 opened #3686 "GF profile: Are vertical metrics too tight?"
Per https://github.com/google/fonts/pull/4428 does our current v metrics policy create v metrics that are too tight?

@vv-monsalve mentioned she would like to investigate this

[2022-03-31 22:55] vv-monsalve commented on #3686
It's on my list for Q2, along with the Google Font Guide (documentation) review.

[2022-04-01 13:14] felipesanches opened #3687 "Display font version on the header of github reports"
@vv-monsalve told me it would be useful to see on github reports the version number of the font files being checked.

[2022-04-01 14:15] RosaWagner commented on #3686
I transfer here a part of my answer from https://github.com/google/fonts/pull/4428#issuecomment-1085699910

Policy is good, it has been updated and reviewed last year: cf https://googlefonts.github.io/gf-docs/VerticalMetrics/

Checks are to be added to Fontbakery to ensure that, as summarised in that issue:
https://github.com/googlefonts/fontbakery/issues/3307

[2022-04-01 15:42] simoncozens opened #3688 "Check for mismatch between subfamily name and stylename"
## Observed behaviour

This happened in certain versions of glyphsLib:

[code]

## Expected behaviour

A font like that should fail a fontbakery check.

## Resources and exact process needed to replicate

https://github.com/googlefonts/noto-fonts/tree/main/hinted/ttf/NotoKufiArabic/

[2022-04-01 19:31] felipesanches commented on #3307
hey, @m4rc1e, This issue is currently assigned to the upcoming release (v0.8.9). Would you like to postpone it to a future release milestone or will you plan to implement this in the short term so that it can be included in v0.8.9? The upcoming release will probably happen at some point later this month, ideally mid-April.

[2022-04-01 21:50] chrissimpkins opened #3689 "Platform inconsistencies in GSUB5/GPOS7 lookup check rationale"
Check: `com.google.fonts/check/gsub5_gpos7`
Added: https://github.com/googlefonts/fontbakery/pull/3644

The rationale for the GSUB5/GPOS7 check states:

[code]

The body of the rationale indicates that the GPOS7 issue is macOS-specific and GSUB5 issue is Windows-specific.  The end of the report includes two WARN fields that indicate GPOS7 **and** GSUB5 are macOS-specific issues.  If the body of th

[2022-04-01 21:52] khaledhosny commented on #3689
There is no proof about GSUB5 being an issue on Windows, it was just speculation IIRC.

[2022-04-01 22:43] simoncozens commented on #3689
Yes, I'm sorry, that was my fault. I saw that Yanone was having problems with a font which was generating GSUB5 lookups, and I had just been working on this issue and jumped to conclusions. GPOS 7 is definitely a problem, though.

[2022-04-03 01:21] khaledhosny commented on #3688
What is the bug here? Name ID 2 is required to be one of the regular/bold/italic/bold italic styles for backward compatibility, while name ID 17 doesn't have this restriction: https://docs.microsoft.com/en-us/typography/opentype/spec/name#name-ids

[2022-04-04 13:16] moontypespace opened #3691 "HTML Output is not well displayed: outline_alignment_miss, outline_jaggy_segments, outline_short_segments"
## Observed behaviour

HTML Output is not well displayed:
FontBakeryCheck:com.google.fonts/check/outline_alignment_miss
FontBakeryCheck:com.google.fonts/check/outline_jaggy_segments
FontBakeryCheck:com.google.fonts/check/outline_short_segments

## Expected behaviour

It should look like:
FontBakeryCheck:com.google.fonts/check/outline_semi_vertical

## Resources and exact process needed to replicat

[2022-04-04 18:18] felipesanches commented on #3180
There's some old code for doing part of this task at https://github.com/googlefonts/fontbakery/commit/33fbe0e1f4b7dc1f68a8bc5177ec13f43a1b3c87

[2022-04-04 18:20] felipesanches commented on #3689
This was addressed by @simoncozens at #3690

[2022-04-04 18:20] #3689 closed

[2022-04-05 17:51] felipesanches commented on #3691
![Screenshot from 2022-04-05 14-51-25](https://user-images.githubusercontent.com/213676/161818879-774b49d0-1517-43cd-9083-43a6ddeb9e23.png)

[2022-04-05 17:52] felipesanches commented on #3691
The screenshot above is the result of the changes at PR #3692

[2022-04-05 18:12] #3691 closed

[2022-04-05 21:06] felipesanches commented on #3656
There already is a mechanism for auto-skipping checks that do not fulfill certain conditions. We could setuup conditions like this:

[code]

Then use them in the checks like this:

[code]

[2022-04-05 21:08] felipesanches commented on #3656
But if in some specific checks you'd want to emit a FAIL if a table is missing, then it would probably still be done manually in the check implementation.

[2022-04-05 21:11] felipesanches commented on #3656
I made a few quick fixes to the code examples above because they contained some mistakes/typos.

[2022-04-06 16:51] felipesanches opened #3693 "Improve implementation of `is_italic` condition and provide an `is_bold` counterpart"
@moontypespace suggested changes to the `is_italic` condition at his pull request #3649

That PR is mostly concerned with the addition of a new check to the FontWerk profile. But this check uses the is_italic condition from the `shared_conditions` module, so I took precaution of reviewing the usage of this condition on other profiles, since a modification could trigger side-effects in other checks

[2022-04-06 18:35] #3693 closed

[2022-04-06 20:56] davelab6 opened #3695 "Add GF check: Do Stylistic Sets have names?"
## Observed behaviour

The [GlyphsApp Tutorial for Stylistic Sets Naming](https://glyphsapp.com/learn/stylistic-sets#g-__names-for-stylistic-sets) explains how to set labels for OpenType Feature Stylistic Sets.

## Expected behaviour

Each stylistic set should be named, in every GF font; therefore we should have a FB GF profile check if these names exist.

[2022-04-06 21:03] felipesanches commented on #3695
This is definitely not the same issue, but perhaps this would lead to similar considerations as the things discussed at #3155

[2022-04-06 21:03] vv-monsalve commented on #3695
There is already a check for this and a discussion around it #3155

It was downgraded to a "Warn" after a long discussion there.

[2022-04-07 16:05] moontypespace commented on #3693
@felipesanches It's probably a bit late, but in the meantime I wrote a different function for fonttools with a better name ;) What do you think about using 'getBestFullName' instead:
https://github.com/fonttools/fonttools/blob/7ee2c9d8918be4158340ca584996ef13cbe9cd84/Lib/fontTools/ttLib/tables/_n_a_m_e.py#L142

[2022-04-08 15:36] davelab6 commented on #3695
Oh right, yes. I think it should be MUST for GF profile, and I filed this issue forgetting we already made a check for this.

The discussion proposed to make it MUST in the GF profile after better docs were made to explain how to make the check pass. I'd like to make this a Q2 goal as I think its essential for GF to "go big" with OpenType Features that all GF fonts have labels for all OpenType fea

[2022-04-08 15:46] davelab6 commented on #3695
Closing as a duplicate of https://github.com/googlefonts/fontbakery/issues/3155 but marking that as a priority.

[2022-04-08 15:46] #3695 closed

[2022-04-10 16:25] khaledhosny opened #3700 "[com.google.fonts/check/layout_valid_language_tags] RHG language tags causes a FAIL"
## Observed behaviour

A font with `RHG` language tag in a FAIL in `com.google.fonts/check/layout_valid_language_tags` even though the tag is valid according to OpenType language tag registry: https://docs.microsoft.com/en-us/typography/opentype/spec/languagetags

## Expected behaviour

Font passes.

## Resources and exact process needed to replicate

[Scheherazade New](https://software.sil.org/do

[2022-04-10 22:26] bobh0303 commented on #3700
Thanks Khaled. This was an issue I should I have created months ago.

As it turns out, there are quite a number of langtags that have been recently added to the OpenType spec in recent months, RHG among them. IMO, FontBakery needs a process to regularly import registered tags (features, scripts, and languages) from the OpenType specification.

[2022-04-11 23:28] #3642 closed

[2022-04-12 02:10] miguelsousa opened #3702 "fvar check proposal: Validate nameID value used in VariationAxisRecord.axisNameID"
Quote from the [`fvar` documentation](https://docs.microsoft.com/en-us/typography/opentype/spec/fvar) in OpenType spec v1.9 (my emphasis):

I hereby propose a new `fvar` check that validates that the value of axisNameID used by each VariationAxisRecord be greater than 255 and less than 32768.
The check should FAIL if the conditions are not met.

[2022-04-12 02:10] miguelsousa opened #3703 "fvar check proposal: Validate nameID value used in InstanceRecord.subfamilyNameID"
Quote from the [`fvar` documentation](https://docs.microsoft.com/en-us/typography/opentype/spec/fvar) in OpenType spec v1.9 (my emphasis):

I hereby propose a new `fvar` check that validates that the value of subfamilyNameID used by each InstanceRecord be 2, 17, or greater than 255 and less than 32768.
The check should FAIL if the conditions are not met.

[2022-04-12 02:10] miguelsousa opened #3704 "fvar check proposal: Validate nameID value used in InstanceRecord.postScriptNameID"
Quote from the [`fvar` documentation](https://docs.microsoft.com/en-us/typography/opentype/spec/fvar) in OpenType spec v1.9 (my emphasis):

I hereby propose a new `fvar` check that validates that the value of postScriptNameID used by each InstanceRecord be 6, 0xFFFF, or greater than 255 and less than 32768.
The check should FAIL if the conditions are not met.

[2022-04-12 02:10] miguelsousa opened #3705 "fvar check proposal: Instance records must have the same size"
Quote from the [`fvar` documentation](https://docs.microsoft.com/en-us/typography/opentype/spec/fvar) in OpenType spec v1.9 (my emphasis):

I hereby propose a new `fvar` check that validates that all of the instance records in a given font must have the same size.
The check should FAIL if the conditions are not met.

[2022-04-12 02:10] miguelsousa opened #3706 "fvar check proposal: Instance records should have distinct data"
Quote from the [`fvar` documentation](https://docs.microsoft.com/en-us/typography/opentype/spec/fvar) in OpenType spec v1.9 (my emphasis):

I hereby propose a new `fvar` check that validates that all of the instance records in a given font should have distinct data.
The check should WARN if the conditions are not met.

[2022-04-12 19:47] miguelsousa commented on #3688
I've looked at the font's name table records and I don't see anything wrong with them.
NameIDs 1 & 2 only support the [“R/B/I/BI” family model](https://docs.microsoft.com/en-us/typography/opentype/spec/stat#alternate-font-family-models).

The Noto Kufi Arabic typeface family has more than 4 styles, which requires breaking them up into multiple (font-menu) sub-families (by nameID 1), and to include

[2022-04-12 20:02] miguelsousa commented on #3684
I believe this requires an update from upstream vharfbuzz first https://github.com/simoncozens/vharfbuzz/blob/ce74003ad07fb5bc1048f04f3ab56615d755f909/lib/vharfbuzz/__init__.py#L226

[2022-04-12 20:03] felipesanches commented on #3684
thanks

[2022-04-13 15:21] davelab6 commented on #1380
@RosaWagner requested making the allowlist a separate text file in the codebase, to make maintaining the list more easy.

[2022-04-13 15:22] davelab6 commented on #1380
Moving to new issue

[2022-04-13 15:22] #1380 closed

[2022-04-13 15:23] davelab6 opened #3707 "GF Profile: Make RFN list a standalone txt file"
Folllowing https://github.com/googlefonts/fontbakery/issues/1380 @RosaWagner requested making the allowlist a separate text file in the codebase, to make maintaining the list more easy.

[2022-04-13 23:08] miguelsousa opened #3708 "fvar check proposal: Validate the subfamilyNameID and postScriptNameID values of the default instance"
Quotes from the [`fvar` documentation](https://docs.microsoft.com/en-us/typography/opentype/spec/fvar) in OpenType spec v1.9 (my emphasis):

I hereby propose a new `fvar` check that validates that when an instance record is included for the default instance, its subfamilyNameID value should be set to either 2 or 17, and its postScriptNameID value should be set to 6.
The check should FAIL if the co

[2022-04-14 14:44] davelab6 opened #3711 "GF profile: Vertical metrics check results should report if bit 7 is set"
In a call with @m4rc1e and @RosaWagner today, Marc asked if a font has the bit 7 set for the vertical metrics and the FB result didn't tell us; it would be convenient to report this status.

[2022-04-14 18:01] felipesanches commented on #3711
If I'm not mistaken, **com.google.fonts/check/vertical_metrics_regressions** does report this problem:

![Screenshot from 2022-04-14 14-59-32](https://user-images.githubusercontent.com/213676/163449809-a6ee0ad3-22dc-41b2-b92d-41be56b00a0f.png)

![Screenshot from 2022-04-14 15-00-50](https://user-images.githubusercontent.com/213676/163449993-4522c605-a18f-46c3-a491-6f4c22580af4.png)

[2022-04-14 18:11] felipesanches commented on #3711
The policy established 3 years ago at #1162 seems to have been in favor of a FAIL if a font lacks bit 7 while a previous version was already publish with the bit set. Is there a new policy for making bit seven mandatory on all fonts? Or at least on new ones?

[2022-04-14 18:16] felipesanches commented on #3711
I was not able to find a recent Charis-SIL pull request on google/fonts repo, so I presume this report was generated privately (or I simply couldn't find it on a quick search on public repos). Where can I get samples of these font files to test fontbakery?

[2022-04-14 22:11] felipesanches opened #3713 "Now we can safely wrap long rationale lines"
At https://github.com/googlefonts/fontbakery/commit/58fedccd9b54125711b0a0473b743d216b4f6549 @miguelsousa modified the terminal reporter to gracefully support hand-wrapped lines in rationale text strings.

We can now wrap all rationale text strings throughout the codebase so that it is easier to read for developers who do not enable auto-wrapping of lines on the text editor (which is a perfectly l

[2022-04-14 23:50] miguelsousa opened #3714 "Adobe Fonts profile: Check that nameID 1 supports English language in Windows platform"
Add a new check for nameID 1 (Font Family name), platformID 3 (Windows), encodingID 1 (Unicode), languageID 1033/0x409 (US-English).
Yield FAIL if string is empty or None, and PASS otherwise.

[2022-04-15 01:06] miguelsousa opened #3715 "Move UFO dependencies to `extras_require` ?"
Font Bakery started as a tool to test font binaries and nowadays it can also validate UFO font sources. This new functionality is great but it comes with its own set of dependencies.

The way it's currently setup, UFO dependencies (e.g. ufo2ft, ufolint, defcon, etc.) are always installed, even if you only want to use Font Bakery for checking font binaries.

I'd like to propose to move all of the U

[2022-04-15 08:47] RosaWagner commented on #3711
It's because we are still talking about it in an issue: https://github.com/google/fonts/issues/3757#issuecomment-1079156554

Current policy is to have the bit 7 enable to all new families except CJK. (https://github.com/googlefonts/fontbakery/issues/3241#issuecomment-819585598)

The context of SIL fonts is a bit particular, but what it shows here is that it would be good information to know if the

[2022-04-15 09:00] RosaWagner commented on #3707
@felipesanches ping me when done, I'll deal with adding the necessary families (it doesn't follow exactly the spreadsheet we set since some fonts won't actually be onboarded even if we have the permission).

[2022-04-15 14:26] felipesanches commented on #3715
sounds reasonable.

Be sure to also update the ReadTheDocs documentation to describe this. And also the continuous integration setup should enable UFO support so that all code-tests are run.

If you want me to make any of these additional adjustments, feel free to reassign the issue to me once you're done.

[2022-04-16 00:31] #3713 closed

[2022-04-18 09:59] simoncozens opened #3718 "Segfault in com.adobe.fonts/check/freetype_rasterizer"
(**NOTE:** If your issue is related to a specific check, please consider mentioning its check-id on the issue title.)

## Observed behaviour

I ran this check on NotoSansElbasan, and I got a Harfbuzz segfault. This probably isn't fontbakery's fault, but it wasn't caught:

[code]

Annoyingly, the check code doesn't seem to segfault for me outside of the fontbakery run.

## Expected behaviour

New c

[2022-04-18 10:08] simoncozens commented on #3718
Argh, it's to do with different versions of Harfbuzz being linked. `fontbakery.utils` imports Vharfbuzz which imports uharfbuzz, and freetype has its own harfbuzz. This crashes:

[code]

[2022-04-18 16:05] khaledhosny commented on #3557
If you want to get fancy, check what hb-view does to render graphical output in the terminal.

[2022-04-18 19:59] felipesanches commented on #3718
@simoncozens would you like to continue investigating this? If so, please assign the issue to yourself.

[2022-04-18 20:10] simoncozens commented on #3718
I'm not planning to do much more with it; @anthrotype and @madig have been playing around with the Harfbuzz/freetype-py intersection so know more about what's going on than me. It's not a Fontbakery bug, and to be honest it's almost certainly something to do with my manually-installed Harfbuzz setup. I think on a sensible system this won't happen.

[2022-04-18 21:54] felipesanches commented on #3718
ok. Let's close this, then. If any other user complains about having the same issue, then we'll know it is a problem to be addressed.

[2022-04-18 21:54] #3718 closed

[2022-04-18 21:54] felipesanches commented on #3718
feel free to reopen if you have a different plan

[2022-04-18 23:47] guidoferreyra opened #3721 "Not print results in the console"
Hi this is more a question than an issue. Is there a way to not print the results of the checks in the terminal and just the progress bar?

[2022-04-19 00:21] felipesanches commented on #3721
I think that's currently not possible. Tell us more about your specific need. What's the usage scenario you have in mind?

I know that Font Bakery diverges from a pretty common behaviour of UNIX tools that is to be absolutely silent unless there's some error. We do the opposite, but I understand than some people might want the tool to only output results to log files and nothing on `stdout`. Is th

[2022-04-19 00:51] guidoferreyra commented on #3721
Hi Felipe,

Is exactly that. Font Bakery is executed as a part of larger set of tests and proofs and since the profile is read from the output file I would like it to be a bit quieter. Is somewhat cosmetic but I was wondering if maybe there was an option already for that.

Thanks for you answer!

—
Guido Ferreyra
tipografia.com.ar
El 18 de abr. de 2022 19:21 -0500, Felipe Corrêa da Silva Sanches *

[2022-04-19 05:05] felipesanches commented on #3714
@miguelsousa This sounds like a very generic check. What's the rationale? It may be good for inclusion in the `universal` profile.

[2022-04-19 17:59] miguelsousa commented on #3714
The rationale is that there's a part of our pipeline that requires it 😅
I wouldn't mind including it in the Universal profile, but it might become an unnecessary requirement for other people's workflow.

[2022-04-19 21:32] miguelsousa opened #3724 "Remove `ufo_sources` profile from the list of imported checks into the Universal profile"
This is somewhat related to #3715

Currently, [the `ufo_sources` checks are imported into the Universal profile](https://github.com/googlefonts/fontbakery/blob/3e08267464055a9fe6922d4460e7bb47dd74235e/Lib/fontbakery/profiles/universal.py#L13-L17), essentially making them "universal" as well.

The UFO checks are not necessary for workflows that only care about running Font Bakery on font binaries.

[2022-04-19 21:41] miguelsousa opened #3725 "Remove `designspace` checks from Universal profile"
This is somewhat related to #3724

Currently, [the Universal profile includes checks that validate `.designspace` files](https://github.com/googlefonts/fontbakery/blob/3e08267464055a9fe6922d4460e7bb47dd74235e/Lib/fontbakery/profiles/universal.py#L29-L34), essentially making them "universal" as well.

The designspace checks are not necessary for workflows that only care about running Font Bakery on

[2022-04-20 02:41] #3714 closed

[2022-04-20 03:23] #3628 closed

[2022-04-20 03:25] felipesanches opened #3727 "Create GH secret before v0.8.9 release"
As instructed by @miguelsousa at #3699

[2022-04-20 18:29] felipesanches commented on #3724
The scope of the universal profile is: "quality checks for universally accepted good practices."
Not everybody uses an UFO workflow, but for those who do, the things the checks validate are universally accepted.

If you are working exclusively with font binaries, those UFO checks will be automatically skipped because Font Bakery is smart enough to detect that. The same is also valid for other file

[2022-04-20 18:34] felipesanches commented on #3725
The scope of Font Bakery profiles is not defined by file-types.
More detailed reasoning provided at https://github.com/googlefonts/fontbakery/issues/3724#issuecomment-1104290316

[2022-04-20 18:34] #3725 closed

[2022-04-20 19:08] miguelsousa commented on #3724
OK. Thanks for the explanation.

[2022-04-20 19:08] #3724 closed

[2022-04-21 06:19] #3645 closed

[2022-04-21 07:50] #3089 closed

[2022-04-21 10:38] RosaWagner opened #3731 "update com.google.fonts/check/metadata/parses to accept "archive_url" field"
We have this fail with this PR: https://github.com/google/fonts/pull/4535:

🔥 FAIL: Check METADATA.pb parse correctly. ([com.google.fonts/check/metadata/parses](https://font-bakery.readthedocs.io/en/latest/fontbakery/profiles/googlefonts.html#com.google.fonts/check/metadata/parses))
🔥 FAIL Family metadata at ofl/andika failed to parse.
TRACEBACK:
50:3 : Message type "google.fonts_public.SourceProt

[2022-04-21 10:49] m4rc1e commented on #3731
I've just made a pr which updates the fonts_public.proto file. This should solve the issue. Lemme check quickly.

[2022-04-21 10:51] m4rc1e commented on #3731
Yep updating the proto files worked.

[2022-04-21 17:49] khaledhosny opened #3734 "Don’t suggest copying OFL from arbitrary GitHub repositories"
## Observed behaviour

`com.google.fonts/check/license/OFL_body_text` has the following text:

I find this very bogus, since as far I’m concerned https://github.com/googlefonts/Unified-Font-Repository is some random GitHub repository.

## Expected behaviour

Link to the official OFL page https://scripts.sil.org/OFL

[2022-04-21 18:03] RosaWagner commented on #3734
This is GF requirements, all fonts must have the exact same OFL.txt layout so we are sure the license has not been modified. This repo has been made for that purpose (now called "googlefonts-project-template").

[2022-04-21 18:10] khaledhosny commented on #3734
Still, I don’t see how I, as a designer, should trust this version of the OFL.txt over the official one. If this OFL.txt is the same as the official one, then you should point to the official one, if it is not I don’t think you can do that since OFL text is copyright of SIL International.

[2022-04-21 23:27] felipesanches commented on #3734
@khaledhosny, I agree.

Since your point is a bit pedantic, I'll follow suit: the "googlefonts-project-template" repo is not really "random", the correct term would actually be "arbitrary" ;-)

But, yeah, I agree with you that we should suggest the official OFL text. And we should also make sure FontBakery checks against that specific license text (in other words, make sure our copy did not diverg

[2022-04-22 09:53] jenskutilek opened #3736 "[com.google.fonts/check/dotted_circle] Error on fonts without GlyphClassDef"
## Observed behaviour

Apparently some fonts have a GDEF table but no `GlyphClassDef` inside it.

[code]

The font in question only has a `VarStore` inside the GDEF table.

## Expected behaviour

The check should only run if a `GlyphClassDef` is present.

## Resources and exact process needed to replicate

Sorry, can’t share the font, it is proprietary.

[2022-04-23 04:22] #3702 closed

[2022-04-23 04:22] #3703 closed

[2022-04-23 04:22] #3704 closed

[2022-04-23 04:24] #3705 closed

[2022-04-23 04:24] #3706 closed

[2022-04-24 13:35] khaledhosny opened #3738 "[com.google.fonts/check/transformed_components] Should be conditional on the use of hinting"
## Observed behaviour

Any font using transformed components gets an `com.google.fonts/check/transformed_components` error, whether or not it is affected by the issue. The rationale talks about issues with hinting, but the code errors even if the font has no hinting.

## Expected behaviour

No error when transformed components are used if the font is not autohinted with ttfautohint.

## Resources

[2022-04-24 13:44] khaledhosny opened #3739 "[com.google.fonts/check/name/rfn] Should not fail if the reserved name is not part of the current font name"
## Observed behaviour

`com.google.fonts/check/name/rfn` is a hard **FAIL** for any font using RFN clause, even if it is not a practical issue e.g. a font A using parts of font B that uses RFN. Font A has to keep the clause of font B, but font A itself does not have a RFN clause so people modifying font A don’t have to rename it.

## Expected behaviour

No **FAIL** if RFN name is not part of the c

[2022-04-26 23:06] miguelsousa commented on #2894
Can someone provide the list of codepoints? I'd be interested in implementing this.

[2022-04-27 00:30] aaronbell commented on #2894
The list of included codepoints can vary from foundry to foundry. The KSX 1001 set is the minimum. But even without a consistent set of code points, it should be pretty obvious when 75% of the hangul unicode set include no paths or components.

[2022-04-27 08:18] RosaWagner commented on #3738
Without hinting, the only type of annoying transformed component would be the mirroring one, since it reverses contour direction. Can be a bother in some hard-to-predict cases (depending on how the components is used and the rasteriser I guess, we need test-cases), interpolation (I think there is an issue from @arrowtype somewhere about it) and overlapping components in VF.

The other thing is tha

[2022-04-27 08:59] yanone commented on #3734
We know that the URL is not random because we provided the content, and it's technically trivial to compare the contents to the original text provided by SIL for whoever is suspicious. However, SIL doesn't provide a plain text file to copy/paste the contents from for our fontbakery check to compare against successfully. Pointing to https://scripts.sil.org/cms/scripts/page.php?item_id=OFL_web will

[2022-04-27 09:16] yanone commented on #3738
Btw, if contour direction is indeed an issue, the check could be adjusted to that. I don't know how the values are read in the code, but a transformation matrix where either x or y value are negative hints to wrong contour direction while both being negative or positive point to correct contour direction.

`(1, 0, 0, 1, 0, 0)`: normal contour
`(-1, 0, 0, 1, 0, 0)`: reversed contour
`(1, 0, 0, -1,

[2022-04-27 09:57] khaledhosny commented on #3734
The copy in that googlefonts repository have at least one change compared to the official version (replacing http with https in the OFL URL), and while this is probably OK, it shows why I’m reluctant to use an unofficial copy of the license as I wouldn’t know what changes it might have introduced without comparing the two, so it is more not less work for me.

[2022-04-28 04:07] miguelsousa commented on #3090
@felipesanches Have you started working on this? If you haven't, please assign it to me.

[2022-04-28 04:10] miguelsousa commented on #3576
@felipesanches I can take on this one.

[2022-04-28 04:30] felipesanches commented on #3576
great, thanks! :-)

[2022-04-28 05:15] felipesanches commented on #3090
Feel free to got for it! I have way too much on my plate now, so if you see issues in which I reasigned release milestone multiple times in succession, it simply means it is likely beyond my ability to address in time, so it is safe to request ownership of it for yourself if you want to work on them.

[2022-04-28 07:18] #3672 closed